Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

add slack in commit
  chain/api/src/chain.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/reachability/inquirer.rs
  flexidag/tests/tests.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

add slack parameter in executor
  sync/src/parallel/executor.rs
Owners: @sanlee42

use 63 bit as max slack
  sync/src/parallel/executor.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

comment the dag.set_reindex_root in block chain initialization
  chain/src/chain.rs
Owners: @nkysg

update starcoin-vm-types
  vm/types/src/lib.rs
  vm/types/src/resource_group_adapter.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/natives.rs
Owners: @nkysg

[compiler-v2 native] add package build
  Cargo.lock
  Cargo.toml
  vm/framework/cached-packages/Cargo.toml
  vm/framework/cached-packages/build.rs
  vm/framework/cached-packages/src/lib.rs
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/cached-packages/src/starcoin_stdlib.rs
  vm/framework/cached-packages/src/starcoin_token_objects_sdk_builder.rs
  vm/framework/cached-packages/src/starcoin_token_sdk_builder.rs
  vm/framework/src/built_package.rs
  vm/framework/src/docgen.rs
  vm/framework/src/lib.rs
  vm/framework/src/module_metadata.rs
  vm/framework/src/prover.rs
  vm/framework/src/release_builder.rs
  vm/starcoin-aggregator/src/tests/types.rs
  vm/starcoin-sdk-builder/Cargo.toml
  vm/starcoin-sdk-builder/README.md
  vm/starcoin-sdk-builder/examples/golang/Makefile
  vm/starcoin-sdk-builder/examples/golang/stdlib_demo.go
  vm/starcoin-sdk-builder/examples/rust/script_fun_demo.rs
  vm/starcoin-sdk-builder/src/common.rs
  vm/starcoin-sdk-builder/src/golang.rs
  vm/starcoin-sdk-builder/src/lib.rs
  vm/starcoin-sdk-builder/src/main.rs
  vm/starcoin-sdk-builder/src/rust.rs
  vm/starcoin-sdk-builder/tests/cli.rs
  vm/starcoin-sdk-builder/tests/generation.rs
  vm/starcoin-sdk-builder/tests/keyworded_registry.goldenfile.yaml
  vm/starcoin-sdk-builder/tests/keyworded_registry.yaml
  vm/types/src/lib.rs
  vm/types/src/on_chain_config/starcoin_features.rs
  vm/types/src/utility_coin.rs
  vm/vm-runtime-types/src/resolver.rs
  vm/vm-runtime-types/src/storage/change_set_configs.rs
Owners: @nkysg

update starcoin-vm-types
  vm/types/src/lib.rs
  vm/vm-runtime-types/src/lib.rs
  vm/vm-runtime-types/src/resource_group_adapter.rs
Owners: @nkysg

[compiler-v2 native] For new StateKey struct
  Cargo.lock
  Cargo.toml
  vm/types/Cargo.toml
  vm/types/src/state_store/mod.rs
  vm/types/src/state_store/state_key.rs
  vm/types/src/state_store/state_key/inner.rs
  vm/types/src/state_store/state_key/mod.rs
  vm/types/src/state_store/state_key/prefix.rs
  vm/types/src/state_store/state_key/registry.rs
  vm/types/src/state_store/state_key/tests.rs
Owners: @nkysg

[compiler-v2 native] add common library "infallible"
  commons/infallible/src/lib.rs
  commons/infallible/src/math.rs
  commons/infallible/src/nonzero.rs
  commons/infallible/src/rwlock.rs
  commons/infallible/src/time.rs
Owners: @nkysg

[compiler-v2 native] add common library "infallible"
  commons/infallible/src/mutex.rs
Owners: @nkysg

update starcoin-vm-types
  vm/types/src/aggregator.rs
  vm/types/src/lib.rs
  vm/types/src/state_store/mod.rs
  vm/types/src/state_store/state_storage_usage.rs
  vm/types/src/state_view.rs
Owners: @nkysg

update starcoin-vm-types, mod write_set
  vm/types/src/write_set.rs
Owners: @nkysg

add starcoin-aggregator
  Cargo.lock
  Cargo.toml
  vm/starcoin-aggregator/Cargo.toml
  vm/starcoin-aggregator/src/aggregator_v1_extension.rs
  vm/starcoin-aggregator/src/bounded_math.rs
  vm/starcoin-aggregator/src/delayed_change.rs
  vm/starcoin-aggregator/src/delayed_field_extension.rs
  vm/starcoin-aggregator/src/delta_change_set.rs
  vm/starcoin-aggregator/src/delta_math.rs
  vm/starcoin-aggregator/src/lib.rs
  vm/starcoin-aggregator/src/resolver.rs
  vm/starcoin-aggregator/src/tests/identifier_mappings.rs
  vm/starcoin-aggregator/src/tests/mod.rs
  vm/starcoin-aggregator/src/tests/types.rs
  vm/starcoin-aggregator/src/types.rs
  vm/starcoin-aggregator/src/utils.rs
Owners: @nkysg

update starcoin-vm-runtime-type
  vm/vm-runtime-types/Cargo.toml
  vm/vm-runtime-types/src/abstract_write_op.rs
  vm/vm-runtime-types/src/change_set.rs
  vm/vm-runtime-types/src/lib.rs
  vm/vm-runtime-types/src/output.rs
  vm/vm-runtime-types/src/resolver.rs
  vm/vm-runtime-types/src/resource_group_adapter.rs
Owners: @nkysg

[compiler-v2 native] fixed some starcoin-crypto error
  Cargo.lock
  Cargo.toml
  vm/types/Cargo.toml
  vm/types/src/access_path.rs
  vm/types/src/lib.rs
  vm/types/src/state_store/state_key/inner.rs
  vm/types/src/state_store/state_key/mod.rs
  vm/types/src/state_store/state_key/registry.rs
  vm/vm-runtime-types/src/lib.rs
  vm/vm-runtime-types/src/resolver.rs
  vm/vm-runtime-types/src/resource_group_adapter.rs
Owners: @nkysg

[compiler-v2 native] add some code for resource group
  Cargo.lock
  Cargo.toml
  vm/types/src/access_path.rs
  vm/types/src/state_store/state_key/inner.rs
  vm/types/src/state_store/state_key/mod.rs
Owners: @nkysg

update starcoin-vm-types
  Cargo.lock
  Cargo.toml
  types/Cargo.toml
  types/src/account.rs
  types/src/delayed_fields.rs
  types/src/lib.rs
  types/src/serde_helper/bcs_utils.rs
  types/src/serde_helper/mod.rs
  types/src/serde_helper/vec_bytes.rs
  vm/starcoin-aggregator/Cargo.toml
  vm/starcoin-aggregator/src/aggregator_v1_extension.rs
  vm/starcoin-aggregator/src/bounded_math.rs
  vm/starcoin-aggregator/src/delayed_change.rs
  vm/starcoin-aggregator/src/delayed_field_extension.rs
  vm/starcoin-aggregator/src/delta_change_set.rs
  vm/starcoin-aggregator/src/delta_math.rs
  vm/starcoin-aggregator/src/lib.rs
  vm/starcoin-aggregator/src/resolver.rs
  vm/starcoin-aggregator/src/types.rs
  vm/starcoin-aggregator/src/utils.rs
  vm/types/src/aggregator.rs
  vm/types/src/lib.rs
  vm/types/src/state_store/state_storage_usage.rs
  vm/types/src/write_set.rs
  vm/vm-runtime-types/Cargo.toml
  vm/vm-runtime-types/src/abstract_write_op.rs
  vm/vm-runtime-types/src/change_set.rs
  vm/vm-runtime-types/src/output.rs
  vm/vm-runtime-types/src/resolver.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/natives.rs
Owners: @nkysg, @welbon

remove some rust-related files
  third_party/move/Cargo.lock
  third_party/move/Cargo.toml
  third_party/move/clippy.toml
  third_party/move/rust-toolchain
Owners: none

use local path for move crates
  Cargo.toml
  commons/proptest-helpers/Cargo.toml
  commons/proptest-helpers/src/lib.rs
  dataformat-generator/Cargo.toml
Owners: @nkysg

fix compiling errors in move-compiler
  third_party/move/move-compiler/src/expansion/translate.rs
Owners: none

fmt move codes
  third_party/move/evm/move-to-yul/src/events.rs
  third_party/move/move-compiler/src/command_line/compiler.rs
  third_party/move/move-compiler/src/lib.rs
  third_party/move/move-compiler/src/shared/mod.rs
  third_party/move/move-core/types/src/parser.rs
  third_party/move/move-model/src/builder/module_builder.rs
  third_party/move/move-prover/src/cli.rs
  third_party/move/move-vm/runtime/src/interpreter.rs
  third_party/move/move-vm/types/src/loaded_data/runtime_types.rs
  third_party/move/move-vm/types/src/values/values_impl.rs
  third_party/move/tools/move-coverage/src/coverage_map.rs
  third_party/move/tools/move-coverage/src/summary.rs
Owners: none

fix warnings in move codes
  third_party/move/move-binary-format/src/proptest_types/types.rs
  third_party/move/move-compiler/src/cfgir/cfg.rs
  third_party/move/move-prover/boogie-backend/src/boogie_wrapper.rs
  third_party/move/move-prover/interpreter/src/lib.rs
  third_party/move/testing-infra/transactional-test-runner/src/framework.rs
Owners: none

fix use_self warnings in move-compiler
  third_party/move/move-compiler/src/cfgir/ast.rs
  third_party/move/move-compiler/src/cfgir/borrows/state.rs
  third_party/move/move-compiler/src/cfgir/cfg.rs
  third_party/move/move-compiler/src/cfgir/liveness/mod.rs
  third_party/move/move-compiler/src/cfgir/liveness/state.rs
  third_party/move/move-compiler/src/cfgir/locals/state.rs
  third_party/move/move-compiler/src/cfgir/optimize/eliminate_locals.rs
  third_party/move/move-compiler/src/cfgir/translate.rs
  third_party/move/move-compiler/src/command_line/compiler.rs
  third_party/move/move-compiler/src/diagnostics/codes.rs
  third_party/move/move-compiler/src/diagnostics/mod.rs
  third_party/move/move-compiler/src/expansion/ast.rs
  third_party/move/move-compiler/src/expansion/dependency_ordering.rs
  third_party/move/move-compiler/src/expansion/translate.rs
  third_party/move/move-compiler/src/hlir/ast.rs
  third_party/move/move-compiler/src/hlir/translate.rs
  third_party/move/move-compiler/src/naming/ast.rs
  third_party/move/move-compiler/src/naming/translate.rs
  third_party/move/move-compiler/src/parser/ast.rs
  third_party/move/move-compiler/src/parser/lexer.rs
  third_party/move/move-compiler/src/parser/merge_spec_modules.rs
  third_party/move/move-compiler/src/shared/ast_debug.rs
  third_party/move/move-compiler/src/shared/mod.rs
  third_party/move/move-compiler/src/shared/remembering_unique_map.rs
  third_party/move/move-compiler/src/shared/unique_map.rs
  third_party/move/move-compiler/src/shared/unique_set.rs
  third_party/move/move-compiler/src/to_bytecode/translate.rs
  third_party/move/move-compiler/src/typing/ast.rs
  third_party/move/move-compiler/src/typing/core.rs
  third_party/move/move-compiler/src/typing/infinite_instantiations.rs
  third_party/move/move-compiler/src/typing/recursive_structs.rs
  third_party/move/move-compiler/src/typing/translate.rs
  third_party/move/move-compiler/src/unit_test/mod.rs
Owners: none

fix clippy warnings in move-compiler
  third_party/move/move-compiler/src/cfgir/ast.rs
  third_party/move/move-compiler/src/expansion/ast.rs
  third_party/move/move-compiler/src/expansion/dependency_ordering.rs
  third_party/move/move-compiler/src/hlir/ast.rs
  third_party/move/move-compiler/src/naming/ast.rs
  third_party/move/move-compiler/src/parser/ast.rs
  third_party/move/move-compiler/src/shared/ast_debug.rs
  third_party/move/move-compiler/src/to_bytecode/translate.rs
  third_party/move/move-compiler/src/typing/ast.rs
  third_party/move/move-compiler/src/typing/translate.rs
Owners: none

remove .cargo/config in move
  third_party/move/.cargo/config
Owners: none

fix warnings in move-core-types
  third_party/move/move-core/types/src/account_address.rs
  third_party/move/move-core/types/src/effects.rs
  third_party/move/move-core/types/src/gas_algebra.rs
  third_party/move/move-core/types/src/identifier.rs
  third_party/move/move-core/types/src/language_storage.rs
  third_party/move/move-core/types/src/state.rs
  third_party/move/move-core/types/src/transaction_argument.rs
  third_party/move/move-core/types/src/u256.rs
  third_party/move/move-core/types/src/unit_tests/identifier_test.rs
  third_party/move/move-core/types/src/value.rs
  third_party/move/move-core/types/src/vm_status.rs
Owners: none

manually fix warnings in move-core-types
  third_party/move/move-core/types/src/gas_algebra.rs
  third_party/move/move-core/types/src/parser.rs
  third_party/move/move-core/types/src/value.rs
Owners: none

introduce aptos-vm
  Cargo.lock
  Cargo.toml
  executor/Cargo.toml
  rust-toolchain.toml
Owners: @nkysg

add multi-vm
  Cargo.lock
  Cargo.toml
  executor/Cargo.toml
  multivm/aptos-vm-ext/Cargo.toml
  multivm/aptos-vm-ext/src/lib.rs
Owners: @nkysg

upgrade dependecies to fix some building errors
  Cargo.lock
  Cargo.toml
  dataformat-generator/Cargo.toml
Owners: none

Synchronize optimization into parallel processing, and replace the calculation of ghost data with validation methods during synchronization to improve efficiency (#4192)
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/src/reachability/inquirer.rs
  flexidag/src/types/ghostdata.rs
  flexidag/src/types/ordering.rs
  flexidag/tests/tests.rs
  sync/Cargo.toml
  sync/src/lib.rs
  sync/src/parallel/executor.rs
  sync/src/parallel/mod.rs
  sync/src/parallel/sender.rs
  sync/src/store/sync_dag_store.rs
  sync/src/store/tests.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
Owners: @nkysg, @sanlee42

fix the abent block
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

fix the abent block (#4199)
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add parallel code
  sync/src/lib.rs
  sync/src/store/sync_dag_store.rs
  sync/src/store/tests.rs
Owners: @sanlee42

parallel execution
  sync/src/parallel/sender.rs
  sync/src/store/tests.rs
  sync/src/tasks/mock.rs
Owners: @sanlee42

create chain when the parents are ready in parallel execution
  sync/src/parallel/sender.rs
Owners: @sanlee42

set executing state in sender
  sync/src/parallel/sender.rs
Owners: @sanlee42

add 10000 buffer for parallel execution
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
Owners: @sanlee42

add log for saving time
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add some test
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
Owners: none

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
