Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

[fa] set framework default to fungible asset
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/move-stdlib/doc/features.md
  vm2/framework/move-stdlib/sources/configs/features.move
  vm2/framework/starcoin-framework/doc/starcoin_account.md
  vm2/framework/starcoin-framework/sources/starcoin_account.move
  vm2/vm-types/src/on_chain_config/starcoin_features.rs
Owners: @nkysg

[fa] add the fungible asset version of transaction_fee
  vm2/compiler/src/lib.rs
  vm2/framework/starcoin-framework/Move.toml
  vm2/framework/starcoin-framework/doc/stake.md
  vm2/framework/starcoin-framework/sources/starcoin_account.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/framework/starcoin-framework/sources/stc/transfer_scripts.move
Owners: none

[fa] set framework default to fungible asset
  vm2/framework/starcoin-framework/doc/transfer_scripts.md
Owners: none

[fa] some name modify
  vm2/framework/starcoin-framework/sources/create_signer.move
  vm2/framework/starcoin-framework/sources/starcoin_account.move
  vm2/framework/starcoin-framework/sources/starcoin_coin.move
  vm2/framework/starcoin-framework/sources/stc/transfer_scripts.move
  vm2/framework/starcoin-framework/tests/starcoin_coin_tests.move
Owners: none

[fa] set framework default to fungible asset
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/starcoin-framework/doc/stdlib_upgrade_scripts.md
  vm2/framework/starcoin-framework/doc/transfer_scripts.md
  vm2/framework/starcoin-framework/sources/stc/stdlib_upgrade_scripts.move
Owners: @nkysg

[fa] some name modify
  vm2/vm-types/src/on_chain_config/starcoin_features.rs
Owners: none

[fa] transaction_fee.move
  vm2/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm2/framework/starcoin-framework/doc/overview.md
  vm2/framework/starcoin-framework/doc/starcoin_account.md
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/doc/transfer_scripts.md
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/framework/starcoin-framework/sources/stc/transfer_scripts.move
Owners: none

[fa] fixed transaction_fee.move tests
  vm2/framework/move-stdlib/doc/features.md
  vm2/framework/move-stdlib/sources/configs/features.move
  vm2/framework/starcoin-framework/sources/coin.move
  vm2/framework/starcoin-framework/sources/create_signer.move
  vm2/framework/starcoin-framework/sources/object.move
  vm2/framework/starcoin-framework/sources/starcoin_account.move
  vm2/framework/starcoin-framework/sources/starcoin_coin.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/framework/starcoin-framework/sources/stc/vm_config.move
Owners: none

[fa] transaction_fee.move
  genesis/generated/halley/genesis
Owners: @nkysg

[fa] fixed some test
  vm2/framework/starcoin-framework/sources/coin.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
Owners: none

[fa] fixed some test
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/sources/coin.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
Owners: none

[fa] fixed building of `block_reward.move_reaward`
  vm2/framework/starcoin-framework/doc/coin.md
  vm2/framework/starcoin-framework/doc/object.md
  vm2/framework/starcoin-framework/doc/starcoin_account.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/doc/vm_config.md
  vm2/framework/starcoin-framework/sources/stc/block_reward.move
  vm2/framework/starcoin-framework/sources/stc/block_reward.spec.move
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
Owners: none

[fa] add treasury_fa.move for treasury of fungible asset version
  vm2/framework/starcoin-framework/sources/create_signer.move
  vm2/framework/starcoin-framework/sources/stc/block_reward.spec.move
  vm2/framework/starcoin-framework/sources/stc/treasury_fa.move
Owners: none

[fa] fixed spec test temp
  vm2/framework/starcoin-framework/sources/stc/block_reward.spec.move
Owners: none

[fa] add dao_fa.move
  vm2/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm2/framework/starcoin-framework/doc/block_reward.md
  vm2/framework/starcoin-framework/doc/dao_fa.md
  vm2/framework/starcoin-framework/doc/overview.md
  vm2/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm2/framework/starcoin-framework/doc/treasury_fa.md
  vm2/framework/starcoin-framework/sources/create_signer.move
  vm2/framework/starcoin-framework/sources/stc/dao_fa.move
Owners: none

[fa] Fixed spec check codes
  vm2/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm2/framework/starcoin-framework/doc/block_reward.md
  vm2/framework/starcoin-framework/doc/dao.md
  vm2/framework/starcoin-framework/doc/dao_treasury_withdraw_proposal.md
  vm2/framework/starcoin-framework/doc/dao_vote_scripts.md
  vm2/framework/starcoin-framework/doc/epoch.md
  vm2/framework/starcoin-framework/doc/overview.md
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/doc/stc_transaction_package_validation.md
  vm2/framework/starcoin-framework/doc/treasury.md
  vm2/framework/starcoin-framework/doc/treasury_scripts.md
  vm2/framework/starcoin-framework/sources/stc/dao.move
  vm2/framework/starcoin-framework/sources/stc/dao.spec.move
  vm2/framework/starcoin-framework/sources/stc/treasury.move
  vm2/framework/starcoin-framework/sources/stc/treasury.spec.move
Owners: none

[fa] add dao_fa.move
  vm2/framework/starcoin-framework/doc/block_reward.md
  vm2/framework/starcoin-framework/sources/stc/block_reward.move
Owners: none

[fa] Fixed genesis build error
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/starcoin-framework/doc/block_reward.md
  vm2/framework/starcoin-framework/doc/object.md
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/doc/treasury.md
  vm2/framework/starcoin-framework/sources/object.move
  vm2/framework/starcoin-framework/sources/stc/block_reward.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/treasury.move
  vm2/framework/starcoin-framework/sources/stc/treasury.spec.move
  vm2/vm-runtime/src/move_vm_ext/vm.rs
Owners: @nkysg

[fa] Resolved governance related changes, but did not resolve correctness issues
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/sources/create_signer.move
  vm2/framework/starcoin-framework/sources/stc/block_reward.move
  vm2/framework/starcoin-framework/sources/stc/dao.move
  vm2/framework/starcoin-framework/sources/stc/dao_fa.move
  vm2/framework/starcoin-framework/sources/stc/dao_treasury_withdraw_proposal.move
  vm2/framework/starcoin-framework/sources/stc/dao_vote_scripts.move
  vm2/framework/starcoin-framework/sources/stc/epoch.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_package_validation.move
  vm2/framework/starcoin-framework/sources/stc/treasury.move
  vm2/framework/starcoin-framework/sources/stc/treasury_fa.move
  vm2/framework/starcoin-framework/sources/stc/treasury_scripts.move
Owners: none

[fa] Debugging a resource group
  vm2/framework/starcoin-framework/doc/overview.md
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
Owners: none

[fa] replace `BalanceResource` with `CoinStore`
  cmd/starcoin/src/account/show_cmd.rs
  rpc/client/src/remote_state_reader2/async_reader.rs
  vm2/framework/starcoin-framework/doc/starcoin_account.md
  vm2/framework/starcoin-framework/sources/starcoin_account.move
  vm2/vm-types/src/account_config/resources/balance.rs
  vm2/vm-types/src/account_config/resources/coin_store.rs
  vm2/vm-types/src/account_config/resources/frozen_config_burn_block_number.rs
  vm2/vm-types/src/account_config/resources/fungible_store.rs
  vm2/vm-types/src/account_config/resources/mod.rs
  vm2/vm-types/src/state_view.rs
Owners: @welbon, @sanlee42

[fa] removed unused print
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
Owners: none

debugging
  Cargo.lock
  vm2/framework/Cargo.toml
  vm2/vm-runtime-types/Cargo.toml
  vm2/vm-runtime-types/src/resource_group_adapter.rs
  vm2/vm-runtime/src/move_vm_ext/session.rs
Owners: none

[fa] fixed out of gas error
  chain/tests/test_opened_block.rs
Owners: @nkysg

[fa] fixed find fungible asset from resource group by starcoin test
  Cargo.toml
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/sources/object.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/vm-types/Cargo.toml
  vm2/vm-types/src/account_config/constants/addresses.rs
  vm2/vm-types/src/account_config/resources/fungible_store.rs
  vm2/vm-types/src/account_config/resources/mod.rs
  vm2/vm-types/src/on_chain_config/starcoin_features.rs
  vm2/vm-types/src/state_view.rs
Owners: none

[fa] fixe cargo fmt
  vm2/vm-types/src/account_config/resources/fungible_store.rs
Owners: none

fix test_open_block
  chain/tests/test_opened_block.rs
  vm2/vm-runtime-types/src/resource_group_adapter.rs
  vm2/vm-runtime/src/move_vm_ext/session.rs
  vm2/vm-types/src/state_view.rs
Owners: @nkysg

[fa] fixed cargo fmt
  chain/tests/test_opened_block.rs
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/vm-types/Cargo.toml
  vm2/vm-types/src/account_config/resources/fungible_store.rs
  vm2/vm-types/src/state_view.rs
Owners: @nkysg

[fa] fixed harness test read resource group
  Cargo.lock
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/starcoin-transactional-test-harness/src/lib.rs
  vm2/vm-runtime-types/src/resource_group_adapter.rs
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/move_vm_ext/session.rs
  vm2/vm-types/src/account_config/resources/fungible_store.rs
  vm2/vm-types/src/state_view.rs
Owners: none

[fa] add some debug info
  Cargo.lock
  chain/Cargo.toml
  chain/tests/test_resource_group.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/move-package-manager/Cargo.toml
  vm2/move-package-manager/src/main.rs
  vm2/vm-runtime/src/move_vm_ext/session.rs
  vm2/vm-types/src/state_view.rs
Owners: @nkysg

[fa] fixed all move tests
  vm2/framework/starcoin-framework/sources/starcoin_account.move
Owners: none

[fa] fixed mpm build
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
Owners: none

[fa] fixed cargo fmt
  vm2/starcoin-transactional-test-harness/src/lib.rs
Owners: none

[fa] fixed cargo fmt
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

[fa] fixed integration-test txn_prologue_and_epilogue.move
  Cargo.lock
  vm2/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.exp
  vm2/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.move
Owners: none

[fa] fixed block_reward.move
  vm2/framework/starcoin-framework/integration-tests/block_reward/basic.exp
  vm2/framework/starcoin-framework/integration-tests/block_reward/basic.move
Owners: none

[fa] remove some log
  vm2/framework/starcoin-framework/sources/primary_fungible_store.move
Owners: none

[fa] fixed test_dao_propose.move
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_propose.exp
Owners: none

[fa] fixed upgrade_module_dao_proposa/basic.move
  vm2/framework/starcoin-framework/doc/coin.md
  vm2/framework/starcoin-framework/integration-tests/upgrade_module_dao_proposal/basic.exp
  vm2/framework/starcoin-framework/integration-tests/upgrade_module_dao_proposal/basic.move
  vm2/framework/starcoin-framework/sources/coin.move
Owners: none

[fa] fixed gas_used_out.move
  Cargo.toml
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/starcoin-framework/doc/primary_fungible_store.md
  vm2/framework/starcoin-framework/integration-tests/check/gas_used_out.exp
  vm2/framework/starcoin-framework/integration-tests/check/gas_used_out.move
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
