Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

[migration] set test_migration_main_data data set to main_0x1
  chain/tests/test_migration.rs
Owners: @nkysg

[migration] Set the dataset in the process to be formal
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_migration.rs
Owners: @nkysg

[migration] add todo for block test_example_config_compact
  scripts/check_commit.sh
Owners: none

[migration] fixed some test
  chain/tests/test_migration.rs
Owners: @nkysg

[migration] Reformat data-migration for difference data set
  chain/data-migration/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_migration.rs
Owners: @nkysg

[migration] fixed fmt
  chain/tests/test_migration.rs
Owners: @nkysg

[migration] Reformat data-migration for data-set
  chain/data-migration/src/lib.rs
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_migration.rs
Owners: @nkysg

[migration] fixed error of CI
  chain/data-migration/src/lib.rs
  chain/data-migration/src/state_filter.rs
Owners: @nkysg

[migration] add some print code
  test-helper/src/account.rs
Owners: none

[migration] 1. fixed update cache; 2. reformat some codes
  chain/data-migration/snapshot/24674819-0x1.tar.gz
  chain/data-migration/src/lib.rs
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_migration.rs
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/main.rs
  state/statedb/src/lib.rs
Owners: @nkysg, @welbon

use selected chain blocks to calculate the average time
  consensus/src/consensus_test.rs
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

[migration] pick migration commits from https://github.com/starcoinorg/starcoin/pull/4581
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/data-migration/Cargo.toml
  chain/data-migration/snapshot/24674819-0x1.tar.gz
  chain/data-migration/snapshot/64925.tar.gz
  chain/data-migration/src/lib.rs
  chain/data-migration/src/state_filter.rs
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_migration.rs
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/main.rs
  cmd/resource-code-exporter/tests/export_test.rs
  cmd/resource-code-exporter/tests/import_test.rs
  config/src/genesis_config.rs
  config/src/tests.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/src/lib.rs
  scripts/check_commit.sh
  state/statedb/src/lib.rs
  test-helper/src/account.rs
  test-helper/src/block.rs
  test-helper/src/chain.rs
  test-helper/src/lib.rs
  vm/types/src/account_config/resources/account.rs
  vm/types/src/account_config/resources/key_rotation_capability.rs
  vm/types/src/account_config/resources/withdraw_capability.rs
Owners: @nkysg, @welbon

[migration] add test verify for test_migration_basic_functionality_and_integrity
  chain/tests/test_migration.rs
Owners: @nkysg

div the target by averga diff count
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

Update scripts/check_commit.sh
  scripts/check_commit.sh
Owners: none

Update state/statedb/src/lib.rs
  state/statedb/src/lib.rs
Owners: @welbon, @nkysg

use mul not div to calc the target for the average block diff
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

no average div
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

fix test_subscribe_pending_transaction test
  Cargo.lock
  rpc/server/src/module/pubsub/tests.rs
  scripts/nextest.sh
  test-helper/Cargo.toml
  test-helper/src/txpool.rs
Owners: @sanlee42

change vm1 offline height to 2 to fix test
  chain/tests/test_block_chain.rs
  config/src/upgrade_config.rs
  scripts/nextest.sh
Owners: @nkysg

remove some debug info
  consensus/src/difficulty.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42, @welbon

Add tests
  Cargo.lock
  compressed-proof/src/lib.rs
  compressed-proof/src/tests.rs
Owners: none

[command] clean vm1 - fixed PR comments
  chain/data-migration/src/lib.rs
  chain/data-migration/src/state_filter.rs
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  genesis/src/lib.rs
  test-helper/src/block.rs
Owners: @nkysg

fix bcs to 0.1.5 to avoid test failing
  Cargo.lock
  Cargo.toml
  scripts/nextest.sh
Owners: none

add state_roots to BlockTemplate
  chain/open-block/src/lib.rs
  types/src/block/mod.rs
Owners: @nkysg, @welbon

remove some info log
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

Reconstruct the chain, flexdag and verification module (#4584)
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  config/src/genesis_config.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/new_header_service.rs
  miner/src/generate_block_event_pacemaker.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/parallel/executor.rs
  sync/src/sync.rs
  sync/src/tasks/tests.rs
Owners: @nkysg, @sanlee42

remove some info and comment
  consensus/src/difficulty.rs
  sync/src/tasks/tests.rs
Owners: @sanlee42, @welbon

use task pool as a waiting list of task
  Cargo.lock
  miner/Cargo.toml
  miner/src/lib.rs
Owners: @sanlee42

add interval runing
  miner/src/lib.rs
Owners: @sanlee42

use hash map and vec dequeue to manage the task
  Cargo.lock
  cmd/tx-factory/src/main.rs
  miner/Cargo.toml
  miner/src/lib.rs
Owners: @welbon, @sanlee42

fix test_rollback
  Cargo.lock
  scripts/nextest.sh
  txpool/Cargo.toml
  txpool/src/test.rs
Owners: @sanlee42, @welbon

recover transaction factory
  cmd/tx-factory/src/main.rs
Owners: @welbon

get the latest state if there is no pending transaction
  cmd/tx-factory/src/main.rs
Owners: @welbon

remove the transaction in pool
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

add debug info
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

fix: check the current running task not the waiting task when minting a block
  miner/src/create_block_template/block_builder_service.rs
  miner/src/lib.rs
Owners: @sanlee42

remove the transaction from the pool if it is push into the block
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

wait for the sequence update
  cmd/tx-factory/src/main.rs
Owners: @welbon

use all blue blocks to calculate the difficulty
  consensus/src/consensus_test.rs
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon
