Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix fmt
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

generate the new genesis
  genesis/generated/halley/genesis
Owners: @nkysg

update epoch mv and halley genesis
  genesis/generated/halley/genesis
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
Owners: @nkysg, @sanlee42

no cache db
  node/src/node.rs
Owners: @nkysg

fix fmt
  node/src/node.rs
Owners: @nkysg

update red blocks
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
Owners: @nkysg, @sanlee42

change the epoch if the header changes
  node/src/node.rs
Owners: @nkysg

update genesis
  genesis/generated/halley/genesis
Owners: @nkysg

print some info
  network-p2p/src/service.rs
  network/src/service.rs
Owners: @sanlee42

add some debug info
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/service.rs
Owners: @sanlee42

add more info
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network/src/network_p2p_handle.rs
Owners: @sanlee42

remove debug info
  consensus/src/difficulty.rs
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/service.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
Owners: @sanlee42, @welbon

resolve the tips from the rabbit bot
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

no force to mint if new peer blocks come
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

fix test_example_config_compact
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
Owners: none

fix test_that_generated_file_are_up_to_date_in_git
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  genesis/generated/barnard/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

fix config for test case in genesis and config
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  vm/stdlib/compiled/13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/stdlib/079_TransactionManager.mv
Owners: @nkysg, @sanlee42

generated genesis for proxima and vega
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

add upgrade version 13 stlib
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/12-13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/12-13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/079_TransactionManager.mv
Owners: @nkysg, @sanlee42

Fix config example
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
Owners: none

Update stdlib
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/12-13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/12-13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/079_TransactionManager.mv
  vm/stdlib/compiled/13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/stdlib/079_TransactionManager.mv
  vm/stdlib/compiled/latest/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/latest/stdlib/079_TransactionManager.mv
Owners: @nkysg, @sanlee42

Fix genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  vm/types/src/on_chain_config/consensus_config.rs
Owners: @nkysg

Remove blue ratio in config
  config/src/genesis_config.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/consensus_config.rs
Owners: @nkysg

update genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

force to mint if the dag block comes from peers
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

switch main in build block service
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

add new header serivice
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

save code temporarily
  flexidag/src/blockdag.rs
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

reconstruct verify
  chain/src/verifier/mod.rs
Owners: @nkysg

receive the block header before creating new block
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42, @nkysg

the new process header will be triggered 1s internally
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

monitor the new dag and peer new dag instead of new head message to get the latest pruning point
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

remove the black list verification
  chain/src/verifier/mod.rs
Owners: @nkysg

renew the header in block builder service asynchronically
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

sort the tips by the work type and blue score and fetch the previous 10 tip stored in the dag state
  flexidag/src/blockdag.rs
Owners: none

comment the the black list blocks
  chain/src/verifier/mod.rs
Owners: @nkysg

reconstruct the code for verification and chain
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/parallel/executor.rs
  sync/src/sync.rs
Owners: @nkysg, @sanlee42

no mining until synced
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

fix test_dag_multiple_commits
  flexidag/tests/tests.rs
Owners: none

Early reject vm1 transaction (#4579)
  Cargo.lock
  Cargo.toml
  cmd/faucet/src/faucet.rs
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/cli_state_vm2.rs
  cmd/tx-factory/src/main.rs
  config/src/txpool_config.rs
  rpc/api/generated_rpc_schema/txpool.json
  rpc/api/src/txpool/mod.rs
  rpc/client/src/lib.rs
  rpc/client/src/vm2.rs
  rpc/server/src/module/mod.rs
  rpc/server/src/module/pubsub/tests.rs
  rpc/server/src/module/txpool_rpc.rs
  sync/src/announcement/mod.rs
  sync/src/txn_sync/mod.rs
  txpool/Cargo.toml
  txpool/api/src/lib.rs
  txpool/mock-service/src/lib.rs
  txpool/src/lib.rs
  txpool/src/pool/queue.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
  vm/types/src/transaction/error.rs
Owners: @welbon, @sanlee42, @nkysg
