Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix starcoin-network-rpc errors
  cmd/faucet/src/faucet.rs
  cmd/tx-factory/src/main.rs
  network-rpc/api/src/lib.rs
  network-rpc/api/src/remote_chain_state.rs
  network-rpc/src/rpc.rs
  rpc/client/src/remote_state_reader.rs
  rpc/server/src/module/chain_rpc.rs
  rpc/server/src/module/contract_rpc.rs
  state/api/src/chain_state.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  txpool/src/pool_client.rs
Owners: @welbon, @sanlee42, @nkysg

add log
  flexidag/src/blockdag.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

fix starcoin-network-rpc errors (#4242)
  cmd/faucet/src/faucet.rs
  cmd/tx-factory/src/main.rs
  network-rpc/api/src/lib.rs
  network-rpc/api/src/remote_chain_state.rs
  network-rpc/src/rpc.rs
  rpc/client/src/remote_state_reader.rs
  rpc/server/src/module/chain_rpc.rs
  rpc/server/src/module/contract_rpc.rs
  state/api/src/chain_state.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  txpool/src/pool_client.rs
Owners: @welbon, @sanlee42, @nkysg

[compiler-v2 framework] add block prologue
  vm/framework/starcoin-framework/doc/stc_block.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/doc/timestamp.md
  vm/framework/starcoin-framework/sources/account.move
  vm/framework/starcoin-framework/sources/chain_id.move
  vm/framework/starcoin-framework/sources/configs/version.move
  vm/framework/starcoin-framework/sources/stc/consensus_config.move
  vm/framework/starcoin-framework/sources/stc/stc_block.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
  vm/framework/starcoin-framework/sources/timestamp.move
Owners: @nkysg

[compiler-v2 framework] add transactions handle and block handle, fixed some compiler error
  vm/framework/starcoin-framework/doc/block_reward.md
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/doc/stc_transaction_package_validation.md
  vm/framework/starcoin-framework/doc/stc_transaction_publish_option.md
  vm/framework/starcoin-framework/doc/stc_transaction_timeout.md
  vm/framework/starcoin-framework/doc/stc_transaction_timeout_config.md
  vm/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm/framework/starcoin-framework/doc/stc_util.md
  vm/framework/starcoin-framework/doc/stc_version.md
  vm/framework/starcoin-framework/doc/timestamp.md
  vm/framework/starcoin-framework/sources/account.move
  vm/framework/starcoin-framework/sources/coin.move
  vm/framework/starcoin-framework/sources/configs/version.move
  vm/framework/starcoin-framework/sources/create_signer.move
  vm/framework/starcoin-framework/sources/stc/block_reward.move
  vm/framework/starcoin-framework/sources/stc/epoch.move
  vm/framework/starcoin-framework/sources/stc/epoch.spec.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_package_validation.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_package_validation.spec.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_publish_option.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_timeout.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_timeout_config.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_validation.spec.move
  vm/framework/starcoin-framework/sources/stc/stc_util.move
  vm/framework/starcoin-framework/sources/stc/stc_version.move
  vm/framework/starcoin-framework/sources/timestamp.move
  vm/framework/starcoin-stdlib/doc/type_info.md
  vm/framework/starcoin-stdlib/sources/type_info.move
Owners: @nkysg

Reset dag chain (#4227)
  flexidag/src/blockdag.rs
  kube/manifest/starcoin-halley.yaml
  sync/src/block_connector/write_block_chain.rs
  sync/src/parallel/executor.rs
Owners: @sanlee42, @nkysg

Support update pruing with on chain config
  chain/api/src/chain.rs
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  chain/tests/test_prune.rs
  flexidag/src/blockdag.rs
  flexidag/src/prune/pruning_point_manager.rs
  flexidag/tests/tests.rs
  genesis/src/lib.rs
  node/src/node.rs
  state/api/src/chain_state.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/parallel/executor.rs
  vm/types/src/on_chain_config/flexi_dag_config.rs
  vm/types/src/on_chain_config/mod.rs
Owners: @nkysg, @welbon, @sanlee42

fix starcoin-rpc-server errors
  Cargo.lock
  Cargo.toml
  etc/starcoin_types.yml
  executor/benchmark/Cargo.toml
  executor/benchmark/src/lib.rs
  rpc/api/Cargo.toml
  rpc/api/src/state/mod.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/chain_rpc.rs
  rpc/server/src/module/contract_rpc.rs
  rpc/server/src/module/helpers.rs
  rpc/server/src/module/state_rpc.rs
  state/api/src/lib.rs
  state/api/src/mock/mock_chain_state_service.rs
  vm/types/src/state_store/state_key/inner.rs
  vm/types/src/state_store/state_key/mod.rs
  vm/types/src/state_store/state_key/registry.rs
  vm/vm-runtime/src/natives.rs
Owners: @nkysg, @sanlee42, @welbon

fix starcoin-rpc-server errors (#4244)
  Cargo.lock
  Cargo.toml
  etc/starcoin_types.yml
  executor/benchmark/Cargo.toml
  executor/benchmark/src/lib.rs
  rpc/api/Cargo.toml
  rpc/api/src/state/mod.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/chain_rpc.rs
  rpc/server/src/module/contract_rpc.rs
  rpc/server/src/module/helpers.rs
  rpc/server/src/module/state_rpc.rs
  state/api/src/lib.rs
  state/api/src/mock/mock_chain_state_service.rs
  vm/types/src/state_store/state_key/inner.rs
  vm/types/src/state_store/state_key/mod.rs
  vm/types/src/state_store/state_key/registry.rs
  vm/vm-runtime/src/natives.rs
Owners: @nkysg, @sanlee42, @welbon

fix starcoin-node, db-exporter errors
  Cargo.lock
  chain/src/chain.rs
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/force_deploy_output.rs
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/account/show_cmd.rs
  cmd/starcoin/src/account/sign_multisig_txn_cmd.rs
  cmd/starcoin/src/account/verify_sign_cmd.rs
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/dev/compile_cmd.rs
  cmd/starcoin/src/dev/sign_txn_helper.rs
  cmd/starcoin/src/dev/upgrade_module_proposal_cmd.rs
  cmd/starcoin/src/dev/upgrade_module_queue_cmd.rs
  cmd/starcoin/src/dev/upgrade_vm_config_proposal_cmd.rs
  cmd/starcoin/src/state/get_proof_cmd.rs
  cmd/starcoin/src/state/list_cmd.rs
  cmd/starcoin/src/view.rs
  cmd/tx-factory/src/main.rs
  network-rpc/api/src/remote_chain_state.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader.rs
  state/api/src/chain_state.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  test-helper/src/dao.rs
  test-helper/src/executor.rs
  test-helper/src/txn.rs
  vm/e2e-tests/src/account.rs
  vm/e2e-tests/src/data_store.rs
  vm/e2e-tests/src/executor.rs
  vm/vm-runtime/src/natives.rs
Owners: @nkysg, @welbon, @sanlee42

fix starcoin-node, db-exporter errors (#4246)
  Cargo.lock
  chain/src/chain.rs
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/force_deploy_output.rs
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/account/show_cmd.rs
  cmd/starcoin/src/account/sign_multisig_txn_cmd.rs
  cmd/starcoin/src/account/verify_sign_cmd.rs
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/dev/compile_cmd.rs
  cmd/starcoin/src/dev/sign_txn_helper.rs
  cmd/starcoin/src/dev/upgrade_module_proposal_cmd.rs
  cmd/starcoin/src/dev/upgrade_module_queue_cmd.rs
  cmd/starcoin/src/dev/upgrade_vm_config_proposal_cmd.rs
  cmd/starcoin/src/state/get_proof_cmd.rs
  cmd/starcoin/src/state/list_cmd.rs
  cmd/starcoin/src/view.rs
  cmd/tx-factory/src/main.rs
  network-rpc/api/src/remote_chain_state.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader.rs
  state/api/src/chain_state.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  test-helper/src/dao.rs
  test-helper/src/executor.rs
  test-helper/src/txn.rs
  vm/e2e-tests/src/account.rs
  vm/e2e-tests/src/data_store.rs
  vm/e2e-tests/src/executor.rs
  vm/vm-runtime/src/natives.rs
Owners: @nkysg, @welbon, @sanlee42

remove unused funtion and group imports
  genesis/src/lib.rs
  state/statedb/src/lib.rs
  vm/vm-runtime/src/lib.rs
Owners: @nkysg, @welbon

merge vm_adapter to move_vm_ext
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/natives.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
  vm/vm-runtime/src/vm_adapter/adapter_common.rs
  vm/vm-runtime/src/vm_adapter/mod.rs
Owners: @nkysg

build stdlib-package with ReleaseBundle
  Cargo.lock
  vm/transaction-builder/Cargo.toml
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

Remove vm adapter (#4247)
  Cargo.lock
  genesis/src/lib.rs
  state/statedb/src/lib.rs
  vm/transaction-builder/Cargo.toml
  vm/transaction-builder/src/lib.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/natives.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
  vm/vm-runtime/src/vm_adapter/adapter_common.rs
  vm/vm-runtime/src/vm_adapter/mod.rs
Owners: @nkysg, @welbon

[compiler-v2 framework] add easygas, oracle and treasury
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/starcoin-framework/doc/easy_gas.md
  vm/framework/starcoin-framework/doc/easy_gas_script.md
  vm/framework/starcoin-framework/doc/oracle.md
  vm/framework/starcoin-framework/doc/oracle_aggregator.md
  vm/framework/starcoin-framework/doc/oracle_price.md
  vm/framework/starcoin-framework/doc/oracle_price_script.md
  vm/framework/starcoin-framework/doc/oracle_stc_usd.md
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/reserved_accounts_signer.md
  vm/framework/starcoin-framework/doc/stc_util.md
  vm/framework/starcoin-framework/doc/system_addresses.md
  vm/framework/starcoin-framework/doc/treasury.md
  vm/framework/starcoin-framework/sources/account.move
  vm/framework/starcoin-framework/sources/stc/consensus_config.move
  vm/framework/starcoin-framework/sources/stc/easy_gas.move
  vm/framework/starcoin-framework/sources/stc/easy_gas_script.move
  vm/framework/starcoin-framework/sources/stc/oracle.move
  vm/framework/starcoin-framework/sources/stc/oracle_aggregator.move
  vm/framework/starcoin-framework/sources/stc/oracle_price.move
  vm/framework/starcoin-framework/sources/stc/oracle_price_script.move
  vm/framework/starcoin-framework/sources/stc/oracle_stc_usd.move
  vm/framework/starcoin-framework/sources/stc/reserved_accounts_signer.move
  vm/framework/starcoin-framework/sources/stc/stc_util.move
  vm/framework/starcoin-framework/sources/stc/stc_version.move
  vm/framework/starcoin-framework/sources/stc/treasury.move
  vm/framework/starcoin-framework/sources/stc/treasury.spec.move
  vm/framework/starcoin-framework/sources/system_addresses.move
  vm/framework/starcoin-stdlib/doc/math_fixed.md
  vm/framework/starcoin-stdlib/doc/math_fixed64.md
  vm/framework/starcoin-stdlib/sources/math_fixed.move
  vm/framework/starcoin-stdlib/sources/math_fixed64.move
Owners: @nkysg

Support update pruing with on chain config
  chain/api/src/chain.rs
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  chain/tests/test_prune.rs
  flexidag/src/blockdag.rs
  flexidag/src/prune/pruning_point_manager.rs
  flexidag/tests/tests.rs
  genesis/src/lib.rs
  node/src/node.rs
  state/api/src/chain_state.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/parallel/executor.rs
  vm/types/src/on_chain_config/flexi_dag_config.rs
  vm/types/src/on_chain_config/mod.rs
Owners: @nkysg, @welbon, @sanlee42

find the absent when starting the execution
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

fix fmt
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

use super for the access of reachability service use dag-master fork in kube config file
  flexidag/src/ghostdag/protocol.rs
Owners: none

save the 0 hash as dag state when resetting
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

remove the used codes
  flexidag/src/ghostdag/protocol.rs
Owners: none

save the new tips for reset
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

delete sync db and cancel the sync when resetting
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

add dag merge store
  flexidag/src/consensusdb/consensus_block_depth.rs
  flexidag/src/consensusdb/mod.rs
Owners: none

fix: use main header id not pruning point as the tips
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

fix bug
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

remvoe unused code
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

save the dag state directly when resetting
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

first version for removing the red tips
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/block_depth/mod.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_block_depth.rs
  flexidag/src/consensusdb/db.rs
  flexidag/src/consensusdb/mod.rs
  flexidag/src/lib.rs
Owners: none

add test case
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

add red move
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
Owners: @nkysg

fix the robot comment
  chain/src/chain.rs
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_block_depth.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @nkysg, @sanlee42

add log
  flexidag/src/blockdag.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

change the verifier name for sync and mining
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/parallel/executor.rs
Owners: @nkysg, @sanlee42

add merge depth in mining
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/src/genesis_config.rs
  flexidag/src/blockdag.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

fix test case
  chain/src/chain.rs
Owners: @nkysg

fix fmt and compile error
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
Owners: @nkysg

Add new GenesisTransaction type
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[compiler-v2 framework] add dao, vm_config
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/stc_util.md
  vm/framework/starcoin-framework/doc/timestamp.md
  vm/framework/starcoin-framework/sources/starcoin_coin.move
  vm/framework/starcoin-framework/sources/stc/consensus_config.spec.move
  vm/framework/starcoin-framework/sources/stc/dao.move
  vm/framework/starcoin-framework/sources/stc/dao.spec.move
  vm/framework/starcoin-framework/sources/stc/stc_util.move
  vm/framework/starcoin-framework/sources/stc/treasury.spec.move
  vm/framework/starcoin-framework/sources/stc/vm_config.move
  vm/framework/starcoin-framework/sources/timestamp.spec.move
Owners: @nkysg
