Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

update DAG db-export range
  cmd/db-exporter/src/main.rs
Owners: @welbon

fix DAG db-export export range
  cmd/db-exporter/src/main.rs
Owners: @welbon

update DAG db-export range
  cmd/db-exporter/src/main.rs
Owners: @welbon

remove debug code
  cmd/db-exporter/src/main.rs
Owners: @welbon

rename variable
  cmd/db-exporter/src/main.rs
Owners: @welbon

rename variable
  cmd/db-exporter/src/main.rs
Owners: @welbon

remove LegacyGenesis and re-generate genesis file
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/src/lib.rs
Owners: @nkysg

remove unused codes
  kube/manifest/starcoin-proxima.yaml
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
  network/src/network_p2p_handle.rs
  sync/src/verified_rpc_client.rs
  types/src/startup_info.rs
Owners: @sanlee42, @nkysg, @welbon

Remove unused codes from network and genesis (#4135)
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/src/lib.rs
  kube/manifest/starcoin-proxima.yaml
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
  network/src/network_p2p_handle.rs
  sync/src/verified_rpc_client.rs
  types/src/startup_info.rs
Owners: @nkysg, @sanlee42, @welbon

use rust idiomatic
  cmd/db-exporter/src/main.rs
Owners: @welbon

refactor DbRelationStore with insert_with_writer
  flexidag/src/consensusdb/consensus_relations.rs
  types/src/blockhash.rs
Owners: @nkysg, @welbon

Dag db-exporter export range and apply (#4131)
  cmd/db-exporter/src/main.rs
Owners: @welbon

fix all sync test case running in the dag using the genesis config
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/tests.rs
Owners: @nkysg, @sanlee42

fix some test case that uses 0 as fork number
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/tasks/tests_dag.rs
Owners: @nkysg, @sanlee42

1, use match to determine the way of the execution and verification 2, return test message in apply failed function
  chain/api/src/chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  config/src/genesis_config.rs
  config/src/tests.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/tests_dag.rs
Owners: @nkysg, @sanlee42

use 0 as fork number
  chain/src/chain.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/tests/test_rpc_client.rs
Owners: @nkysg, @sanlee42

use genesis config to get the dag fork number
  chain/api/src/chain.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/src/genesis_config.rs
  genesis/src/lib.rs
  miner/src/create_block_template/mod.rs
  node/src/lib.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  vm/types/src/genesis_config.rs
Owners: @nkysg, @sanlee42

check the blues returned by the ghostdata whether it is empty
  chain/src/chain.rs
  miner/src/create_block_template/mod.rs
Owners: @nkysg, @sanlee42

fix clippy
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  config/src/genesis_config.rs
  config/src/lib.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/full_sync_test.rs
Owners: @nkysg, @sanlee42

basic sync dag test case pass
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  miner/src/create_block_template/mod.rs
  sync/src/tasks/test_tools.rs
Owners: @nkysg, @sanlee42

fix test_generated_schema_are_up_to_date_in_git
  rpc/server/src/module/debug_rpc.rs
Owners: @sanlee42

add test case test_dag_uncles
  flexidag/tests/tests.rs
Owners: none

remove the used files and codes
  config/src/tests.rs
  genesis/generated/dagtest/genesis
  genesis/src/main.rs
Owners: @nkysg

add is dag test in test_example_config_compact
  config/src/tests.rs
Owners: none

return error if no blue uncle found, no expect no panic
  chain/src/chain.rs
Owners: @nkysg

add check genesis identical between two nodes in test_sync_dag_blocks
  sync/src/tasks/tests_dag.rs
Owners: @sanlee42

add dag test in node.json
  rpc/api/generated_rpc_schema/node.json
Owners: @sanlee42

fix test_custom_genesis
  chain/src/chain.rs
Owners: @nkysg

add is dag test beside the is test
  config/src/genesis_config.rs
  config/src/lib.rs
  config/src/logger_config.rs
  config/src/metrics_config.rs
  config/src/network_config.rs
  config/src/rpc_config.rs
  config/src/stratum_config.rs
  rpc/server/src/module/debug_rpc.rs
  sync/src/sync.rs
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @sanlee42, @nkysg

fix test_flexidag_config_get_for_halley
  chain/src/chain.rs
  config/src/genesis_config.rs
Owners: @nkysg

add dag test genesis
  genesis/generated/dagtest/genesis
Owners: @nkysg

fix fmt
  rpc/server/src/module/debug_rpc.rs
Owners: @sanlee42

rpc: Add chain.get_ghostdagdata
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  flexidag/src/types/ghostdata.rs
  rpc/api/src/chain/mod.rs
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @sanlee42

fix genesis generating problem
  chain/src/chain.rs
  config/src/genesis_config.rs
  executor/tests/executor_test.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  miner/src/create_block_template/mod.rs
Owners: @nkysg, @sanlee42

renew halley genesis
  genesis/generated/halley/genesis
Owners: @nkysg

renew halley genesis
  genesis/generated/halley/genesis
Owners: @nkysg

renew halley genesis
  genesis/generated/halley/genesis
Owners: @nkysg

Update schema
  rpc/api/generated_rpc_schema/chain.json
Owners: @sanlee42

remove the dag init in dag block execution process
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

1, change dag type to chain type 2, remove dag genesisi enum in chain type
  Cargo.lock
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  flexidag/tests/tests.rs
  miner/Cargo.toml
  miner/src/create_block_template/mod.rs
  node/Cargo.toml
  node/src/lib.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  types/src/block/mod.rs
Owners: @nkysg, @sanlee42, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
