Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

mint in parallelized process
  chain/src/chain.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @nkysg, @sanlee42

auto fix clippy
  abi/types/src/lib.rs
  network-p2p/core/tests/rpc_gen_test.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/service.rs
  network-rpc/api/src/lib.rs
  rpc/client/src/remote_state_reader.rs
  rpc/client/src/remote_state_reader2.rs
  storage/src/db_storage/mod.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/transaction-builder-generator/src/cpp.rs
  vm/transaction-builder-generator/src/dart.rs
  vm/transaction-builder-generator/src/java.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: @nkysg, @sanlee42, @welbon

disable vm1 local account provider
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/main.rs
  config/src/account_vault_config.rs
  testsuite/tests/steps/cmd.rs
  vm/move-package-manager/src/deployment.rs
Owners: @welbon, @nkysg

disable other vm1 account providers for starcoin-cmd
  cmd/starcoin/src/main.rs
Owners: @welbon

add test cases for dir2
  config/src/account_vault_config.rs
Owners: none

explicit panic for account dir
  config/src/account_vault_config.rs
Owners: none

create 100 reserved account in genesis and deposit/withdraw gas fee from/to them for parallel execution performance.
  vm/compiler/src/lib.rs
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/create_signer.move
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

fix bad endianess usage for constructing address
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

add batch operations for account api and pool service
  account/api/src/message.rs
  account/api/src/service.rs
  account/service/src/service.rs
  account/src/account_manager.rs
  cmd/tx-factory/src/main.rs
  config/src/genesis_config.rs
  rpc/api/src/account/mod.rs
  rpc/api/src/txpool/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/account_rpc.rs
  rpc/server/src/module/txpool_rpc.rs
  txpool/api/src/lib.rs
  txpool/mock-service/src/lib.rs
  txpool/src/pool/queue.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @welbon, @sanlee42

Fix test compile errors
  Cargo.lock
  chain/mock/src/mock_chain.rs
  chain/service/src/chain_service.rs
  chain/tests/block_test_utils.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_force_upgrade.rs
  chain/tests/test_opened_block.rs
  chain/tests/test_txn_info_and_proof.rs
  cmd/resource-code-exporter/tests/import_test.rs
  config/src/lib.rs
  executor/tests/error_code_test.rs
  miner/src/create_block_template/test_create_block_template.rs
  miner/tests/miner_test.rs
  node/src/lib.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/pubsub/tests.rs
  state/service/src/service.rs
  sync/src/announcement/mod.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/store/tests.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  txpool/Cargo.toml
  txpool/src/test.rs
  types/src/block/mod.rs
  vm/e2e-tests/src/executor.rs
  vm/vm-runtime/tests/test_native_functions.rs
  vm2/service/state/src/service.rs
  vm2/vm-runtime/tests/test_native_functions.rs
  vm2/vm-types/src/genesis_config/config.rs
Owners: @nkysg, @welbon, @sanlee42

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

trigger cpu profiler with dev cmd
  Cargo.lock
  Cargo.toml
  rpc/server/Cargo.toml
  rpc/server/src/module/debug_rpc.rs
Owners: @sanlee42

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

execute vm1/vm2 txns parallelly
  chain/src/chain.rs
  executor/src/block_executor.rs
  rpc/server/src/module/debug_rpc.rs
  vm2/chain/src/lib.rs
Owners: @nkysg, @sanlee42

fork chainstatedb without rebuilding table handle state tree
  state/statedb/src/lib.rs
Owners: @welbon, @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

use vm2 branch remove_transactionfee
  Cargo.toml
Owners: none

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
  vm/framework/starcoin-stdlib/doc/from_bcs.md
  vm/framework/starcoin-stdlib/sources/from_bcs.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

impl u128_to_address, add test
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
  vm/framework/starcoin-stdlib/sources/from_bcs.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
  vm/framework/starcoin-stdlib/doc/from_bcs.md
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

tmp commit for debug, will be squash later
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/parallel-executor/src/executor.rs
Owners: @nkysg

add format for easy debug
  vm2/executor/src/executor.rs
Owners: none

fix clippy
  block-relayer/src/block_relayer.rs
  chain/api/src/errors.rs
  chain/src/verifier/mod.rs
  cmd/tx-factory/src/main.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/block_builder_service.rs
  miner/src/lib.rs
  sync/src/block_connector/execute_service.rs
  txpool/src/pool/queue.rs
Owners: @nkysg, @welbon, @sanlee42

add process transaction in multi threads
  miner/src/create_block_template/process_transaction.rs
Owners: @sanlee42

fix name
  miner/src/create_block_template/block_builder_service.rs
  miner/src/create_block_template/process_transaction.rs
Owners: @sanlee42

support vm2 parallel bench
  Cargo.lock
  executor/benchmark/Cargo.toml
  executor/benchmark/src/main.rs
  executor/benchmark/src/vm_exec_benchmark.rs
Owners: @nkysg

vm2 parallel bench collect data from metrics for tps calculation
  executor/benchmark/src/vm_exec_benchmark.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
