Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix: handle base branch without new bench flags in CI workflow
  .github/workflows/tps_benchmark.yml
Owners: @sanlee42, @nkysg

Fix rand 0.10 API usage
  vm/types/src/access_path.rs
  vm/types/src/event.rs
  vm/types/src/transaction/authenticator.rs
Owners: @nkysg

add configuration for tps benchmark
  .github/workflows/tps_benchmark.yml
  chain/src/chain.rs
  commons/pipeline-timing/src/lib.rs
  miner/src/create_block_template/block_builder_service.rs
  sync/starcoin-execute-bench/src/main.rs
  txpool/src/pool_client.rs
Owners: @sanlee42, @nkysg, @welbon

fix: cargo fmt for pipeline-timing gating code
  chain/src/chain.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @nkysg, @sanlee42

add move test case
  vm2/framework/starcoin-framework/tests/in_place_delayed_field_tests.move
  vm2/vm-runtime/src/move_vm_ext/session.rs
Owners: none

Restore RPC schema generation after jsonrpsee refactor
  Cargo.lock
  Cargo.toml
  network-p2p/types/src/network_state.rs
  rpc/api/Cargo.toml
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/generated_rpc_schema/sync_manager.json
  rpc/api/src/account/mod.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/contract_api.rs
  rpc/api/src/debug/mod.rs
  rpc/api/src/miner.rs
  rpc/api/src/network_manager.rs
  rpc/api/src/node/mod.rs
  rpc/api/src/node_manager.rs
  rpc/api/src/state/mod.rs
  rpc/api/src/sync_manager.rs
  rpc/api/src/txpool/mod.rs
  rpc/schema-derive/Cargo.toml
  rpc/schema-derive/src/lib.rs
  vm2/rpc/api/Cargo.toml
  vm2/rpc/api/generated_rpc_schema/state_api2.json
  vm2/rpc/api/src/account_api.rs
  vm2/rpc/api/src/contract_api.rs
  vm2/rpc/api/src/state_api.rs
Owners: @sanlee42

Fix rand 0.10 API usage
  chain/tests/test_txn_info_and_proof.rs
  cmd/miner_client/src/cpu_solver.rs
  commons/accumulator/src/inmemory/accumulator_test.rs
  commons/decrypt/src/lib.rs
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/tests/delayed_field_combinatorial.rs
  commons/parallel-executor/tests/delayed_field_resource_mix.rs
  commons/parallel-executor/tests/resource_combinatorial.rs
  commons/scmd/examples/hello_main.rs
  consensus/src/dummy.rs
  consensus/src/lib.rs
  miner/src/create_block_template/block_builder_service.rs
  network/api/src/peer_provider.rs
  rpc/middleware/src/tests.rs
  sync/src/tasks/mock.rs
  test-helper/src/txn.rs
  vm/e2e-tests/src/execution_strategies/random_strategy.rs
  vm/natives/src/ecrecover.rs
  vm/types/src/access_path.rs
  vm/types/src/event.rs
  vm/types/src/transaction/authenticator.rs
  vm2/framework/src/natives/cryptography/ristretto255_scalar.rs
  vm2/vm-runtime-types/src/change_set.rs
  vm2/vm-types/src/access_path.rs
  vm2/vm-types/src/event.rs
  vm2/vm-types/src/transaction/authenticator.rs
Owners: @nkysg, @welbon, @sanlee42

Fix rand sampling API in gas fee test
  chain/tests/test_distribute_gas_fee.rs
Owners: @nkysg

Fix rand import in IPC test helper
  commons/rpc/ipc/src/server/mod.rs
Owners: @nkysg

Remove invalid Clone derive from randomized strategy
  vm/e2e-tests/src/execution_strategies/random_strategy.rs
Owners: @nkysg

feat(rpc): add IP whitelist to bypass rate limiting
  config/src/rpc_config.rs
  rpc/server/src/metadata_middleware.rs
  rpc/server/src/rate_limit_middleware.rs
Owners: @sanlee42

fmt + clippy
  rpc/server/src/metadata_middleware.rs
  rpc/server/src/rate_limit_middleware.rs
Owners: @sanlee42

fix ai suggestion
  config/src/rpc_config.rs
  rpc/server/src/rate_limit_middleware.rs
Owners: @sanlee42

Add Kubernetes manifests for seed and main services, including StatefulSet configuration
  config/src/helper.rs
  kube/manifest/do-service-main.yaml
  kube/manifest/do-service-seed-main.yaml
  kube/manifest/do-starcoin-main.yaml
Owners: @sanlee42, @nkysg

fix clippy
  Cargo.lock
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

add tps benchmark analyse in ci (#4843)
  .github/workflows/tps_benchmark.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/src/chain.rs
  commons/pipeline-timing/Cargo.toml
  commons/pipeline-timing/src/lib.rs
  consensus/src/dummy.rs
  miner/Cargo.toml
  miner/src/create_block_template/block_builder_service.rs
  scripts/bench_compare.py
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/README.md
  sync/starcoin-execute-bench/src/agent_loop.rs
  sync/starcoin-execute-bench/src/analyzer.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
  txpool/Cargo.toml
  txpool/src/pool_client.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @nkysg, @welbon

Add LoadBalancer services for starcoin-5 and starcoin-6 with health check configurations
  kube/manifest/do-service-seed-main.yaml
  kube/manifest/do-starcoin-main.yaml
Owners: @sanlee42, @nkysg

Add Kubernetes manifests for barnard migration, including VolumeSnapshot and StatefulSet configurations
  kube/manifest/do-barnard-snapshot.yaml
  kube/manifest/do-service-barnard.yaml
  kube/manifest/do-starcoin-barnard.yaml
Owners: @sanlee42, @nkysg

Add LoadBalancer service for starcoin-2 with multiple ports and update replicas for starcoin StatefulSet
  kube/manifest/do-service-barnard.yaml
  kube/manifest/do-starcoin-barnard.yaml
Owners: @sanlee42, @nkysg

add sync-profiling info config
  config/src/sync_config.rs
  sync/src/lib.rs
  sync/src/parallel/executor.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/verified_rpc_client.rs
Owners: @sanlee42

sync: cache ready parents in parallel executor
  sync/src/parallel/executor.rs
  sync/src/parallel/mod.rs
  sync/src/parallel/tests.rs
Owners: @sanlee42

1, use range locate 2, user loop-info for waiting the parents
  sync/src/parallel/executor.rs
  sync/src/parallel/mod.rs
  sync/src/parallel/sender.rs
  sync/src/parallel/tests.rs
Owners: @sanlee42

add ready code
  sync/src/parallel/sender.rs
Owners: @sanlee42

1, add analyzing script 2, no prof logic if it is disabled
  scripts/analyze_sync_profile_log.py
  sync/src/parallel/sender.rs
Owners: @sanlee42

add more details in syn prof
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

no loop-checking
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/parallel/tests.rs
Owners: @sanlee42

add ready queue
  sync/src/parallel/sender.rs
Owners: @sanlee42

try lock-write to avoid the dead-lock
  block-relayer/src/block_relayer.rs
  network/src/service.rs
  vm2/vm-types/src/state_store/state_key/registry.rs
Owners: @sanlee42

add test
  sync/src/tasks/tests.rs
Owners: @sanlee42

fix sync not restart
  sync/src/sync.rs
  txpool/src/lib.rs
Owners: @sanlee42, @welbon

fix sync timeout error
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

fix test_full_sync_continue
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

fix comment of coderabbit
  sync/src/lib.rs
  sync/src/parallel/executor.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/tests.rs
Owners: @sanlee42

fix comment of the code rabbit
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

fix fmt
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

feat: DAG parameter sweep toolchain for TPS optimization
  Cargo.lock
  scripts/sweep_bench.sh
  simnet/Cargo.toml
  simnet/src/bin/sweep_dag_params.rs
  simnet/src/scene/mod.rs
  simnet/src/scene/sweep.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

docs: add DAG parameter sweep usage guide; add CLI param overrides to sweep_bench.sh
  docs/dag-parameter-sweep.md
  scripts/sweep_bench.sh
Owners: none

Add permissions configuration for kubectl commands in settings.local.json
  kube/manifest/do-starcoin-barnard.yaml
Owners: @sanlee42, @nkysg

fix clippy
  sync/src/tasks/tests.rs
Owners: @sanlee42

loose tps benchmark ci
  .github/workflows/tps_benchmark.yml
Owners: @sanlee42, @nkysg
