Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

donot setup move prover binaries in ci workflow
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

donot setup move prover binaries in ci workflow (#4684)
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

[mpm] Skip the checking of error mapping messages first to ensure that the functionality is available
  vm2/move-package-manager/src/main.rs
Owners: none

[mpm] fixed some integration test code
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_failed.exp
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_failed.move
Owners: none

[mpm] fixed some test code
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.move
  vm2/move-package-manager/src/main.rs
Owners: none

[mpm] fixed all of mpm
  Cargo.lock
  vm2/move-package-manager/Cargo.toml
  vm2/move-package-manager/src/compatibility_check_cmd.rs
  vm2/move-package-manager/src/deployment.rs
  vm2/move-package-manager/src/extended_checks.rs
  vm2/move-package-manager/src/lib.rs
  vm2/move-package-manager/src/main.rs
  vm2/move-package-manager/src/package.rs
  vm2/move-package-manager/src/release.rs
Owners: none

[mpm] fixed some test code
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_block_time_max.exp
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_block_time_max.move
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_block_time_min.exp
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_block_time_min.move
Owners: none

[mpm] Submitting this section first requires that the CLAP be upgraded from 3 to 4 before proceeding. Here, because vm2's move-test uses clap4
  Cargo.toml
  cmd/starcoin/Cargo.toml
  config/Cargo.toml
  vm2/move-package-manager/Cargo.toml
  vm2/move-package-manager/README.md
  vm2/move-package-manager/src/compatibility_check_cmd.rs
  vm2/move-package-manager/src/deployment.rs
  vm2/move-package-manager/src/lib.rs
  vm2/move-package-manager/src/main.rs
  vm2/move-package-manager/src/package.rs
  vm2/move-package-manager/src/release.rs
Owners: @welbon

[mpm] migration some mpm codes
  Cargo.lock
  vm2/move-package-manager/Cargo.toml
  vm2/move-package-manager/src/release.rs
Owners: none

[clap] update subproject clap reference
  cmd/starcoin/Cargo.toml
  config/Cargo.toml
Owners: @welbon

[mpm] fixed all of mpm
  vm2/move-package-manager/src/main.rs
Owners: none

[mpm] fixed some integration test code
  vm2/framework/starcoin-framework/integration-tests/epoch/epoch_compute.move
  vm2/framework/starcoin-framework/integration-tests/on_chain_config/consensus_config.move
Owners: none

[mpm] Submitted some integration test results that passed the test
  vm2/framework/starcoin-framework/integration-tests/account/basic.exp
  vm2/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.exp
  vm2/framework/starcoin-framework/integration-tests/account/zero_token.exp
  vm2/framework/starcoin-framework/integration-tests/block/block_metadata.exp
  vm2/framework/starcoin-framework/integration-tests/block_reward/basic.exp
  vm2/framework/starcoin-framework/integration-tests/check/gas_used_out.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_config.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_failure.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_propose.exp
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_gas_limit.exp
  vm2/framework/starcoin-framework/integration-tests/natives/hash_test.exp
  vm2/framework/starcoin-framework/integration-tests/on_chain_config/test_onchain_config_dao.exp
  vm2/framework/starcoin-framework/integration-tests/token/burn_and_destroy.exp
  vm2/framework/starcoin-framework/integration-tests/token/join_and_split.exp
  vm2/framework/starcoin-framework/integration-tests/token/my_token.exp
  vm2/framework/starcoin-framework/integration-tests/token/scaling_factor.exp
  vm2/framework/starcoin-framework/integration-tests/token/transfer_then_abort.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/accept_token.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/create_account.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/execute_modify_dao_config_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/execute_on_chain_config_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/module_upgrade.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/peer_to_peer.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/withdraw_token_from_treasury.exp
  vm2/framework/starcoin-framework/integration-tests/treasury/linear_withdraw_cap.exp
  vm2/framework/starcoin-framework/integration-tests/treasury/split_linear_cap.exp
  vm2/framework/starcoin-framework/integration-tests/upgrade_module_dao_proposal/basic.exp
Owners: none

[mpm] remove unused code
  vm/move-package-manager/Cargo.toml
Owners: @nkysg

[ci runner] revert ci runner to self-hostd
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

[mpm] fixed mpm clap error
  Cargo.lock
  config/src/lib.rs
  vm2/move-package-manager/Cargo.toml
  vm2/move-package-manager/src/compatibility_check_cmd.rs
  vm2/move-package-manager/src/deployment.rs
  vm2/move-package-manager/src/main.rs
Owners: none

epoch tests: fix for dag difficulty algorithm
  config/src/genesis_config/vm2.rs
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_block_time_max.exp
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_block_time_min.exp
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_failed.exp
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_failed.move
  vm2/framework/starcoin-framework/integration-tests/epoch/epoch_compute.exp
  vm2/framework/starcoin-framework/integration-tests/epoch/epoch_compute.move
  vm2/framework/starcoin-framework/integration-tests/epoch/epoch_data.move
Owners: none

consensus_config test: fix block_time_target
  vm2/framework/starcoin-framework/integration-tests/on_chain_config/consensus_config.exp
  vm2/framework/starcoin-framework/integration-tests/on_chain_config/consensus_config.move
Owners: none

[ci runner] add bob process
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

[ci runner] set gas log info to debug
  vm/starcoin-gas/src/gas_meter.rs
Owners: @nkysg

fixed cargo fmt
  vm/starcoin-gas/src/gas_meter.rs
Owners: @nkysg

Unify BlockHeader API and add DAG fields to RPC
  .github/dependabot.yml
  chain/tests/block_test_utils.rs
  consensus/src/consensus_test.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  miner/src/create_block_template/block_builder_service.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/generated_rpc_schema/node.json
  rpc/api/generated_rpc_schema/sync_manager.json
  rpc/api/src/types.rs
  rpc/server/src/module/node_rpc.rs
  storage/src/tests/test_block.rs
  test-helper/data/Block/data
  test-helper/data/Block/hash
  test-helper/data/BlockHeader/data
  test-helper/data/BlockHeader/hash
  test-helper/data/ChainStatus/data
  test-helper/data/ChainStatus/json
  test-helper/data/CompactBlock/data
  test-helper/data/CompactBlockMessage/data
  test-helper/data/CompactBlockMessage/json
  test-helper/src/starcoin_dao.rs
  types/src/block/mod.rs
  vm2/starcoin-transactional-test-harness/src/lib.rs
Owners: @sanlee42, @nkysg, @welbon

Unify BlockHeader API and add DAG fields to RPC (#4679)
  .github/dependabot.yml
  chain/tests/block_test_utils.rs
  consensus/src/consensus_test.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  miner/src/create_block_template/block_builder_service.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/generated_rpc_schema/node.json
  rpc/api/generated_rpc_schema/sync_manager.json
  rpc/api/src/types.rs
  rpc/server/src/module/node_rpc.rs
  storage/src/tests/test_block.rs
  test-helper/data/Block/data
  test-helper/data/Block/hash
  test-helper/data/BlockHeader/data
  test-helper/data/BlockHeader/hash
  test-helper/data/ChainStatus/data
  test-helper/data/ChainStatus/json
  test-helper/data/CompactBlock/data
  test-helper/data/CompactBlockMessage/data
  test-helper/data/CompactBlockMessage/json
  test-helper/src/starcoin_dao.rs
  types/src/block/mod.rs
  vm2/starcoin-transactional-test-harness/src/lib.rs
Owners: @sanlee42, @nkysg, @welbon

ci: require PR label "ci-runner:" to trigger builds
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

remove ignore path
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

remove ignore path
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

only for test
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

ci: require PR label "ci-runner:" to trigger builds
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

[ci-mpm2] fixed some error result in mpm integration test
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_block_time_max.exp
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_block_time_min.exp
Owners: none

[ci-mpm2] add mpm test to CI tests
  .github/workflows/build_test.yml
  scripts/move_test.sh
Owners: @sanlee42, @nkysg

[ci-mpm2] remove some useless code
  scripts/nextest.sh
Owners: none

[ci-mpm2] fixed epoch_data.move
  vm2/framework/starcoin-framework/integration-tests/epoch/epoch_data.exp
Owners: none

[ci-mpm2] fixed epoch_data.move
  vm2/framework/starcoin-framework/integration-tests/epoch/epoch_data.exp
  vm2/framework/starcoin-framework/integration-tests/epoch/epoch_data.move
Owners: none

Update .github/workflows/build_test.yml
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

ci: require PR label "ci-runner:" to trigger builds (#4692)
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

Update .github/workflows/build_test.yml
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

retry 30 times to generate the blocks for testing
  node/src/lib.rs
Owners: @nkysg

add waiting time in test cases: test_sync_and_notification_in_fast_range_location test_sync_and_notify_by_config and testing method: generate_block
  node/src/lib.rs
  sync/tests/full_sync_test.rs
Owners: @nkysg, @sanlee42

sleep 3s for waiting the minting and executing threads to stop
  rpc/client/tests/client_server_test.rs
Owners: @sanlee42

use env to control the job count for building and testing
  scripts/nextest.sh
Owners: none

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
