Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

Use argon for halley
  .gitignore
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
Owners: @nkysg

Batch pull absent blocks (#4447)
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

feat(consensus): update block time target and sync behavior
  consensus/src/difficulty.rs
  sync/src/tasks/block_sync_task.rs
  types/src/sync_status.rs
Owners: @sanlee42, @welbon, @nkysg

rm rm
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

merge dag master
  sync/src/tasks/block_sync_task.rs
  types/src/sync_status.rs
Owners: @sanlee42, @nkysg, @welbon

use block_time_target
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

Adjust block time target
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  docker/docker-compose.yml
  genesis/generated/halley/genesis
  kube/manifest/starcoin-vega.yaml
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
Owners: @nkysg, @sanlee42

Fix typo
  miner/src/lib.rs
Owners: @sanlee42

Refactor(miner): replace block_on with async spawn + timeout + atomic flag
  miner/src/lib.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

update starcoin-crypto
  Cargo.lock
  Cargo.toml
Owners: none

No return genesis in batch (#4456)
  chain/service/src/chain_service.rs
  miner/src/lib.rs
Owners: @nkysg, @sanlee42

update MockChain with multi-vm
  Cargo.lock
  chain/mock/Cargo.toml
  chain/mock/src/mock_chain.rs
Owners: @nkysg

feat(blocktemplate): make BlockBuilderService async-safe
  miner/src/create_block_template/mod.rs
  miner/src/lib.rs
  miner/tests/miner_test.rs
Owners: @sanlee42

[dual-vm] 1. revert cargo.lock; 2. fixed build errors
  Cargo.lock
  Cargo.toml
  executor/Cargo.toml
  node/Cargo.toml
  test-helper/Cargo.toml
  vm2/executor/Cargo.toml
  vm2/genesis/Cargo.toml
  vm2/genesis/src/lib.rs
  vm2/test-helper/Cargo.toml
  vm2/test-helper/src/executor.rs
  vm2/test-helper/src/txn.rs
Owners: @nkysg

[dual-vm] fixed build error for script_function_test.rs
  Cargo.lock
  Cargo.toml
  vm2/executor/Cargo.toml
  vm2/executor/tests/script_function_test.rs
  vm2/genesis/src/lib.rs
  vm2/test-helper/src/executor.rs
Owners: none

feat(blocktemplate): make BlockBuilderService async-safe (#4457)
  miner/src/create_block_template/mod.rs
  miner/src/lib.rs
  miner/tests/miner_test.rs
Owners: @sanlee42

fix some tests only for move 1.0
  chain/tests/test_force_upgrade.rs
  chain/tests/test_txn_info_and_proof.rs
  config/src/genesis_config.rs
  config/src/lib.rs
  executor/tests/module_upgrade_test.rs
  genesis/src/lib.rs
  sync/src/block_connector/test_illegal_block.rs
Owners: @nkysg, @sanlee42

read the k from epoch when the node starts
  Cargo.lock
  flexidag/Cargo.toml
  flexidag/src/blockdag.rs
  node/src/node.rs
Owners: @nkysg

Dev net can producing empty block
  Cargo.lock
  chain/service/Cargo.toml
  chain/service/src/chain_service.rs
  miner/src/create_block_template/mod.rs
  sync/Cargo.toml
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42

read the k from epoch when the node starts (#4460)
  Cargo.lock
  flexidag/Cargo.toml
  flexidag/src/blockdag.rs
  node/src/node.rs
Owners: @nkysg

update starcoin-sync with multi-vm
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/tests.rs
Owners: @sanlee42

update rpc api schema
  rpc/api/generated_rpc_schema/sync_manager.json
Owners: @sanlee42

skip some tests
  scripts/nextest.sh
Owners: none

Dev net with multi vm (#4461)
  Cargo.lock
  chain/mock/Cargo.toml
  chain/mock/src/mock_chain.rs
  chain/service/Cargo.toml
  chain/service/src/chain_service.rs
  chain/tests/test_force_upgrade.rs
  chain/tests/test_txn_info_and_proof.rs
  config/src/genesis_config.rs
  config/src/lib.rs
  executor/tests/module_upgrade_test.rs
  genesis/src/lib.rs
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/test_create_block_template.rs
  miner/tests/miner_test.rs
  rpc/api/generated_rpc_schema/sync_manager.json
  scripts/nextest.sh
  sync/Cargo.toml
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/tests.rs
Owners: @nkysg, @sanlee42

[dual-vm] fix some failed tests caused by missing file
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

[dual-vm] fixed build error after rename module name
  chain/mock/Cargo.toml
  chain/mock/src/mock_chain.rs
  chain/service/Cargo.toml
  chain/service/src/chain_service.rs
  genesis/src/vm2.rs
  sync/Cargo.toml
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  vm2/executor/tests/script_function_test.rs
  vm2/genesis/src/lib.rs
  vm2/test-helper/src/executor.rs
  vm2/test-helper/src/txn.rs
Owners: @nkysg, @sanlee42

[dual-vm] add renamed codes and vm2 projects
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/src/vm2.rs
  chain/tests/block_test_utils.rs
  executor/Cargo.toml
  executor/src/lib.rs
  genesis/Cargo.toml
  genesis/src/lib.rs
  genesis/src/vm2.rs
  miner/Cargo.toml
  miner/src/create_block_template/mod.rs
  node/Cargo.toml
  node/src/node.rs
  test-helper/Cargo.toml
  test-helper/src/txpool.rs
  types/Cargo.toml
  types/src/lib.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/block_executor2.rs
  vm2/executor/src/executor2.rs
  vm2/executor/src/lib.rs
  vm2/executor/tests/dual_vm_genesis_test.rs
  vm2/executor/tests/script_function_test.rs
  vm2/genesis/Cargo.toml
  vm2/genesis/src/lib.rs
  vm2/test-helper/Cargo.toml
  vm2/test-helper/src/executor.rs
  vm2/test-helper/src/lib.rs
  vm2/test-helper/src/txn.rs
  vm2/test-helper/tests/genesis_test.rs
Owners: @nkysg, @sanlee42, @welbon

[daul-vm] fix fmt, clippy and test compiling
  chain/mock/src/mock_chain.rs
  chain/service/src/chain_service.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  vm2/executor/tests/dual_vm_genesis_test.rs
  vm2/genesis/src/lib.rs
  vm2/test-helper/src/executor.rs
Owners: @nkysg, @sanlee42

add cmd to get block info by id
  cmd/starcoin/src/chain/get_block_info_cmd.rs
  rpc/api/src/chain/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @welbon, @sanlee42, @nkysg

[daul-vm] fix dev_setup
  scripts/dev_setup.sh
Owners: none

add cmd to get the ghostdata
  cmd/starcoin/src/chain/get_ghost_dag_data.rs
  cmd/starcoin/src/chain/mod.rs
  rpc/client/src/lib.rs
Owners: @welbon, @sanlee42

[dual-vm] fixed genesis vm2
  Cargo.lock
  genesis/Cargo.toml
  genesis/src/lib.rs
  genesis/src/vm2.rs
  vm2/genesis/Cargo.toml
  vm2/genesis/src/lib.rs
  vm2/test-helper/src/executor.rs
Owners: @nkysg

[dual-vm] remove unused code
  executor/src/block_executor2.rs
  executor/src/executor2.rs
  executor/src/lib.rs
Owners: @nkysg

[dual-vm] fixed chain vm2.rs to vm2 folder
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/src/chain.rs
  chain/src/lib.rs
  vm2/chain/Cargo.toml
  vm2/chain/src/lib.rs
Owners: @nkysg

retry the block connect message
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add chain.json in rpc/api
  rpc/api/generated_rpc_schema/chain.json
Owners: @sanlee42

[dual-vm] fixed test test_prepare_genesis
  Cargo.lock
  vm2/test-helper/Cargo.toml
  vm2/test-helper/tests/genesis_test.rs
Owners: none

Cmd sync optimization (#4464)
  cmd/starcoin/src/chain/get_block_info_cmd.rs
  cmd/starcoin/src/chain/get_ghost_dag_data.rs
  cmd/starcoin/src/chain/mod.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/chain/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  sync/src/tasks/block_sync_task.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @welbon, @sanlee42, @nkysg

[dual-vm] fixed clippy
  vm2/test-helper/tests/genesis_test.rs
Owners: none

Revert "[daul-vm] fix dev_setup"
  scripts/dev_setup.sh
Owners: none

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
