Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

print the error
  network/src/service.rs
Owners: @sanlee42

update genesis
  genesis/generated/halley/genesis
Owners: @nkysg

enlarge the mail box size to merg_depth * 3
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

fix div ratio
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

fix test case for blue ratio
  test-helper/src/dao.rs
Owners: none

add blue ratio in genesis config
  config/src/genesis_config.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/consensus_config.rs
Owners: @nkysg

fix div ratio not mul
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use ratio to control the block time target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

no force to mint if new peer blocks come
  kube/manifest/starcoin-halley.yaml
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42, @nkysg

add some debug info
  kube/manifest/starcoin-halley.yaml
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/service.rs
Owners: @sanlee42, @nkysg

add to peers set for the hard core protocol
  kube/manifest/starcoin-halley.yaml
  network-p2p/src/protocol.rs
Owners: @sanlee42, @nkysg

remove debug info
  consensus/src/difficulty.rs
  kube/manifest/starcoin-halley.yaml
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/service.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
Owners: @sanlee42, @welbon, @nkysg

add more info
  kube/manifest/starcoin-halley.yaml
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network/src/network_p2p_handle.rs
Owners: @sanlee42, @nkysg

resolve the tips from the rabbit bot
  consensus/src/difficulty.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42, @welbon

check the slice len less than the left of max block parents
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

remove a duplicated function (#4575)
  cmd/starcoin/src/chain/get_events_cmd.rs
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/view.rs
  rpc/client/src/lib.rs
Owners: @welbon, @sanlee42

use vm2 statedb as default
  txpool/src/lib.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

Automatic cleanup vm1 type txn
  txpool/src/pool/queue.rs
  txpool/src/test.rs
Owners: @sanlee42, @welbon

fix test_example_config_compact
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  config/src/genesis_config.rs
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

network-p2p: Init peerset with notif_protocols
  network-p2p/src/protocol.rs
  network-p2p/src/service.rs
Owners: @sanlee42

remove useless code
  network-p2p/src/protocol.rs
Owners: @sanlee42

fix test_that_generated_file_are_up_to_date_in_git
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  config/src/genesis_config.rs
  genesis/generated/barnard/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

fix config for test case in genesis and config
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  config/src/genesis_config.rs
  vm/stdlib/compiled/13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/stdlib/079_TransactionManager.mv
Owners: @nkysg, @sanlee42

generated genesis for proxima and vega
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

unpdate chain.json
  rpc/api/generated_rpc_schema/chain.json
Owners: @sanlee42

add upgrade version 13 stlib
  executor/tests/module_upgrade_test.rs
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/12-13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/12-13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/079_TransactionManager.mv
Owners: @nkysg, @sanlee42

fix test_actor_launch
  state/service/src/service.rs
Owners: @welbon, @nkysg

remove the transaction already on blue block of dag chain
  miner/src/create_block_template/block_builder_service.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

get the latest sequence number in each round
  cmd/tx-factory/src/main.rs
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/block_builder_service.rs
Owners: @welbon, @sanlee42, @nkysg

add vm1 txn count checker
  Cargo.lock
  Cargo.toml
  config/src/txpool_config.rs
  rpc/server/src/module/txpool_rpc.rs
  sync/src/announcement/mod.rs
  sync/src/txn_sync/mod.rs
  txpool/Cargo.toml
  txpool/api/src/lib.rs
  txpool/mock-service/src/lib.rs
  txpool/src/lib.rs
  txpool/src/pool/queue.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

fix building and clippy errors
  rpc/server/src/module/pubsub/tests.rs
  rpc/server/src/module/txpool_rpc.rs
  sync/src/announcement/mod.rs
  txpool/mock-service/src/lib.rs
  txpool/src/lib.rs
  txpool/src/pool/queue.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

refactor vm1 early reject test
  txpool/src/pool/queue.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

fix fmt
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

fetch the sequence number to calculate the tps
  cmd/tx-factory/src/main.rs
Owners: @welbon

wait for 4000 ms for next submit
  cmd/tx-factory/src/main.rs
Owners: @welbon

Remove blue ratio in config
  config/src/genesis_config.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/consensus_config.rs
  vm/types/src/on_chain_resource/block_metadata.rs
Owners: @nkysg

update test case and add todos
  config/src/txpool_config.rs
  txpool/src/pool/queue.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

Update txpool/src/pool/queue.rs
  txpool/src/pool/queue.rs
Owners: @sanlee42, @welbon

collecting vm1 txns size if neccessary
  txpool/src/pool/queue.rs
Owners: @sanlee42, @welbon

skip limiter for vm2-only txns
  txpool/src/lib.rs
Owners: @sanlee42, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
