Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

[benchmark-log] add unittest for transaction
  executor/tests/error_code_test.rs
  vm/e2e-tests/src/common_transactions.rs
  vm/e2e-tests/src/executor.rs
  vm/transaction-benchmarks/src/transactions.rs
Owners: @nkysg

add balance
  executor/tests/error_code_test.rs
Owners: @nkysg

[e2e-test] fix error EPROLOGUE_CANT_PAY_GAS_DEPOSIT
  executor/tests/error_code_test.rs
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
  vm/e2e-tests/src/gas_costs.rs
  vm/transaction-benchmarks/src/lib.rs
  vm/transaction-benchmarks/src/main.rs
  vm/transaction-benchmarks/src/test_peer_to_peer.rs
  vm/transaction-benchmarks/src/transactions.rs
Owners: @nkysg

[e2e-test] disable all print
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
  vm/mvhashmap/src/lib.rs
  vm/parallel-executor/src/executor.rs
  vm/transaction-benchmarks/src/main.rs
  vm/vm-runtime/src/errors.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: @nkysg

fixed account layout for e2e-test
  vm/e2e-tests/Cargo.toml
  vm/e2e-tests/src/account.rs
  vm/e2e-tests/src/account_universe.rs
  vm/e2e-tests/src/account_universe/create_account.rs
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
  vm/e2e-tests/src/common_transactions.rs
  vm/e2e-tests/src/data_store.rs
  vm/e2e-tests/src/executor.rs
  vm/e2e-tests/src/gas_costs.rs
  vm/e2e-tests/src/proptest_types.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/vm-runtime/src/block_executor/mod.rs
Owners: @nkysg

update set concurrency level and get concurrency level
  cmd/starcoin/src/dev/concurrency_level_cmd.rs
  cmd/starcoin/src/lib.rs
  network/src/service.rs
  rpc/api/generated_rpc_schema/debug.json
  rpc/api/src/debug/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/debug_rpc.rs
Owners: @welbon, @sanlee42

update nextest.sh
  scripts/nextest.sh
Owners: none

revert nextest.sh
  scripts/nextest.sh
Owners: none

update nextest.sh
  scripts/nextest.sh
Owners: none

update nextest.sh
  scripts/nextest.sh
Owners: none

update nextest.sh
  scripts/nextest.sh
Owners: none

update nextest.sh
  scripts/nextest.sh
Owners: none

update barnard fork version test
  network/src/service.rs
Owners: @sanlee42

update barnard fork version test
  network/src/service.rs
Owners: @sanlee42

add set-get concurrency level cmd (#3965)
  Cargo.lock
  cmd/starcoin/src/dev/concurrency_level_cmd.rs
  cmd/starcoin/src/lib.rs
  network/src/service.rs
  rpc/api/generated_rpc_schema/debug.json
  rpc/api/src/debug/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/debug_rpc.rs
  scripts/nextest.sh
  vm/e2e-tests/Cargo.toml
  vm/transaction-benchmarks/Cargo.toml
Owners: @welbon, @sanlee42, @nkysg

Update
  chain/src/chain.rs
  cmd/db-exporter/src/verify_header.rs
  consensus/src/dag/blockdag.rs
  sync/src/block_connector/write_block_chain.rs
  types/src/block.rs
Owners: @nkysg, @welbon, @sanlee42

fix some block meta creation error
  Cargo.lock
  vm/e2e-tests/Cargo.toml
  vm/e2e-tests/src/account.rs
  vm/e2e-tests/src/account_universe.rs
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
  vm/e2e-tests/src/common_transactions.rs
  vm/e2e-tests/src/executor.rs
  vm/transaction-benchmarks/src/main.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/transaction-builder/src/lib.rs
  vm/vm-runtime/src/errors.rs
Owners: @nkysg

add unittest for transaction
  executor/tests/error_code_test.rs
  vm/transaction-benchmarks/src/transactions.rs
Owners: @nkysg

[e2e-test] fix error EPROLOGUE_CANT_PAY_GAS_DEPOSIT
  vm/e2e-tests/src/gas_costs.rs
  vm/transaction-benchmarks/src/lib.rs
  vm/transaction-benchmarks/src/test_peer_to_peer.rs
  vm/transaction-benchmarks/src/transactions.rs
Owners: @nkysg

close some log
  scripts/benchmark_parallel.sh
  vm/e2e-tests/src/data_store.rs
Owners: @nkysg

add log
  vm/transaction-benchmarks/log_1000_50000
  vm/transaction-benchmarks/src/main.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/vm-runtime/src/errors.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

remove log
  .github/workflows/build_test.yml
  scripts/benchmark_parallel.sh
  vm/transaction-benchmarks/benches/transaction_benches.rs
  vm/transaction-benchmarks/log_1000_50000
  vm/vm-runtime/src/errors.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @sanlee42, @nkysg

add branches
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

add bench-num
  scripts/benchmark_parallel.sh
Owners: none

remove log
  vm/vm-runtime/src/errors.rs
Owners: @nkysg

add ACCOUNT_NUMS
  scripts/benchmark_parallel.sh
Owners: none

fix transaction txn
  vm/e2e-tests/src/common_transactions.rs
Owners: @nkysg

update some constants
  vm/e2e-tests/src/gas_costs.rs
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

update TurboSTM validate
  .github/workflows/build_test.yml
  Cargo.lock
  scripts/benchmark_parallel.sh
  vm/block-executor/Cargo.toml
  vm/block-executor/src/executor.rs
  vm/block-executor/src/scheduler.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/types/src/write_set.rs
Owners: @sanlee42, @nkysg

update AccountNum
  scripts/benchmark_parallel.sh
Owners: none

update AccountNum
  scripts/benchmark_parallel.sh
Owners: none

update AccountNum
  scripts/benchmark_parallel.sh
Owners: none

commit for parallel level
  scripts/benchmark_parallel.sh
Owners: none

parallel level
  scripts/benchmark_parallel.sh
Owners: none

delete comments
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

commit for test
  scripts/benchmark_parallel.sh
Owners: none

add use selec_head to update startinfo and add some testing case
  Cargo.lock
  block-relayer/src/block_relayer.rs
  config/src/available_port.rs
  node/src/node.rs
  sync/Cargo.toml
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/tests.rs
Owners: @nkysg, @sanlee42

fix fmt and clippy
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/tests.rs
Owners: @sanlee42

add log for testing test_sync_block_apply_failed_but_connect_success
  sync/src/tasks/tests.rs
Owners: @sanlee42

fix fmt
  sync/src/tasks/tests.rs
Owners: @sanlee42

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
