Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

use OUTPUT_BLOCK gen MAIN_DIRECT_SAVE_BLOCK_HASH_MAP
  chain/src/chain.rs
Owners: @nkysg

fix OUTPUT_BLOCK gen MAIN_DIRECT_SAVE_BLOCK_HASH_MAP
  chain/src/chain.rs
Owners: @nkysg

fix OUTPUT_BLOCK gen MAIN_DIRECT_SAVE_BLOCK_HASH_MAP format
  chain/src/chain.rs
Owners: @nkysg

update MAIN_DIRECT_SAVE_BLOCK_HASH_MAP
  chain/src/chain.rs
Owners: @nkysg

fixed clippy
  cmd/db-exporter/src/command_decode_payload.rs
  cmd/db-exporter/src/command_progress.rs
Owners: @welbon

fix execute_block_without_save
  chain/src/chain.rs
Owners: @nkysg

db_exporter add verify blocks without save
  Cargo.lock
  chain/Cargo.toml
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  cmd/db-exporter/src/main.rs
  cmd/db-exporter/src/verify_module.rs
  executor/Cargo.toml
  executor/src/block_executor.rs
Owners: @nkysg, @welbon

fix execute_block_without_save
  chain/src/chain.rs
Owners: @nkysg

update verify block
  cmd/db-exporter/src/main.rs
Owners: @welbon

db_exporter add output block execute (writeset and blockinfo)
  chain/src/chain.rs
  cmd/db-exporter/src/main.rs
Owners: @nkysg, @welbon

fix db_export verify-blocks
  cmd/db-exporter/src/main.rs
Owners: @welbon

add MAIN_DIRECT_SAVE_BLOCK_HASH_MAP
  Cargo.lock
  chain/Cargo.toml
  chain/src/chain.rs
Owners: @nkysg

chain add directly save special block without execute
  chain/src/chain.rs
  executor/src/block_executor.rs
Owners: @nkysg

fix cargo fmt
  cmd/db-exporter/src/main.rs
Owners: @welbon

purge blocks after hardforking
  node/src/node.rs
  storage/src/chain_info/mod.rs
  storage/src/storage.rs
  storage/src/upgrade.rs
  types/src/startup_info.rs
Owners: @nkysg, @welbon

update fork block info
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

reformat command code
  cmd/db-exporter/src/commands/decode_payload.rs
  cmd/db-exporter/src/commands/mod.rs
  cmd/db-exporter/src/commands/verify_header.rs
  cmd/db-exporter/src/commands/verify_module.rs
Owners: @welbon

add execute state for transaction payload export
  cmd/db-exporter/src/command_progress.rs
  cmd/db-exporter/src/commands/decode_payload.rs
  cmd/db-exporter/src/commands/mod.rs
  cmd/db-exporter/src/commands/verify_header.rs
  cmd/db-exporter/src/commands/verify_module.rs
  cmd/db-exporter/src/lib.rs
  cmd/db-exporter/src/main.rs
Owners: @welbon

update move language modify
  Cargo.toml
Owners: none

add cargo.lock
  Cargo.lock
Owners: none

fixed the query block number
  cmd/db-exporter/src/command_progress.rs
Owners: @welbon

update integration tests
  test-helper/src/chain.rs
  testsuite/features/cmd.feature
Owners: @nkysg

remove unused imports
  chain/mock/src/mock_chain.rs
  node/src/lib.rs
  storage/src/chain_info/mod.rs
  storage/src/lib.rs
Owners: @nkysg, @welbon

remove daospace-v12 from master branch
  executor/tests/module_upgrade_test.rs
  test-helper/src/lib.rs
  test-helper/src/starcoin_dao.rs
Owners: @nkysg

restructure on_chain_config_dao test codes
  chain/tests/test_epoch_switch.rs
  test-helper/src/block.rs
  test-helper/src/dao.rs
  test-helper/src/lib.rs
  test-helper/src/txn.rs
Owners: @nkysg

gen dag chain for tests
  chain/tests/test_block_chain.rs
  test-helper/src/chain.rs
  test-helper/src/txn.rs
Owners: @nkysg

fix test_dag_transaction_info_and_proof_1
  chain/tests/test_txn_info_and_proof.rs
  flexidag/dag/src/blockdag.rs
  genesis/src/lib.rs
  types/src/block/mod.rs
Owners: @nkysg, @welbon

update some comments
  chain/src/chain.rs
  miner/src/create_block_template/mod.rs
  types/src/block/mod.rs
Owners: @nkysg, @sanlee42, @welbon

rollback chain head (#4010)
  node/src/node.rs
  storage/src/chain_info/mod.rs
  storage/src/storage.rs
  storage/src/upgrade.rs
  types/src/startup_info.rs
Owners: @nkysg, @welbon

Reference to the Move repository that has been fixed
  Cargo.toml
Owners: none

lock file
  Cargo.lock
Owners: none

Reference to the Move repository that has been fixed (#4012)
  Cargo.lock
  Cargo.toml
Owners: none

update dao integration test
  Cargo.lock
  Cargo.toml
  testsuite/features/cmd.feature
Owners: @nkysg

db_exporter add verify blocks without save
  Cargo.lock
  chain/Cargo.toml
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  cmd/db-exporter/src/main.rs
  cmd/db-exporter/src/verify_module.rs
  executor/Cargo.toml
  executor/src/block_executor.rs
Owners: @nkysg, @welbon

chain add directly save special block without execute
  chain/src/chain.rs
  executor/src/block_executor.rs
Owners: @nkysg

db_exporter add output block execute (writeset and blockinfo)
  chain/src/chain.rs
  cmd/db-exporter/src/main.rs
Owners: @nkysg, @welbon

add MAIN_DIRECT_SAVE_BLOCK_HASH_MAP
  Cargo.lock
  chain/Cargo.toml
  chain/src/chain.rs
Owners: @nkysg

update verify block
  cmd/db-exporter/src/main.rs
Owners: @welbon

fix execute_block_without_save
  chain/src/chain.rs
Owners: @nkysg

fix db_export verify-blocks
  cmd/db-exporter/src/main.rs
Owners: @welbon
