Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

add test case
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  chain/tests/test_prune.rs
  flexidag/src/blockdag.rs
Owners: @nkysg

if no fork, execute at once
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

fix some clap3 errors
  vm/framework/src/built_package.rs
  vm/framework/src/docgen.rs
  vm/framework/src/release_builder.rs
Owners: @nkysg

fix conflicted definitions with same names
  vm/gas-schedule/src/lib.rs
  vm/starcoin-native-interface/src/context.rs
Owners: @nkysg

silence warnings
  vm/framework/src/natives/event.rs
Owners: @nkysg

Fix framework (#4208)
  Cargo.lock
  Cargo.toml
  types/src/error/block_executor.rs
  types/src/error/mod.rs
  vm/framework/Cargo.toml
  vm/framework/src/built_package.rs
  vm/framework/src/docgen.rs
  vm/framework/src/natives/consensus_config.rs
  vm/framework/src/natives/event.rs
  vm/framework/src/natives/mod.rs
  vm/framework/src/natives/object.rs
  vm/framework/src/natives/string_utils.rs
  vm/framework/src/natives/transaction_context.rs
  vm/framework/src/release_builder.rs
  vm/gas-schedule/src/lib.rs
  vm/starcoin-native-interface/src/builder.rs
  vm/starcoin-native-interface/src/context.rs
  vm/starcoin-native-interface/src/errors.rs
  vm/starcoin-native-interface/src/helpers.rs
  vm/types/src/on_chain_config/starcoin_features.rs
  vm/types/src/transaction/authenticator.rs
Owners: @nkysg, @welbon

fix starcoin-state-api error
  Cargo.lock
  state/api/Cargo.toml
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/api/src/message.rs
  state/api/src/mock/mock_chain_state_service.rs
Owners: @welbon, @nkysg

fix starcoin-state-api error (#4209)
  Cargo.lock
  state/api/Cargo.toml
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/api/src/message.rs
  state/api/src/mock/mock_chain_state_service.rs
Owners: @welbon, @nkysg

add test code
  chain/mock/src/mock_chain.rs
  chain/src/verifier/mod.rs
  chain/tests/test_prune.rs
  kube/manifest/starcoin-halley.yaml
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

fix starcoin-state-db errors
  network-rpc/api/src/remote_chain_state.rs
  rpc/client/src/remote_state_reader.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  vm/e2e-tests/src/data_store.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: @sanlee42, @welbon, @nkysg

[compiler-v2 native] fixed table native functions
  Cargo.lock
  vm/framework/table-natives/Cargo.toml
  vm/gas-schedule/src/gas_schedule/table.rs
Owners: @nkysg

add some rpc param in yaml's cmd
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

[compiler-v2 native] fixed some type error
  vm/framework/cached-packages/build.rs
  vm/framework/cached-packages/src/starcoin_stdlib.rs
  vm/starcoin-aggregator/src/tests/types.rs
  vm/vm-runtime-types/src/resource_group_adapter.rs
Owners: @nkysg

[compiler-v2 native] Fixed cached-packages build
  vm/framework/cached-packages/build.rs
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/cached-packages/src/starcoin_stdlib.rs
  vm/framework/cached-packages/src/starcoin_token_sdk_builder.rs
Owners: @nkysg

[compiler-v2 native] Change framework name
  vm/framework/starcoin-framework/sources/block.spec.move
  vm/framework/starcoin-framework/sources/code.spec.move
  vm/framework/starcoin-framework/sources/configs/consensus_config.spec.move
  vm/framework/starcoin-framework/sources/configs/execution_config.spec.move
  vm/framework/starcoin-framework/sources/configs/gas_schedule.spec.move
  vm/framework/starcoin-framework/sources/configs/version.spec.move
  vm/framework/starcoin-framework/sources/genesis.move
  vm/framework/starcoin-framework/sources/genesis.spec.move
  vm/framework/starcoin-framework/sources/reconfiguration.spec.move
  vm/framework/starcoin-framework/sources/reconfiguration_with_dkg.spec.move
  vm/framework/starcoin-framework/sources/starcoin_governance.spec.move
  vm/framework/starcoin-framework/sources/transaction_fee.move
  vm/framework/starcoin-framework/sources/transaction_fee.spec.move
  vm/framework/starcoin-framework/sources/transaction_validation.spec.move
Owners: @nkysg

fix starcoin-state-db errors
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/statedb/src/lib.rs
  vm/starcoin-sdk-builder/src/main.rs
Owners: @welbon, @nkysg

[compiler-v2]Fix starcoin statedb (#4211)
  network-rpc/api/src/remote_chain_state.rs
  rpc/client/src/remote_state_reader.rs
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  vm/e2e-tests/src/data_store.rs
  vm/starcoin-sdk-builder/src/main.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: @sanlee42, @welbon, @nkysg

fix starcoin-network-rpc-api errors
  network-rpc/api/src/remote_chain_state.rs
  vm/framework/cached-packages/build.rs
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/cached-packages/src/starcoin_stdlib.rs
  vm/starcoin-aggregator/src/tests/types.rs
  vm/vm-runtime-types/src/resource_group_adapter.rs
Owners: @sanlee42, @nkysg

fix starcoin-network-rpc-api errors (#4213)
  network-rpc/api/src/remote_chain_state.rs
  vm/framework/cached-packages/build.rs
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/cached-packages/src/starcoin_stdlib.rs
  vm/starcoin-aggregator/src/tests/types.rs
  vm/vm-runtime-types/src/resource_group_adapter.rs
Owners: @sanlee42, @nkysg

fix fuzz ed25519
  Cargo.lock
  Cargo.toml
  vm/framework/move-stdlib/doc/features.md
Owners: @nkysg

fix fuzz ed25519 (#4214)
  Cargo.lock
  Cargo.toml
  vm/framework/move-stdlib/doc/features.md
Owners: @nkysg

fix StateView errors in state-api
  state/api/src/chain_state.rs
Owners: @welbon, @nkysg

update some names
  vm/framework/move-stdlib/doc/features.md
  vm/framework/move-stdlib/sources/configs/features.move
  vm/framework/move-stdlib/tests/compiler-v2-doc/features.md
  vm/framework/releases/testnet.mrb
  vm/framework/src/built_package.rs
  vm/framework/src/module_metadata.rs
  vm/framework/starcoin-framework/doc/jwks.md
  vm/framework/starcoin-framework/doc/randomness.md
  vm/framework/starcoin-framework/sources/jwks.move
  vm/framework/starcoin-framework/sources/randomness.move
  vm/framework/starcoin-framework/sources/randomness.spec.move
  vm/framework/starcoin-framework/tests/compiler-v2-doc/jwks.md
  vm/framework/starcoin-framework/tests/compiler-v2-doc/randomness.md
  vm/framework/starcoin-framework/tests/compiler-v2-doc/system_addresses.md
  vm/framework/starcoin-stdlib/doc/type_info.md
  vm/framework/starcoin-stdlib/sources/type_info.spec.move
  vm/framework/starcoin-stdlib/tests/compiler-v2-doc/type_info.md
Owners: @nkysg

add parallel sync buffer as 1000 and will star to execute the block if no absent block exists.
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

update some names in starcoin-sdk-builder
  vm/starcoin-sdk-builder/README.md
  vm/starcoin-sdk-builder/examples/golang/Makefile
  vm/starcoin-sdk-builder/examples/golang/stdlib_demo.go
  vm/starcoin-sdk-builder/examples/rust/script_fun_demo.rs
  vm/starcoin-sdk-builder/src/common.rs
  vm/starcoin-sdk-builder/src/golang.rs
  vm/starcoin-sdk-builder/src/lib.rs
  vm/starcoin-sdk-builder/src/main.rs
  vm/starcoin-sdk-builder/src/rust.rs
  vm/starcoin-sdk-builder/tests/cli.rs
  vm/starcoin-sdk-builder/tests/generation.rs
Owners: @nkysg

use starcoin-vm-types instead of starcoin-types
  vm/starcoin-sdk-builder/src/rust.rs
Owners: @nkysg

generate framework to cached-packages
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/cached-packages/src/starcoin_token_objects_sdk_builder.rs
  vm/framework/cached-packages/src/starcoin_token_sdk_builder.rs
Owners: @nkysg

use macro to define the parallel count
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

[compiler-v2] fixed move warning
  vm/framework/starcoin-stdlib/doc/pool_u64.md
  vm/framework/starcoin-stdlib/doc/pool_u64_unbound.md
  vm/framework/starcoin-stdlib/sources/pool_u64.move
  vm/framework/starcoin-stdlib/sources/pool_u64.spec.move
  vm/framework/starcoin-stdlib/sources/pool_u64_unbound.move
  vm/framework/starcoin-stdlib/sources/pool_u64_unbound.spec.move
Owners: @nkysg

[compiler-v2] fixed move warning (#4219)
  vm/framework/starcoin-stdlib/doc/pool_u64.md
  vm/framework/starcoin-stdlib/doc/pool_u64_unbound.md
  vm/framework/starcoin-stdlib/sources/pool_u64.move
  vm/framework/starcoin-stdlib/sources/pool_u64.spec.move
  vm/framework/starcoin-stdlib/sources/pool_u64_unbound.move
  vm/framework/starcoin-stdlib/sources/pool_u64_unbound.spec.move
Owners: @nkysg

use 4090000 as pruning beginning
  chain/src/chain.rs
Owners: @nkysg

fix starcoin-time-services errors
  Cargo.lock
  Cargo.toml
  txpool/Cargo.toml
  vm/framework/src/built_package.rs
  vm/framework/tests/move_unit_test.rs
  vm/starcoin-sdk-builder/src/common.rs
  vm/starcoin-sdk-builder/src/golang.rs
  vm/starcoin-sdk-builder/src/main.rs
  vm/starcoin-sdk-builder/tests/generation.rs
Owners: @sanlee42, @welbon, @nkysg

fix starcoin-time-services errors (#4220)
  Cargo.lock
  Cargo.toml
  txpool/Cargo.toml
  vm/framework/src/built_package.rs
  vm/framework/tests/move_unit_test.rs
  vm/starcoin-sdk-builder/src/common.rs
  vm/starcoin-sdk-builder/src/golang.rs
  vm/starcoin-sdk-builder/src/main.rs
  vm/starcoin-sdk-builder/tests/generation.rs
Owners: @sanlee42, @welbon, @nkysg

fix the code for robot's comments
  chain/mock/src/mock_chain.rs
  chain/tests/test_prune.rs
  cmd/db-exporter/src/force_deploy_output.rs
  cmd/db-exporter/src/main.rs
  cmd/generator/src/lib.rs
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
  sync/src/tasks/test_tools.rs
Owners: @nkysg, @welbon, @sanlee42

fix starcoin-dataformat-generator errors
  dataformat-generator/build.rs
  etc/starcoin_types.yml
Owners: none

fix starcoin-dataformat-generator errors (#4221)
  dataformat-generator/build.rs
  etc/starcoin_types.yml
Owners: none

fix transaction-builder-generator errors
  vm/transaction-builder-generator/src/common.rs
  vm/transaction-builder-generator/src/cpp.rs
  vm/transaction-builder-generator/src/csharp.rs
  vm/transaction-builder-generator/src/dart.rs
  vm/transaction-builder-generator/src/golang.rs
  vm/transaction-builder-generator/src/java.rs
  vm/transaction-builder-generator/src/lib.rs
  vm/transaction-builder-generator/src/python3.rs
  vm/transaction-builder-generator/src/rust.rs
Owners: @nkysg

fix transaction-builder-generator errors (#4222)
  vm/transaction-builder-generator/src/common.rs
  vm/transaction-builder-generator/src/cpp.rs
  vm/transaction-builder-generator/src/csharp.rs
  vm/transaction-builder-generator/src/dart.rs
  vm/transaction-builder-generator/src/golang.rs
  vm/transaction-builder-generator/src/java.rs
  vm/transaction-builder-generator/src/lib.rs
  vm/transaction-builder-generator/src/python3.rs
  vm/transaction-builder-generator/src/rust.rs
Owners: @nkysg

fix starcoin-config errors
  Cargo.lock
  Cargo.toml
  config/Cargo.toml
Owners: none

fix starcoin-config errors (#4223)
  Cargo.lock
  Cargo.toml
  config/Cargo.toml
Owners: none

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
