Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

Merge dual-VM support in chain module
  Cargo.lock
  chain/Cargo.toml
  chain/api/Cargo.toml
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/Cargo.toml
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  executor/Cargo.toml
  executor/src/block_executor.rs
  executor/src/executor.rs
  executor/src/lib.rs
  types/src/transaction/stc_transaction_info.rs
Owners: @nkysg, @welbon

Merge dual-VM support for state directory
  Cargo.lock
  chain/Cargo.toml
  chain/src/chain.rs
  state/api/src/chain_state.rs
  state/statedb/Cargo.toml
  state/statedb/src/lib.rs
  state/statedb/src/multi_chain_state_db.rs
Owners: @nkysg, @welbon

use condvar to impl the depency instead of timer
  vm/parallel-executor/src/executor.rs
Owners: @nkysg

[command] fixed epoch info for vm2
  cmd/starcoin/src/chain/epoch_info.rs
Owners: @welbon

get block by chain with id and no checking the block on the selected chain
  chain/src/chain.rs
Owners: @nkysg

substract the transaction time
  chain/src/chain.rs
  consensus/src/consensus_test.rs
  consensus/src/difficulty.rs
Owners: @nkysg, @sanlee42, @welbon

fix: substract the transaction time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

add more info
  chain/src/chain.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42

subtract the transaction time when calculating the difficulty
  consensus/src/consensus_test.rs
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

add some info for debug
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

min and max block time target are 1000-2000
  config/src/genesis_config.rs
Owners: none

remove the block chain object from conector service remove the dag verification
  chain/api/src/chain.rs
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  chain/src/chain_common_func.rs
  chain/src/lib.rs
  chain/src/verifier/mod.rs
  consensus/src/difficulty.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42, @welbon

only calc the ghost data when verifying
  chain/src/chain.rs
  chain/src/verifier/mod.rs
Owners: @nkysg

force to mint
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

subscribe DeterminedDagBlock message
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

[command] fixed command `dev get-block-info` for vm2
  Cargo.lock
  cmd/starcoin/src/chain/get_block_info_cmd.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/chain/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
  vm2/rpc/api/Cargo.toml
  vm2/rpc/api/src/block_info_view2.rs
  vm2/rpc/api/src/lib.rs
Owners: @welbon, @sanlee42, @nkysg

add broadcast the new head block
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

adjust time
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

add new header serivice
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

save code temporarily
  flexidag/src/blockdag.rs
Owners: none

Reconstruct the chain, flexdag and verification module (#4584)
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  config/src/genesis_config.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/new_header_service.rs
  miner/src/generate_block_event_pacemaker.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/parallel/executor.rs
  sync/src/sync.rs
  sync/src/tasks/tests.rs
Owners: @nkysg, @sanlee42

monitor the new dag and peer new dag instead of new head message to get the latest pruning point
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

make creating block and executing block parallized
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

use k ratio to calculate the next block time target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

receive the block header before creating new block
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

use ratio to control the block time target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use time plan as default block time target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

fix fmt
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use difficulty window to calcutlate the next difficulty
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

the number of an end block of an epoch should subtract 1 before comparing
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

add dynamic block time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use system time as end time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

fix fmt
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

generate the new genesis
  genesis/generated/halley/genesis
Owners: @nkysg

push the red blocks in latest version branch
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix contain checking
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

fix div ratio not mul
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

update epoch mv and halley genesis
  genesis/generated/halley/genesis
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
Owners: @nkysg, @sanlee42

refactor to avoid duplicate codes
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

no force to mint if new peer blocks come
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42
