Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

[fa] fixed split_linear_cap.move
  vm2/framework/starcoin-framework/integration-tests/treasury/split_linear_cap.exp
  vm2/framework/starcoin-framework/integration-tests/treasury/split_linear_cap.move
Owners: none

remove unnecessary re-init
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

[fa] update genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

[fa] fixed some tests and remove useless code
  vm2/framework/starcoin-framework/doc/overview.md
  vm2/framework/starcoin-framework/doc/stc_block.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.move
  vm2/framework/starcoin-framework/sources/stc/dao.move
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
Owners: none

[fa] update Cargo.lock
  Cargo.lock
Owners: none

fix clippy
  genesis/generated/halley/genesis
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: @nkysg

[fa] update genesis binary
  genesis/generated/barnard/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

[fa] updated genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

[fa] Solved the problem of stateroot not passing the checksum, which was caused by epilogue passing the wrong sender list parameter during the block template creation phase.
  chain/open-block/src/vm2.rs
  vm2/chain/src/lib.rs
  vm2/rpc/api/src/transaction_view2.rs
  vm2/vm-runtime/src/lib.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-types/src/transaction/mod.rs
Owners: @nkysg

[fa] remove unused test code
  vm2/executor/tests/script_function_test.rs
Owners: none

[fa] fixed exp file
  vm2/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.exp
Owners: none

[fa] mpm integration-test restore the replace process of precompiled files, but filter 0x1 module
  vm2/starcoin-transactional-test-harness/src/lib.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

[fa] update genesis files
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

[fa] fixed test for lack STC
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/withdraw_token_from_treasury.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/withdraw_token_from_treasury.move
Owners: none

[fa] merged transaction fee
  Cargo.lock
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/starcoin-framework/doc/overview.md
  vm2/framework/starcoin-framework/doc/stc_block.md
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.move
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/vm-types/Cargo.toml
Owners: @nkysg

[fa] 1. fixed reward error; 2. remove some logs
  vm2/framework/starcoin-framework/doc/coin.md
  vm2/framework/starcoin-framework/doc/starcoin_account.md
Owners: none

[fa] fixed cargo fmt
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

[fa] 1. fixed reward error; 2. remove some logs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/starcoin-framework/doc/block_reward.md
  vm2/framework/starcoin-framework/doc/coin.md
  vm2/framework/starcoin-framework/doc/starcoin_account.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/sources/coin.move
  vm2/framework/starcoin-framework/sources/starcoin_account.move
  vm2/framework/starcoin-framework/sources/stc/block_reward.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
Owners: @nkysg

[fa] fixed transaction fee error
  Cargo.toml
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/src/natives/debug.rs
  vm2/framework/starcoin-framework/doc/stc_block.md
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/sources/stc/dao.move
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/move-package-manager/Cargo.toml
Owners: @nkysg

[fa] fixed cargo fmt
  vm2/starcoin-transactional-test-harness/src/lib.rs
Owners: none

[fa] skip test_distribute_transaction_fee balance check
  chain/tests/test_distribute_gas_fee.rs
Owners: @nkysg

[fa] reformat some codes
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
Owners: @nkysg

[fa] fixed peer_to_peer.move
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/peer_to_peer.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/peer_to_peer.move
Owners: none

[fa] fixed exp files
  vm2/framework/starcoin-framework/integration-tests/on_chain_config/test_onchain_config_dao.exp
  vm2/framework/starcoin-framework/integration-tests/upgrade_module_dao_proposal/basic.exp
Owners: none

[fa] fixed cargo fmt
  vm2/executor/tests/script_function_test.rs
Owners: none

[fa] fixed framework integration test exp files
  vm2/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.exp
  vm2/framework/starcoin-framework/integration-tests/block_reward/basic.exp
  vm2/framework/starcoin-framework/integration-tests/token/burn_and_destroy.exp
  vm2/framework/starcoin-framework/integration-tests/token/join_and_split.exp
  vm2/framework/starcoin-framework/integration-tests/token/my_token.exp
  vm2/framework/starcoin-framework/integration-tests/token/scaling_factor.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.move
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/accept_token.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/create_account.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/peer_to_peer.exp
Owners: none

build stdlib for test/dev network with latest framework
  config/src/genesis_config/mod.rs
  genesis/src/lib.rs
Owners: @nkysg

update networks submodule to track latest branch
  .gitmodules
Owners: none

support pure vm2 exec benchmark
  Cargo.lock
  executor/benchmark/Cargo.toml
  executor/benchmark/src/lib.rs
  executor/benchmark/src/main.rs
  executor/benchmark/src/vm_exec_benchmark.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix clippy
  executor/benchmark/src/vm_exec_benchmark.rs
Owners: @nkysg

fix compile error
  executor/benchmark/src/vm_exec_benchmark.rs
Owners: @nkysg

update move integration test baseline
  vm2/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.exp
  vm2/framework/starcoin-framework/integration-tests/block_reward/basic.exp
  vm2/framework/starcoin-framework/integration-tests/check/gas_used_out.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_config.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_failure.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_propose.exp
  vm2/framework/starcoin-framework/integration-tests/on_chain_config/test_onchain_config_dao.exp
  vm2/framework/starcoin-framework/integration-tests/token/transfer_then_abort.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/create_account.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/execute_modify_dao_config_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/execute_on_chain_config_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/module_upgrade.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/peer_to_peer.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/withdraw_token_from_treasury.exp
  vm2/framework/starcoin-framework/integration-tests/treasury/linear_withdraw_cap.exp
  vm2/framework/starcoin-framework/integration-tests/treasury/split_linear_cap.exp
  vm2/framework/starcoin-framework/integration-tests/upgrade_module_dao_proposal/basic.exp
Owners: none

optimize lock usage
  state/statedb/src/lib.rs
Owners: @welbon, @nkysg

support pure vm2 exec benchmark
  Cargo.lock
  executor/benchmark/Cargo.toml
  executor/benchmark/src/lib.rs
  executor/benchmark/src/main.rs
  executor/benchmark/src/vm_exec_benchmark.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

do not persist execution result except account creation
  executor/benchmark/src/vm_exec_benchmark.rs
Owners: @nkysg

parallel execution uses data_cache.as_move_resolver()
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

default concurrency level of vm2 is num_cpus now
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

fix bad rwlock usage
  state/statedb/src/lib.rs
Owners: @welbon, @nkysg

new proof for the transaction
  Cargo.lock
Owners: none

new proof for the transaction
  Cargo.lock
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/service/Cargo.toml
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  rpc/api/src/types.rs
Owners: @nkysg, @sanlee42

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
