Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

network-p2p: stabilize oversized response test
  network-p2p/src/request_responses.rs
Owners: @sanlee42

network-p2p: avoid unconditional kademlia server mode
  network-p2p/src/discovery.rs
Owners: @sanlee42

chore: align schemars/openrpc/crypto/move revs
  Cargo.toml
  commons/mvhashmap/Cargo.toml
  commons/parallel-executor/Cargo.toml
  state/statedb-v2/Cargo.toml
  vm2/abi/decoder/Cargo.toml
  vm2/abi/resolver/Cargo.toml
  vm2/abi/types/Cargo.toml
  vm2/account/Cargo.toml
  vm2/account/api/Cargo.toml
  vm2/account/provider/Cargo.toml
  vm2/aggregator/Cargo.toml
  vm2/compiler/Cargo.toml
  vm2/dev/Cargo.toml
  vm2/framework/Cargo.toml
  vm2/framework/cached-packages/Cargo.toml
  vm2/framework/gas-algebra/Cargo.toml
  vm2/framework/gas-meter/Cargo.toml
  vm2/framework/gas-schedule/Cargo.toml
  vm2/framework/move-stdlib/Cargo.toml
  vm2/framework/native-interface/Cargo.toml
  vm2/framework/table-natives/Cargo.toml
  vm2/move-package-manager/Cargo.toml
  vm2/package-builder/Cargo.toml
  vm2/resource-viewer/Cargo.toml
  vm2/sdk-builder/Cargo.toml
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/types/Cargo.toml
  vm2/vm-runtime-types/Cargo.toml
  vm2/vm-runtime/Cargo.toml
  vm2/vm-status-translator/Cargo.toml
  vm2/vm-types/Cargo.toml
Owners: @nkysg, @welbon

test(sync,network-p2p): add upgrade-libp2p regression coverage
  docs/upgrade-libp2p-dep-vs-dual-verse-dag-analysis.md
  network-p2p/src/protocol/generic_proto/tests.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/tests.rs
  sync/tests/sync_watchdog_test.rs
  sync/tests/verified_rpc_client_test.rs
Owners: @sanlee42

fix(network-p2p): handle ping error GenerateEvent without panic
  network-p2p/src/peer_info.rs
Owners: @sanlee42

test(sync): extend watchdog edge-case coverage
  sync/src/sync.rs
Owners: @sanlee42

revert(rpc): restore network_manager.get_address Multiaddr type
  rpc/api/src/network_manager.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/network_manager_rpc.rs
Owners: @sanlee42

fix(cmd): map network addresses to strings
  cmd/starcoin/src/node/network/get_address_cmd.rs
Owners: @welbon

fix(cmd): restore Multiaddr return for get_address
  cmd/starcoin/src/node/network/get_address_cmd.rs
  rpc/api/src/network_manager.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/network_manager_rpc.rs
Owners: @welbon, @sanlee42

test(sync): cover watchdog cancel/restart orchestration
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

refactor(vm2): align serde tests and thread max nest depth
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm2/vm-runtime/tests/delayed_field_exchange_baseline.rs
Owners: none

fix comment from coderabbitai
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: none

refactor(vm2): remove manual delayed-field exchange fallback
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/tests/data_cache_manual_exchange.rs
Owners: none

fix vm2 crash for deserializing
  Cargo.lock
  Cargo.toml
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/tests/data_cache_manual_exchange.rs
Owners: none

fix compile error
  Cargo.lock
Owners: none

fix(vm2): avoid delayed-field exchange segfault on nested native u64 layout
  Cargo.toml
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: none

use debug to dump the data
  Cargo.lock
  Cargo.toml
  vm2/vm-runtime/src/data_cache.rs
Owners: none

fix test cases
  miner/tests/miner_test.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/tests/data_cache_manual_exchange.rs
Owners: @sanlee42

gas fee parameter error
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

add bench files only
  Cargo.lock
  Cargo.toml
  config/src/genesis_config/mod.rs
  node/src/lib.rs
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
  test-helper/src/lib.rs
  test-helper/src/node.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @nkysg, @sanlee42, @welbon

cache block meta transactions
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
Owners: @nkysg

remove fork in chain
  chain/src/chain.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

fix the panic when finishing bench
  Cargo.lock
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
  types/src/transaction/stc_transaction.rs
Owners: @sanlee42, @nkysg, @welbon

fix fmt
  miner/tests/miner_test.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/tests/data_cache_manual_exchange.rs
Owners: @sanlee42

fix: manual_exchange_bytes_for_nested_native_u64 check the type
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/tests/data_cache_manual_exchange.rs
Owners: none

use associate account
  config/src/lib.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

use transaction id to group the transaction
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

user batch sent
  Cargo.lock
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

add more details about latency
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

fix total transaction count
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

commit the topup in batch
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

add logic for waiting for the account topup
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

wait for the account finish
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

add informative of the block
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

no update the data in dag new header
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

no blue block transactions
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

move the result output into an independent file
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

use 1 thread to execute and mint
  commons/utils/src/thread_pool.rs
Owners: @nkysg

update sys dep
  flake.nix
Owners: none

use 1 thread to produce and execute the block
  commons/utils/src/thread_pool.rs
Owners: @nkysg
