Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

fix fmt
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/types.rs
  types/src/multi_access_path.rs
Owners: @nkysg, @sanlee42, @welbon

push code temporary
  chain/Cargo.toml
  chain/tests/test_txn_info_and_proof.rs
  types/src/multi_transaction.rs
Owners: @nkysg, @welbon

fix test_transaction_info_and_proof
  chain/tests/test_txn_info_and_proof.rs
  types/src/multi_access_path.rs
  types/src/multi_transaction.rs
  types/src/transaction/stc_transaction.rs
Owners: @nkysg, @welbon

add types: multi access path
  types/src/multi_access_path.rs
Owners: @nkysg, @welbon

fix fmt; fix cmd for proof
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/tests/test_txn_info_and_proof.rs
  cmd/starcoin/src/chain/get_txn_proof_cmd.rs
  rpc/api/src/chain/mod.rs
  rpc/client/src/vm2.rs
  rpc/server/src/module/chain_rpc.rs
  types/src/multi_access_path.rs
  types/src/transaction/stc_transaction.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @welbon, @sanlee42

commit code temporary
  Cargo.lock
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  rpc/api/src/types.rs
  types/Cargo.toml
  types/src/lib.rs
  types/src/multi_transaction.rs
  types/src/transaction/stc_transaction.rs
  types/src/transaction/stc_transaction_info.rs
Owners: @nkysg, @sanlee42, @welbon

add multi access path and mult state proof
  chain/api/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/types.rs
  rpc/client/src/remote_state_reader.rs
  rpc/server/src/module/chain_rpc.rs
  types/src/multi_access_path.rs
  types/src/transaction/legacy.rs
  vm/types/src/access_path.rs
  vm2/vm-types/src/access_path.rs
Owners: @nkysg, @sanlee42, @welbon

fix compile error
  chain/tests/test_txn_info_and_proof.rs
  types/src/multi_transaction.rs
  types/src/transaction/stc_transaction.rs
Owners: @nkysg, @welbon

no print the vmx in path
  types/src/multi_access_path.rs
  vm/types/src/access_path.rs
  vm2/vm-types/src/access_path.rs
Owners: @nkysg, @welbon

add debug print
  commons/parallel-executor/src/executor.rs
  executor/benchmark/src/vm_exec_benchmark.rs
Owners: @nkysg

add transaction info id in tranaction info view
  chain/api/src/lib.rs
  chain/tests/test_txn_info_and_proof.rs
  cmd/starcoin/src/chain/get_txn_proof_cmd.rs
  vm2/types/src/view/transaction_info_view.rs
Owners: @nkysg, @welbon

add code temporary
  chain/api/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  cmd/starcoin/src/chain/get_txn_infos_cmd.rs
  cmd/starcoin/src/chain/get_txn_proof_cmd.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/types.rs
  rpc/server/src/module/chain_rpc.rs
  state/statedb/src/lib.rs
  testsuite/features/cmd.feature
  vm2/types/src/view/transaction_with_proof.rs
Owners: @nkysg, @welbon, @sanlee42

remove transction info view2
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/api/src/service.rs
  chain/src/chain.rs
  vm2/types/src/view/transaction_with_proof.rs
Owners: @nkysg

add multi event
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  rpc/api/src/types.rs
  rpc/client/src/vm2.rs
  rpc/server/src/module/chain_rpc.rs
Owners: @nkysg, @sanlee42

fix the transaction info view de/se
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/api/src/service.rs
  chain/src/chain.rs
  cmd/starcoin/src/chain/get_txn_infos_cmd.rs
  cmd/starcoin/src/chain/get_txn_proof_cmd.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/types.rs
  rpc/client/src/vm2.rs
  rpc/server/src/module/chain_rpc.rs
  state/statedb/src/lib.rs
  testsuite/features/cmd.feature
  types/src/transaction/stc_transaction_info.rs
  vm2/executor/src/block_executor.rs
  vm2/types/Cargo.toml
  vm2/types/src/view/mod.rs
  vm2/types/src/view/transaction_with_proof.rs
Owners: @nkysg, @welbon, @sanlee42

update schema
  rpc/api/generated_rpc_schema/chain.json
Owners: @sanlee42

fix for the advice from bot
  Cargo.lock
  chain/api/src/lib.rs
  chain/service/Cargo.toml
Owners: @nkysg

fix fmt and for the adivice from code rabbitbot
  chain/api/src/lib.rs
  chain/src/chain.rs
  rpc/api/src/types.rs
Owners: @nkysg, @sanlee42

add struct GasTracker for parallel execution
  commons/parallel-executor/src/gas_tracker.rs
  commons/parallel-executor/src/lib.rs
Owners: @nkysg

fix fmt and for the rabbitbot advice
  types/src/transaction/legacy.rs
  types/src/transaction/stc_transaction_info.rs
Owners: @nkysg, @welbon

support gas_used() interface for parallel execution
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/gas_tracker.rs
  commons/parallel-executor/src/proptest_types/bencher.rs
  commons/parallel-executor/src/proptest_types/tests.rs
  commons/parallel-executor/src/scheduler.rs
  commons/parallel-executor/src/task.rs
  commons/parallel-executor/src/txn_last_input_output.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: @nkysg

re-execute block_epilogue at end of the parallel execution
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/scheduler.rs
Owners: @nkysg

finish main framework of parallel execution support limit gas usage
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/task.rs
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/lib.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix error of parallel execution
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/gas_tracker.rs
  commons/parallel-executor/src/proptest_types/types.rs
Owners: @nkysg

add test for parallel execution
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/gas_tracker.rs
Owners: @nkysg

fmt code
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/gas_tracker.rs
  commons/parallel-executor/src/lib.rs
  vm2/vm-runtime/src/lib.rs
Owners: @nkysg

fix fmt and update rpc schema json
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/types.rs
Owners: @sanlee42

fix expect express
  rpc/api/src/types.rs
Owners: @sanlee42

fix gas collection in parallel execution
  commons/parallel-executor/src/executor.rs
Owners: @nkysg

fmt
  commons/parallel-executor/src/executor.rs
Owners: @nkysg

rename function for better understanding
  commons/parallel-executor/src/gas_tracker.rs
  commons/parallel-executor/src/scheduler.rs
Owners: @nkysg

remove unused code
  commons/parallel-executor/src/task.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: @nkysg

remove unused code
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/proptest_types/types.rs
  commons/parallel-executor/src/task.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: @nkysg

fix clippy
  commons/parallel-executor/src/gas_tracker.rs
  commons/parallel-executor/src/scheduler.rs
Owners: @nkysg

fmt
  commons/parallel-executor/src/scheduler.rs
Owners: @nkysg

fix: if the access path is none, no state proof will be returned
  chain/api/src/lib.rs
  chain/src/chain.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/types.rs
  types/src/multi_transaction.rs
Owners: @nkysg, @sanlee42, @welbon

remove testing log
  chain/src/chain.rs
  types/src/multi_transaction.rs
Owners: @nkysg, @welbon

New transaction proof logic (#4743)
  Cargo.lock
  chain/Cargo.toml
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  cmd/starcoin/src/chain/get_txn_infos_cmd.rs
  cmd/starcoin/src/chain/get_txn_proof_cmd.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/chain/mod.rs
  rpc/api/src/types.rs
  rpc/client/src/remote_state_reader.rs
  rpc/client/src/vm2.rs
  rpc/server/src/module/chain_rpc.rs
  testsuite/features/cmd.feature
  types/Cargo.toml
  types/src/lib.rs
  types/src/multi_access_path.rs
  types/src/multi_transaction.rs
  types/src/transaction/legacy.rs
  types/src/transaction/stc_transaction.rs
  types/src/transaction/stc_transaction_info.rs
  vm2/executor/src/block_executor.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
  vm2/types/Cargo.toml
  vm2/types/src/view/mod.rs
  vm2/types/src/view/transaction_info_view.rs
  vm2/types/src/view/transaction_with_proof.rs
Owners: @nkysg, @welbon, @sanlee42

fix: when minting a new block, the epilogue transaction will be added if the included user tranaction length is large than 1.
  chain/open-block/src/lib.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @nkysg, @sanlee42

use &[] not &vec when returning included user txns2
  chain/open-block/src/lib.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
