Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

print the block transaction
  chain/src/chain.rs
  cmd/tx-factory/src/main.rs
Owners: @nkysg, @welbon

print the transaction when minting
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

fix info
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

Update stdlib
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/12-13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/12-13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/079_TransactionManager.mv
  vm/stdlib/compiled/13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/stdlib/038_Block.mv
  vm/stdlib/compiled/13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/stdlib/079_TransactionManager.mv
  vm/stdlib/compiled/latest/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/latest/stdlib/038_Block.mv
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/latest/stdlib/079_TransactionManager.mv
Owners: @nkysg, @sanlee42

Fix genesis
  Cargo.lock
  Cargo.toml
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  genesis/src/lib.rs
  vm/stdlib/compiled/13/12-13/stdlib/038_Block.mv
  vm/types/src/on_chain_config/consensus_config.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42

donot tracking vm1 txn if checker is bypassed
  txpool/src/pool/queue.rs
Owners: @sanlee42, @welbon

no minting task will be removed
  miner/src/lib.rs
Owners: @sanlee42

recover the remove
  miner/src/lib.rs
Owners: @sanlee42

send transaction for the seq change
  cmd/tx-factory/src/main.rs
  miner/src/lib.rs
Owners: @welbon, @sanlee42

Fix config example
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
Owners: none

remove api txpool.submit_transction_multi
  cmd/faucet/src/faucet.rs
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/cli_state_vm2.rs
  cmd/tx-factory/src/main.rs
  rpc/api/generated_rpc_schema/txpool.json
  rpc/api/src/txpool/mod.rs
  rpc/client/src/lib.rs
  rpc/client/src/vm2.rs
  rpc/server/src/module/txpool_rpc.rs
Owners: @welbon, @sanlee42

add some debug info
  cmd/starcoin/src/lib.rs
  cmd/starcoin/src/txpool/mod.rs
  cmd/tx-factory/src/main.rs
  miner/src/create_block_template/block_builder_service.rs
  rpc/api/src/txpool/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/txpool_rpc.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @welbon, @sanlee42

no add seq in tx factory
  cmd/tx-factory/src/main.rs
Owners: @welbon

no break the task
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

no stop
  cmd/miner_client/src/miner.rs
  miner/src/lib.rs
Owners: @welbon, @sanlee42

network-p2p: Init peerset with notif_protocols
  network-p2p/src/protocol.rs
  network-p2p/src/service.rs
Owners: @sanlee42

Update release verison
  Cargo.lock
  Cargo.toml
  kube/manifest/starcoin-main.yaml
Owners: @sanlee42, @nkysg

network-p2p: Init peerset with notif_protocols
  network-p2p/src/protocol.rs
  network-p2p/src/service.rs
Owners: @sanlee42

Update release verison
  Cargo.lock
  Cargo.toml
  kube/manifest/starcoin-main.yaml
Owners: @sanlee42, @nkysg

fix check type
  miner/src/create_block_template/block_builder_service.rs
  test-helper/data/Block/data
  test-helper/data/Block/hash
  test-helper/data/Block/json
  test-helper/data/BlockHeader/data
  test-helper/data/BlockHeader/hash
  test-helper/data/BlockHeader/json
  test-helper/data/BlockMetadata/data
  test-helper/data/BlockMetadata/hash
  test-helper/data/BlockMetadata/json
  test-helper/data/ChainStatus/data
  test-helper/data/ChainStatus/json
  test-helper/data/CompactBlock/data
  test-helper/data/CompactBlock/json
  test-helper/data/CompactBlockMessage/data
  test-helper/data/CompactBlockMessage/json
  test-helper/tests/types_check.rs
  types/src/block/block_header_data.rs
  types/src/block/legacy.rs
  types/src/block/mod.rs
  types/src/block/tests.rs
Owners: @sanlee42, @nkysg, @welbon

fix the block header id calcultion
  types/src/block/mod.rs
Owners: @nkysg, @welbon

fix test_handshake_message
  network-p2p/src/service_test.rs
Owners: @sanlee42

update genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

remove the stale testing case
  types/src/block/tests.rs
Owners: @nkysg, @welbon

no stop
  cmd/miner_client/src/miner.rs
  miner/src/lib.rs
Owners: @welbon, @sanlee42

fetch the sequence number to calculate the tps
  cmd/tx-factory/src/main.rs
Owners: @welbon

print the block transaction
  chain/src/chain.rs
  cmd/tx-factory/src/main.rs
Owners: @nkysg, @welbon

fix info
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

get the latest sequence number in each round
  cmd/tx-factory/src/main.rs
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/block_builder_service.rs
Owners: @welbon, @sanlee42, @nkysg

send transaction for the seq change
  cmd/tx-factory/src/main.rs
  miner/src/lib.rs
Owners: @welbon, @sanlee42

no break the task
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

no minting task will be removed
  miner/src/lib.rs
Owners: @sanlee42

add some debug info
  cmd/starcoin/src/lib.rs
  cmd/starcoin/src/txpool/mod.rs
  cmd/tx-factory/src/main.rs
  miner/src/create_block_template/block_builder_service.rs
  rpc/api/src/txpool/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/txpool_rpc.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @welbon, @sanlee42

no add seq in tx factory
  cmd/tx-factory/src/main.rs
Owners: @welbon

recover the remove
  miner/src/lib.rs
Owners: @sanlee42

remove the transaction already on blue block of dag chain
  miner/src/create_block_template/block_builder_service.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

wait for 4000 ms for next submit
  cmd/tx-factory/src/main.rs
Owners: @welbon

print the transaction when minting
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

[starcoin-vm2] set main genesis version from 4 to 12
  vm/types/src/genesis_config/config.rs
Owners: @nkysg

[starcoin-vm2] upgrade gas tables of main net
  vm/types/src/genesis_config/config.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
