Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

test status in service_test.rs
  network-p2p/src/service_test.rs
Owners: @sanlee42

move the stauts into the network module from the network-p2p module
  network-p2p/src/service_test.rs
  network-p2p/types/src/business_layer_handle.rs
  network/src/network_p2p_handle.rs
Owners: @sanlee42

fix fmt
  network-p2p/src/behaviour.rs
  network-p2p/src/business_layer_handle.rs
  network-p2p/src/config.rs
  network-p2p/src/lib.rs
  network-p2p/src/protocol.rs
  network-p2p/src/service.rs
  network-p2p/src/service_test.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
Owners: @sanlee42

fix clippy
  network-p2p/src/protocol.rs
  network-p2p/src/service_test.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
Owners: @sanlee42

fix fmt
  network-p2p/src/protocol.rs
  network/src/service.rs
Owners: @sanlee42

fix fmt
  network/src/network_p2p_handle.rs
Owners: @sanlee42

fix fmt
  network/src/network_p2p_handle.rs
Owners: @sanlee42

fix serde and fmt
  Cargo.lock
  network-p2p/core/Cargo.toml
Owners: @sanlee42

[mut refactor] commit some codes
  executor/src/executor.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/starcoin_vm_params.rs
Owners: @nkysg

fix unittest in network-p2p
  network-p2p/src/service_test.rs
  types/src/startup_info.rs
Owners: @sanlee42, @nkysg, @welbon

fix clippy
  network-p2p/src/service_test.rs
Owners: @sanlee42

[mut refactor] fix compile error
  executor/src/executor.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/starcoin_vm_params.rs
Owners: @nkysg

[mut refactor] fix compile error
  chain/open-block/src/lib.rs
  executor/src/block_executor.rs
  executor/src/executor.rs
  rpc/api/src/types.rs
  vm/dev/src/playground.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/starcoin_vm_params.rs
Owners: @nkysg, @sanlee42

[mut refactor] fix compile error
  executor/src/executor.rs
  vm/dev/src/playground.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/starcoin_vm_params.rs
Owners: @nkysg

[starcoin vm] remove mut reference for some functions
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[starcoin vm] fix build error
  executor/src/executor.rs
  vm/dev/src/playground.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[starcoin vm] fix build error with StateView type
  vm/types/src/on_chain_config/mod.rs
  vm/types/src/state_view.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[starcoin vm] fix build error with StateView type
  executor/src/executor.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[starcoin vm] Fix `cargo check`
  executor/src/executor.rs
  vm/dev/src/playground.rs
  vm/types/src/on_chain_config/mod.rs
  vm/types/src/state_view.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[starcoin vm] Fix `cargo check`
  executor/src/executor.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[starcoin vm] Fix some pr problem
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[vm] StarcoinVM refactor remove mut reference for some functions (#3916)
  executor/src/executor.rs
  vm/dev/src/playground.rs
  vm/types/src/state_view.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

rustfmt crates and remove unecessary functions (#3914)
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/main.rs
  cmd/db-exporter/src/verify_module.rs
  cmd/resource-exporter/src/main.rs
  vm/types/src/lib.rs
Owners: @welbon, @nkysg

use 1.13.5
  Cargo.lock
  network-p2p/derive/Cargo.toml
Owners: @sanlee42

update net main barnard kube config
  kube/manifest/starcoin-barnard.yaml
  kube/manifest/starcoin-main.yaml
Owners: @sanlee42, @nkysg

fix: 1, add expect in upadte business status 2, handshake return the result struct hence decouple the relation of network-p2p and network modules
  network-p2p/src/business_layer_handle.rs
  network-p2p/src/protocol.rs
  network-p2p/src/service_test.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
Owners: @sanlee42

fix bug: https://github.com/starcoinorg/starcoin/issues/3918
  network-p2p/src/peer_info.rs
  network-p2p/src/service.rs
Owners: @sanlee42

add vm-runtime/parael_executor
  Cargo.lock
  vm/types/src/state_store/state_key.rs
  vm/types/src/state_store/table.rs
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/read_write_set_analyzer.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add crate infallible and parallel-executor
  Cargo.lock
  Cargo.toml
  commons/infallible/Cargo.toml
  commons/infallible/src/lib.rs
  commons/infallible/src/mutex.rs
  vm/parallel-executor/Cargo.toml
  vm/parallel-executor/src/errors.rs
  vm/parallel-executor/src/executor.rs
  vm/parallel-executor/src/lib.rs
  vm/parallel-executor/src/outcome_array.rs
  vm/parallel-executor/src/scheduler.rs
  vm/parallel-executor/src/task.rs
  vm/parallel-executor/src/txn_last_input_output.rs
Owners: @nkysg

update crate mvhashmap and parallel-executor
  vm/mvhashmap/src/lib.rs
  vm/parallel-executor/src/executor.rs
  vm/parallel-executor/src/lib.rs
  vm/parallel-executor/src/outcome_array.rs
  vm/parallel-executor/src/scheduler.rs
  vm/parallel-executor/src/task.rs
Owners: @nkysg

add crate multi version hashmap
  Cargo.lock
  Cargo.toml
  commons/proptest-helpers/Cargo.toml
  vm/mvhashmap/Cargo.toml
  vm/mvhashmap/src/lib.rs
  vm/mvhashmap/src/unit_tests/mod.rs
  vm/mvhashmap/src/unit_tests/mvhashmap_test.rs
  vm/mvhashmap/src/unit_tests/proptest_types.rs
Owners: @nkysg

update vm-runtime
  Cargo.lock
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/read_write_set_analyzer.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add chunk_block_transactions unit_test
  executor/tests/executor_test.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add vm-runtime parallel_executor
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/read_write_set_analyzer.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: @nkysg

add parallel executor flow (notice can't compiler)
  Cargo.lock
  executor/src/executor.rs
  vm/parallel-executor/src/executor.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add VMAdaptor,VMValidator, VMExecutor
  vm/parallel-executor/src/executor.rs
  vm/types/src/state_view.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

update BlockExecute
  chain/open-block/src/lib.rs
  cmd/indexer/src/lib.rs
  executor/src/block_executor.rs
  executor/src/executor.rs
  rpc/api/src/types.rs
  test-helper/src/executor.rs
  types/src/error/mod.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/types/src/state_view.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @welbon, @sanlee42

update executor
  executor/src/executor.rs
  vm/vm-runtime/src/lib.rs
Owners: @nkysg

update net main barnard kube config (#3909)
  kube/manifest/starcoin-barnard.yaml
  kube/manifest/starcoin-main.yaml
Owners: @sanlee42, @nkysg

[starcoin vm] Add vm_executor and vm_validator
  executor/src/block_executor.rs
  executor/src/executor.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg
