Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

fix count assert in full_sync_new_node
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
Owners: @sanlee42

Add tx parse
  Cargo.lock
  Cargo.toml
  cmd/tx-parse/Cargo.toml
  cmd/tx-parse/src/main.rs
Owners: @welbon

Release dag proxima network
  types/src/block/mod.rs
Owners: @nkysg, @welbon

add parents_hash to BlockMetadata txn
  chain/open-block/src/lib.rs
  chain/tests/test_block_chain.rs
  etc/starcoin_types.yml
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/types.rs
  storage/src/block/mod.rs
  storage/src/lib.rs
  storage/src/transaction/legacy.rs
  storage/src/transaction/mod.rs
  storage/src/upgrade.rs
  test-helper/data/BlockMetadata/data
  test-helper/data/BlockMetadata/hash
  test-helper/data/BlockMetadata/json
  test-helper/src/starcoin_dao.rs
  types/src/block/mod.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/types/src/block_metadata/legacy.rs
  vm/types/src/block_metadata/mod.rs
  vm/types/src/on_chain_resource/block_metadata.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42, @welbon

use Starcoin Linktree
  README.md
Owners: none

use Starcoin Linktree (#4006)
  README.md
Owners: none

upgrade storage for transactions
  storage/src/tests/test_storage.rs
  storage/src/transaction/legacy.rs
  storage/src/upgrade.rs
  vm/types/src/block_metadata/legacy.rs
  vm/types/src/transaction/mod.rs
Owners: @welbon, @nkysg

ad mock dag upgrade
  chain/mock/src/mock_chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  flexidag/dag/src/block_dag_config.rs
  flexidag/dag/src/blockdag.rs
  flexidag/dag/src/ghostdag/protocol.rs
  flexidag/dag/src/lib.rs
  genesis/src/lib.rs
  miner/src/create_block_template/test_create_block_template.rs
  miner/tests/miner_test.rs
  node/src/node.rs
  state/service/src/service.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  test-helper/src/chain.rs
  test-helper/src/network.rs
  test-helper/src/txpool.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42, @welbon

Fix get_work panic
  chain/src/chain.rs
  flexidag/dag/src/blockdag.rs
  flexidag/dag/src/ghostdag/protocol.rs
  kube/manifest/starcoin-proxima.yaml
  miner/src/create_block_template/mod.rs
Owners: @nkysg, @sanlee42

update resource exporter
  Cargo.lock
  cmd/resource-exporter/Cargo.toml
  cmd/resource-exporter/src/main.rs
Owners: @welbon

update resource exporter
  cmd/resource-exporter/src/main.rs
Owners: @welbon

update db exporter resource
  Cargo.lock
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/main.rs
  cmd/resource-exporter/src/main.rs
Owners: @welbon

update db exporter resource
  cmd/db-exporter/src/main.rs
Owners: @welbon

Change new repository version for move language which has fixed argument check error that caused attack
  Cargo.lock
  Cargo.toml
Owners: none

add verify transaction argument
  executor/tests/script_function_test.rs
Owners: @nkysg

add verify transaction argument
  executor/tests/script_function_test.rs
Owners: @nkysg

add verify transaction argument
  Cargo.lock
  Cargo.toml
  executor/tests/script_function_test.rs
Owners: @nkysg

add verify module info
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/verify_module.rs
Owners: @welbon

add verify block feature
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  cmd/db-exporter/src/main.rs
  executor/tests/script_function_test.rs
Owners: @nkysg, @welbon

add verify block feature
  cmd/db-exporter/src/main.rs
Owners: @welbon

add verify block feature
  cmd/db-exporter/src/main.rs
Owners: @welbon

add the db-export decode payload command code
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/command_decode_payload.rs
  cmd/db-exporter/src/command_progress.rs
  cmd/db-exporter/src/lib.rs
  cmd/db-exporter/src/verify_header.rs
  cmd/db-exporter/src/verify_module.rs
Owners: @welbon

add directly save special block without execution
  Cargo.lock
  chain/Cargo.toml
  chain/src/chain.rs
  cmd/db-exporter/src/main.rs
  executor/Cargo.toml
  executor/src/block_executor.rs
Owners: @nkysg, @welbon

fixed compile error
  cmd/db-exporter/src/command_decode_payload.rs
  cmd/db-exporter/src/command_progress.rs
  cmd/db-exporter/src/lib.rs
  cmd/db-exporter/src/verify_header.rs
  cmd/db-exporter/src/verify_module.rs
Owners: @welbon

add some test case
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_txn_info_and_proof.rs
  node/src/lib.rs
  storage/src/chain_info/mod.rs
  storage/src/lib.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/test_rpc_client.rs
  test-helper/src/chain.rs
  test-helper/src/lib.rs
Owners: @nkysg, @welbon, @sanlee42

fixed build error
  cmd/db-exporter/src/command_decode_payload.rs
  cmd/db-exporter/src/command_progress.rs
  cmd/db-exporter/src/lib.rs
  cmd/db-exporter/src/verify_header.rs
  cmd/db-exporter/src/verify_module.rs
Owners: @welbon

fix timestamp error
  cmd/db-exporter/src/command_decode_payload.rs
  cmd/db-exporter/src/command_progress.rs
Owners: @welbon

add decode payload to main command
  cmd/db-exporter/src/command_decode_payload.rs
  cmd/db-exporter/src/command_progress.rs
  cmd/db-exporter/src/main.rs
Owners: @welbon

commit all code
  Cargo.lock
  cmd/db-exporter/src/main.rs
Owners: @welbon

add signer filter
  cmd/db-exporter/src/command_decode_payload.rs
  cmd/db-exporter/src/command_progress.rs
Owners: @welbon

db_exporter add verify blocks without save
  Cargo.lock
  chain/Cargo.toml
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  cmd/db-exporter/src/main.rs
  cmd/db-exporter/src/verify_module.rs
  executor/Cargo.toml
  executor/src/block_executor.rs
Owners: @nkysg, @welbon

chain add directly save special block without execute
  chain/src/chain.rs
  executor/src/block_executor.rs
Owners: @nkysg

db_exporter add output block execute (writeset and blockinfo)
  Cargo.lock
  chain/src/chain.rs
  cmd/db-exporter/src/main.rs
Owners: @nkysg, @welbon

change the loading block action to parallel
  cmd/db-exporter/src/command_progress.rs
Owners: @welbon

db_exporter add output block execute (writeset and blockinfo)
  Cargo.lock
Owners: none

fix progress bar show
  cmd/db-exporter/src/command_progress.rs
Owners: @welbon

db_exporter add output block execute (writeset and blockinfo)
  chain/src/chain.rs
Owners: @nkysg

use serde_json
  Cargo.lock
  chain/Cargo.toml
  chain/src/chain.rs
Owners: @nkysg

add some special BlockExecutedData and BlockInfo
  chain/src/chain.rs
Owners: @nkysg

add some special BlockExecutedData and BlockInfo
  chain/src/chain.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
