Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

add some info logs
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
Owners: none

use tempdir() in testing case
  flexidag/src/blockdag.rs
Owners: none

fix test case
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
Owners: none

fix some code for the advice from the robot
  flexidag/src/blockdag.rs
Owners: none

Batch writing and try to advance the root index (#4358)
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/access.rs
  flexidag/src/consensusdb/consensus_ghostdag.rs
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/consensusdb/consensus_relations.rs
  flexidag/src/consensusdb/db.rs
  flexidag/src/consensusdb/item.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/src/prune/pruning_point_manager.rs
  flexidag/tests/tests.rs
  storage/src/batch/mod.rs
  storage/src/cache_storage/mod.rs
  storage/src/db_storage/mod.rs
  storage/src/storage.rs
  storage/src/tests/test_storage.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @welbon, @sanlee42

generate testnet.mrb
  .gitignore
  framework/releases/testnet.mrb
Owners: none

use generated framework mrb
  Cargo.lock
  framework/releases/testnet.mrb
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  genesis/src/main.rs
  vm/framework/releases/testnet.mrb
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/stdlib/src/lib.rs
  vm/stdlib/src/main.rs
  vm/transaction-builder/Cargo.toml
  vm/transaction-builder/src/lib.rs
  vm/vm-runtime/tests/test_native_functions.rs
Owners: @nkysg, @sanlee42

export token mint, burn, info
  cmd/db-exporter/src/main.rs
  vm/types/src/access_path.rs
Owners: @welbon, @nkysg

build genesis txn with stdlib
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  genesis/src/lib.rs
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

update release_asset.yml
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

print less info about ghost data
  flexidag/src/blockdag.rs
Owners: none

no delete in reset
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/parallel/executor.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

update barnard rollback height
  network/src/service.rs
  storage/src/upgrade.rs
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @sanlee42, @welbon, @nkysg

update barnard rollback height test
  network/src/service.rs
Owners: @sanlee42

update barnard rollback height test
  network/src/service.rs
Owners: @sanlee42

donot build fresh stdlib to avoid call stack overflow
  vm/stdlib/src/lib.rs
Owners: @nkysg, @sanlee42

update force deploy extra transaction stdlib.blob
  Cargo.lock
  Cargo.toml
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/036_Account.mv
  vm/stdlib/compiled/12/11-12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/stdlib/036_Account.mv
  vm/stdlib/compiled/12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/compiled/latest/stdlib/036_Account.mv
  vm/stdlib/compiled/latest/stdlib/064_StdlibUpgradeScripts.mv
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg, @sanlee42

revert commit
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

fix check
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

[force-deploy] change framework version to a9eaa8f97aa40d3ab19bfbe90fb720ac63268a613
  Cargo.lock
  Cargo.toml
Owners: none

update starcoin_framework repo
  Cargo.lock
  Cargo.toml
  vm/stdlib/compiled/12/11-12/stdlib/051_FrozenConfig.mv
  vm/stdlib/compiled/12/11-12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/11-12/stdlib/065_Genesis.mv
  vm/stdlib/compiled/12/stdlib/051_FrozenConfig.mv
  vm/stdlib/compiled/12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/stdlib/065_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/051_FrozenConfig.mv
  vm/stdlib/compiled/latest/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/065_Genesis.mv
Owners: @nkysg, @sanlee42

[force-deploy] fixed cargo fmt
  vm/gas-algebra-ext/src/params.rs
Owners: @nkysg

update starcoin_framework v12 stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib.blob
Owners: @nkysg, @sanlee42

fix fmt
  vm/gas-algebra-ext/src/params.rs
Owners: @nkysg

get the block diligently when calling the rpc method
  sync/src/verified_rpc_client.rs
Owners: @sanlee42

use auto-generated framework for tests
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/vm-runtime/tests/test_native_functions.rs
Owners: @nkysg

[force-deploy] Added some modifications to the test flow in test_force_upgrade_1
  chain/tests/test_force_upgrade.rs
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

add sync the specific block
  sync/api/src/lib.rs
  sync/src/sync.rs
Owners: @sanlee42

break if succeed to execute the block in waiting list to restart the execution process for those previous blocks that maybe failed to be executed
  sync/src/sync.rs
Owners: @sanlee42

fix test_force_upgrade_1
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

remove unused imports
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

update barnard rollback height (#4360)
  Cargo.lock
  Cargo.toml
  chain/tests/test_force_upgrade.rs
  network/src/service.rs
  storage/src/upgrade.rs
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/036_Account.mv
  vm/stdlib/compiled/12/11-12/stdlib/051_FrozenConfig.mv
  vm/stdlib/compiled/12/11-12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/11-12/stdlib/065_Genesis.mv
  vm/stdlib/compiled/12/stdlib/036_Account.mv
  vm/stdlib/compiled/12/stdlib/051_FrozenConfig.mv
  vm/stdlib/compiled/12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/stdlib/065_Genesis.mv
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/compiled/latest/stdlib/036_Account.mv
  vm/stdlib/compiled/latest/stdlib/051_FrozenConfig.mv
  vm/stdlib/compiled/latest/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/065_Genesis.mv
  vm/transaction-builder/src/lib.rs
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg, @sanlee42, @welbon

use upload-artifact v4
  .github/workflows/benchmark.yml
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

use upload-artifact v4 (#4362)
  .github/workflows/benchmark.yml
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

update test_force_upgrade_1
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

use heap for execution waiting list
  node/src/node.rs
  sync/api/src/lib.rs
  sync/src/sync.rs
Owners: @nkysg, @sanlee42

use compact ghostdata
  flexidag/src/blockdag.rs
Owners: none

update test_force_upgrade_1 (#4363)
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

add/remove some info
  block-relayer/src/block_relayer.rs
  network-p2p/src/service.rs
  network/api/src/peer_provider.rs
  sync/src/sync.rs
Owners: @sanlee42

save the block into the local for cache
  sync/src/sync.rs
Owners: @sanlee42
