Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

Ghostdagdata rpc (#4137)
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  flexidag/src/types/ghostdata.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/chain/mod.rs
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @sanlee42

broadcast dag block in any condition
  block-relayer/src/block_relayer.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  types/src/system_events.rs
Owners: @sanlee42, @nkysg, @welbon

broadcast dag block in any condition (#4138)
  block-relayer/src/block_relayer.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  types/src/system_events.rs
Owners: @sanlee42, @nkysg, @welbon

use 0 as fork number
  chain/src/chain.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/tests/test_rpc_client.rs
Owners: @nkysg, @sanlee42

check the blues returned by the ghostdata whether it is empty
  chain/src/chain.rs
  miner/src/create_block_template/mod.rs
Owners: @nkysg, @sanlee42

fix some test case that uses 0 as fork number
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/tasks/tests_dag.rs
Owners: @nkysg, @sanlee42

use genesis config to get the dag fork number
  chain/api/src/chain.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/src/genesis_config.rs
  genesis/src/lib.rs
  miner/src/create_block_template/mod.rs
  node/src/lib.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  vm/types/src/genesis_config.rs
Owners: @nkysg, @sanlee42

1, use match to determine the way of the execution and verification 2, return test message in apply failed function
  chain/api/src/chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  config/src/genesis_config.rs
  config/src/tests.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/tests_dag.rs
Owners: @nkysg, @sanlee42

basic sync dag test case pass
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  miner/src/create_block_template/mod.rs
  sync/src/tasks/test_tools.rs
Owners: @nkysg, @sanlee42

fix test_flexidag_config_get_for_halley
  chain/src/chain.rs
  config/src/genesis_config.rs
Owners: @nkysg

fix clippy
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  config/src/genesis_config.rs
  config/src/lib.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/full_sync_test.rs
Owners: @nkysg, @sanlee42

fix all sync test case running in the dag using the genesis config
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/tests.rs
Owners: @nkysg, @sanlee42

add dag test genesis
  genesis/generated/dagtest/genesis
Owners: @nkysg

fix test_custom_genesis
  chain/src/chain.rs
Owners: @nkysg

add is dag test in test_example_config_compact
  config/src/tests.rs
Owners: none

add is dag test beside the is test
  config/src/genesis_config.rs
  config/src/lib.rs
  config/src/logger_config.rs
  config/src/metrics_config.rs
  config/src/network_config.rs
  config/src/rpc_config.rs
  config/src/stratum_config.rs
  rpc/server/src/module/debug_rpc.rs
  sync/src/sync.rs
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @sanlee42, @nkysg

fix fmt
  rpc/server/src/module/debug_rpc.rs
Owners: @sanlee42

fix test_generated_schema_are_up_to_date_in_git
  rpc/server/src/module/debug_rpc.rs
Owners: @sanlee42

remove the used files and codes
  config/src/tests.rs
  genesis/generated/dagtest/genesis
  genesis/src/main.rs
Owners: @nkysg

renew halley genesis
  genesis/generated/halley/genesis
Owners: @nkysg

add dag test in node.json
  rpc/api/generated_rpc_schema/node.json
Owners: @sanlee42

renew halley genesis
  genesis/generated/halley/genesis
Owners: @nkysg

remove the dag init in dag block execution process
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

add test case test_dag_uncles
  flexidag/tests/tests.rs
Owners: none

return error if no blue uncle found, no expect no panic
  chain/src/chain.rs
Owners: @nkysg

fix genesis generating problem
  chain/src/chain.rs
  config/src/genesis_config.rs
  executor/tests/executor_test.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  miner/src/create_block_template/mod.rs
Owners: @nkysg, @sanlee42

add check genesis identical between two nodes in test_sync_dag_blocks
  sync/src/tasks/tests_dag.rs
Owners: @sanlee42

renew halley genesis
  genesis/generated/halley/genesis
Owners: @nkysg

1, change dag type to chain type 2, remove dag genesisi enum in chain type
  Cargo.lock
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  flexidag/tests/tests.rs
  miner/Cargo.toml
  miner/src/create_block_template/mod.rs
  node/Cargo.toml
  node/src/lib.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  types/src/block/mod.rs
Owners: @nkysg, @sanlee42, @welbon

Fix clippy
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

get dag_effective_height from genesis_config
  chain/src/chain.rs
  genesis/src/lib.rs
Owners: @nkysg

add block_connector_service to miner
  chain/src/chain.rs
  config/src/genesis_config.rs
  miner/Cargo.toml
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42

remove unused codes from miner
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

refactor current_tips_hash
  chain/api/src/chain.rs
  chain/src/chain.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
Owners: @nkysg, @sanlee42

refactor load_dag_genesis
  chain/api/src/chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/access.rs
  flexidag/src/consensusdb/consenses_state.rs
  genesis/src/lib.rs
  miner/src/create_block_template/mod.rs
  node/src/node.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

rebase dag master
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42

add new dag block subscribe
  block-relayer/src/block_relayer.rs
Owners: none

fix the proxima fork number 0 use dag-master in proxima yaml
  config/src/genesis_config.rs
  kube/manifest/starcoin-proxima.yaml
Owners: @sanlee42, @nkysg

use storage to get the block
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

add block_connector_service to miner
  chain/src/chain.rs
  config/src/genesis_config.rs
  miner/Cargo.toml
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
