Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

user batch sent
  Cargo.lock
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

add transaction without blue blocks'
  config/src/genesis_config/vm2.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

add block executing time to calculate the tps
  Cargo.lock
  miner/src/create_block_template/block_builder_service.rs
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

all user transctions added being executed is the job done sign
  Cargo.lock
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

use 2000 as max transaction count per block
  config/src/genesis_config/vm2.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

use multi thread
  commons/utils/src/thread_pool.rs
Owners: @nkysg

use the submit time as add time
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

4000 as the max transaction count per block
  config/src/genesis_config/vm2.rs
Owners: none

add add time
  sync/starcoin-execute-bench/src/main.rs
  txpool/src/lib.rs
  txpool/src/pool/listener.rs
  txpool/src/pool/listener/tests.rs
  txpool/src/test.rs
  vm/types/src/transaction/mod.rs
Owners: @sanlee42, @welbon, @nkysg

seperate the output file
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

user epoch time not the observer time
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

revert the submit time as add time
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

check the block tps
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

remove the used code
  miner/src/create_block_template/block_builder_service.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

add more details about latency
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

add logic for waiting for the account topup
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

initialize the transaction output cache
  Cargo.lock
  node/Cargo.toml
  node/src/node.rs
Owners: @nkysg

cache the output
  chain/open-block/src/lib.rs
Owners: @nkysg

read the cache before executing
  chain/src/chain.rs
  vm2/chain/src/lib.rs
Owners: @nkysg

fix compile error
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  executor/src/block_executor.rs
  vm2/chain/src/lib.rs
Owners: @nkysg

use commit 20000 as max transaction per block
  config/src/genesis_config/vm2.rs
Owners: none

make the cache 1000 times
  node/src/node.rs
Owners: @nkysg

add gas limit log
  chain/open-block/src/vm2.rs
Owners: @nkysg

add log
  state/statedb-v2/src/lib.rs
Owners: @welbon, @nkysg

use the max_transaction_per_block directly
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

no gas limit check
  chain/open-block/src/vm2.rs
  chain/src/verifier/mod.rs
Owners: @nkysg

use u64 max count
  chain/src/chain.rs
Owners: @nkysg

enlarge the G_BASE_BLOCK_GAS_LIMIT
  config/src/genesis_config/vm2.rs
Owners: none

fix compile error
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

use multithread
  commons/utils/src/thread_pool.rs
Owners: @nkysg

G_MAX_TRANSACTION_PER_BLOCK: u64 = 2000;
  config/src/genesis_config/vm2.rs
Owners: none

use 1000000000 as gas limit directly
  chain/open-block/src/vm2.rs
  config/src/genesis_config/vm2.rs
Owners: @nkysg

use gas limit finish if the txpool is empty
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  state/statedb-v2/src/lib.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @nkysg, @welbon, @sanlee42

add info for logging the transaction
  chain/open-block/src/vm2.rs
  miner/src/create_block_template/block_builder_service.rs
  sync/starcoin-execute-bench/src/main.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @nkysg, @sanlee42, @welbon

use single thread to build and execute the block
  commons/utils/src/thread_pool.rs
  miner/src/create_block_template/block_builder_service.rs
  state/statedb-v2/src/lib.rs
Owners: @nkysg, @sanlee42, @welbon

rebase cache
  chain/src/chain.rs
  executor/src/block_executor.rs
Owners: @nkysg

rebase cache
  chain/open-block/src/vm2.rs
  node/src/node.rs
  state/statedb-v2/src/lib.rs
  sync/starcoin-execute-bench/src/main.rs
  types/src/transaction/stc_transaction.rs
  vm2/chain/src/lib.rs
Owners: @nkysg, @welbon, @sanlee42

cache state db
  Cargo.lock
  chain/Cargo.toml
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  chain/src/lib.rs
  chain/src/txn_output_cache.rs
  miner/src/create_block_template/block_builder_service.rs
  txpool/src/test.rs
Owners: @nkysg, @sanlee42, @welbon

use 10000 as max tranaction count per block
  config/src/genesis_config/vm2.rs
Owners: none

add log to see the flush time
  chain/src/chain.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
