Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

check the block tps
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

add more details about latency
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

update the balance value per check
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

commit the topup in batch
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

use 1000 as maxt transaction count per block
  config/src/genesis_config/vm2.rs
Owners: none

300 txns per block
  config/src/genesis_config/vm2.rs
Owners: none

add block executing time to calculate the tps
  Cargo.lock
  miner/src/create_block_template/block_builder_service.rs
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

remove the used code
  miner/src/create_block_template/block_builder_service.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

add conenct time in NewHeadBlock
  rpc/server/src/module/pubsub/tests.rs
  state/service/src/service.rs
  sync/src/block_connector/write_block_chain.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
  types/src/system_events.rs
Owners: @sanlee42, @welbon, @nkysg

send the add message directly
  sync/starcoin-execute-bench/src/main.rs
  txpool/src/pool/listener.rs
Owners: @sanlee42, @welbon

add transaction without blue blocks'
  config/src/genesis_config/vm2.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

use 500 as the max transaction count per block
  config/src/genesis_config/vm2.rs
Owners: none

use blue block
  Cargo.lock
  miner/src/create_block_template/block_builder_service.rs
  sync/starcoin-execute-bench/Cargo.toml
Owners: @sanlee42

add add time
  sync/starcoin-execute-bench/src/main.rs
  txpool/src/lib.rs
  txpool/src/pool/listener.rs
  txpool/src/pool/listener/tests.rs
  txpool/src/test.rs
  vm/types/src/transaction/mod.rs
Owners: @sanlee42, @welbon, @nkysg

use 2000 as max transaction count per block
  config/src/genesis_config/vm2.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

revert the submit time as add time
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

use the submit time as add time
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

fix the exit logic
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

user epoch time not the observer time
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

4000 as the max transaction count per block
  config/src/genesis_config/vm2.rs
Owners: none

add gas limit log
  chain/open-block/src/vm2.rs
Owners: @nkysg

no validate for the transactions
  txpool/src/pool/verifier.rs
Owners: @sanlee42, @welbon

add mined block time as transaction process start time
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

fix compile error
  chain/open-block/src/vm2.rs
  vm2/chain/src/lib.rs
Owners: @nkysg

add info for logging the transaction
  chain/open-block/src/vm2.rs
  miner/src/create_block_template/block_builder_service.rs
  sync/starcoin-execute-bench/src/main.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @nkysg, @sanlee42, @welbon

fix compile error
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

fix benchmark compile
  Cargo.lock
  Cargo.toml
Owners: none

cache the output
  chain/open-block/src/lib.rs
Owners: @nkysg

use commit 20000 as max transaction per block
  config/src/genesis_config/vm2.rs
Owners: none

initialize the transaction output cache
  node/src/node.rs
Owners: @nkysg

use the max_transaction_per_block directly
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

read the cache before executing
  vm2/chain/src/lib.rs
Owners: none

fix comppile error
  config/src/lib.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
  txpool/src/pool/listener.rs
  txpool/src/pool/verifier.rs
Owners: @sanlee42, @welbon

Revert "no validate for the transactions"
  txpool/src/pool/verifier.rs
Owners: @sanlee42, @welbon

add tps of blocks
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

use multithread
  commons/utils/src/thread_pool.rs
Owners: @nkysg

rebase cache
  chain/open-block/src/vm2.rs
  node/src/node.rs
  state/statedb-v2/src/lib.rs
  sync/starcoin-execute-bench/src/main.rs
  types/src/transaction/stc_transaction.rs
  vm2/chain/src/lib.rs
Owners: @nkysg, @welbon, @sanlee42

add log
  state/statedb-v2/src/lib.rs
Owners: @welbon, @nkysg

G_MAX_TRANSACTION_PER_BLOCK: u64 = 2000;
  config/src/genesis_config/vm2.rs
Owners: none

use single thread to build and execute the block
  commons/utils/src/thread_pool.rs
  miner/src/create_block_template/block_builder_service.rs
  state/statedb-v2/src/lib.rs
Owners: @nkysg, @sanlee42, @welbon
