Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

use blue count to calculate the diff
  Cargo.lock
  chain/api/src/chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  consensus/Cargo.toml
  consensus/src/difficulty.rs
  kube/manifest/starcoin-halley.yaml
Owners: @nkysg, @sanlee42, @welbon

Update docker compose
  docker/docker-compose.yml
Owners: none

add type import
  chain/src/chain.rs
Owners: @nkysg

in descendant order
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use hash to get the block header
  chain/api/src/chain.rs
  chain/src/chain.rs
  consensus/src/difficulty.rs
  kube/manifest/starcoin-halley.yaml
Owners: @nkysg, @sanlee42, @welbon

add some info to see an epoch info when it ends
  chain/src/chain.rs
Owners: @nkysg

chain: set default pruning height to genesis (0) for non-main/test chains
  chain/src/chain.rs
Owners: @nkysg

use red filter
  flexidag/src/blockdag.rs
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

the number of max parent is 5
  config/src/miner_config.rs
Owners: none

comment the merge depth calculation
  flexidag/src/blockdag.rs
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

break if the pp is found
  flexidag/src/prune/pruning_point_manager.rs
Owners: none

add remove the bad red blocks
  flexidag/src/blockdag.rs
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

fix clippy
  flexidag/src/blockdag.rs
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

add pruning point info store
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  cmd/starcoin/src/chain/get_dag_state_cmd.rs
  cmd/starcoin/src/chain/is_ancestor_of_cmd.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_pruning_info.rs
  flexidag/src/consensusdb/consensus_state.rs
  flexidag/src/consensusdb/db.rs
  flexidag/src/consensusdb/mod.rs
  flexidag/src/prune/pruning_point_manager.rs
  flexidag/tests/tests.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/chain/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  sync/src/block_connector/write_block_chain.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @welbon, @sanlee42

comment thwe bounded merge
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

update ChainRpcImpl
  Cargo.lock
  node/src/rpc_service_factory.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/chain_rpc.rs
  state/statedb/src/lib.rs
  state/statedb/src/multi_chain_state_db.rs
  vm/starcoin-transactional-test-harness/Cargo.toml
Owners: @nkysg, @sanlee42, @welbon

Fix listing txn info (#4482)
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/api/src/lib.rs
  chain/mock/src/mock_chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  executor/src/block_executor.rs
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/test_create_block_template.rs
  rpc/api/src/types.rs
  rpc/server/src/module/pubsub/tests.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/tests.rs
  test-helper/src/chain.rs
  test-helper/tests/types_check.rs
  types/src/lib.rs
  types/src/transaction.rs
  vm/types/src/transaction/mod.rs
  vm2/chain/src/lib.rs
  vm2/executor/src/block_executor.rs
  vm2/genesis/src/lib.rs
Owners: @nkysg, @sanlee42, @welbon

update ChainRpcImpl (#4483)
  Cargo.lock
  node/src/rpc_service_factory.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/chain_rpc.rs
  state/statedb/src/lib.rs
  state/statedb/src/multi_chain_state_db.rs
  vm/starcoin-transactional-test-harness/Cargo.toml
Owners: @nkysg, @sanlee42, @welbon

fix genesis state root calculation
  chain/src/chain.rs
  genesis/generated/proxima/genesis
  genesis/src/lib.rs
  types/src/block.rs
  vm2/genesis/src/lib.rs
Owners: @nkysg, @welbon

initialize chain-state-service with proper state_root
  Cargo.lock
  chain/src/chain.rs
  state/service/Cargo.toml
  state/service/src/service.rs
Owners: @nkysg, @welbon

initialize vm-state-accumulator when executing vm2 genesis txn
  chain/src/chain.rs
Owners: @nkysg

add vm_state accumulator
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  commons/accumulator/src/node.rs
  types/src/block.rs
Owners: @nkysg, @welbon

add new accumulator storage
  chain/open-block/src/lib.rs
  rpc/api/src/types.rs
  storage/src/accumulator/mod.rs
  storage/src/lib.rs
  storage/src/tests/test_storage.rs
  types/src/startup_info.rs
Owners: @nkysg, @sanlee42, @welbon

handle state_roots in mining and executing context
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  network/tests/network_service_test.rs
  sync/src/tasks/tests.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @sanlee42

update rpc schema and genesis file
  genesis/generated/proxima/genesis
  rpc/api/generated_rpc_schema/sync_manager.json
Owners: @nkysg, @sanlee42

add acc_node_vm_sate CF to storage
  Cargo.lock
  storage/src/lib.rs
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

fix new state-root related errors
  Cargo.lock
  state/service/Cargo.toml
  state/service/src/service.rs
  storage/src/lib.rs
  txpool/src/pool_client.rs
Owners: @welbon, @nkysg, @sanlee42

add multi_state to ExecutedBlock
  block-relayer/src/block_relayer.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/fixed_blocks.rs
  chain/src/lib.rs
  chain/tests/test_block_chain.rs
  miner/src/create_block_template/mod.rs
  state/service/src/service.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  types/src/block.rs
Owners: @nkysg, @sanlee42, @welbon

add aysnc for calculating the pruning point
  Cargo.lock
  chain/mock/src/mock_chain.rs
  config/src/miner_config.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_pruning_info.rs
  flexidag/src/consensusdb/db.rs
  flexidag/src/consensusdb/mod.rs
  flexidag/src/prune/pruning_point_manager.rs
  flexidag/tests/tests.rs
  sync/Cargo.toml
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
Owners: @nkysg, @sanlee42

use 100ms to mint a block
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

remve unused function
  chain/src/chain.rs
Owners: @nkysg

Update compose.yml && fix cmd
  cmd/starcoin/src/chain/get_ghost_dag_data.rs
  cmd/starcoin/src/chain/mod.rs
  cmd/starcoin/src/lib.rs
  docker/docker-compose.yml
Owners: @welbon

add multi_state to blockchain status
  chain/src/chain.rs
  state/service/src/service.rs
  state/statedb/src/multi_chain_state_db.rs
  storage/src/lib.rs
  sync/src/block_connector/write_block_chain.rs
  txpool/src/pool_client.rs
  types/src/multi_state.rs
Owners: @nkysg, @welbon, @sanlee42

use main id not its parent as block chain
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

add shutdown to break the loop
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

1, use tokio spawn to create a new runtime to implement the loop for generating the pruning point 2, await the thread of pruning point for end
  cmd/starcoin/src/chain/mod.rs
  cmd/starcoin/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @welbon, @sanlee42

use notify to replace the loop
  miner/src/generate_block_event_pacemaker.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/tasks/mod.rs
Owners: @sanlee42

build Node without vm2
  config/src/lib.rs
  test-helper/src/txpool.rs
Owners: none

fix typo
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

fix network rpc tests
  network-rpc/src/tests.rs
Owners: @sanlee42

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
