Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

fix test_transaction_info_and_proof
  chain/tests/test_txn_info_and_proof.rs
Owners: @nkysg

fix for the advice of coderabbitai
  account/api/src/service.rs
  txpool/src/tx_pool_service_impl.rs
  types/src/multi_transaction.rs
Owners: @welbon, @sanlee42, @nkysg

update genesis for main, proxima and halley
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

update chain.json
  rpc/api/generated_rpc_schema/chain.json
Owners: @sanlee42

transaction info's state root is option now
  chain/api/src/lib.rs
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  executor/src/block_executor.rs
  genesis/src/lib.rs
  genesis/src/vm2.rs
  rpc/api/src/types.rs
  storage/src/tests/mod.rs
  types/src/error/mod.rs
  types/src/transaction/mod.rs
  vm2/executor/src/block_executor.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
  vm2/types/src/error/block_executor.rs
  vm2/types/src/view/transaction_info_view.rs
  vm2/vm-types/src/transaction/mod.rs
Owners: @nkysg, @sanlee42, @welbon

• Align workspace dependency versions
  Cargo.lock
  Cargo.toml
  account/Cargo.toml
  account/src/account_manager.rs
  chain/Cargo.toml
  chain/data-migration/Cargo.toml
  cmd/resource-code-exporter/Cargo.toml
  commons/decrypt/src/lib.rs
  commons/infallible/Cargo.toml
  commons/scmd/examples/hello_main.rs
  executor/benchmark/Cargo.toml
  executor/benchmark/src/lib.rs
  network-p2p/peerset/tests/fuzz.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network/api/src/peer_provider.rs
  test-helper/src/txn.rs
  txpool/Cargo.toml
  txpool/src/pool/listener/tests.rs
  vm/e2e-tests/Cargo.toml
  vm/e2e-tests/src/execution_strategies/random_strategy.rs
  vm/natives/src/ecrecover.rs
  vm/types/src/access_path.rs
  vm/types/src/event.rs
  vm/types/src/transaction/authenticator.rs
  vm2/framework/Cargo.toml
  vm2/framework/move-stdlib/Cargo.toml
  vm2/framework/src/natives/cryptography/algebra/hash_to_structure.rs
  vm2/framework/src/natives/cryptography/ristretto255_point.rs
  vm2/framework/src/natives/cryptography/ristretto255_scalar.rs
  vm2/framework/src/natives/hash.rs
  vm2/framework/table-natives/Cargo.toml
  vm2/move-package-manager/Cargo.toml
  vm2/vm-types/Cargo.toml
  vm2/vm-types/src/access_path.rs
  vm2/vm-types/src/event.rs
  vm2/vm-types/src/transaction/authenticator.rs
Owners: @welbon, @nkysg, @sanlee42

rename deprecated functions in rand
  chain/tests/test_txn_info_and_proof.rs
  cmd/miner_client/src/cpu_solver.rs
  cmd/tx-factory/src/vm2_txn_lib.rs
  commons/accumulator/src/inmemory/accumulator_test.rs
  config/src/network_config.rs
  consensus/src/dummy.rs
  consensus/src/lib.rs
  miner/src/create_block_template/block_builder_service.rs
  network-p2p/peerset/tests/fuzz.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network/src/service.rs
  rpc/middleware/src/tests.rs
  sync/src/tasks/mock.rs
  test-helper/src/txn.rs
  vm/types/src/access_path.rs
  vm2/framework/src/natives/cryptography/algebra/hash_to_structure.rs
  vm2/vm-runtime-types/src/change_set.rs
  vm2/vm-types/src/access_path.rs
Owners: @nkysg, @welbon, @sanlee42

fix fmt
  Cargo.lock
  rpc/api/src/chain/mod.rs
  rpc/api/src/txpool/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
Owners: @sanlee42

skip a clippy check of test codes
  commons/stest/stest-macro/src/lib.rs
Owners: @nkysg

update genesis file
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

rm mpm in dockerfile
  docker/Dockerfile
Owners: none

no mpm2 use mpm instead
  docker/Dockerfile
Owners: none

add code temporary
  Cargo.lock
  cmd/tx-factory/src/main.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/txpool/mod.rs
  rpc/api/src/types.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  txpool/src/pool/queue.rs
  txpool/src/pool_client.rs
  txpool/src/tx_pool_service_impl.rs
  vm/types/src/transaction/error.rs
  vm2/vm-types/src/transaction/error.rs
Owners: @welbon, @sanlee42, @nkysg

refresh cargo.lock
  Cargo.lock
Owners: none

fix fmt
  cmd/starcoin/src/node/sync/status_cmd.rs
  cmd/tx-factory/src/main.rs
  txpool/src/pool/queue.rs
  txpool/src/pool_client.rs
Owners: @welbon, @sanlee42

fix error log
  cmd/tx-factory/src/main.rs
  rpc/server/src/module/mod.rs
Owners: @welbon, @sanlee42

add batch rpc for transaction factory
  cmd/starcoin/src/node/sync/status_cmd.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/txpool/mod.rs
  rpc/api/src/types.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  rpc/server/src/module/mod.rs
  txpool/src/tx_pool_service_impl.rs
  vm/types/src/transaction/error.rs
Owners: @welbon, @sanlee42, @nkysg

transaction info's state root is option now
  chain/api/src/lib.rs
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  executor/src/block_executor.rs
  genesis/src/lib.rs
  genesis/src/vm2.rs
  rpc/api/src/types.rs
  storage/src/tests/mod.rs
  types/src/error/mod.rs
  types/src/transaction/mod.rs
  vm2/executor/src/block_executor.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
  vm2/types/src/error/block_executor.rs
  vm2/types/src/view/transaction_info_view.rs
  vm2/vm-types/src/transaction/mod.rs
Owners: @nkysg, @sanlee42, @welbon

update data and hash for transaction info in check_types
  test-helper/data/TransactionInfo/data
  test-helper/data/TransactionInfo/hash
Owners: none

update genesis for main, proxima and halley
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

fix test_transaction_info_and_proof
  chain/tests/test_txn_info_and_proof.rs
Owners: @nkysg

fix fmt
  Cargo.lock
  rpc/api/src/chain/mod.rs
  rpc/api/src/txpool/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
Owners: @sanlee42

fix for the advice of coderabbitai
  account/api/src/service.rs
  txpool/src/tx_pool_service_impl.rs
  types/src/multi_transaction.rs
Owners: @welbon, @sanlee42, @nkysg

update chain.json
  rpc/api/generated_rpc_schema/chain.json
Owners: @sanlee42

fix fmt and rebase
  Cargo.lock
  chain/tests/test_txn_info_and_proof.rs
Owners: @nkysg

uncomment the docker_build.yml
  .github/workflows/docker_build.yml
Owners: @sanlee42, @nkysg

Transaction info's state root is option (#4703)
  Cargo.lock
  account/api/src/service.rs
  chain/api/src/lib.rs
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  cmd/tx-factory/src/main.rs
  executor/src/block_executor.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/src/lib.rs
  genesis/src/vm2.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/types.rs
  rpc/server/src/module/mod.rs
  storage/src/tests/mod.rs
  test-helper/data/TransactionInfo/data
  test-helper/data/TransactionInfo/hash
  txpool/src/tx_pool_service_impl.rs
  types/src/error/mod.rs
  types/src/multi_transaction.rs
  types/src/transaction/mod.rs
  vm/types/src/transaction/error.rs
  vm2/executor/src/block_executor.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
  vm2/types/src/error/block_executor.rs
  vm2/types/src/view/transaction_info_view.rs
  vm2/vm-types/src/transaction/error.rs
  vm2/vm-types/src/transaction/mod.rs
Owners: @welbon, @nkysg, @sanlee42

add presure code vm2
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/main.rs
  cmd/tx-factory/src/pressure_vm1.rs
  cmd/tx-factory/src/pressure_vm2.rs
  kube/manifest/starcoin-halley.yaml
Owners: @welbon, @sanlee42, @nkysg

add vm1 and vm2 pressure testing
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/main.rs
  cmd/tx-factory/src/mocker.rs
  cmd/tx-factory/src/pressure_vm1.rs
  cmd/tx-factory/src/pressure_vm2.rs
Owners: @welbon

auto fix clippy errors
  Cargo.toml
  commons/parallel-executor/src/scheduler.rs
  miner/src/lib.rs
Owners: @nkysg, @sanlee42

auto fix code formatting
  account/service/src/service.rs
  block-relayer/src/block_relayer.rs
  chain/tests/block_test_utils.rs
  cmd/miner_client/src/stratum_client.rs
  cmd/miner_client/src/stratum_client_service.rs
  cmd/starcoin/src/view.rs
  commons/parallel-executor/src/scheduler.rs
  commons/parallel-executor/src/txn_last_input_output.rs
  commons/service-registry/src/service_actor.rs
  commons/service-registry/tests/common/loop_task_service.rs
  flexidag/src/consensusdb/access.rs
  flexidag/src/consensusdb/item.rs
  flexidag/src/reachability/reachability_service.rs
  miner/src/lib.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network-rpc/src/rpc.rs
  rpc/client/src/lib.rs
  storage/src/storage.rs
  storage/src/transaction/test.rs
  storage/src/upgrade.rs
  sync/src/store/sync_absent_ancestor.rs
  test-helper/src/account.rs
  test-helper/tests/types_check.rs
  types/src/lib.rs
  vm2/service/account/src/service.rs
Owners: @welbon, @nkysg, @sanlee42

revert more changes
  chain/api/src/errors.rs
  commons/metrics/src/macros.rs
  flexidag/src/reachability/reachability_service.rs
  network-p2p/src/service.rs
  rpc/api/src/generate_schema.rs
  vm/vm-runtime/src/natives.rs
Owners: @nkysg, @sanlee42

update rpc client
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
Owners: @sanlee42

revert more changes, cont
  flexidag/src/consensusdb/access.rs
  storage/src/storage_macros.rs
  test-helper/src/account.rs
  types/uint/src/lib.rs
  vm/compiler/src/utils.rs
  vm/gas-algebra-ext/src/natives.rs
  vm/gas-algebra-ext/src/params.rs
  vm2/move-package-manager/src/lib.rs
Owners: @welbon, @nkysg

revert some unnecessary changes
  chain/open-block/src/lib.rs
  cmd/faucet/src/lib.rs
  cmd/starcoin/src/view.rs
  commons/infallible/src/nonzero.rs
  flexidag/src/consensusdb/schema.rs
Owners: @nkysg, @welbon

add more logs
  block-relayer/src/block_relayer.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
Owners: @sanlee42

1. BlockEpilogue contains a 'BlockMetadata' for deterministic hash id 2. create_block_template and execute_dag_block run block epilogue 3. parallel execution path support execute block_epilogue
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  miner/src/create_block_template/block_builder_service.rs
  vm2/chain/src/lib.rs
  vm2/rpc/api/src/transaction_view2.rs
  vm2/vm-runtime/src/lib.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-types/src/transaction/mod.rs
Owners: @nkysg, @sanlee42

remove debug println
  chain/open-block/src/vm2.rs
Owners: @nkysg

recover unintentional deleted code
  chain/open-block/src/vm2.rs
Owners: @nkysg

Upgrade to 2024 edition (#4701)
  Cargo.toml
  account/service/src/service.rs
  account/src/account_manager.rs
  block-relayer/src/block_relayer.rs
  chain/api/src/errors.rs
  chain/tests/block_test_utils.rs
  cmd/miner_client/src/cpu_solver.rs
  cmd/miner_client/src/stratum_client.rs
  cmd/miner_client/src/stratum_client_service.rs
  cmd/starcoin/src/view.rs
  cmd/tx-factory/src/vm2_txn_lib.rs
  commons/infallible/src/nonzero.rs
  commons/parallel-executor/src/txn_last_input_output.rs
  commons/service-registry/src/service_actor.rs
  commons/service-registry/tests/common/loop_task_service.rs
  config/src/helper.rs
  consensus/cryptonight-rs/src/lib.rs
  flexidag/src/consensusdb/item.rs
  network-p2p/derive/src/helper.rs
  network-p2p/src/errors.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network-rpc/src/rpc.rs
  storage/src/storage.rs
  storage/src/transaction/test.rs
  storage/src/upgrade.rs
  sync/src/store/sync_absent_ancestor.rs
  test-helper/tests/types_check.rs
  txpool/src/pool.rs
  types/src/lib.rs
  vm/types/src/transaction/error.rs
  vm/vm-runtime/src/data_cache.rs
  vm2/rpc/api/src/generate_schema.rs
  vm2/service/account/src/service.rs
Owners: @welbon, @nkysg, @sanlee42

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
