Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

[compiler-v2 framework] Shield some starcoin-framework logic and barely run a correct result
  vm/framework/src/natives/aggregator_natives/aggregator_v2.rs
  vm/framework/src/natives/aggregator_natives/context.rs
  vm/framework/src/natives/mod.rs
  vm/framework/starcoin-framework/doc/account.md
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm/framework/starcoin-framework/sources/account.move
  vm/framework/starcoin-framework/sources/aggregator/aggregator_factory.move
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm/starcoin-native-interface/src/builder.rs
  vm/starcoin-native-interface/src/context.rs
  vm/types/src/account_config/constants/chain.rs
  vm/types/src/token/stc.rs
  vm/types/src/utility_coin.rs
  vm/vm-runtime/src/move_vm_ext/resolver.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
  vm/vm-runtime/src/natives.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[compiler-v2 framework] fixed cargo fmt
  genesis/src/main.rs
  vm/framework/src/natives/aggregator_natives/aggregator_v2.rs
  vm/framework/src/natives/aggregator_natives/context.rs
  vm/framework/src/natives/mod.rs
  vm/starcoin-native-interface/src/context.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/transaction/package.rs
  vm/vm-runtime/src/move_vm_ext/resolver.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
  vm/vm-runtime/src/move_vm_ext/warm_vm_cache.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[compiler-v2 framework] fixed build error
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

remove unused crate starcoin-frameworks
  Cargo.lock
  Cargo.toml
  vm/frameworks/Cargo.toml
  vm/frameworks/src/lib.rs
  vm/frameworks/src/natives/account.rs
  vm/frameworks/src/natives/code.rs
  vm/frameworks/src/natives/ecrecover.rs
  vm/frameworks/src/natives/from_bcs.rs
  vm/frameworks/src/natives/hash.rs
  vm/frameworks/src/natives/mod.rs
  vm/frameworks/src/natives/secp256k1.rs
  vm/frameworks/src/natives/signature.rs
  vm/frameworks/src/natives/token.rs
  vm/frameworks/src/natives/u256.rs
  vm/starcoin-gas-meter/Cargo.toml
  vm/vm-runtime/Cargo.toml
Owners: @nkysg

update move dependencies
  Cargo.lock
  Cargo.toml
Owners: none

update starcoin-natives
  vm/vm-runtime/src/natives.rs
Owners: @nkysg

Purge unused crate (#4257)
  Cargo.lock
  Cargo.toml
  vm/frameworks/Cargo.toml
  vm/frameworks/src/lib.rs
  vm/frameworks/src/natives/account.rs
  vm/frameworks/src/natives/code.rs
  vm/frameworks/src/natives/ecrecover.rs
  vm/frameworks/src/natives/from_bcs.rs
  vm/frameworks/src/natives/hash.rs
  vm/frameworks/src/natives/mod.rs
  vm/frameworks/src/natives/secp256k1.rs
  vm/frameworks/src/natives/signature.rs
  vm/frameworks/src/natives/token.rs
  vm/frameworks/src/natives/u256.rs
  vm/starcoin-gas-meter/Cargo.toml
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/natives.rs
Owners: @nkysg

[compiler-v2 framework] fixed native context remove error
  vm/vm-runtime/src/move_vm_ext/vm.rs
Owners: @nkysg

add encode_genesis_changeset
  Cargo.lock
  genesis/Cargo.toml
  genesis/src/lib.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
Owners: @nkysg

add GenesisMoveVM
  Cargo.lock
  genesis/Cargo.toml
  genesis/src/lib.rs
  types/src/lib.rs
  types/src/vm/config.rs
  types/src/vm/mod.rs
  vm/vm-runtime/src/move_vm_ext/mod.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
Owners: @nkysg, @welbon

fix genesis entry function
  genesis/src/lib.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
Owners: @nkysg

add GenesisStateView
  genesis/src/genesis_context.rs
Owners: @nkysg

fix genesis session native extensions
  genesis/src/lib.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
Owners: @nkysg

no store the sync dag block
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add rm sync in kube file
  kube/manifest/starcoin-vega.yaml
Owners: @sanlee42, @nkysg

[compiler-v2 framework] 1. fixed the event data structure. 2. fixed the stc_genesis::initialize
  account/service/src/account_events.rs
  cmd/indexer/src/lib.rs
  config/src/genesis_config.rs
  dataformat-generator/build.rs
  etc/starcoin_types.yml
  genesis/Cargo.toml
  types/src/account.rs
  vm/e2e-tests/src/account.rs
  vm/framework/move-stdlib/doc/features.md
  vm/framework/move-stdlib/sources/configs/features.move
  vm/framework/src/natives/aggregator_natives/aggregator_factory.rs
  vm/framework/src/natives/event.rs
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/sources/coin.move
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/types/src/event.rs
  vm/types/src/on_chain_config/mod.rs
  vm/types/src/proptest_types.rs
Owners: @welbon, @nkysg

[compiler-v2 framework] fixed epoch name
  vm/types/src/on_chain_resource/epoch.rs
Owners: @nkysg

Bob/compiler v2 framework fixed the stc_genesis::initialize (#4260)
  account/service/src/account_events.rs
  cmd/indexer/src/lib.rs
  config/src/genesis_config.rs
  dataformat-generator/build.rs
  etc/starcoin_types.yml
  genesis/Cargo.toml
  types/src/account.rs
  vm/e2e-tests/src/account.rs
  vm/framework/move-stdlib/doc/features.md
  vm/framework/move-stdlib/sources/configs/features.move
  vm/framework/src/natives/aggregator_natives/aggregator_factory.rs
  vm/framework/src/natives/event.rs
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/sources/coin.move
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/types/src/event.rs
  vm/types/src/on_chain_config/mod.rs
  vm/types/src/on_chain_resource/epoch.rs
  vm/types/src/proptest_types.rs
Owners: @welbon, @nkysg

fix move-package-manager errors
  Cargo.lock
  Cargo.toml
  vm/move-package-manager/Cargo.toml
  vm/move-package-manager/src/deployment.rs
  vm/move-package-manager/src/lib.rs
  vm/move-package-manager/src/main.rs
  vm/move-package-manager/src/release.rs
Owners: @nkysg

fix compiler errors
  Cargo.lock
  Cargo.toml
  dataformat-generator/build.rs
  genesis/src/lib.rs
  scripts/check_commit.sh
  types/src/account.rs
  vm/framework/src/natives/event.rs
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/gas-schedule/src/gas_schedule/move_stdlib.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/types/src/account_config/resources/balance.rs
  vm/types/src/event.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/transaction/package.rs
  vm/vm-runtime/src/access_path_cache.rs
  vm/vm-runtime/src/move_vm_ext/resolver.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
  vm/vm-runtime/src/move_vm_ext/write_op_converter.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @welbon

fix compiler warnings
  .github/workflows/build_test.yml
  account/service/src/account_events.rs
  network-rpc/api/src/remote_chain_state.rs
  types/src/account.rs
  types/src/delayed_fields.rs
  types/src/error/mod.rs
  vm/gas-schedule/src/gas_schedule/starcoin_framework.rs
  vm/resource-viewer/src/resolver.rs
  vm/types/src/on_chain_config/mod.rs
  vm/types/src/proptest_types.rs
  vm/types/src/state_store/state_key/mod.rs
  vm/types/src/state_store/state_key/registry.rs
  vm/types/src/state_view.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/verifier/transaction_arg_validation.rs
  vm/vm-status-translator/src/lib.rs
Owners: @sanlee42, @nkysg, @welbon

fix StateKeyInner JsonSchema
  etc/starcoin_types.yml
  vm/types/src/state_store/state_key/inner.rs
Owners: @nkysg

comment CI build and test
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

remove author_auth_key from BlockHeader
  chain/open-block/src/lib.rs
  chain/tests/block_test_utils.rs
  rpc/api/src/types.rs
  types/src/block/legacy.rs
  types/src/block/mod.rs
  vm/types/src/block_metadata/legacy.rs
  vm/types/src/block_metadata/mod.rs
  vm/types/src/proptest_types.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42, @welbon

remove a comment
  vm/types/src/transaction/authenticator.rs
Owners: @nkysg

add vm config to starcoin-types
  types/src/lib.rs
  types/src/vm/config.rs
  types/src/vm/mod.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
Owners: @nkysg, @welbon

use LATEST_GAS_FEATURE_VERSION
  vm/vm-runtime/src/move_vm_ext/vm.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[compiler-v2 framework] fixed stc_version and stc_language_version resource into genesis intialize
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/on_chain_config.md
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_language_version.md
  vm/framework/starcoin-framework/sources/stc/on_chain_config.move
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_language_version.move
  vm/types/src/on_chain_config/move_lang_version.rs
  vm/types/src/on_chain_config/version.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[compiler-v2 framework] remove debug info
  vm/framework/starcoin-framework/sources/stc/on_chain_config.move
Owners: @nkysg

[compiler-v2 framework] Revert the epilogue codes
  vm/framework/starcoin-framework/doc/on_chain_config.md
  vm/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
Owners: @nkysg

merge RemoteStorage to StorageAdapter
  vm/e2e-tests/src/executor.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

use ghostdata to verify the dag block
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/src/prune/pruning_point_manager.rs
Owners: none

fix cargo clippy warnings
  .github/workflows/build_test.yml
  Cargo.lock
  cmd/starcoin/src/dev/sign_txn_helper.rs
  commons/forkable-jellyfish-merkle/Cargo.toml
  commons/forkable-jellyfish-merkle/benches/bench_merkle_tree.rs
  commons/forkable-jellyfish-merkle/src/jellyfish_merkle_test.rs
  network-rpc/api/src/remote_chain_state.rs
  rpc/api/src/types.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader.rs
  rpc/server/src/module/state_rpc.rs
  state/statedb/src/lib.rs
  vm/starcoin-aggregator/src/delta_change_set.rs
  vm/starcoin-aggregator/src/delta_math.rs
  vm/starcoin-aggregator/src/tests/identifier_mappings.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/starcoin-transactional-test-harness/src/remote_state.rs
  vm/transaction-builder-generator/tests/generation.rs
  vm/types/src/state_store/state_key/prefix.rs
  vm/types/src/state_store/state_key/tests.rs
Owners: @sanlee42, @nkysg, @welbon

[compiler-v2 framework] Fixed load config for on_chain_config
  vm/types/src/on_chain_config/mod.rs
  vm/types/src/on_chain_config/version.rs
Owners: @nkysg

fix some warnings
  types/src/block/legacy.rs
  types/src/block/mod.rs
  vm/types/src/block_metadata/legacy.rs
  vm/types/src/block_metadata/mod.rs
  vm/types/src/on_chain_config/version.rs
  vm/types/src/proptest_types.rs
Owners: @nkysg, @welbon

use ghodata if the verify is not correct
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
Owners: none

fmt codes
  vm/types/src/on_chain_config/mod.rs
Owners: @nkysg

fix cargo clippy warnings (#4262)
  .github/workflows/build_test.yml
  Cargo.lock
  cmd/starcoin/src/dev/sign_txn_helper.rs
  commons/forkable-jellyfish-merkle/Cargo.toml
  commons/forkable-jellyfish-merkle/benches/bench_merkle_tree.rs
  commons/forkable-jellyfish-merkle/src/jellyfish_merkle_test.rs
  network-rpc/api/src/remote_chain_state.rs
  rpc/api/src/types.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader.rs
  rpc/server/src/module/state_rpc.rs
  state/statedb/src/lib.rs
  vm/starcoin-aggregator/src/delta_change_set.rs
  vm/starcoin-aggregator/src/delta_math.rs
  vm/starcoin-aggregator/src/tests/identifier_mappings.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/starcoin-transactional-test-harness/src/remote_state.rs
  vm/transaction-builder-generator/tests/generation.rs
  vm/types/src/state_store/state_key/prefix.rs
  vm/types/src/state_store/state_key/tests.rs
Owners: @sanlee42, @nkysg, @welbon

[compiler-v2 framework] Solved the problem of parameter call failure caused by the Block module not being synchronized to the branch dag_master version
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/starcoin-framework/doc/stc_block.md
  vm/framework/starcoin-framework/sources/stc/stc_block.move
  vm/framework/starcoin-framework/sources/stc/stc_block.spec.move
Owners: @nkysg

[compiler-v2 framework] Fixed load config for on_chain_config
  vm/types/src/on_chain_config/mod.rs
  vm/types/src/on_chain_config/version.rs
Owners: @nkysg
