Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

test(chain): stabilize get_current_block_color_merge_blue merge parent selection
  chain/service/src/chain_service.rs
Owners: @nkysg

chore(vm2): remove aptos naming from comments
  vm2/vm-runtime/src/data_cache.rs
Owners: none

use layout to decide the flow to serde the data
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: none

set codegen-units = 16
  Cargo.toml
Owners: none

feat(vm2): adopt aptos-style ValueSerDeContext for delayed-field serde
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: none

add nested checking
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: none

fix comment from coderabbitai
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: none

refactor(vm2): align serde tests and thread max nest depth
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: none

fix test case rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
Owners: @sanlee42

1, add check depth 2, remove the type delayed field id
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: none

update toml to refer to the new starcoin-move version
  Cargo.lock
  Cargo.toml
  commons/mvhashmap/Cargo.toml
  commons/parallel-executor/Cargo.toml
  vm2/abi/decoder/Cargo.toml
  vm2/abi/resolver/Cargo.toml
  vm2/abi/types/Cargo.toml
  vm2/aggregator/Cargo.toml
  vm2/compiler/Cargo.toml
  vm2/framework/Cargo.toml
  vm2/framework/cached-packages/Cargo.toml
  vm2/framework/gas-algebra/Cargo.toml
  vm2/framework/gas-meter/Cargo.toml
  vm2/framework/gas-schedule/Cargo.toml
  vm2/framework/move-stdlib/Cargo.toml
  vm2/framework/native-interface/Cargo.toml
  vm2/framework/table-natives/Cargo.toml
  vm2/move-package-manager/Cargo.toml
  vm2/package-builder/Cargo.toml
  vm2/resource-viewer/Cargo.toml
  vm2/sdk-builder/Cargo.toml
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/types/Cargo.toml
  vm2/vm-runtime-types/Cargo.toml
  vm2/vm-runtime/Cargo.toml
  vm2/vm-status-translator/Cargo.toml
  vm2/vm-types/Cargo.toml
Owners: @nkysg

fix bench bug
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

move bench to the starconin sync
  Cargo.lock
  Cargo.toml
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
  test-helper/src/lib.rs
  test-helper/src/node.rs
Owners: @sanlee42

set max transaction count per sender
  config/src/txpool_config.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

use 2dfc8d3315a632f8bbdec0dddafc78d43440fdbc as vm2 move
  Cargo.toml
  commons/mvhashmap/Cargo.toml
  commons/parallel-executor/Cargo.toml
  vm2/abi/decoder/Cargo.toml
  vm2/abi/resolver/Cargo.toml
  vm2/abi/types/Cargo.toml
  vm2/aggregator/Cargo.toml
  vm2/compiler/Cargo.toml
  vm2/framework/Cargo.toml
  vm2/framework/cached-packages/Cargo.toml
  vm2/framework/gas-algebra/Cargo.toml
  vm2/framework/gas-meter/Cargo.toml
  vm2/framework/gas-schedule/Cargo.toml
  vm2/framework/move-stdlib/Cargo.toml
  vm2/framework/native-interface/Cargo.toml
  vm2/framework/table-natives/Cargo.toml
  vm2/move-package-manager/Cargo.toml
  vm2/package-builder/Cargo.toml
  vm2/resource-viewer/Cargo.toml
  vm2/sdk-builder/Cargo.toml
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/types/Cargo.toml
  vm2/vm-runtime-types/Cargo.toml
  vm2/vm-runtime/Cargo.toml
  vm2/vm-status-translator/Cargo.toml
  vm2/vm-types/Cargo.toml
Owners: @nkysg

fix compile error
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: none

fix fmt
  Cargo.toml
  cmd/miner_client/src/cpu_solver.rs
  commons/utils/src/mpsc.rs
  config/src/txpool_config.rs
  miner/tests/miner_test.rs
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
  sync/src/tasks/tests.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
  test-helper/src/node.rs
  txpool/src/pool/listener/tests.rs
  vm2/vm-runtime/src/data_cache.rs
Owners: @welbon, @nkysg, @sanlee42

fix compile error
  vm2/vm-runtime/tests/delayed_field_exchange_baseline.rs
Owners: none

fix fmt
  simnet/src/lib.rs
Owners: none

fix fmt
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

test: avoid race in chain_get_block_txn_infos_in_seq
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
Owners: @sanlee42

fix cmd multisig pre-run to avoid unstable dry_run_raw2 path
  cmd/starcoin/src/account/sign_multisig_txn_cmd.rs
Owners: @welbon

fix fmt
  vm2/vm-runtime/tests/delayed_field_exchange_baseline.rs
Owners: none

bench: normalize batch size and guard zero-batch paths
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

test: fix clippy single_match warning
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
Owners: @sanlee42

vm2: bump move rev after removing serde replacement switch
  Cargo.lock
  Cargo.toml
  commons/mvhashmap/Cargo.toml
  commons/parallel-executor/Cargo.toml
  vm2/abi/decoder/Cargo.toml
  vm2/abi/resolver/Cargo.toml
  vm2/abi/types/Cargo.toml
  vm2/aggregator/Cargo.toml
  vm2/compiler/Cargo.toml
  vm2/framework/Cargo.toml
  vm2/framework/cached-packages/Cargo.toml
  vm2/framework/gas-algebra/Cargo.toml
  vm2/framework/gas-meter/Cargo.toml
  vm2/framework/gas-schedule/Cargo.toml
  vm2/framework/move-stdlib/Cargo.toml
  vm2/framework/native-interface/Cargo.toml
  vm2/framework/table-natives/Cargo.toml
  vm2/move-package-manager/Cargo.toml
  vm2/package-builder/Cargo.toml
  vm2/resource-viewer/Cargo.toml
  vm2/sdk-builder/Cargo.toml
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/types/Cargo.toml
  vm2/vm-runtime-types/Cargo.toml
  vm2/vm-runtime/Cargo.toml
  vm2/vm-status-translator/Cargo.toml
  vm2/vm-types/Cargo.toml
Owners: @nkysg

add test case for delayed field create and add
  commons/parallel-executor/src/executor.rs
Owners: @nkysg

chore(network): upgrade libp2p and align transport callers
  Cargo.toml
  docs/upgrade-libp2p-dep-vs-dual-verse-dag-analysis.md
  network-p2p/src/behaviour.rs
  network-p2p/src/config.rs
  network-p2p/src/discovery.rs
  network-p2p/src/lib.rs
  network-p2p/src/peer_info.rs
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/event.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/protocol/generic_proto/tests.rs
  network-p2p/src/protocol/generic_proto/upgrade.rs
  network-p2p/src/protocol/generic_proto/upgrade/collec.rs
  network-p2p/src/protocol/generic_proto/upgrade/notifications.rs
  network-p2p/src/request_responses.rs
  network-p2p/src/service.rs
  network-p2p/src/transport.rs
  network-p2p/types/src/lib.rs
  network-p2p/types/src/multi_address_with_peer_id.rs
  network-p2p/types/src/network_state.rs
  network-p2p/types/src/peer_id.rs
  network/src/worker.rs
  state/statedb-v2/Cargo.toml
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/tests.rs
  sync/tests/sync_watchdog_test.rs
  sync/tests/verified_rpc_client_test.rs
  vm2/account/Cargo.toml
  vm2/account/api/Cargo.toml
  vm2/account/provider/Cargo.toml
  vm2/compiler/Cargo.toml
  vm2/dev/Cargo.toml
  vm2/framework/Cargo.toml
  vm2/types/Cargo.toml
  vm2/vm-runtime/Cargo.toml
  vm2/vm-types/Cargo.toml
Owners: @sanlee42, @welbon, @nkysg

fix(rpc): restore tcp client and config compat
  Cargo.lock
  commons/rpc/tcp/Cargo.toml
  commons/rpc/tcp/src/client.rs
  commons/rpc/tcp/src/lib.rs
  config/example/barnard/config.toml
  config/example/main/config.toml
  config/example/proxima/config.toml
  config/src/rpc_config.rs
  rpc/client/Cargo.toml
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
  rpc/client/src/rpc_clients.rs
  rpc/client/tests/client_server_test.rs
  test-helper/src/lib.rs
  test-helper/src/node.rs
Owners: @nkysg, @sanlee42

fix(rpc): restore raw tcp listener
  Cargo.lock
  Cargo.toml
  commons/rpc/tcp/Cargo.toml
  commons/rpc/tcp/src/lib.rs
  commons/rpc/tcp/src/server/connection.rs
  commons/rpc/tcp/src/server/mod.rs
  commons/rpc/tcp/src/server/request.rs
  commons/rpc/tcp/src/server/rpc_service.rs
  docs/rpc-tcp-listener-restoration.md
  rpc/server/Cargo.toml
  rpc/server/src/service.rs
  stratum/Cargo.toml
  stratum/src/codec.rs
Owners: @nkysg, @sanlee42

fix(network): restore peer ban semantics
  docs/network-peer-ban-unban-behavior-change.md
  network-p2p/peerset/src/lib.rs
  network-p2p/peerset/src/peersstate.rs
  network-p2p/src/service.rs
Owners: @sanlee42

update cargo.lock
  Cargo.lock
Owners: none

fix: reapply rebase follow-ups without force push
  cmd/miner_client/src/cpu_solver.rs
  miner/tests/miner_test.rs
  network-p2p/src/service.rs
  sync/src/tasks/tests.rs
  test-helper/src/lib.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: @welbon, @sanlee42

refactor(rpc): unify pubsub transport gating
  rpc/client/src/lib.rs
Owners: @sanlee42

fix(ci): trim plotters features for execute bench
  Cargo.lock
  sync/starcoin-execute-bench/Cargo.toml
Owners: @sanlee42

fix: resolve clippy warnings and fmt issues for CI compliance
  .github/workflows/tps_benchmark.yml
  chain/src/chain.rs
  commons/pipeline-timing/src/lib.rs
  scripts/bench_compare.py
  sync/starcoin-execute-bench/src/agent_loop.rs
  sync/starcoin-execute-bench/src/analyzer.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
  txpool/src/pool_client.rs
Owners: @sanlee42, @nkysg, @welbon

fix InPlaceDelayedFieldChange crash in parallel executing
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: none

add delayed-only from-state materialization regression test
  vm2/vm-runtime/src/parallel_executor/tests/tests_delayed_from_state.rs
Owners: none

fix(bench): correct test data in test_bottleneck_detection
  sync/starcoin-execute-bench/src/analyzer.rs
Owners: @sanlee42

fix: address CodeRabbit review comments
  .github/workflows/tps_benchmark.yml
  sync/starcoin-execute-bench/README.md
  sync/starcoin-execute-bench/src/agent_loop.rs
Owners: @sanlee42, @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
