Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

[migration] add construction temp dir for db storage of test
  cmd/resource-code-exporter/src/import.rs
Owners: @welbon

Update cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/export.rs
Owners: @welbon

[migration] export whitelist: fixed cargo fmt
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/import.rs
Owners: @welbon

add equa in merge depth checking
  chain/src/chain.rs
  kube/manifest/starcoin-halley.yaml
Owners: @nkysg, @sanlee42

consume the new header message
  Cargo.lock
  miner/Cargo.toml
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

add new header service to receive the new header messsage and consume the previous messsage and send the latest new header message to block builder service to update the chain object
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/mod.rs
  miner/src/lib.rs
  miner/tests/miner_test.rs
  node/src/node.rs
  test-helper/src/txpool.rs
Owners: @sanlee42, @nkysg

use near sync where the abs of target numbe - chain header number is less than 240
  miner/src/generate_block_event_pacemaker.rs
  sync/src/block_connector/block_connector_service.rs
  types/src/sync_status.rs
Owners: @sanlee42, @nkysg, @welbon

force to mint if the dag block comes from peers
  kube/manifest/starcoin-halley.yaml
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42, @nkysg

1, remove the chain type; 2, no force the minting process when new dag block is coming
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  miner/src/generate_block_event_pacemaker.rs
  node/src/lib.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/tests/common_test_sync_libs.rs
Owners: @nkysg, @sanlee42

1, remove the flag in dispatch_task 2, use read lock outside match and drop it explicitly
  chain/api/src/range_locate.rs
  miner/src/lib.rs
Owners: @nkysg, @sanlee42

switch main in build block service
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/mod.rs
Owners: @sanlee42, @nkysg

fix panic
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

make creating block and executing block parallized
  miner/Cargo.toml
  miner/src/create_block_template/mod.rs
  miner/src/lib.rs
  miner/tests/miner_test.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  types/src/sync_status.rs
Owners: @sanlee42, @nkysg, @welbon

save code temporarily
  flexidag/src/blockdag.rs
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/new_header_service.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/sync.rs
  types/src/system_events.rs
Owners: @sanlee42, @nkysg, @welbon

add new header serivice
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

remove the log
  chain/src/chain.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

the new process header will be triggered 1s internally
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/mod.rs
Owners: @sanlee42, @nkysg

add info log
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

remove new process event and fetch the latest header before creating the new hearder
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

renew the header in block builder service asynchronically
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/mod.rs
Owners: @sanlee42, @nkysg

no mining until synced
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

receive the block header before creating new block
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42, @nkysg

reverse flexidag/src/blockdag.rs
  flexidag/src/blockdag.rs
Owners: none

monitor the new dag and peer new dag instead of new head message to get the latest pruning point
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/new_header_service.rs
  sync/src/sync.rs
Owners: @sanlee42

sort the tips by the work type and blue score and fetch the previous 10 tip stored in the dag state
  flexidag/src/blockdag.rs
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

[migration] add changed code for export and import
  Cargo.lock
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/import.rs
  cmd/resource-code-exporter/src/main.rs
Owners: @welbon

[migration] fixed test_import_from_bcs
  Cargo.lock
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/import.rs
Owners: @welbon

[migration] Modify the import logic and its unit test
  cmd/resource-code-exporter/src/import.rs
Owners: @welbon

[migration] Modify the import logic and its unit test
  cmd/resource-code-exporter/src/import.rs
Owners: @welbon

[migration] add 0x1 balance import check
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/import.rs
Owners: @welbon

1, refactor to avoid duplicate codes 2, revise the info message
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

Parallize minting (#4556)
  Cargo.lock
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/range_locate.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  kube/manifest/starcoin-halley.yaml
  miner/Cargo.toml
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/new_header_service.rs
  miner/src/generate_block_event_pacemaker.rs
  miner/src/lib.rs
  miner/tests/miner_test.rs
  node/src/lib.rs
  node/src/node.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/tests/common_test_sync_libs.rs
  test-helper/src/txpool.rs
  types/src/sync_status.rs
  types/src/system_events.rs
Owners: @nkysg, @sanlee42, @welbon

[migration] export project 1. reformat test cases, 2. add test_with_miner_for_import_check_uncle_block for import
  Cargo.lock
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/import.rs
  cmd/resource-code-exporter/src/lib.rs
  cmd/resource-code-exporter/src/main.rs
  cmd/resource-code-exporter/tests/import_test.rs
Owners: @welbon

[migration] test_with_miner_for_import_check_uncle_block Complete migration and check process
  Cargo.lock
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/import.rs
  cmd/resource-code-exporter/tests/import_test.rs
  config/src/upgrade_config.rs
Owners: @welbon

[migration] fixed cargo fmt
  cmd/resource-code-exporter/tests/import_test.rs
Owners: @welbon

[migration] fixed log spell error
  cmd/resource-code-exporter/tests/import_test.rs
Owners: @welbon

[migration] add mainnet data test
  Cargo.lock
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/import.rs
  cmd/resource-code-exporter/tests/import_test.rs
Owners: @welbon

[migration] reformat export test code
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/tests/export_test.rs
Owners: @welbon

[migration] Verify the status data of the lower block height
  cmd/resource-code-exporter/test-data/64925.bcs
  cmd/resource-code-exporter/tests/import_test.rs
Owners: @welbon

[migration] add module dependency state data import check
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/tests/import_test.rs
Owners: @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
