Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

add jacktest log
  flexidag/src/blockdag.rs
Owners: none

fix compile error
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/reachability/inquirer.rs
  flexidag/src/reachability/reindex.rs
  flexidag/src/reachability/tree.rs
Owners: @nkysg

cancel the worker no minting if the sync is cancelled
  flexidag/src/blockdag.rs
  sync/src/parallel/sender.rs
  sync/src/parallel/tests.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  types/src/sync_status.rs
Owners: @sanlee42, @nkysg, @welbon

add test for sync parameters
  sync/src/parallel/tests.rs
Owners: @sanlee42

fix compile error
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/reachability/inquirer.rs
  flexidag/src/reachability/reindex.rs
  flexidag/src/reachability/tree.rs
Owners: @nkysg

fix clippy
  sync/src/parallel/sender.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/tests_dag.rs
Owners: @sanlee42

fix advice from coderabbitai
  sync/src/parallel/sender.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/tests.rs
Owners: @sanlee42

fix the advice for the ai
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
  sync/src/parallel/executor.rs
  sync/src/verified_rpc_client.rs
Owners: @sanlee42

remove the used code
  sync/src/verified_rpc_client.rs
Owners: @sanlee42

add get the block ids dynamically
  Cargo.lock
  sync/Cargo.toml
  sync/src/verified_rpc_client.rs
Owners: @sanlee42

add log to see the ghost data calculation
  chain/src/verifier/mod.rs
Owners: @nkysg

remove the block which exists in local db when fetching the block via rpc
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

no execution again
  sync/src/block_connector/execute_service.rs
Owners: @sanlee42

fix compile error
  sync/src/block_connector/execute_service.rs
Owners: @sanlee42

fix Avoid aborting spawn_blocking on timeout without cancel-safe exec
  sync/src/parallel/executor.rs
Owners: @sanlee42

fix Guard against zero-valued watchdog/timeout settings.
  config/src/sync_config.rs
Owners: none

fix Avoid aborting spawn_blocking on timeout without cancel-safe exec
  chain/src/verifier/mod.rs
  sync/src/parallel/sender.rs
  sync/src/parallel/tests.rs
Owners: @nkysg, @sanlee42

Sync optimization (#4794)
  Cargo.lock
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/src/sync_config.rs
  flexidag/src/blockdag.rs
  flexidag/src/reachability/inquirer.rs
  flexidag/src/reachability/reindex.rs
  flexidag/src/reachability/tree.rs
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
  sync/Cargo.toml
  sync/src/block_connector/execute_service.rs
  sync/src/lib.rs
  sync/src/parallel/executor.rs
  sync/src/parallel/mod.rs
  sync/src/parallel/sender.rs
  sync/src/parallel/tests.rs
  sync/src/sync.rs
  sync/src/sync_watchdog.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/src/verified_rpc_client.rs
  sync/tests/sync_watchdog_test.rs
  sync/tests/verified_rpc_client_test.rs
  types/src/sync_status.rs
Owners: @nkysg, @sanlee42, @welbon

if a block from peer and starcoin fails to execute, the sync process will invoke
  sync/src/block_connector/execute_service.rs
Owners: @sanlee42

use notify instead broadcast
  sync/src/block_connector/execute_service.rs
Owners: @sanlee42

If a block from peers and starcoin fails to execute, the sync process will be invoked (#4814)
  sync/src/block_connector/execute_service.rs
Owners: @sanlee42

chore: reduce dependabot PR volume with weekly grouped updates
  .github/dependabot.yml
Owners: @sanlee42, @nkysg

chore: reduce dependabot PR volume with weekly grouped updates (#4813)
  .github/dependabot.yml
Owners: @sanlee42, @nkysg

fix(vm2): avoid delayed-field exchange segfault on nested native u64 layout
  Cargo.toml
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: none

fix vm2 crash for deserializing
  Cargo.lock
  Cargo.toml
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/tests/data_cache_manual_exchange.rs
Owners: none

fix compile error
  Cargo.lock
  benchmarks/Cargo.toml
  benchmarks/src/chain.rs
  benchmarks/src/storage.rs
Owners: none

Stratum: add strict disconnect policy, per-conn rate limit, and worker cleanup
  Cargo.lock
  cmd/miner_client/Cargo.toml
  cmd/miner_client/tests/stratum_compat.rs
  config/src/lib.rs
  config/src/stratum_config.rs
  stratum/Cargo.toml
  stratum/src/codec.rs
  stratum/src/diff_manager.rs
  stratum/src/rpc.rs
  stratum/src/service.rs
  stratum/src/stratum.rs
  stratum/tests/stratum_mining_protocol.rs
Owners: @welbon, @sanlee42

config/node: remove in-process stratum config surface
  cmd/stratumd/src/lib.rs
  cmd/stratumd/src/main.rs
  cmd/stratumd/src/pplns_store.rs
  config/example/barnard/config.toml
  config/example/main/config.toml
  config/example/proxima/config.toml
  config/src/lib.rs
  config/src/stratum_config.rs
  config/src/tests.rs
  node/src/node.rs
Owners: @welbon, @nkysg

stratumd: refactor vardiff and fix share difficulty consistency
  Cargo.lock
  Cargo.toml
  cmd/miner_client/Cargo.toml
  cmd/miner_client/src/lib.rs
  cmd/miner_client/src/main.rs
  cmd/miner_client/src/stratum_client.rs
  cmd/miner_client/src/stratum_client_service.rs
  cmd/miner_client/src/stratum_compat.rs
  cmd/miner_client/tests/stratum_compat.rs
  cmd/stratumd/src/diff_manager.rs
  cmd/stratumd/src/gateway.rs
  cmd/stratumd/src/lib.rs
  cmd/stratumd/src/main.rs
  cmd/stratumd/src/server.rs
  cmd/stratumd/src/stratum_rpc.rs
  cmd/stratumd/src/verify_settlement.rs
  cmd/stratumd/tests/stratum_protocol.rs
Owners: @welbon

refactor(stratum): decouple rpc models from actor service layer
  Cargo.lock
  cmd/miner_client/src/stratum_client.rs
  cmd/miner_client/src/stratum_client_service.rs
  cmd/stratumd/Cargo.toml
  cmd/stratumd/src/stratum_rpc.rs
Owners: @welbon

refactor(stratumd): decouple workspace and unify node rpc boundary
  Cargo.toml
  cmd/stratumd/Cargo.lock
  cmd/stratumd/Cargo.toml
  cmd/stratumd/src/gateway.rs
  cmd/stratumd/src/main.rs
  cmd/stratumd/src/node_rpc.rs
  cmd/stratumd/src/pplns.rs
  cmd/stratumd/src/verify_settlement.rs
Owners: @welbon

stratum: harden share handling and vardiff decay
  cmd/miner_client/src/stratum_client_service.rs
  config/src/stratum_config.rs
  stratum/src/diff_manager.rs
  stratum/src/rpc.rs
  stratum/src/service.rs
  stratum/src/stratum.rs
Owners: @welbon, @sanlee42

feat(stratum): add in-process PPLNS pipeline backed by PostgreSQL
  Cargo.lock
  Cargo.toml
  config/src/lib.rs
  config/src/stratum_config.rs
  flake.nix
  node/src/node.rs
  stratum/Cargo.toml
  stratum/sql/pplns.postgresql.sql
  stratum/src/lib.rs
  stratum/src/pplns.rs
  stratum/src/pplns_store.rs
  stratum/src/stratum.rs
Owners: @nkysg, @sanlee42

stratum: harden protocol path, stabilize job handling, and expand coverage
  cmd/miner_client/src/stratum_client_service.rs
  config/src/stratum_config.rs
  stratum/src/codec.rs
  stratum/src/diff_manager.rs
  stratum/src/service.rs
  stratum/src/stratum.rs
  stratum/stratum_mining_protocol.md
  stratum/tests/stratum_mining_protocol.rs
Owners: @welbon, @sanlee42

refactor(stratumd): split stratum rpc, node rpc and pplns modules
  cmd/miner_client/src/main.rs
  cmd/miner_client/src/stratum_client.rs
  cmd/miner_client/src/stratum_client_service.rs
  cmd/miner_client/tests/stratum_compat.rs
  cmd/stratumd/src/lib.rs
  cmd/stratumd/src/main.rs
  cmd/stratumd/src/node_rpc.rs
  cmd/stratumd/src/pplns.rs
  cmd/stratumd/src/stratum_rpc.rs
  cmd/stratumd/tests/stratum_protocol.rs
Owners: @welbon

refactor(stratum): move stratum implementation under cmd/stratumd
  Cargo.lock
  Cargo.toml
  cmd/miner_client/Cargo.toml
  cmd/miner_client/src/main.rs
  cmd/miner_client/src/stratum_client.rs
  cmd/miner_client/src/stratum_client_service.rs
  cmd/miner_client/tests/stratum_compat.rs
  cmd/stratumd/Cargo.toml
  cmd/stratumd/sql/pplns.postgresql.sql
  cmd/stratumd/src/codec.rs
  cmd/stratumd/src/diff_manager.rs
  cmd/stratumd/src/lib.rs
  cmd/stratumd/src/main.rs
  cmd/stratumd/src/pplns_store.rs
  cmd/stratumd/src/rpc.rs
  cmd/stratumd/stratum_mining_protocol.md
  cmd/stratumd/tests/stratum_protocol.rs
  code_layout.md
  config/src/stratum_config.rs
  node/Cargo.toml
  node/src/node.rs
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
  simnet/src/lib.rs
  stratum/src/pplns.rs
  stratum/src/service.rs
  stratum/src/stratum.rs
  stratum/tests/stratum_mining_protocol.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @welbon, @nkysg, @sanlee42

Move startum out of repo
  Cargo.lock
  cmd/stratumd/Cargo.lock
  cmd/stratumd/Cargo.toml
  cmd/stratumd/sql/pplns.postgresql.sql
  cmd/stratumd/src/codec.rs
  cmd/stratumd/src/diff_manager.rs
  cmd/stratumd/src/gateway.rs
  cmd/stratumd/src/lib.rs
  cmd/stratumd/src/main.rs
  cmd/stratumd/src/node_rpc.rs
  cmd/stratumd/src/pplns.rs
  cmd/stratumd/src/pplns_store.rs
  cmd/stratumd/src/server.rs
  cmd/stratumd/src/stratum_rpc.rs
  cmd/stratumd/src/verify_settlement.rs
  cmd/stratumd/stratum_mining_protocol.md
  cmd/stratumd/tests/stratum_protocol.rs
  flake.nix
Owners: @welbon

use debug to dump the data
  Cargo.lock
  Cargo.toml
  vm2/vm-runtime/src/data_cache.rs
Owners: none

fix test cases
  miner/tests/miner_test.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/tests/data_cache_manual_exchange.rs
Owners: @sanlee42

fixed CI cargo env install
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg
