Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

upgrade to clap4 and fix transactional-test-harness
  Cargo.lock
  Cargo.toml
  cmd/starcoin/src/account/derive_account_address_cmd.rs
  cmd/starcoin/src/account/execute_script_cmd.rs
  cmd/starcoin/src/account/execute_script_function_cmd.rs
  cmd/starcoin/src/account/export_cmd.rs
  cmd/starcoin/src/account/import_cmd.rs
  cmd/starcoin/src/account/import_multisig_cmd.rs
  cmd/starcoin/src/account/rotate_auth_key_cmd.rs
  cmd/starcoin/src/account/sign_multisig_txn_cmd.rs
  cmd/starcoin/src/dev/compile_cmd.rs
  cmd/starcoin/src/dev/package_cmd.rs
  cmd/starcoin/src/dev/subscribe_cmd.rs
  cmd/starcoin/src/dev/upgrade_module_exe_cmd.rs
  cmd/starcoin/src/dev/upgrade_module_proposal_cmd.rs
  commons/scmd/src/command.rs
  commons/scmd/src/context.rs
  commons/scmd/src/error.rs
  config/src/account_provider_config.rs
  config/src/account_vault_config.rs
  config/src/lib.rs
  config/src/network_config.rs
  config/src/rpc_config.rs
  vm/move-package-manager/src/lib.rs
  vm/starcoin-transactional-test-harness/Cargo.toml
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/starcoin-transactional-test-harness/src/remote_state.rs
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/data_cache.rs
Owners: @welbon, @nkysg

remove generic parameter from SessionAdapter
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/verifier/transaction_arg_validation.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
Owners: @nkysg

fix starcoin-resource-viewer
  vm/resource-viewer/src/fat_type.rs
  vm/resource-viewer/src/lib.rs
  vm/resource-viewer/src/resolver.rs
Owners: @nkysg

fix starcoin-cmd
  Cargo.lock
  account/api/Cargo.toml
  account/api/src/types.rs
  cmd/starcoin/src/account/derive_account_address_cmd.rs
  cmd/starcoin/src/account/generate_keypair.rs
  cmd/starcoin/src/dev/compile_cmd.rs
  types/src/account_address.rs
  vm/types/src/account_address.rs
Owners: @welbon, @nkysg

fix stdlib
  vm/move-package-manager/src/compatibility_check_cmd.rs
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/compiled/latest/stdlib/007_Vector.mv
  vm/stdlib/compiled/latest/stdlib/009_ACL.mv
  vm/stdlib/compiled/latest/stdlib/011_Math.mv
  vm/stdlib/compiled/latest/stdlib/017_Option.mv
  vm/stdlib/compiled/latest/stdlib/020_VMConfig.mv
  vm/stdlib/compiled/latest/stdlib/035_Authenticator.mv
  vm/stdlib/compiled/latest/stdlib/036_Account.mv
  vm/stdlib/compiled/latest/stdlib/038_Block.mv
  vm/stdlib/compiled/latest/stdlib/040_BlockReward.mv
  vm/stdlib/compiled/latest/stdlib/041_Collection.mv
  vm/stdlib/compiled/latest/stdlib/042_Collection2.mv
  vm/stdlib/compiled/latest/stdlib/043_Compare.mv
  vm/stdlib/compiled/latest/stdlib/048_EVMAddress.mv
  vm/stdlib/compiled/latest/stdlib/055_Oracle.mv
  vm/stdlib/compiled/latest/stdlib/059_NFT.mv
  vm/stdlib/compiled/latest/stdlib/061_MerkleProof.mv
  vm/stdlib/compiled/latest/stdlib/062_MerkleNFTDistributor.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/071_NFTGallery.mv
  vm/stdlib/compiled/latest/stdlib/074_PriceOracleAggregator.mv
  vm/stdlib/compiled/latest/stdlib/079_TransactionManager.mv
  vm/stdlib/compiled/latest/stdlib/080_TransferScripts.mv
  vm/stdlib/compiled/latest/stdlib/083_U256.mv
  vm/stdlib/src/main.rs
Owners: @nkysg, @sanlee42

wrapping AccountAddressParseError
  vm/types/src/account_address.rs
Owners: @nkysg

fix account
  account/api/src/types.rs
Owners: @welbon

fix deserialize_args in vm-runtime
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
Owners: @nkysg

fix starcoin-abi-types
  abi/types/src/lib.rs
Owners: @nkysg

fix more building errors
  rpc/api/src/types.rs
  vm/dev/src/playground.rs
  vm/transaction-builder/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @sanlee42, @nkysg

rename type_params to type_args
  vm/types/src/access_path.rs
  vm/types/src/account_config/constants/account.rs
  vm/types/src/account_config/constants/event.rs
  vm/types/src/account_config/resources/auto_accept_token.rs
  vm/types/src/account_config/resources/balance.rs
  vm/types/src/lib.rs
  vm/types/src/move_resource.rs
  vm/types/src/on_chain_config/consensus_config.rs
  vm/types/src/on_chain_config/flexi_dag_config.rs
  vm/types/src/on_chain_config/mod.rs
  vm/types/src/on_chain_config/version.rs
  vm/types/src/on_chain_config/vm_config.rs
  vm/types/src/on_chain_resource/dao/mod.rs
  vm/types/src/on_chain_resource/epoch.rs
  vm/types/src/on_chain_resource/nft.rs
  vm/types/src/on_chain_resource/treasury.rs
  vm/types/src/token/stc.rs
  vm/types/src/token/token_info.rs
Owners: @nkysg

fix starcoin-abi-resolver
  abi/resolver/src/lib.rs
  cmd/starcoin/src/account/receipt_identifier_cmd.rs
Owners: @nkysg, @welbon

fix stdlib
  vm/stdlib/src/compat.rs
  vm/stdlib/src/lib.rs
Owners: @nkysg, @sanlee42

fix starcoin-vm-compiler
  vm/compiler/src/lib.rs
Owners: @nkysg

update starcoin-vm-runtime
  etc/onchain_events.yml
  etc/starcoin_types.yml
  executor/tests/readonly_function_call_test.rs
  vm/starcoin-transactional-test-harness/Cargo.toml
  vm/starcoin-transactional-test-harness/src/remote_state.rs
  vm/types/src/transaction_metadata.rs
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/errors.rs
  vm/vm-runtime/src/move_vm_ext/resolver.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
  vm/vm-runtime/src/natives.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/verifier/transaction_arg_validation.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
Owners: @nkysg

fix MoveResolverExt
  executor/tests/readonly_function_call_test.rs
  vm/vm-runtime/src/move_vm_ext/resolver.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
Owners: @nkysg

fix starcoin-gas
  vm/starcoin-gas-meter/src/gas_meter.rs
Owners: @nkysg

use 16-bytes AccountAddress
  Cargo.toml
  etc/onchain_events.yml
  etc/starcoin_types.yml
  vm/types/src/account_address.rs
Owners: @nkysg

fix compiling starcoin-gas-algebra-ext
  vm/gas-algebra-ext/src/instr.rs
  vm/gas-algebra-ext/src/move_stdlib.rs
  vm/gas-algebra-ext/src/transaction.rs
Owners: @nkysg

fix mpm binary
  Cargo.lock
  vm/move-package-manager/Cargo.toml
  vm/move-package-manager/src/compatibility_check_cmd.rs
  vm/move-package-manager/src/extended_checks.rs
  vm/move-package-manager/src/lib.rs
  vm/move-package-manager/src/main.rs
  vm/move-package-manager/src/package.rs
  vm/move-package-manager/src/release.rs
Owners: @nkysg

fix vm-runtime verifier
  vm/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @nkysg

using aptos-core thirdparty move
  Cargo.toml
  vm/frameworks/src/natives/from_bcs.rs
  vm/frameworks/src/natives/token.rs
  vm/gas-algebra-ext/src/transaction.rs
Owners: @nkysg

introduce aptos-vm
  Cargo.lock
  Cargo.toml
  executor/Cargo.toml
  rust-toolchain.toml
Owners: @nkysg

[compiler-v2 native] Fixed some errors
  Cargo.toml
  types/src/lib.rs
  vm/framework/src/built_package.rs
  vm/framework/src/lib.rs
  vm/framework/src/module_metadata.rs
  vm/framework/src/natives/aggregator_natives/aggregator_factory.rs
  vm/framework/src/natives/aggregator_natives/context.rs
  vm/framework/src/natives/aggregator_natives/helpers_v1.rs
  vm/framework/src/natives/code.rs
  vm/framework/src/natives/consensus_config.rs
  vm/framework/src/natives/cryptography/algebra/arithmetics/scalar_mul.rs
  vm/framework/src/natives/cryptography/algebra/casting.rs
  vm/framework/src/natives/cryptography/algebra/hash_to_structure.rs
  vm/framework/src/natives/cryptography/algebra/mod.rs
  vm/framework/src/natives/cryptography/algebra/pairing.rs
  vm/framework/src/natives/cryptography/algebra/serialization.rs
  vm/framework/src/natives/cryptography/ed25519.rs
  vm/framework/src/natives/cryptography/ristretto255.rs
  vm/framework/src/natives/function_info.rs
  vm/framework/src/natives/state_storage.rs
  vm/framework/src/natives/string_utils.rs
  vm/framework/tests/move_unit_test.rs
  vm/starcoin-native-interface/src/helpers.rs
  vm/types/src/transaction/mod.rs
  vm/types/src/transaction/script.rs
Owners: @nkysg, @welbon

3300000 will be version 1 in vega
  types/src/block/mod.rs
Owners: @nkysg, @welbon

use selected parent to get he parent
  chain/src/chain.rs
Owners: @nkysg

remove comments
  chain/src/chain.rs
Owners: @nkysg

remove bracket
  chain/src/chain.rs
Owners: @nkysg

[compiler-v2 native] Fixed some errors
  Cargo.toml
  vm/framework/src/natives/aggregator_natives/aggregator.rs
  vm/framework/src/natives/aggregator_natives/aggregator_v2.rs
  vm/framework/src/natives/aggregator_natives/context.rs
  vm/framework/src/natives/aggregator_natives/helpers_v2.rs
  vm/framework/src/natives/cryptography/algebra/arithmetics/scalar_mul.rs
  vm/framework/src/natives/cryptography/algebra/pairing.rs
  vm/framework/src/natives/cryptography/bls12381.rs
  vm/framework/src/natives/cryptography/bulletproofs.rs
  vm/framework/src/natives/cryptography/ed25519.rs
  vm/framework/src/natives/cryptography/multi_ed25519.rs
  vm/framework/src/natives/cryptography/ristretto255.rs
  vm/framework/src/natives/state_storage.rs
  vm/framework/src/natives/string_utils.rs
  vm/framework/src/release_builder.rs
  vm/types/src/state_store/in_memory_state_view.rs
  vm/types/src/state_store/mod.rs
  vm/types/src/state_store/state_storage_usage.rs
  vm/types/src/transaction/mod.rs
  vm/types/src/transaction/script.rs
  vm/types/src/transaction/user_transaction_context.rs
  vm/vm-runtime-types/src/resolver.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix fmt
  chain/src/chain.rs
Owners: @nkysg

update commons/metrics
  commons/metrics/src/lib.rs
Owners: @nkysg

update configs
  config/src/genesis_config.rs
Owners: none

update vm-runtime-types
  vm/vm-runtime-types/src/storage/change_set_configs.rs
  vm/vm-runtime-types/src/storage/mod.rs
Owners: @nkysg

update frameworks
  vm/frameworks/src/lib.rs
Owners: @nkysg

update vm-runtime
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/counters.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/move_vm_ext/mod.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
  vm/vm-runtime/src/move_vm_ext/warm_vm_cache.rs
  vm/vm-runtime/src/move_vm_ext/write_op_converter.rs
  vm/vm-runtime/src/natives.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/verifier/transaction_arg_validation.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
  vm/vm-runtime/src/vm_adapter/adapter_common.rs
Owners: @nkysg

update Cargo.toml
  Cargo.lock
  Cargo.toml
Owners: none

update starcoin-gas-schedule
  vm/gas-schedule/src/gas_schedule/starcoin_framework.rs
Owners: @nkysg

update starcoin-frameworks
  vm/frameworks/src/natives/account.rs
  vm/frameworks/src/natives/code.rs
  vm/frameworks/src/natives/ecrecover.rs
  vm/frameworks/src/natives/from_bcs.rs
  vm/frameworks/src/natives/hash.rs
  vm/frameworks/src/natives/helpers.rs
  vm/frameworks/src/natives/mod.rs
  vm/frameworks/src/natives/secp256k1.rs
  vm/frameworks/src/natives/signature.rs
  vm/frameworks/src/natives/token.rs
  vm/frameworks/src/natives/util.rs
Owners: @nkysg

update starcoin-vm-runtime-types
  vm/vm-runtime-types/src/storage/change_set_configs.rs
Owners: @nkysg

[compiler-v2 native] 1. fixed starcoin-crypto errors 2. fixed abi errors
  Cargo.lock
  Cargo.toml
  dataformat-generator/Cargo.toml
  dataformat-generator/build.rs
  vm/framework/Cargo.toml
  vm/framework/src/natives/state_storage.rs
  vm/framework/src/starcoin.rs
  vm/types/Cargo.toml
  vm/types/src/state_store/errors.rs
  vm/types/src/state_store/mod.rs
  vm/types/src/transaction/mod.rs
  vm/types/src/transaction/script.rs
  vm/vm-runtime-types/src/resolver.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
