Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix fmt and the advice from the coderabbit
  Cargo.lock
  chain/src/chain.rs
  cmd/tx-factory/src/mocker.rs
  cmd/tx-factory/src/pressure_vm2.rs
  sync/Cargo.toml
  sync/tests/full_build_and_execute_test.rs
  vm2/rpc/api/src/account_api.rs
Owners: @nkysg, @welbon, @sanlee42

add bench code
  Cargo.lock
  config/src/genesis_config/mod.rs
Owners: none

fix fmt
  config/src/genesis_config/mod.rs
Owners: none

fix query balance2
  Cargo.lock
  rpc/client/src/remote_state_reader2/mod.rs
Owners: @sanlee42

rebase dual-verse-dag
  Cargo.lock
  chain/src/chain.rs
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/task.rs
  rpc/server/src/module/debug_rpc.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/tests/full_build_and_execute_test.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: @nkysg, @sanlee42

add secp256k1_sign
  Cargo.lock
  genesis/generated/halley/genesis
  vm/gas-algebra-ext/src/starcoin_framework.rs
  vm/natives/Cargo.toml
  vm/natives/src/lib.rs
  vm/natives/src/secp256k1.rs
  vm/types/src/gas_schedule.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/on_chain_config/genesis_gas_schedule.rs
Owners: @nkysg

add secp256k1_sign
  Cargo.lock
  Cargo.toml
  vm/stdlib/compiled/latest/stdlib/075_Secp256k1.mv
Owners: @nkysg, @sanlee42

replace HashSet with BtreeSet to keep orders
  chain/open-block/src/vm2.rs
  chain/tests/test_txn_info_and_proof.rs
  vm2/vm-runtime/src/lib.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-types/src/transaction/mod.rs
Owners: @nkysg

calc epilog txn id with senders
  vm2/vm-types/src/transaction/mod.rs
  vm2/vm-types/src/transaction/tests.rs
Owners: none

fix clippy warnings
  types/src/multi_transaction.rs
  types/src/transaction/stc_transaction.rs
Owners: @nkysg, @welbon

fix(natives): return full uncompressed pubkey in decompress_pubkey
  vm/natives/src/secp256k1.rs
Owners: @nkysg

replace HashSet with BtreeSet to keep orders (#4765)
  chain/open-block/src/vm2.rs
  chain/tests/test_txn_info_and_proof.rs
  types/src/multi_transaction.rs
  types/src/transaction/stc_transaction.rs
  vm2/vm-runtime/src/lib.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-types/src/transaction/mod.rs
  vm2/vm-types/src/transaction/tests.rs
Owners: @nkysg, @welbon

add gas metering check for vm2
  vm2/framework/gas-meter/src/gas_meter.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

add block_cache and cache_filter_and_index_block flag
  config/src/storage_config.rs
  storage/src/db_storage/mod.rs
Owners: @welbon, @nkysg

Some perf and security updates (#4762)
  config/src/storage_config.rs
  storage/src/db_storage/mod.rs
  vm2/framework/gas-meter/src/gas_meter.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @welbon, @nkysg

add type annotation for bridge compilation
  stratum/src/rpc.rs
Owners: @sanlee42

fix compile error
  chain/service/src/chain_service.rs
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
  rpc/server/src/module/chain_rpc.rs
Owners: @nkysg, @sanlee42

Enum constants should be written in uppercase.
  rpc/api/src/types.rs
Owners: @sanlee42

update chain.json for rpc interface change
  rpc/api/generated_rpc_schema/chain.json
Owners: @sanlee42

unify the tranaction proof interface of the client rpc
  cmd/starcoin/src/chain/get_txn_proof_cmd.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/types.rs
  rpc/client/src/vm2.rs
  rpc/server/src/module/chain_rpc.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @welbon, @sanlee42

fix ensure info
  cmd/starcoin/src/chain/get_txn_proof_cmd.rs
Owners: @welbon

add new cmd for fetch all vm1 and vm2 transaction info
  cmd/starcoin/src/chain/get_txn_info_in_seq_cmd.rs
  cmd/starcoin/src/chain/mod.rs
  cmd/starcoin/src/lib.rs
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
Owners: @welbon, @sanlee42

get the transaction info type from prefix of the access path
  cmd/starcoin/src/chain/get_txn_proof_cmd.rs
  rpc/api/src/types.rs
  testsuite/features/cmd.feature
Owners: @welbon, @sanlee42, @nkysg

fix fmt
  rpc/client/Cargo.toml
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
Owners: @sanlee42

fix fmt
  rpc/api/src/types.rs
Owners: @sanlee42

add fetch the transaction info for vm1 and vm2
  Cargo.lock
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/types.rs
  rpc/client/Cargo.toml
  rpc/client/src/lib.rs
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @sanlee42

no need to check the access path in get txn proof cmd
  cmd/starcoin/src/chain/get_txn_proof_cmd.rs
Owners: @welbon

use StcRichTransactionInfo to unify the vm1 and vm2 transaction
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  rpc/server/src/module/chain_rpc.rs
Owners: @nkysg, @sanlee42

Use the same interface to query the transaction info of VM1 and VM2 in order to verify the transaction. (#4761)
  Cargo.lock
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  cmd/starcoin/src/chain/get_txn_info_in_seq_cmd.rs
  cmd/starcoin/src/chain/get_txn_proof_cmd.rs
  cmd/starcoin/src/chain/mod.rs
  cmd/starcoin/src/lib.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/chain/mod.rs
  rpc/api/src/types.rs
  rpc/client/Cargo.toml
  rpc/client/src/lib.rs
  rpc/client/src/vm2.rs
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/chain_rpc.rs
  testsuite/features/cmd.feature
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @welbon, @sanlee42

Remove sleep
  executor/benchmark/src/vm_exec_benchmark.rs
Owners: @nkysg

update vm2 storage_wrapper
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

remove unused trait implementation
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

Update vm2 storage wrapper (#4766)
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

init submodule without syncing remote
  .github/workflows/update-networks-submodule.yml
Owners: @sanlee42, @nkysg

check un-intended stdlib/genesis upates in workflow
  .github/workflows/update-networks-submodule.yml
Owners: @sanlee42, @nkysg

Fix update networks assets workflow (#4764)
  .github/workflows/update-networks-submodule.yml
Owners: @sanlee42, @nkysg

remove fork in chain
  chain/src/chain.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

add cache transaction output
  Cargo.lock
  chain/Cargo.toml
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  chain/src/lib.rs
  chain/src/txn_output_cache.rs
  executor/src/block_executor.rs
  executor/src/lib.rs
  miner/src/create_block_template/block_builder_service.rs
  sync/src/tasks/block_sync_task.rs
  txpool/src/test.rs
  vm2/chain/src/lib.rs
  vm2/executor/src/block_executor.rs
  vm2/executor/src/lib.rs
Owners: @nkysg, @sanlee42, @welbon

use transaction accumulator root as cache id
  chain/src/chain.rs
  chain/src/lib.rs
  chain/src/txn_output_cache.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @nkysg, @sanlee42

cache block meta transactions
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
Owners: @nkysg
