Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

add internal runing for minting
  miner/src/create_block_template/block_builder_service.rs
  miner/src/create_block_template/new_header_service.rs
  miner/src/generate_block_event_pacemaker.rs
  types/src/system_events.rs
Owners: @sanlee42, @nkysg, @welbon

use all blue count to calc the avg time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use all blue count to be divided the total time to get the avg time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use time to sort the block
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use 700 max transaction per block
  config/src/genesis_config.rs
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

add execute service to execute the block
  chain/src/chain.rs
  consensus/src/difficulty.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/execute_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42, @welbon

fix: substract the transaction time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use 100-2000ms as block time target and the max transaction count = 400
  config/src/genesis_config.rs
Owners: none

set as 3 sencond per block
  config/src/genesis_config.rs
Owners: none

add more info
  chain/src/chain.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42

set the upper bound of block time target 2000ms
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  config/src/genesis_config.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

get the read lock when fetch pool
  miner/src/create_block_template/block_builder_service.rs
  txpool/src/lib.rs
  txpool/src/pool/queue.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

read lock and write lock closely to avoid the interuption
  miner/src/create_block_template/block_builder_service.rs
  txpool/src/pool/queue.rs
Owners: @sanlee42, @welbon

add log to find the slow code
  config/src/genesis_config.rs
  miner/src/create_block_template/block_builder_service.rs
  miner/src/create_block_template/new_header_service.rs
  miner/src/generate_block_event_pacemaker.rs
  miner/src/lib.rs
Owners: @sanlee42

subtract the transaction time when calculating the difficulty
  consensus/src/consensus_test.rs
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use the range time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

add new message DeterminedDagBlock which will be triggered by mined blocks or blocks from peers
  Cargo.lock
  miner/Cargo.toml
  miner/src/create_block_template/new_header_service.rs
  miner/src/generate_block_event_pacemaker.rs
  types/src/system_events.rs
Owners: @sanlee42, @nkysg, @welbon

renew the genesis for 400 as the max transaction count per block
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

substract the transaction time
  chain/src/chain.rs
  consensus/src/consensus_test.rs
  consensus/src/difficulty.rs
Owners: @nkysg, @sanlee42, @welbon

remove the log of the executed transaction id
  chain/src/chain.rs
Owners: @nkysg

add some info to check the time
  cmd/tx-factory/src/main.rs
  miner/src/create_block_template/new_header_service.rs
  miner/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @welbon, @sanlee42

execute service will process peer blocks
  block-relayer/src/block_relayer.rs
  sync/api/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/execute_service.rs
Owners: @sanlee42

add some info for debug
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

use max time to calc diff
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

try read to fetch the transaction data
  miner/src/create_block_template/block_builder_service.rs
  txpool/src/pool/queue.rs
Owners: @sanlee42, @welbon

use try read
  txpool/src/pool/queue.rs
Owners: @sanlee42, @welbon

calc the difficulty more accurily
  consensus/src/consensus_test.rs
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use try_read and try_write to manager the pool
  consensus/src/difficulty.rs
  sync/src/block_connector/execute_service.rs
  txpool/src/pool/queue.rs
Owners: @sanlee42, @welbon

add execute service in init system
  node/src/node.rs
  sync/src/block_connector/mod.rs
Owners: @nkysg, @sanlee42

use base bloc time target as 1000 which is the max
  config/src/genesis_config.rs
Owners: none

use the smallest range time windows to calc the avg time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

remove the runing interval
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

remove the sort for printing the transaction
  chain/src/chain.rs
  kube/manifest/starcoin-halley.yaml
Owners: @nkysg, @sanlee42

use 1000-3000 as block time target
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  config/src/genesis_config.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
Owners: @nkysg, @sanlee42

update the blue ratio
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
Owners: @nkysg

remove the useless code
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/tests/test_block_chain.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @nkysg, @sanlee42

initial the chain object once when minting
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/src/lib.rs
  chain/tests/test_opened_block.rs
  miner/src/create_block_template/block_builder_service.rs
  sync/src/block_connector/mod.rs
  txpool/src/test.rs
Owners: @nkysg, @sanlee42, @welbon

add genesis hash in creating block template
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

remove some debug log
  chain/src/chain.rs
  consensus/src/consensus_test.rs
  consensus/src/difficulty.rs
  miner/src/create_block_template/block_builder_service.rs
  miner/src/create_block_template/new_header_service.rs
  miner/src/generate_block_event_pacemaker.rs
  miner/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/execute_service.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42, @welbon

fix example json
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
Owners: none
