Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

update genesis
  asset-mapping/src/lib.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  vm/stdlib/compiled/latest/stdlib/043_asset_mapping.mv
Owners: @nkysg, @sanlee42

fix format
  asset-mapping/src/lib.rs
Owners: none

fix object.move contract
  vm/framework/starcoin-framework/sources/object.move
Owners: @nkysg

update framework and genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  vm/framework/starcoin-framework/doc/object.md
  vm/framework/starcoin-framework/sources/object.move
  vm/framework/starcoin-framework/sources/starcoin_coin.move
  vm/stdlib/compiled/latest/stdlib/036_object.mv
Owners: @nkysg, @sanlee42

Donot charge force upgrade txn (#4422)
  chain/force-upgrade/src/lib.rs
  chain/open-block/src/lib.rs
  chain/tests/test_force_upgrade.rs
  vm/vm-runtime/src/force_upgrade_management.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

feat(consensus): update block time target and sync behavior
  consensus/src/difficulty.rs
  sync/src/tasks/block_sync_task.rs
  types/src/sync_status.rs
Owners: @sanlee42, @welbon, @nkysg

no waiting for the connection
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add refactor code
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_block_depth.rs
  flexidag/src/consensusdb/db.rs
  flexidag/tests/tests.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

fix red block vec access
  chain/src/chain.rs
Owners: @nkysg

no waiting for the connection
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

push back the red block transaction to the pool
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
Owners: @nkysg, @sanlee42

fix bug: assign the blue to the red
  flexidag/src/blockdag.rs
Owners: none

Transaction add UserTransactionExt
  vm/types/src/transaction/mod.rs
Owners: @nkysg

add ci
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

fix
  rpc/api/src/types.rs
Owners: @sanlee42

fix compiling
  chain/tests/test_txn_info_and_proof.rs
  etc/starcoin_types.yml
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[multi-vm] Transaction add UserTransactionExt (#4431)
  .github/workflows/build_test.yml
  chain/tests/test_txn_info_and_proof.rs
  etc/starcoin_types.yml
  rpc/api/src/types.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @sanlee42, @nkysg

set sync to be done
  sync/src/sync.rs
Owners: @sanlee42

fix: change the sync status to be done if checking result is no need to sync
  sync/src/sync.rs
Owners: @sanlee42

[multi-vm] Transaction add UserTransactionExt
  chain/tests/test_txn_info_and_proof.rs
  etc/starcoin_types.yml
  rpc/api/src/types.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42

fix test case
  sync/src/tasks/tests.rs
  sync/tests/full_sync_test.rs
Owners: @sanlee42

split transactions to different vm
  executor/src/executor.rs
  vm/e2e-tests/src/executor.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

split transactions to different vm (#4432)
  executor/src/executor.rs
  vm/e2e-tests/src/executor.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

use 500ms to wait for the tx pool service to be put into the ctx
  node/src/node.rs
Owners: @nkysg

remove the red transaction logic
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
Owners: @nkysg, @sanlee42

sync done for dev and test net
  sync/src/sync.rs
Owners: @sanlee42

[legacy-framework] rename
  Cargo.lock
  Cargo.toml
  abi/resolver/Cargo.toml
  chain/Cargo.toml
  cmd/starcoin/Cargo.toml
  contrib-contracts/Cargo.toml
  executor/Cargo.toml
  genesis/Cargo.toml
  test-helper/Cargo.toml
  txpool/Cargo.toml
  vm/e2e-tests/Cargo.toml
  vm/framework-legacy/gas-schedule/Cargo.toml
  vm/framework-legacy/natives/Cargo.toml
  vm/framework-legacy/stdlib/Cargo.toml
  vm/move-explain/Cargo.toml
  vm/move-package-manager/Cargo.toml
  vm/starcoin-transactional-test-harness/Cargo.toml
  vm/transaction-builder/Cargo.toml
  vm/vm-runtime-types/Cargo.toml
  vm/vm-runtime/Cargo.toml
Owners: @nkysg, @welbon, @sanlee42

update dependencies
  Cargo.lock
  Cargo.toml
  vm/vm-runtime-types/Cargo.toml
  vm/vm-runtime/Cargo.toml
Owners: @nkysg

update move-explain
  vm/move-explain/Cargo.toml
  vm/move-explain/src/lib.rs
Owners: @nkysg

move G_LATEST_GAS_PARAMS to gas_schedule
  Cargo.lock
  config/src/genesis_config.rs
  vm/gas-schedule/Cargo.toml
  vm/gas-schedule/src/gas_schedule/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

remove starcoin-config deps
  Cargo.lock
  Cargo.toml
  vm/vm-runtime/Cargo.toml
Owners: @nkysg

select default vm executor to fix tests
  executor/src/executor.rs
  vm/e2e-tests/src/executor.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

select default vm executor to fix tests (#4435)
  executor/src/executor.rs
  vm/e2e-tests/src/executor.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

upgrade rustc version
  Cargo.lock
  rust-toolchain.toml
Owners: none

add multi_state definition
  Cargo.lock
  state/statedb/Cargo.toml
  state/statedb/src/chain_state_db_v2.rs
  state/statedb/src/lib.rs
  types/src/lib.rs
  types/src/multi_state.rs
  vm/types/src/account_config/constants/addresses.rs
Owners: @welbon, @nkysg

add multi_state definition (#4433)
  Cargo.lock
  state/statedb/Cargo.toml
  state/statedb/src/chain_state_db_v2.rs
  state/statedb/src/lib.rs
  types/src/lib.rs
  types/src/multi_state.rs
  vm/types/src/account_config/constants/addresses.rs
Owners: @welbon, @nkysg

chore: use rust 1.82.0
  executor/Cargo.toml
  executor/src/block_executor.rs
  executor/src/lib.rs
  miner/src/create_block_template/metrics.rs
  network-p2p/src/metrics.rs
  node/src/crash_handler.rs
  sync/src/parallel/executor.rs
  vm/starcoin-gas-meter/Cargo.toml
  vm/starcoin-gas-meter/src/gas_meter.rs
  vm/types/Cargo.toml
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42

[legacy-framework] commit some changes
  Cargo.lock
  Cargo.toml
  abi/resolver/src/lib.rs
  cmd/starcoin/src/dev/compile_cmd.rs
  test-helper/src/executor.rs
  vm/e2e-tests/src/compile.rs
  vm/framework-legacy/gas-schedule/Cargo.toml
  vm/framework-legacy/gas-schedule/src/algebra.rs
  vm/framework-legacy/gas-schedule/src/gas_meter.rs
  vm/framework-legacy/gas-schedule/src/instr.rs
  vm/framework-legacy/gas-schedule/src/lib.rs
  vm/framework-legacy/gas-schedule/src/move_stdlib.rs
  vm/framework-legacy/gas-schedule/src/natives.rs
  vm/framework-legacy/gas-schedule/src/nursery.rs
  vm/framework-legacy/gas-schedule/src/params.rs
  vm/framework-legacy/gas-schedule/src/starcoin_framework.rs
  vm/framework-legacy/gas-schedule/src/table.rs
  vm/framework-legacy/gas-schedule/src/transaction.rs
  vm/framework-legacy/natives/Cargo.toml
  vm/framework-legacy/natives/src/from_bcs.rs
  vm/framework-legacy/natives/src/token.rs
  vm/framework-legacy/stdlib/src/main.rs
  vm/framework-legacy/stdlib/tests/generated_files.rs
  vm/framework-legacy/stdlib/tests/package_init_script.rs
  vm/gas-schedule/src/gas_schedule/mod.rs
  vm/gas-schedule/src/gas_schedule/nursery.rs
  vm/gas-schedule/src/gas_schedule/starcoin_framework.rs
  vm/gas-schedule/src/gas_schedule/starcoin_framework_legacy.rs
  vm/gas-schedule/src/lib.rs
  vm/move-explain/src/lib.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/transaction-builder/src/lib.rs
  vm/vm-runtime/tests/test_native_functions.rs
Owners: @nkysg, @welbon

fix: no sending the CheckSyncEvent if the sync stage is checking
  sync/src/sync.rs
Owners: @sanlee42

chore: use rust 1.82.0
  .github/workflows/build_test.yml
  Cargo.toml
  chain/tests/block_test_utils.rs
  chain/tests/test_block_chain.rs
  cmd/miner_client/src/cpu_solver.rs
  cmd/starcoin/src/account/nft_cmd.rs
  cmd/starcoin/src/account/show_cmd.rs
  cmd/starcoin/src/state/list_cmd.rs
  commons/accumulator/src/accumulator_test.rs
  commons/accumulator/src/node_index.rs
  commons/accumulator/src/tree.rs
  commons/stream-task/src/collector.rs
  consensus/src/difficulty.rs
  consensus/src/lib.rs
  network-p2p/peerset/src/lib.rs
  network-p2p/peerset/tests/fuzz.rs
  network-p2p/src/discovery.rs
  network-p2p/src/out_events.rs
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/upgrade/notifications.rs
  network-p2p/src/request_responses.rs
  network-p2p/src/service_test.rs
  rpc/api/src/state/mod.rs
  rpc/api/src/types.rs
  rpc/api/src/types/pubsub.rs
  scripts/check_commit.sh
  stratum/src/lib.rs
  sync/src/announcement/mod.rs
  sync/src/store/tests.rs
  sync/tests/common_test_sync_libs.rs
  txpool/src/pool.rs
  txpool/src/tx_pool_service_impl.rs
  types/uint/src/tests.rs
  vm/parallel-executor/src/scheduler.rs
  vm/transaction-builder-generator/src/python3.rs
  vm/types/src/token/token_value.rs
  vm/types/src/transaction/mod.rs
  vm/types/src/transaction/tests.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @sanlee42, @nkysg, @welbon
