Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

[starcoin vm] commit for cargo fmt
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[starcoin vm] commit for cargo fmt
  executor/tests/executor_test.rs
Owners: @nkysg

tidy code
  executor/src/lib.rs
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

update ci pr
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

fix clippy warning
  executor/tests/executor_test.rs
  vm/mvhashmap/src/lib.rs
  vm/vm-runtime/src/adapter_common.rs
Owners: @nkysg

set concurrency level
  node/src/node.rs
Owners: @nkysg

set concurrency level
  node/src/node.rs
Owners: @nkysg

update rpc schema
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/generated_rpc_schema/contract_api.json
Owners: @sanlee42

[write_set] consume vector while save
  chain/src/chain.rs
Owners: @nkysg

Update starcoin crypto
  Cargo.lock
  Cargo.toml
Owners: none

[write_set] consume vector elements while saving write set
  chain/src/chain.rs
Owners: @nkysg

set concurrency level
  node/src/node.rs
Owners: @nkysg

update StarcoinVMWrapper init
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: @nkysg

add InnerStoreV2 and RawDBStorage to support DAG module
  config/src/storage_config.rs
  storage/src/cache_storage/mod.rs
  storage/src/db_storage/mod.rs
  storage/src/lib.rs
  storage/src/storage.rs
Owners: @welbon, @nkysg

fix clippy
  storage/src/db_storage/mod.rs
Owners: @welbon, @nkysg

set concurrency_level
  Cargo.lock
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/main.rs
Owners: @welbon

fix should_restart_execution logic
  Cargo.lock
  vm/parallel-executor/Cargo.toml
  vm/parallel-executor/src/errors.rs
  vm/parallel-executor/src/executor.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

remove log
  vm/parallel-executor/src/executor.rs
Owners: @nkysg

add sync dag accumulator
  storage/src/accumulator/mod.rs
  storage/src/lib.rs
  storage/src/tests/mod.rs
  storage/src/tests/test_dag.rs
Owners: @welbon, @nkysg

add dag accumulator storage
  storage/src/accumulator/mod.rs
  storage/src/lib.rs
  storage/src/tests/mod.rs
  storage/src/tests/test_dag.rs
Owners: @welbon, @nkysg

add flexi_dag/mod.rs
  storage/src/flexi_dag/mod.rs
  storage/src/lib.rs
  storage/src/tests/test_dag.rs
Owners: @welbon, @nkysg

fix fmt and clippy
  storage/src/accumulator/mod.rs
  storage/src/flexi_dag/mod.rs
  storage/src/lib.rs
  storage/src/tests/mod.rs
  storage/src/tests/test_dag.rs
Owners: @welbon, @nkysg

rm arc for SyncFlexiDagSnapshotStorage
  storage/src/flexi_dag/mod.rs
Owners: @welbon, @nkysg

add SyncFlexiDagStore trait therefore we may not return the flexi_dag_storage object which should be encapsulated in storage
  storage/src/lib.rs
  storage/src/tests/test_dag.rs
Owners: @welbon, @nkysg

fix cargo fmt
  storage/src/lib.rs
  storage/src/tests/test_dag.rs
Owners: @welbon, @nkysg

move InnerStoreV2 functions to CacheStorage module
  account/src/account_test.rs
  storage/src/cache_storage/mod.rs
  storage/src/lib.rs
  storage/src/storage.rs
Owners: @welbon, @nkysg

update move prover
  Cargo.lock
  Cargo.toml
Owners: none

update starcoin-framework and test
  Cargo.lock
  Cargo.toml
  genesis/generated/halley/genesis
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd.exp
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.exp
  vm/stdlib/compiled/latest/stdlib/008_Vector.mv
  vm/stdlib/compiled/latest/stdlib/010_ACL.mv
  vm/stdlib/compiled/latest/stdlib/012_Math.mv
  vm/stdlib/compiled/latest/stdlib/013_Option.mv
  vm/stdlib/compiled/latest/stdlib/014_BCS.mv
  vm/stdlib/compiled/latest/stdlib/021_VMConfig.mv
  vm/stdlib/compiled/latest/stdlib/036_Authenticator.mv
  vm/stdlib/compiled/latest/stdlib/037_Account.mv
  vm/stdlib/compiled/latest/stdlib/040_Ring.mv
  vm/stdlib/compiled/latest/stdlib/043_BlockReward.mv
  vm/stdlib/compiled/latest/stdlib/044_Collection.mv
  vm/stdlib/compiled/latest/stdlib/045_Collection2.mv
  vm/stdlib/compiled/latest/stdlib/046_Compare.mv
  vm/stdlib/compiled/latest/stdlib/051_EVMAddress.mv
  vm/stdlib/compiled/latest/stdlib/055_GasSchedule.mv
  vm/stdlib/compiled/latest/stdlib/057_Oracle.mv
  vm/stdlib/compiled/latest/stdlib/061_NFT.mv
  vm/stdlib/compiled/latest/stdlib/063_MerkleProof.mv
  vm/stdlib/compiled/latest/stdlib/064_MerkleNFTDistributor.mv
  vm/stdlib/compiled/latest/stdlib/068_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/073_NFTGallery.mv
  vm/stdlib/compiled/latest/stdlib/076_PriceOracleAggregator.mv
  vm/stdlib/compiled/latest/stdlib/078_Secp256k1.mv
  vm/stdlib/compiled/latest/stdlib/081_SimpleMap.mv
  vm/stdlib/compiled/latest/stdlib/083_StarcoinVerifier.mv
  vm/stdlib/compiled/latest/stdlib/084_String.mv
  vm/stdlib/compiled/latest/stdlib/087_TransactionManager.mv
  vm/stdlib/compiled/latest/stdlib/088_TransferScripts.mv
  vm/stdlib/compiled/latest/stdlib/090_TypeInfo.mv
  vm/stdlib/compiled/latest/stdlib/091_U256.mv
Owners: @nkysg, @sanlee42

update move repo
  Cargo.lock
  Cargo.toml
Owners: none

[benchmark] bencher for parallel executor
  Cargo.lock
  benchmarks/Cargo.toml
  vm/parallel-executor/Cargo.toml
  vm/parallel-executor/benches/scheduler_benches.rs
  vm/parallel-executor/src/lib.rs
  vm/parallel-executor/src/proptest_types/bencher.rs
  vm/parallel-executor/src/proptest_types/mod.rs
  vm/parallel-executor/src/proptest_types/tests.rs
  vm/parallel-executor/src/proptest_types/types.rs
Owners: @nkysg

add storage for sync accumulator
  storage/src/flexi_dag/mod.rs
  storage/src/lib.rs
  storage/src/tests/test_dag.rs
Owners: @welbon, @nkysg

remove the block hash to accumulator leaf
  storage/src/flexi_dag/mod.rs
  storage/src/lib.rs
Owners: @welbon, @nkysg

add return the snapshot storage method
  storage/src/lib.rs
Owners: @welbon, @nkysg

use e19c5631c8f3c39730850080c196e0206834545f for starcoin crypto
  Cargo.lock
  Cargo.toml
Owners: none

use clone without arc
  commons/accumulator/src/node.rs
  storage/src/flexi_dag/mod.rs
  storage/src/lib.rs
  storage/src/tests/test_dag.rs
Owners: @welbon, @nkysg

put the accumulator snapshot db in arc
  storage/src/flexi_dag/mod.rs
  storage/src/lib.rs
  storage/src/tests/test_dag.rs
Owners: @welbon, @nkysg

[e2e-test] Format codes
  vm/e2e-tests/src/account.rs
  vm/e2e-tests/src/account_universe.rs
  vm/e2e-tests/src/account_universe/bad_transaction.rs
  vm/e2e-tests/src/account_universe/create_account.rs
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
  vm/e2e-tests/src/account_universe/rotate_key.rs
  vm/e2e-tests/src/account_universe/universe.rs
  vm/e2e-tests/src/common_transactions.rs
  vm/e2e-tests/src/compile.rs
  vm/e2e-tests/src/data_store.rs
  vm/e2e-tests/src/execution_strategies/random_strategy.rs
  vm/e2e-tests/src/executor.rs
  vm/e2e-tests/src/gas_costs.rs
  vm/e2e-tests/src/on_chain_configs.rs
  vm/parallel-executor/benches/scheduler_benches.rs
  vm/transaction-benchmarks/benches/transaction_benches.rs
  vm/transaction-benchmarks/src/transactions.rs
Owners: @nkysg

feat-dag (#3907)
  account/src/account_test.rs
  config/src/storage_config.rs
  storage/src/cache_storage/mod.rs
  storage/src/db_storage/mod.rs
  storage/src/lib.rs
  storage/src/storage.rs
Owners: @welbon, @nkysg

fix fmt and clippy
  account/src/account_test.rs
  storage/src/tests/test_dag.rs
Owners: @welbon, @nkysg

db upragde v3 to v4
  storage/src/tests/test_dag.rs
  storage/src/upgrade.rs
Owners: @welbon, @nkysg
