Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

fix fmt and the advice from the coderabbit
  Cargo.lock
  chain/src/chain.rs
  cmd/tx-factory/src/mocker.rs
  cmd/tx-factory/src/pressure_vm2.rs
  sync/Cargo.toml
  sync/src/tasks/block_sync_task.rs
  sync/tests/full_build_and_execute_test.rs
  vm2/rpc/api/src/account_api.rs
Owners: @nkysg, @welbon, @sanlee42

fix query balance2
  Cargo.lock
  rpc/client/src/remote_state_reader2/mod.rs
Owners: @sanlee42

fix mis-usage of StcRichTransactionInfo storage, supply info_id+block_id interface (#4736)
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/chain-notify/src/lib.rs
  chain/service/src/chain_service.rs
  chain/service/src/inner_vm2.rs
  chain/src/chain.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_distribute_gas_fee.rs
  chain/tests/test_txn_info_and_proof.rs
  genesis/src/lib.rs
  storage/src/lib.rs
  storage/src/tests/test_storage.rs
  storage/src/transaction_info/mod.rs
  sync/src/announcement/mod.rs
  types/src/transaction/stc_transaction_info.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @welbon, @sanlee42

update Cargo.lock
  Cargo.lock
Owners: none

fix compile error due to merge dual-verse-dag
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_distribute_gas_fee.rs
  storage/src/lib.rs
Owners: @nkysg, @welbon

set default parallel level of vm2 to 1
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

fxi mis-spell
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

fix conflict of merge dual-verse-dag
  executor/benchmark/src/vm_exec_benchmark.rs
Owners: @nkysg

vm execution benchmark (#4659)
  Cargo.lock
  executor/benchmark/Cargo.toml
  executor/benchmark/src/lib.rs
  executor/benchmark/src/main.rs
  executor/benchmark/src/vm_exec_benchmark.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[native-bridge] fixed binary for build
  vm/stdlib/compiled/latest/stdlib/075_Secp256k1.mv
Owners: @nkysg, @sanlee42

[native-bridge] dev net always build the fresh version framework
  genesis/src/lib.rs
Owners: @nkysg

1, add benchmark for testing vm2 transaction execution 2, cache the vm2 config from shengguo lu 3, add batch operations for the transaction interface
  Cargo.lock
  chain/src/chain.rs
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/main.rs
  cmd/tx-factory/src/mocker.rs
  cmd/tx-factory/src/pressure_vm1.rs
  cmd/tx-factory/src/pressure_vm2.rs
  cmd/tx-factory/src/txn_generator.rs
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/task.rs
  config/src/genesis_config/mod.rs
  config/src/lib.rs
  kube/manifest/starcoin-halley.yaml
  node/src/lib.rs
  rpc/api/src/txpool/mod.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader2/mod.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/debug_rpc.rs
  rpc/server/src/module/txpool_rpc.rs
  scripts/release.sh
  sync/Cargo.toml
  sync/tests/full_build_and_execute_test.rs
  test-helper/src/lib.rs
  test-helper/src/node.rs
  txpool/src/tx_pool_service_impl.rs
  vm2/account/api/src/message.rs
  vm2/account/api/src/service.rs
  vm2/account/src/account_manager.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/block_executor.rs
  vm2/framework/gas-meter/src/gas_meter.rs
  vm2/rpc/api/src/account_api.rs
  vm2/rpc/server/src/account_rpc.rs
  vm2/service/account/src/service.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @welbon, @sanlee42

use 2000 receiver
  sync/tests/full_build_and_execute_test.rs
Owners: @sanlee42

add benchmark code
  config/src/txpool_config.rs
  sync/tests/full_build_and_execute_test.rs
  vm2/aggregator/src/aggregator_v1_extension.rs
  vm2/vm-runtime/src/errors.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @sanlee42

add draw svg
  Cargo.lock
  rpc/client/src/remote_state_reader2/mod.rs
  sync/Cargo.toml
  sync/tests/full_build_and_execute_test.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: @sanlee42

Update test
  sync/tests/full_build_and_execute_test.rs
Owners: @sanlee42

fix fmt
  cmd/tx-factory/src/main.rs
  config/src/txpool_config.rs
  kube/manifest/starcoin-halley.yaml
  sync/tests/full_build_and_execute_test.rs
  vm2/vm-runtime/src/errors.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @welbon, @sanlee42, @nkysg

watch the tranaction
  Cargo.lock
  sync/Cargo.toml
  sync/tests/full_build_and_execute_test.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

add more 128 G as default max memory size
  config/src/txpool_config.rs
Owners: none

use 1280000 as max sender
  config/src/txpool_config.rs
Owners: none

update cargo.lock
  Cargo.lock
Owners: none

add get balance2 add batch interface for transaction
  Cargo.lock
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/task.rs
  config/src/txpool_config.rs
  rpc/client/src/remote_state_reader2/mod.rs
  sync/tests/full_build_and_execute_test.rs
  vm2/account/api/src/service.rs
  vm2/aggregator/src/aggregator_v1_extension.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/block_executor.rs
  vm2/framework/gas-meter/src/gas_meter.rs
  vm2/vm-runtime/src/errors.rs
  vm2/vm-runtime/src/move_vm_ext/warm_vm_cache.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/verifier/transaction_arg_validation.rs
  vm2/vm-types/src/token/stc.rs
Owners: @nkysg, @sanlee42

1, update rpc schema 2, bench testing will be ignored
  rpc/api/generated_rpc_schema/txpool.json
  sync/tests/full_build_and_execute_test.rs
Owners: @sanlee42

update Cargo.lock
  Cargo.lock
Owners: none

fix fmt
  config/src/genesis_config/mod.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

add bench code
  Cargo.lock
  Cargo.toml
  config/src/genesis_config/mod.rs
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

fix fmt and the advice from the coderabbit
  Cargo.lock
  chain/src/chain.rs
  cmd/tx-factory/src/mocker.rs
  cmd/tx-factory/src/pressure_vm2.rs
  sync/Cargo.toml
  sync/src/tasks/block_sync_task.rs
  sync/tests/full_build_and_execute_test.rs
  vm2/rpc/api/src/account_api.rs
Owners: @nkysg, @welbon, @sanlee42

fix query balance2
  Cargo.lock
  rpc/client/src/remote_state_reader2/mod.rs
Owners: @sanlee42

1, add benchmark for testing vm2 transaction execution 2, cache the vm2 config from shengguo lu 3, add batch operations for the transaction interface
  Cargo.lock
  chain/src/chain.rs
  cmd/tx-factory/src/main.rs
  cmd/tx-factory/src/mocker.rs
  cmd/tx-factory/src/pressure_vm2.rs
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/task.rs
  kube/manifest/starcoin-halley.yaml
  rpc/client/src/remote_state_reader2/mod.rs
  sync/Cargo.toml
  sync/starcoin-execute-bench/.test.log.swp
  sync/starcoin-execute-bench/test.log
  sync/tests/full_build_and_execute_test.rs
  vm2/account/api/src/service.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/block_executor.rs
  vm2/framework/gas-meter/src/gas_meter.rs
  vm2/rpc/api/src/account_api.rs
  vm2/vm-runtime/src/move_vm_ext/warm_vm_cache.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: @nkysg, @welbon, @sanlee42

use 2000 receiver
  sync/tests/full_build_and_execute_test.rs
Owners: @sanlee42

Update test
  sync/tests/full_build_and_execute_test.rs
Owners: @sanlee42

add benchmark code
  sync/tests/full_build_and_execute_test.rs
  vm2/aggregator/src/aggregator_v1_extension.rs
  vm2/vm-runtime/src/errors.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @sanlee42

add more 128 G as default max memory size
  config/src/txpool_config.rs
Owners: none

watch the tranaction
  Cargo.lock
Owners: none

fix fmt
  cmd/tx-factory/src/main.rs
  config/src/txpool_config.rs
  kube/manifest/starcoin-halley.yaml
  sync/tests/full_build_and_execute_test.rs
  vm2/vm-runtime/src/errors.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @welbon, @sanlee42, @nkysg

watch the tranaction
  Cargo.lock
  sync/Cargo.toml
  sync/tests/full_build_and_execute_test.rs
Owners: @sanlee42

add draw svg
  Cargo.lock
  rpc/client/src/remote_state_reader2/mod.rs
  sync/Cargo.toml
  sync/tests/full_build_and_execute_test.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: @sanlee42

add get balance2 add batch interface for transaction
  Cargo.lock
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/task.rs
  config/src/txpool_config.rs
  rpc/client/src/remote_state_reader2/mod.rs
  sync/tests/full_build_and_execute_test.rs
  vm2/account/api/src/service.rs
  vm2/aggregator/src/aggregator_v1_extension.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/block_executor.rs
  vm2/framework/gas-meter/src/gas_meter.rs
  vm2/vm-runtime/src/errors.rs
  vm2/vm-runtime/src/move_vm_ext/warm_vm_cache.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @nkysg, @sanlee42

update cargo.lock
  Cargo.lock
Owners: none

1, update rpc schema 2, bench testing will be ignored
  sync/tests/full_build_and_execute_test.rs
Owners: @sanlee42

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
