Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

[e2e-test] add some change for e2e-test
  Cargo.lock
  test-helper/src/txn.rs
  vm/e2e-tests/Cargo.toml
  vm/e2e-tests/src/account.rs
  vm/e2e-tests/src/account_universe.rs
  vm/e2e-tests/src/account_universe/bad_transaction.rs
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
  vm/e2e-tests/src/common_transactions.rs
  vm/e2e-tests/src/compile.rs
  vm/e2e-tests/src/data_store.rs
  vm/e2e-tests/src/execution_strategies/basic_strategy.rs
  vm/e2e-tests/src/execution_strategies/random_strategy.rs
  vm/e2e-tests/src/executor.rs
  vm/e2e-tests/src/golden_outputs.rs
  vm/e2e-tests/src/on_chain_configs.rs
  vm/e2e-tests/src/utils.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/transaction-builder/Cargo.toml
  vm/transaction-builder/src/lib.rs
  vm/vm-runtime/src/lib.rs
Owners: @nkysg

[e2e-test] fixed all compiling error
  Cargo.lock
  Cargo.toml
  vm/e2e-tests/src/account_universe/bad_transaction.rs
  vm/e2e-tests/src/common_transactions.rs
  vm/e2e-tests/src/compile.rs
  vm/e2e-tests/src/execution_strategies/basic_strategy.rs
  vm/e2e-tests/src/execution_strategies/random_strategy.rs
  vm/e2e-tests/src/executor.rs
Owners: @nkysg

[e2e-test] fixed cargo clippy check
  vm/parallel-executor/Cargo.toml
  vm/parallel-executor/src/proptest_types/mod.rs
  vm/parallel-executor/src/proptest_types/types.rs
Owners: @nkysg

add storage of dag accumulator
  commons/accumulator/src/node.rs
  storage/src/accumulator/mod.rs
  storage/src/lib.rs
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

add flexi dag
  storage/src/flexi_dag/mod.rs
  storage/src/tests/test_dag.rs
Owners: @welbon, @nkysg

add dag accumulator and storage (#3923)
  commons/accumulator/src/node.rs
  storage/src/accumulator/mod.rs
  storage/src/flexi_dag/mod.rs
  storage/src/lib.rs
  storage/src/tests/mod.rs
  storage/src/tests/test_dag.rs
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

merge from starcoin dag
  storage/src/lib.rs
Owners: @welbon, @nkysg

[e2e-test] Fixed build error
  Cargo.lock
  vm/transaction-benchmarks/Cargo.toml
  vm/transaction-benchmarks/benches/transaction_benches.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/vm-runtime/Cargo.toml
Owners: @nkysg

refactor table storage
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/statedb/src/lib.rs
  state/statedb/src/tests.rs
  vm/types/src/account_config/constants/addresses.rs
Owners: @welbon, @nkysg

add TableHandle get_idx
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/statedb/src/lib.rs
  vm/types/src/state_store/table.rs
Owners: @welbon, @nkysg

update TABLE_ADDRESS_LIST
  state/api/src/lib.rs
Owners: @welbon, @nkysg

update TABLE_ADDRESS_LIST_LEN
  state/api/src/lib.rs
  state/statedb/src/lib.rs
  vm/types/src/account_config/constants/addresses.rs
  vm/types/src/state_store/table.rs
Owners: @welbon, @nkysg

fmt code
  vm/types/src/account_config/constants/addresses.rs
Owners: @nkysg

modify test_state_db_with_table_item_once
  state/api/src/chain_state.rs
  state/statedb/src/lib.rs
  state/statedb/src/tests.rs
Owners: @welbon, @nkysg

fix test
  state/statedb/src/tests.rs
  vm/types/src/account_config/constants/addresses.rs
Owners: @welbon, @nkysg

add get_state_tree_table_handles
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/statedb/src/lib.rs
  vm/move-package-manager/src/release.rs
  vm/types/src/state_store/table.rs
Owners: @welbon, @nkysg

update TABLE_ADDRESS_LIST
  vm/types/src/account_config/constants/addresses.rs
Owners: @nkysg

update TABLE_ADDRESS_LIST
  vm/types/src/account_config/constants/addresses.rs
Owners: @nkysg

[e2e-test] Fixed for data_store
  Cargo.lock
  vm/e2e-tests/Cargo.toml
  vm/e2e-tests/src/account_universe/universe.rs
  vm/e2e-tests/src/data_store.rs
  vm/e2e-tests/src/executor.rs
  vm/transaction-benchmarks/src/transactions.rs
Owners: @nkysg

add dag block
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/api/src/message.rs
  chain/service/src/chain_service.rs
  chain/src/lib.rs
  network-rpc/api/Cargo.toml
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
  storage/src/chain_info/mod.rs
  storage/src/lib.rs
  storage/src/upgrade.rs
  types/Cargo.toml
  types/src/lib.rs
  vm/types/src/lib.rs
Owners: @nkysg, @sanlee42, @welbon

add dag block
  chain/src/dag_chain.rs
  network-rpc/api/src/dag_protocol.rs
  types/src/dag_block.rs
  vm/types/src/dag_block_metadata.rs
Owners: @nkysg, @sanlee42, @welbon

[e2e-test] Fixed for trasnction peer to peer bench mark
  Cargo.lock
  contrib-contracts/src/genesis_nft_test.rs
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
  vm/e2e-tests/src/data_store.rs
  vm/e2e-tests/src/executor.rs
  vm/transaction-benchmarks/Cargo.toml
  vm/transaction-benchmarks/benches/transaction_benches.rs
Owners: @nkysg

[e2e-test] Fixed for trasnction peer to peer bench mark
  vm/e2e-tests/src/executor.rs
  vm/transaction-benchmarks/benches/transaction_benches.rs
Owners: @nkysg

[e2e-test] Fix commit checking
  contrib-contracts/src/genesis_nft_test.rs
Owners: none

[e2e-test] Use CPU numbers for concurrency level
  Cargo.lock
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/main.rs
  node/Cargo.toml
  node/src/node.rs
Owners: @welbon, @nkysg

[e2e-test] abort Token name is "Token"
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
Owners: @nkysg

add get accumulator leaves
  Cargo.lock
  chain/Cargo.toml
  chain/api/Cargo.toml
  chain/api/src/message.rs
  chain/service/Cargo.toml
  chain/service/src/chain_service.rs
  chain/src/dag_chain.rs
Owners: @nkysg

add gene::server to get the dag accumulator leaves
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/dag_chain.rs
  network-rpc/src/rpc.rs
Owners: @nkysg, @sanlee42

move database to consensusdb
  consensus/src/consensusdb/access.rs
  consensus/src/consensusdb/cache/mod.rs
  consensus/src/consensusdb/cache/stc_cache.rs
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/consensusdb/consensus_header.rs
  consensus/src/consensusdb/consensus_reachability.rs
  consensus/src/consensusdb/consensus_relations.rs
  consensus/src/consensusdb/db.rs
  consensus/src/consensusdb/errors.rs
  consensus/src/consensusdb/item.rs
  consensus/src/consensusdb/lib.rs
  consensus/src/consensusdb/writer.rs
  storage/dag-database/Cargo.toml
Owners: @sanlee42, @welbon, @nkysg

make consensus module buildable
  Cargo.toml
  chain/Cargo.toml
  consensus/Cargo.toml
  consensus/src/consensusdb/access.rs
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/consensusdb/consensus_header.rs
  consensus/src/consensusdb/consensus_reachability.rs
  consensus/src/consensusdb/consensus_relations.rs
  consensus/src/consensusdb/db.rs
  consensus/src/consensusdb/item.rs
  consensus/src/consensusdb/mod.rs
  consensus/src/consensusdb/writer.rs
  consensus/src/lib.rs
Owners: @nkysg, @sanlee42, @welbon

make whole project buildable
  chain/src/dag_chain.rs
  consensus/dag-consensus/Cargo.toml
  consensus/dag-consensus/ghostdag/Cargo.toml
  consensus/dag-consensus/ghostdag/src/mergeset.rs
  consensus/dag-consensus/ghostdag/src/protocol.rs
  consensus/dag-consensus/reachability/Cargo.toml
  consensus/dag-consensus/reachability/src/extensions.rs
  consensus/dag-consensus/reachability/src/inquirer.rs
  consensus/dag-consensus/reachability/src/lib.rs
  consensus/dag-consensus/reachability/src/reachability_service.rs
  consensus/dag-consensus/reachability/src/reindex.rs
  consensus/dag-consensus/reachability/src/relations_service.rs
  consensus/dag-consensus/reachability/src/tests.rs
  consensus/dag-consensus/reachability/src/tree.rs
  consensus/dag-consensus/src/blockdag.rs
Owners: @nkysg, @sanlee42, @welbon

rename consensusdb module
  Cargo.lock
  consensus/dag-consensus/ghostdag/src/mergeset.rs
  consensus/dag-consensus/ghostdag/src/protocol.rs
  consensus/dag-consensus/reachability/src/extensions.rs
  consensus/dag-consensus/reachability/src/inquirer.rs
  consensus/dag-consensus/reachability/src/reachability_service.rs
  consensus/dag-consensus/reachability/src/reindex.rs
  consensus/dag-consensus/reachability/src/relations_service.rs
  consensus/dag-consensus/reachability/src/tests.rs
  consensus/dag-consensus/reachability/src/tree.rs
  consensus/dag-consensus/src/blockdag.rs
  consensus/src/consensusdb/db.rs
  consensus/src/consensusdb/mod.rs
Owners: @sanlee42, @welbon

downgrade ghostdag and reachability crates
  Cargo.toml
  consensus/dag-consensus/Cargo.toml
  consensus/dag-consensus/ghostdag/Cargo.toml
  consensus/dag-consensus/reachability/Cargo.toml
  consensus/dag-consensus/src/blockdag.rs
  consensus/dag-consensus/src/ghostdag/mergeset.rs
  consensus/dag-consensus/src/ghostdag/mod.rs
  consensus/dag-consensus/src/ghostdag/protocol.rs
  consensus/dag-consensus/src/ghostdag/util.rs
  consensus/dag-consensus/src/lib.rs
  consensus/dag-consensus/src/reachability/extensions.rs
  consensus/dag-consensus/src/reachability/inquirer.rs
  consensus/dag-consensus/src/reachability/mod.rs
  consensus/dag-consensus/src/reachability/reachability_service.rs
  consensus/dag-consensus/src/reachability/reindex.rs
  consensus/dag-consensus/src/reachability/relations_service.rs
  consensus/dag-consensus/src/reachability/tests.rs
  consensus/dag-consensus/src/reachability/tree.rs
Owners: @sanlee42, @welbon

downgrade dag-consensus crate
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/src/dag_chain.rs
  consensus/dag-consensus/Cargo.toml
  consensus/src/dag/blockdag.rs
  consensus/src/dag/ghostdag/mergeset.rs
  consensus/src/dag/ghostdag/mod.rs
  consensus/src/dag/ghostdag/protocol.rs
  consensus/src/dag/ghostdag/util.rs
  consensus/src/dag/mod.rs
  consensus/src/dag/reachability/extensions.rs
  consensus/src/dag/reachability/inquirer.rs
  consensus/src/dag/reachability/mod.rs
  consensus/src/dag/reachability/reachability_service.rs
  consensus/src/dag/reachability/reindex.rs
  consensus/src/dag/reachability/relations_service.rs
  consensus/src/dag/reachability/tests.rs
  consensus/src/dag/reachability/tree.rs
  consensus/src/lib.rs
Owners: @nkysg, @sanlee42, @welbon

fix consensus tests
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/consensusdb/consensus_relations.rs
  consensus/src/dag/blockdag.rs
  consensus/src/dag/reachability/inquirer.rs
  consensus/src/dag/reachability/reachability_service.rs
  consensus/src/dag/reachability/reindex.rs
Owners: @sanlee42, @welbon

expose neccessary dag-consensus types
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/consensusdb/consensus_reachability.rs
  consensus/src/dag/ghostdag/protocol.rs
  consensus/src/dag/mod.rs
  consensus/src/dag/reachability/extensions.rs
  consensus/src/dag/reachability/inquirer.rs
  consensus/src/dag/reachability/reachability_service.rs
  consensus/src/dag/reachability/reindex.rs
  consensus/src/dag/reachability/tests.rs
  consensus/src/dag/types/ghostdata.rs
  consensus/src/dag/types/interval.rs
  consensus/src/dag/types/mod.rs
  consensus/src/dag/types/ordering.rs
  consensus/src/dag/types/perf.rs
  consensus/src/dag/types/reachability.rs
  consensus/src/dag/types/trusted.rs
  types/src/lib.rs
Owners: @sanlee42, @welbon, @nkysg

move database to consensusdb
  consensus/src/consensusdb/access.rs
  consensus/src/consensusdb/cache/mod.rs
  consensus/src/consensusdb/cache/stc_cache.rs
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/consensusdb/consensus_header.rs
  consensus/src/consensusdb/consensus_reachability.rs
  consensus/src/consensusdb/consensus_relations.rs
  consensus/src/consensusdb/db.rs
  consensus/src/consensusdb/errors.rs
  consensus/src/consensusdb/item.rs
  consensus/src/consensusdb/lib.rs
  consensus/src/consensusdb/writer.rs
  storage/dag-database/Cargo.toml
Owners: @sanlee42, @welbon, @nkysg

make consensus module buildable
  consensus/Cargo.toml
  consensus/src/consensusdb/access.rs
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/consensusdb/consensus_header.rs
  consensus/src/consensusdb/consensus_reachability.rs
  consensus/src/consensusdb/consensus_relations.rs
  consensus/src/consensusdb/db.rs
  consensus/src/consensusdb/item.rs
  consensus/src/consensusdb/mod.rs
  consensus/src/consensusdb/writer.rs
  consensus/src/lib.rs
Owners: @sanlee42, @welbon

make whole project buildable
  consensus/dag-consensus/Cargo.toml
  consensus/dag-consensus/ghostdag/Cargo.toml
  consensus/dag-consensus/ghostdag/src/mergeset.rs
  consensus/dag-consensus/ghostdag/src/protocol.rs
  consensus/dag-consensus/reachability/Cargo.toml
  consensus/dag-consensus/reachability/src/extensions.rs
  consensus/dag-consensus/reachability/src/inquirer.rs
  consensus/dag-consensus/reachability/src/lib.rs
  consensus/dag-consensus/reachability/src/reachability_service.rs
  consensus/dag-consensus/reachability/src/reindex.rs
  consensus/dag-consensus/reachability/src/relations_service.rs
  consensus/dag-consensus/reachability/src/tests.rs
  consensus/dag-consensus/reachability/src/tree.rs
  consensus/dag-consensus/src/blockdag.rs
Owners: @sanlee42, @welbon

rename consensusdb module
  Cargo.lock
  consensus/dag-consensus/ghostdag/src/mergeset.rs
  consensus/dag-consensus/ghostdag/src/protocol.rs
  consensus/dag-consensus/reachability/src/extensions.rs
  consensus/dag-consensus/reachability/src/inquirer.rs
  consensus/dag-consensus/reachability/src/reachability_service.rs
  consensus/dag-consensus/reachability/src/reindex.rs
  consensus/dag-consensus/reachability/src/relations_service.rs
  consensus/dag-consensus/reachability/src/tests.rs
  consensus/dag-consensus/reachability/src/tree.rs
  consensus/dag-consensus/src/blockdag.rs
  consensus/src/consensusdb/db.rs
  consensus/src/consensusdb/mod.rs
Owners: @sanlee42, @welbon
