Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

add barnard fork block height and hash
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

add barnard fork block height and hash
  kube/manifest/starcoin-barnard.yaml
Owners: @sanlee42, @nkysg

add schemadb to storage
  Cargo.toml
  commons/starcoin-temppath/Cargo.toml
  commons/starcoin-temppath/src/lib.rs
  storage/schemadb/Cargo.toml
  storage/schemadb/src/db/mod.rs
  storage/schemadb/src/db/version.rs
  storage/schemadb/src/error.rs
  storage/schemadb/src/iterator.rs
  storage/schemadb/src/lib.rs
  storage/schemadb/src/metrics.rs
  storage/schemadb/src/schema.rs
  storage/schemadb/tests/db.rs
  storage/schemadb/tests/iterator.rs
  storage/src/errors.rs
Owners: @nkysg, @welbon

update storage crate
  cmd/db-exporter/src/main.rs
  storage/Cargo.toml
  storage/src/batch/mod.rs
  storage/src/cache_storage/mod.rs
  storage/src/db_storage/iterator.rs
  storage/src/db_storage/mod.rs
  storage/src/lib.rs
  storage/src/storage.rs
Owners: @welbon, @nkysg

update Cargo.lock
  Cargo.lock
Owners: none

refactor account crate according to schemadb
  Cargo.lock
  account/Cargo.toml
  account/src/account.rs
  account/src/account_manager.rs
  account/src/account_schemadb/accepted_token.rs
  account/src/account_schemadb/global_setting.rs
  account/src/account_schemadb/mod.rs
  account/src/account_schemadb/private_key.rs
  account/src/account_schemadb/public_key.rs
  account/src/account_schemadb/setting.rs
  account/src/account_storage.rs
  account/src/lib.rs
Owners: @welbon

add stdlib upgrade init_script test
  vm/stdlib/tests/package_init_script.rs
Owners: @nkysg, @sanlee42

update proxima genesis
  config/src/genesis_config.rs
  genesis/generated/proxima/genesis
Owners: @nkysg

add stdlib v12 files
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/037_Account.mv
  vm/stdlib/compiled/12/11-12/stdlib/061_GasSchedule.mv
  vm/stdlib/compiled/12/11-12/stdlib/070_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/11-12/stdlib/071_Genesis.mv
  vm/stdlib/compiled/12/stdlib/037_Account.mv
  vm/stdlib/compiled/12/stdlib/061_GasSchedule.mv
  vm/stdlib/compiled/12/stdlib/070_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/stdlib/071_Genesis.mv
Owners: @nkysg, @sanlee42

add stdlib v12 files
  vm/stdlib/compiled/latest/stdlib/037_Account.mv
  vm/stdlib/compiled/latest/stdlib/061_GasSchedule.mv
  vm/stdlib/compiled/latest/stdlib/070_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/071_Genesis.mv
Owners: @nkysg, @sanlee42

refactor stdlib 12 vm execution
  Cargo.lock
  Cargo.toml
  genesis/generated/halley/genesis
  vm/transaction-builder/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix miner_test failure
  account/src/account_storage.rs
Owners: @welbon

fix GasSchedule diff
  Cargo.lock
  Cargo.toml
  genesis/generated/halley/genesis
  genesis/src/lib.rs
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/061_GasSchedule.mv
  vm/stdlib/compiled/12/stdlib/061_GasSchedule.mv
  vm/stdlib/compiled/latest/stdlib/061_GasSchedule.mv
Owners: @nkysg, @sanlee42

update test_package_init_function
  vm/stdlib/tests/package_init_script.rs
Owners: @nkysg, @sanlee42

update test_package_init_function
  vm/stdlib/tests/package_init_script.rs
Owners: @nkysg, @sanlee42

update proxima genesis
  config/src/genesis_config.rs
  genesis/generated/proxima/genesis
Owners: @nkysg

[benchmark] merge calculate code from benchmark project
  Cargo.lock
  vm/e2e-tests/Cargo.toml
  vm/transaction-benchmarks/Cargo.toml
  vm/transaction-benchmarks/src/main.rs
  vm/transaction-benchmarks/src/measurement.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
Owners: @nkysg

reset halley genesis and comment master pr deploy halley
  .github/workflows/docker_build.yml
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
Owners: @sanlee42, @nkysg

comment concurrency level
  node/src/node.rs
Owners: @nkysg

comment concurrency level
  node/src/node.rs
Owners: @nkysg

[benchmark] Close the parallel execution
  node/src/node.rs
Owners: @nkysg

add dev cmd concurrency_level
  cmd/starcoin/src/dev/mod.rs
  cmd/starcoin/src/lib.rs
Owners: @welbon

reset halley genesis and comment master pr deploy halley
  .github/workflows/docker_build.yml
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
Owners: @sanlee42, @nkysg

add halley genesis
  genesis/generated/halley/genesis
Owners: @nkysg

update BARNARD_HARD_FORK_HEIGHT and BARNARD_HARD_FORK_HASH
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

dag sync in a synchronized way
  Cargo.lock
  Cargo.toml
  chain/api/src/chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  commons/time-service/src/lib.rs
  config/src/available_port.rs
  consensus/src/consensus.rs
  consensus/src/dag/blockdag.rs
  network-rpc/api/src/dag_protocol.rs
  network/types/src/peer_info.rs
  rpc/server/src/module/pubsub/tests.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
  sync/src/tasks/tests.rs
  sync/src/verified_rpc_client.rs
  test-helper/src/network.rs
  types/src/block.rs
  types/src/startup_info.rs
  types/src/sync_status.rs
Owners: @nkysg, @sanlee42, @welbon

change the dag sync into the asynchronization (#3963)
  Cargo.lock
  Cargo.toml
  chain/api/src/chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  commons/time-service/src/lib.rs
  config/src/available_port.rs
  consensus/src/consensus.rs
  consensus/src/dag/blockdag.rs
  network-rpc/api/src/dag_protocol.rs
  network/types/src/peer_info.rs
  rpc/server/src/module/pubsub/tests.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
  sync/src/tasks/tests.rs
  sync/src/verified_rpc_client.rs
  test-helper/src/network.rs
  types/src/block.rs
  types/src/startup_info.rs
  types/src/sync_status.rs
Owners: @nkysg, @sanlee42, @welbon

[benchmark] add the parameter for num_threads
  node/src/node.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
Owners: @nkysg

revert docker_build.yml
  .github/workflows/docker_build.yml
Owners: @sanlee42, @nkysg

[benchmark] Add manual_sequence for sequence execution
  vm/transaction-benchmarks/src/transactions.rs
Owners: @nkysg

increase timeout to 30s for generate_block test
  node/src/lib.rs
Owners: @nkysg

update Cargo.lock
  Cargo.lock
Owners: none

add schemadb to storage
  Cargo.toml
  commons/starcoin-temppath/Cargo.toml
  commons/starcoin-temppath/src/lib.rs
  storage/schemadb/Cargo.toml
  storage/schemadb/src/db/mod.rs
  storage/schemadb/src/db/version.rs
  storage/schemadb/src/error.rs
  storage/schemadb/src/iterator.rs
  storage/schemadb/src/lib.rs
  storage/schemadb/src/metrics.rs
  storage/schemadb/src/schema.rs
  storage/schemadb/tests/db.rs
  storage/schemadb/tests/iterator.rs
  storage/src/errors.rs
Owners: @nkysg, @welbon

fix miner_test failure
  account/src/account_storage.rs
Owners: @welbon

increase timeout to 30s for generate_block test
  node/src/lib.rs
Owners: @nkysg

refactor account crate according to schemadb
  Cargo.lock
  account/Cargo.toml
  account/src/account.rs
  account/src/account_manager.rs
  account/src/account_schemadb/accepted_token.rs
  account/src/account_schemadb/global_setting.rs
  account/src/account_schemadb/mod.rs
  account/src/account_schemadb/private_key.rs
  account/src/account_schemadb/public_key.rs
  account/src/account_schemadb/setting.rs
  account/src/account_storage.rs
  account/src/lib.rs
Owners: @welbon

update storage crate
  cmd/db-exporter/src/main.rs
  storage/Cargo.toml
  storage/src/batch/mod.rs
  storage/src/cache_storage/mod.rs
  storage/src/db_storage/iterator.rs
  storage/src/db_storage/mod.rs
  storage/src/lib.rs
  storage/src/storage.rs
Owners: @welbon, @nkysg

merge DB to DBStorage
  account/src/account_storage.rs
  storage/schemadb/src/db/mod.rs
  storage/schemadb/src/lib.rs
  storage/schemadb/tests/db.rs
  storage/schemadb/tests/iterator.rs
  storage/src/tests/test_storage.rs
Owners: @welbon, @nkysg

fix compile errors
  account/src/account_storage.rs
  cmd/db-exporter/src/main.rs
  cmd/resource-exporter/src/main.rs
  storage/src/cache_storage/mod.rs
  storage/src/db_storage/mod.rs
  storage/src/storage.rs
  storage/src/tests/test_batch.rs
  storage/src/tests/test_storage.rs
Owners: @welbon, @nkysg

[benchmark] Add flamegraph config for transaction_benches
  Cargo.lock
  vm/transaction-benchmarks/Cargo.toml
  vm/transaction-benchmarks/benches/transaction_benches.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
