Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

send header to create block
  miner/src/create_block_template/block_builder_service.rs
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

remove some debug info
  consensus/src/difficulty.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42, @welbon

send the header to the new header channel and trigger minting block process when system starts
  miner/src/create_block_template/block_builder_service.rs
  miner/src/generate_block_event_pacemaker.rs
  miner/src/lib.rs
  miner/tests/miner_test.rs
Owners: @sanlee42

no mining until synced
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

use all blue blocks to calculate the average time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

reconstruct the code for verification and chain
  chain/src/verifier/mod.rs
  miner/src/create_block_template/mod.rs
Owners: @nkysg, @sanlee42

comment the the black list blocks
  chain/src/verifier/mod.rs
Owners: @nkysg

div the target by averga diff count
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

add the debug info
  chain/src/chain.rs
Owners: @nkysg

remove the black list verification
  chain/src/verifier/mod.rs
Owners: @nkysg

generate the stdlib for 13 and latest version
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  miner/src/create_block_template/block_builder_service.rs
  test-helper/src/dao.rs
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/12-13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/12-13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/073_OnChainConfigScripts.mv
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/consensus_config.rs
  vm/types/src/on_chain_resource/epoch.rs
Owners: @sanlee42, @nkysg

reconstruct verify
  chain/src/verifier/mod.rs
Owners: @nkysg

read the latest state if no pending transaction
  cmd/tx-factory/src/main.rs
Owners: @welbon

add print some statistic info
  chain/src/chain.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @nkysg, @sanlee42

fix fmt
  Cargo.lock
  config/src/genesis_config.rs
Owners: none

add force to create a block
  miner/src/create_block_template/block_builder_service.rs
  miner/src/lib.rs
  miner/tests/miner_test.rs
Owners: @sanlee42

Set the block time target from 500ms to 2000ms
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

remove the insertion of ghostdata when minting a block
  flexidag/src/blockdag.rs
Owners: none

use mul not div to calc the target for the average block diff
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

remove some info log
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

no cache in transaction provider
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

add max transaction = min((block_gas_limit / 200) * 2, max_transaction_per_block)
  miner/src/create_block_template/block_builder_service.rs
  sync/src/block_connector/mod.rs
Owners: @sanlee42

set the default max transaction count for single sender and the max count of the pool
  config/src/txpool_config.rs
Owners: none

use selected chain blocks to calculate the average time
  consensus/src/consensus_test.rs
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use the branch tps-stress for starcoin-framework
  Cargo.toml
Owners: none

fix json config
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
Owners: none

no removing the blue block transactions
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

renew the header in block builder service asynchronically
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

add print info
  chain/src/chain.rs
Owners: @nkysg

1, remove the blacklist code 2, uncomment the broadcat transactions
  chain/open-block/src/lib.rs
  txpool/src/lib.rs
Owners: @nkysg, @sanlee42, @welbon

merge the transactions of uncle
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

update the json and genesis binary files
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

add genesis binary and json
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  config/src/genesis_config.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
Owners: @nkysg

add waiting for the sequences confirm
  cmd/tx-factory/src/main.rs
Owners: @welbon

add info in uncles
  chain/src/chain.rs
Owners: @nkysg

get block by chain with id and no checking the block on the selected chain
  chain/src/chain.rs
Owners: @nkysg

min and max block time target are 1000-2000
  config/src/genesis_config.rs
Owners: none

mint if no receiving the block
  miner/src/create_block_template/block_builder_service.rs
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

remove the logic for minting a block for a peer block coming
  config/src/genesis_config.rs
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

remove exe id
  chain/src/chain.rs
  kube/manifest/starcoin-halley.yaml
Owners: @nkysg, @sanlee42
