Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

min and max block time target in halley is 100 and 2000
  Cargo.lock
Owners: none

add more info
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network/src/network_p2p_handle.rs
Owners: @sanlee42

fix test_that_generated_file_are_up_to_date_in_git
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  genesis/generated/barnard/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

use expected_blue_uncles_count to control the block time target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

print some info
  network-p2p/src/service.rs
  network/src/service.rs
Owners: @sanlee42

change the epoch if the header changes
  node/src/node.rs
Owners: @nkysg

fix div ratio
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

remove debug info
  consensus/src/difficulty.rs
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/service.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
Owners: @sanlee42, @welbon

no cache db
  node/src/node.rs
Owners: @nkysg

fix fmt
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

resolve the tips from the rabbit bot
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

add some debug info
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/service.rs
Owners: @sanlee42

fix fmt
  node/src/node.rs
Owners: @nkysg

add selected count in next_block_time_target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

update red blocks
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
Owners: @nkysg, @sanlee42

no force to mint when new dag block message coming
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

fix test_example_config_compact
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
Owners: none

add latest mv
  Cargo.lock
  vm/stdlib/compiled/latest/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/latest/stdlib/079_TransactionManager.mv
Owners: @nkysg, @sanlee42

add blue ratio in genesis config
  config/src/genesis_config.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/consensus_config.rs
Owners: @nkysg

update genesis
  genesis/generated/halley/genesis
Owners: @nkysg

add red blocks in block meta struct
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

reconstruct the code for verification and chain
  chain/src/verifier/mod.rs
  miner/src/create_block_template/mod.rs
Owners: @nkysg, @sanlee42

monitor the new dag and peer new dag instead of new head message to get the latest pruning point
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

Fix genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  vm/types/src/on_chain_config/consensus_config.rs
Owners: @nkysg

reconstruct verify
  chain/src/verifier/mod.rs
Owners: @nkysg

receive the block header before creating new block
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42, @nkysg

no mining until synced
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

the new process header will be triggered 1s internally
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

save code temporarily
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

generated genesis for proxima and vega
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

force to mint if the dag block comes from peers
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

update genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

Fix config example
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
Owners: none

renew the header in block builder service asynchronically
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

add new header serivice
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

Remove blue ratio in config
  config/src/genesis_config.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/consensus_config.rs
Owners: @nkysg

Update stdlib
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/12-13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/12-13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/079_TransactionManager.mv
  vm/stdlib/compiled/13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/stdlib/079_TransactionManager.mv
  vm/stdlib/compiled/latest/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/latest/stdlib/079_TransactionManager.mv
Owners: @nkysg, @sanlee42

sort the tips by the work type and blue score and fetch the previous 10 tip stored in the dag state
  flexidag/src/blockdag.rs
Owners: none

add upgrade version 13 stlib
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/12-13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/12-13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/079_TransactionManager.mv
Owners: @nkysg, @sanlee42

fix config for test case in genesis and config
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  vm/stdlib/compiled/13/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/13/stdlib/079_TransactionManager.mv
Owners: @nkysg, @sanlee42
