Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix div ratio not mul
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use system time as end time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

push the red blocks in latest version branch
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

monitor the new dag and peer new dag instead of new head message to get the latest pruning point
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

use difficulty window to calcutlate the next difficulty
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

add selected count in next_block_time_target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

min and max block time target in halley is 100 and 2000
  Cargo.lock
Owners: none

sort the tips by the work type and blue score and fetch the previous 10 tip stored in the dag state
  flexidag/src/blockdag.rs
Owners: none

receive the block header before creating new block
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

the number of an end block of an epoch should subtract 1 before comparing
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

fix fmt
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

fix contain checking
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use time plan as default block time target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use expected_blue_uncles_count to control the block time target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

add new header serivice
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

use ratio to control the block time target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use k ratio to calculate the next block time target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

save code temporarily
  flexidag/src/blockdag.rs
Owners: none

add blue ratio in genesis config
  config/src/genesis_config.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/consensus_config.rs
Owners: @nkysg

add dynamic block time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

fix div ratio
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

make creating block and executing block parallized
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

fix fmt
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

reverse flexidag/src/blockdag.rs
  flexidag/src/blockdag.rs
Owners: none

add red blocks in block meta struct
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add latest mv
  Cargo.lock
  vm/stdlib/compiled/latest/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/latest/stdlib/079_TransactionManager.mv
Owners: @nkysg, @sanlee42

refactor to avoid duplicate codes
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

fix fmt
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

no force to mint when new dag block message coming
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

generate the new genesis
  genesis/generated/halley/genesis
Owners: @nkysg

no force to mint if new peer blocks come
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

add more info
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network/src/network_p2p_handle.rs
Owners: @sanlee42

add some debug info
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/service.rs
Owners: @sanlee42

update epoch mv and halley genesis
  genesis/generated/halley/genesis
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
Owners: @nkysg, @sanlee42

resolve the tips from the rabbit bot
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

update genesis
  genesis/generated/halley/genesis
Owners: @nkysg

fix fmt
  node/src/node.rs
Owners: @nkysg

no cache db
  node/src/node.rs
Owners: @nkysg

change the epoch if the header changes
  node/src/node.rs
Owners: @nkysg

update red blocks
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
Owners: @nkysg, @sanlee42
