Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

remove unused directory
  generated/halley/genesis
  generated/proxima/genesis
Owners: none

ignore slow stale-generated-files checking tests
  genesis/tests/generated_files.rs
  rpc/api/src/tests.rs
Owners: @nkysg, @sanlee42

build latest framework when generated one is missing
  vm/stdlib/compiled/latest/dev.mrb
  vm/stdlib/src/vm2.rs
Owners: @nkysg, @sanlee42

watch the tranaction
  Cargo.lock
  sync/Cargo.toml
  sync/tests/full_build_and_execute_test.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

fix fmt
  cmd/tx-factory/src/main.rs
  config/src/txpool_config.rs
  kube/manifest/starcoin-halley.yaml
  sync/tests/full_build_and_execute_test.rs
  vm2/vm-runtime/src/errors.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @welbon, @sanlee42, @nkysg

Lag-1 templates reuse parent state
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  chain/tests/test_opened_block.rs
  miner/src/create_block_template/block_builder_service.rs
  txpool/src/test.rs
Owners: @nkysg, @sanlee42, @welbon

reader service get_transaction_info from any block
  chain/service/src/chain_service.rs
Owners: @nkysg

fix clippy
  chain/service/src/chain_service.rs
Owners: @nkysg

move generated genesis to workspace root
  executor/tests/module_upgrade_test.rs
  genesis/src/lib.rs
  genesis/src/main.rs
  networks/genesis/barnard/genesis
  networks/genesis/halley/genesis
  networks/genesis/main/genesis
  networks/genesis/proxima/genesis
  vm/stdlib/src/lib.rs
  vm/stdlib/tests/package_init_script.rs
Owners: @nkysg, @sanlee42

remove unused mrb file
  vm2/framework/releases/testnet.mrb
Owners: none

move migration data to workspace root
  chain/data-migration/src/lib.rs
  cmd/resource-code-exporter/tests/import_test.rs
  networks/snapshot/24674819-0x1.tar.gz
  networks/test-data/1461026.bcs
  networks/test-data/64925.bcs
Owners: @nkysg, @welbon

fix code fmt
  cmd/resource-code-exporter/tests/import_test.rs
  genesis/src/lib.rs
Owners: @welbon, @nkysg

fix failed tests caused by deleted released framework
  Cargo.lock
  vm2/abi/resolver/Cargo.toml
  vm2/abi/resolver/src/lib.rs
  vm2/test-helper/src/executor.rs
Owners: none

expliicty use StcRichTransactionInfo's crypto hash as id instead of StcTransactionInfo's id as key of info storage for accuracy
  chain/api/src/chain.rs
  chain/chain-notify/src/lib.rs
  chain/service/src/chain_service.rs
  chain/service/src/inner_vm2.rs
  chain/src/chain.rs
  chain/tests/test_block_chain.rs
  genesis/src/lib.rs
  storage/src/lib.rs
  storage/src/transaction_info/mod.rs
  types/src/transaction/stc_transaction_info.rs
Owners: @nkysg, @welbon

add pre-push to regenerate stdlib/genesis
  .githooks/pre-push
Owners: none

remove unused debug print
  storage/src/lib.rs
  storage/src/transaction_info/mod.rs
Owners: @welbon, @nkysg

revert vm1 proof use original get_transaction_info
  chain/src/chain.rs
Owners: @nkysg

add test (#4720)
  commons/parallel-executor/src/executor.rs
Owners: @nkysg

[fa] add dao_fa.move
  vm2/framework/starcoin-framework/doc/block_reward.md
  vm2/framework/starcoin-framework/sources/stc/block_reward.move
Owners: none

[fa] Resolved governance related changes, but did not resolve correctness issues
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/sources/create_signer.move
  vm2/framework/starcoin-framework/sources/stc/block_reward.move
  vm2/framework/starcoin-framework/sources/stc/dao.move
  vm2/framework/starcoin-framework/sources/stc/dao_fa.move
  vm2/framework/starcoin-framework/sources/stc/dao_treasury_withdraw_proposal.move
  vm2/framework/starcoin-framework/sources/stc/dao_vote_scripts.move
  vm2/framework/starcoin-framework/sources/stc/epoch.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_package_validation.move
  vm2/framework/starcoin-framework/sources/stc/treasury.move
  vm2/framework/starcoin-framework/sources/stc/treasury_fa.move
  vm2/framework/starcoin-framework/sources/stc/treasury_scripts.move
Owners: none

[fa] add dao_fa.move
  vm2/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm2/framework/starcoin-framework/doc/block_reward.md
  vm2/framework/starcoin-framework/doc/dao_fa.md
  vm2/framework/starcoin-framework/doc/overview.md
  vm2/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm2/framework/starcoin-framework/doc/treasury_fa.md
  vm2/framework/starcoin-framework/sources/create_signer.move
  vm2/framework/starcoin-framework/sources/stc/dao_fa.move
Owners: none

[fa] fixed some test
  vm2/framework/starcoin-framework/sources/coin.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
Owners: none

[fa] fixed some test
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/sources/coin.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
Owners: none

[fa] transaction_fee.move
  genesis/generated/halley/genesis
Owners: @nkysg

[fa] set framework default to fungible asset
  vm2/framework/starcoin-framework/doc/transfer_scripts.md
Owners: none

[fa] set framework default to fungible asset
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/starcoin-framework/doc/stdlib_upgrade_scripts.md
  vm2/framework/starcoin-framework/doc/transfer_scripts.md
  vm2/framework/starcoin-framework/sources/stc/stdlib_upgrade_scripts.move
Owners: @nkysg

[fa] some name modify
  vm2/vm-types/src/on_chain_config/starcoin_features.rs
Owners: none

[fa] some name modify
  vm2/framework/starcoin-framework/sources/create_signer.move
  vm2/framework/starcoin-framework/sources/starcoin_account.move
  vm2/framework/starcoin-framework/sources/starcoin_coin.move
  vm2/framework/starcoin-framework/sources/stc/transfer_scripts.move
  vm2/framework/starcoin-framework/tests/starcoin_coin_tests.move
Owners: none

[fa] add the fungible asset version of transaction_fee
  vm2/compiler/src/lib.rs
  vm2/framework/starcoin-framework/Move.toml
  vm2/framework/starcoin-framework/doc/stake.md
  vm2/framework/starcoin-framework/sources/starcoin_account.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/framework/starcoin-framework/sources/stc/transfer_scripts.move
Owners: none

[fa] set framework default to fungible asset
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/move-stdlib/doc/features.md
  vm2/framework/move-stdlib/sources/configs/features.move
  vm2/framework/starcoin-framework/doc/starcoin_account.md
  vm2/framework/starcoin-framework/sources/starcoin_account.move
  vm2/vm-types/src/on_chain_config/starcoin_features.rs
Owners: @nkysg

[fa] fixed building of `block_reward.move_reaward`
  vm2/framework/starcoin-framework/doc/coin.md
  vm2/framework/starcoin-framework/doc/object.md
  vm2/framework/starcoin-framework/doc/starcoin_account.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/doc/vm_config.md
  vm2/framework/starcoin-framework/sources/stc/block_reward.move
  vm2/framework/starcoin-framework/sources/stc/block_reward.spec.move
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
Owners: none

[fa] fixed spec test temp
  vm2/framework/starcoin-framework/sources/stc/block_reward.spec.move
Owners: none

[fa] fixed transaction_fee.move tests
  vm2/framework/move-stdlib/doc/features.md
  vm2/framework/move-stdlib/sources/configs/features.move
  vm2/framework/starcoin-framework/sources/coin.move
  vm2/framework/starcoin-framework/sources/create_signer.move
  vm2/framework/starcoin-framework/sources/object.move
  vm2/framework/starcoin-framework/sources/starcoin_account.move
  vm2/framework/starcoin-framework/sources/starcoin_coin.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/framework/starcoin-framework/sources/stc/vm_config.move
Owners: none

[fa] transaction_fee.move
  vm2/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm2/framework/starcoin-framework/doc/overview.md
  vm2/framework/starcoin-framework/doc/starcoin_account.md
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/doc/transfer_scripts.md
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/framework/starcoin-framework/sources/stc/transfer_scripts.move
Owners: none

[fa] add treasury_fa.move for treasury of fungible asset version
  vm2/framework/starcoin-framework/sources/create_signer.move
  vm2/framework/starcoin-framework/sources/stc/block_reward.spec.move
  vm2/framework/starcoin-framework/sources/stc/treasury_fa.move
Owners: none

[fa] fixed find fungible asset from resource group by starcoin test
  Cargo.toml
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/sources/object.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/vm-types/Cargo.toml
  vm2/vm-types/src/account_config/constants/addresses.rs
  vm2/vm-types/src/account_config/resources/fungible_store.rs
  vm2/vm-types/src/account_config/resources/mod.rs
  vm2/vm-types/src/on_chain_config/starcoin_features.rs
  vm2/vm-types/src/state_view.rs
Owners: none

[fa] gas file
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_failure.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_propose.exp
Owners: none

[fa] fixed the creation of fungible asset store
  vm2/framework/starcoin-framework/doc/dao.md
  vm2/framework/starcoin-framework/sources/stc/dao.move
  vm2/vm-runtime/src/move_vm_ext/vm.rs
Owners: none

[fa] fixed test_dao_failure.move
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_failure.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_failure.move
Owners: none

[fa] fixed upgrade_module_dao_proposa/basic.move
  vm2/framework/starcoin-framework/doc/dao_upgrade_module_proposal.md
  vm2/framework/starcoin-framework/sources/stc/dao_upgrade_module_proposal.move
Owners: none
