Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

Add value serde context for ser/de data in aggregator. (#4827)
  Cargo.lock
  Cargo.toml
  commons/mvhashmap/Cargo.toml
  commons/parallel-executor/Cargo.toml
  kube/manifest/starcoin-proxima-do.yaml
  vm2/abi/decoder/Cargo.toml
  vm2/abi/resolver/Cargo.toml
  vm2/abi/types/Cargo.toml
  vm2/aggregator/Cargo.toml
  vm2/compiler/Cargo.toml
  vm2/framework/Cargo.toml
  vm2/framework/cached-packages/Cargo.toml
  vm2/framework/gas-algebra/Cargo.toml
  vm2/framework/gas-meter/Cargo.toml
  vm2/framework/gas-schedule/Cargo.toml
  vm2/framework/move-stdlib/Cargo.toml
  vm2/framework/native-interface/Cargo.toml
  vm2/framework/table-natives/Cargo.toml
  vm2/move-package-manager/Cargo.toml
  vm2/package-builder/Cargo.toml
  vm2/resource-viewer/Cargo.toml
  vm2/sdk-builder/Cargo.toml
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/types/Cargo.toml
  vm2/vm-runtime-types/Cargo.toml
  vm2/vm-runtime/Cargo.toml
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/tests/data_cache_manual_exchange.rs
  vm2/vm-runtime/tests/delayed_field_exchange_baseline.rs
  vm2/vm-status-translator/Cargo.toml
  vm2/vm-types/Cargo.toml
Owners: @nkysg, @sanlee42

fix(rpc): clean up mint subscribers on disconnect
  rpc/server/src/module/pubsub.rs
  rpc/server/src/module/pubsub/tests.rs
Owners: @sanlee42

test(miner): cover template refresh regressions
  miner/src/lib.rs
  miner/src/tests.rs
Owners: @sanlee42

fix(miner): make block template dispatch non-blocking
  miner/src/create_block_template/mod.rs
  miner/src/lib.rs
Owners: @sanlee42

add spilling logic to flush buffer to database when full
  config/src/sync_config.rs
  sync/src/parallel/sender.rs
  sync/src/store/sync_dag_store.rs
  sync/src/store/tests.rs
  sync/src/sync.rs
Owners: @sanlee42

init system service
  node/src/node.rs
Owners: @nkysg

add sync for dag info
  sync/src/parallel/parallel_info_service.rs
  sync/src/parallel/sender.rs
  sync/src/parallel/tests.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
Owners: @sanlee42

init the parallel sync info
  sync/src/sync.rs
Owners: @sanlee42

add parallel info serivce
  sync/src/parallel/mod.rs
  sync/src/parallel/parallel_info_service.rs
Owners: @sanlee42

ci: run build-and-test for merge queue
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

add info
  sync/api/src/lib.rs
  sync/src/parallel/parallel_info_service.rs
  sync/src/parallel/sender.rs
  sync/src/sync.rs
Owners: @sanlee42

fix review feedback for sync stats and CI
  .github/workflows/build_test.yml
  sync/api/src/lib.rs
  sync/src/parallel/parallel_info_service.rs
  sync/src/sync.rs
Owners: @sanlee42, @nkysg

Show sync worker info (#4823)
  .github/workflows/build_test.yml
  node/src/node.rs
  sync/api/src/lib.rs
  sync/src/parallel/mod.rs
  sync/src/parallel/parallel_info_service.rs
  sync/src/parallel/sender.rs
  sync/src/parallel/tests.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
Owners: @sanlee42, @nkysg

ci: preserve dependabot labels for cargo updates
  .github/dependabot.yml
Owners: @sanlee42, @nkysg

ci: auto-label and auto-merge dependabot PRs
  .github/dependabot.yml
  .github/workflows/dependabot_auto_merge.yml
Owners: @sanlee42, @nkysg

ci: enable dependabot auto-merge after successful CI
  .github/workflows/dependabot_auto_merge.yml
Owners: @sanlee42, @nkysg

ci: auto-label and auto-merge dependabot PRs (#4835)
  .github/dependabot.yml
  .github/workflows/dependabot_auto_merge.yml
Owners: @sanlee42, @nkysg

Fix digest imports for ripemd 0.2.0
  vm2/framework/src/natives/hash.rs
Owners: none

feat(benchmark): add starcoin-execute-bench with pipeline timing and JSON output
  Cargo.lock
  Cargo.toml
  config/src/txpool_config.rs
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/pipeline.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

sync: cache ready parents in parallel executor
  sync/src/parallel/executor.rs
  sync/src/parallel/mod.rs
  sync/src/parallel/tests.rs
Owners: @sanlee42

1, use range locate 2, user loop-info for waiting the parents
  sync/src/parallel/executor.rs
  sync/src/parallel/mod.rs
  sync/src/parallel/sender.rs
  sync/src/parallel/tests.rs
Owners: @sanlee42

add sync-profiling info config
  config/src/sync_config.rs
  sync/src/lib.rs
  sync/src/parallel/executor.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/verified_rpc_client.rs
Owners: @sanlee42

add more details in syn prof
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

feat(timing): add starcoin-pipeline-timing crate for TPS analysis
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/src/chain.rs
  commons/pipeline-timing/Cargo.toml
  commons/pipeline-timing/src/lib.rs
  miner/Cargo.toml
  miner/src/create_block_template/block_builder_service.rs
  test-helper/src/lib.rs
  test-helper/src/node.rs
  txpool/Cargo.toml
  txpool/src/pool_client.rs
Owners: @nkysg, @sanlee42, @welbon

feat(bench): add TPS optimization agent loop
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/agent_loop.rs
  sync/starcoin-execute-bench/src/analyzer.rs
  sync/starcoin-execute-bench/src/history.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/regression.rs
  sync/starcoin-execute-bench/src/results.rs
  sync/starcoin-execute-bench/src/suggester.rs
Owners: @sanlee42

feat(bench): add automated iteration and experimentation modules
  sync/starcoin-execute-bench/src/config_tuner.rs
  sync/starcoin-execute-bench/src/experiment.rs
  sync/starcoin-execute-bench/src/iteration.rs
  sync/starcoin-execute-bench/src/knowledge.rs
  sync/starcoin-execute-bench/src/strategy.rs
Owners: @sanlee42

docs: add TPS optimization knowledge sharing framework
  .github/copilot-instructions.md
  sync/starcoin-execute-bench/docs/BENCHMARK_HISTORY.md
  sync/starcoin-execute-bench/docs/LESSONS_LEARNED.md
  sync/starcoin-execute-bench/docs/OPTIMIZATION_KNOWLEDGE.md
  sync/starcoin-execute-bench/docs/README.md
  sync/starcoin-execute-bench/docs/adr/000-template.md
Owners: @sanlee42, @nkysg

chore: ignore benchmark output files
  .gitignore
Owners: none

add ready queue
  sync/src/parallel/sender.rs
Owners: @sanlee42

add ready code
  sync/src/parallel/sender.rs
Owners: @sanlee42

no loop-checking
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/parallel/tests.rs
Owners: @sanlee42

1, add analyzing script 2, no prof logic if it is disabled
  scripts/analyze_sync_profile_log.py
  sync/src/parallel/sender.rs
Owners: @sanlee42

add parallel output
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: none

update toml to refer to the new starcoin-move version
  Cargo.lock
  Cargo.toml
  commons/mvhashmap/Cargo.toml
  commons/parallel-executor/Cargo.toml
  vm2/abi/decoder/Cargo.toml
  vm2/abi/resolver/Cargo.toml
  vm2/abi/types/Cargo.toml
  vm2/aggregator/Cargo.toml
  vm2/compiler/Cargo.toml
  vm2/framework/Cargo.toml
  vm2/framework/cached-packages/Cargo.toml
  vm2/framework/gas-algebra/Cargo.toml
  vm2/framework/gas-meter/Cargo.toml
  vm2/framework/gas-schedule/Cargo.toml
  vm2/framework/move-stdlib/Cargo.toml
  vm2/framework/native-interface/Cargo.toml
  vm2/framework/table-natives/Cargo.toml
  vm2/move-package-manager/Cargo.toml
  vm2/package-builder/Cargo.toml
  vm2/resource-viewer/Cargo.toml
  vm2/sdk-builder/Cargo.toml
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/types/Cargo.toml
  vm2/vm-runtime-types/Cargo.toml
  vm2/vm-runtime/Cargo.toml
  vm2/vm-status-translator/Cargo.toml
  vm2/vm-types/Cargo.toml
Owners: @nkysg

refactor(vm2): align serde tests and thread max nest depth
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: none

set codegen-units = 16
  Cargo.toml
Owners: none

1, add check depth 2, remove the type delayed field id
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: none

add nested checking
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: none

fix fmt
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

set max transaction count per sender
  config/src/txpool_config.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42
