Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

add chunk_block_transactions unit_test
  executor/tests/executor_test.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add parallel executor flow (notice can't compiler)
  Cargo.lock
  executor/src/executor.rs
  vm/parallel-executor/src/executor.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add VMAdaptor,VMValidator, VMExecutor
  vm/parallel-executor/src/executor.rs
  vm/types/src/state_view.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

update rpc schema
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/generated_rpc_schema/contract_api.json
Owners: @sanlee42

fix should_restart_execution logic
  Cargo.lock
  vm/parallel-executor/Cargo.toml
  vm/parallel-executor/src/errors.rs
  vm/parallel-executor/src/executor.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

tidy code
  executor/src/lib.rs
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

update StarcoinVMWrapper init
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: @nkysg

update ci pr
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

remove comment msg
  Cargo.lock
  executor/src/block_executor.rs
  node/src/node.rs
  vm/parallel-executor/src/executor.rs
  vm/types/src/state_store/table.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

remove log
  vm/parallel-executor/src/executor.rs
Owners: @nkysg

update executor
  executor/src/executor.rs
  vm/vm-runtime/src/lib.rs
Owners: @nkysg

update set_concurrency_level_once equals num_cpus::get
  .github/workflows/build_test.yml
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/main.rs
  node/src/node.rs
Owners: @sanlee42, @nkysg, @welbon

fix clippy warning
  executor/tests/executor_test.rs
  vm/mvhashmap/src/lib.rs
  vm/vm-runtime/src/adapter_common.rs
Owners: @nkysg

set concurrency level
  node/src/node.rs
Owners: @nkysg

update BlockExecute
  chain/open-block/src/lib.rs
  cmd/indexer/src/lib.rs
  executor/src/block_executor.rs
  executor/src/executor.rs
  rpc/api/src/types.rs
  test-helper/src/executor.rs
  types/src/error/mod.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/types/src/state_view.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @welbon, @sanlee42

set concurrency_level
  Cargo.lock
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/main.rs
Owners: @welbon

add error process
  executor/src/executor.rs
  node/src/node.rs
  vm/parallel-executor/src/executor.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

set concurrency level
  node/src/node.rs
Owners: @nkysg

set concurrency level
  node/src/node.rs
Owners: @nkysg

fix rebase master compiler error
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add TurboSTM executor log
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add next tips when synchronizing
  Cargo.lock
  benchmarks/src/chain.rs
  chain/api/src/chain.rs
  chain/chain-notify/src/lib.rs
  chain/mock/src/mock_chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  chain/tests/block_test_utils.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_epoch_switch.rs
  chain/tests/test_txn_info_and_proof.rs
  cmd/db-exporter/src/main.rs
  cmd/replay/src/main.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/mod.rs
  network-rpc/api/src/dag_protocol.rs
  node/Cargo.toml
  node/src/node.rs
  rpc/server/src/module/pubsub/tests.rs
  state/service/src/service.rs
  storage/src/tests/test_storage.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/tests.rs
  test-helper/src/chain.rs
  txpool/src/test.rs
  types/src/block.rs
  types/src/startup_info.rs
  types/src/system_events.rs
Owners: @nkysg, @welbon, @sanlee42

and next tips when synchronizing (#3951)
  Cargo.lock
  benchmarks/src/chain.rs
  chain/api/src/chain.rs
  chain/chain-notify/src/lib.rs
  chain/mock/src/mock_chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  chain/tests/block_test_utils.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_epoch_switch.rs
  chain/tests/test_txn_info_and_proof.rs
  cmd/db-exporter/src/main.rs
  cmd/replay/src/main.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/mod.rs
  network-rpc/api/src/dag_protocol.rs
  node/Cargo.toml
  node/src/node.rs
  rpc/server/src/module/pubsub/tests.rs
  state/service/src/service.rs
  storage/src/tests/test_storage.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/tests.rs
  test-helper/src/chain.rs
  txpool/src/test.rs
  types/src/block.rs
  types/src/startup_info.rs
  types/src/system_events.rs
Owners: @nkysg, @welbon, @sanlee42

add TurboSTM gen txn
  cmd/db-exporter/src/main.rs
Owners: @welbon

refactor account_storage baseon schemadb
  account/Cargo.toml
  account/src/account.rs
  account/src/account_manager.rs
  account/src/account_schemadb/accepted_token.rs
  account/src/account_schemadb/global_setting.rs
  account/src/account_schemadb/mod.rs
  account/src/account_schemadb/private_key.rs
  account/src/account_schemadb/public_key.rs
  account/src/account_schemadb/setting.rs
  account/src/account_storage.rs
  account/src/lib.rs
  consensus/src/consensusdb/access.rs
  consensus/src/consensusdb/item.rs
  storage/schemadb/Cargo.toml
  storage/schemadb/src/lib.rs
  storage/schemadb/src/writer.rs
Owners: @welbon, @sanlee42, @nkysg

fix some warnings
  account/src/account.rs
  account/src/account_schemadb/mod.rs
  account/src/account_storage.rs
  storage/schemadb/src/lib.rs
Owners: @welbon, @nkysg

move dag block chain logic into block chain
  chain/api/src/chain.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/dag_chain.rs
  chain/src/lib.rs
  chain/src/verifier/mod.rs
  cmd/db-exporter/src/main.rs
  cmd/peer-watcher/src/lib.rs
  cmd/replay/src/main.rs
  commons/time-service/src/lib.rs
  miner/src/create_block_template/mod.rs
  network-rpc/api/src/dag_protocol.rs
  storage/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
  sync/src/tasks/tests.rs
  sync/src/verified_rpc_client.rs
  test-helper/src/network.rs
  txpool/src/test.rs
  types/src/block.rs
  types/src/system_events.rs
Owners: @nkysg, @welbon, @sanlee42

move dag block chain logic into block chain (#3952)
  chain/api/src/chain.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/dag_chain.rs
  chain/src/lib.rs
  chain/src/verifier/mod.rs
  cmd/db-exporter/src/main.rs
  cmd/peer-watcher/src/lib.rs
  cmd/replay/src/main.rs
  commons/time-service/src/lib.rs
  miner/src/create_block_template/mod.rs
  network-rpc/api/src/dag_protocol.rs
  storage/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
  sync/src/tasks/tests.rs
  sync/src/verified_rpc_client.rs
  test-helper/src/network.rs
  txpool/src/test.rs
  types/src/block.rs
  types/src/system_events.rs
Owners: @nkysg, @welbon, @sanlee42

add TurboSTM apply txn cmd
  cmd/db-exporter/src/main.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @welbon, @nkysg

TurboSTM not save_log
  cmd/db-exporter/src/main.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @welbon, @nkysg

debug sync successfully
  Cargo.lock
  chain/api/src/chain.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/Cargo.toml
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  config/src/genesis_config.rs
  consensus/src/dag/blockdag.rs
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
  network/types/src/peer_info.rs
  node/src/node.rs
  storage/src/lib.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
  sync/src/verified_rpc_client.rs
  test-helper/src/network.rs
  types/src/block.rs
  types/src/startup_info.rs
  types/src/sync_status.rs
Owners: @nkysg, @sanlee42, @welbon

debug sync successfully (#3955)
  Cargo.lock
  chain/api/src/chain.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/Cargo.toml
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  config/src/genesis_config.rs
  consensus/src/dag/blockdag.rs
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
  network/types/src/peer_info.rs
  node/src/node.rs
  storage/src/lib.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
  sync/src/verified_rpc_client.rs
  test-helper/src/network.rs
  types/src/block.rs
  types/src/startup_info.rs
  types/src/sync_status.rs
Owners: @nkysg, @sanlee42, @welbon

set_concurrency_level cmd
  Cargo.lock
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/dev/concurrency_level_cmd.rs
  cmd/starcoin/src/dev/mod.rs
  rpc/api/src/debug/mod.rs
  rpc/client/src/lib.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/debug_rpc.rs
Owners: @welbon, @sanlee42

revert TurboSTM not save_log
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

move DBStorage to schemadb
  cmd/db-exporter/src/main.rs
  storage/Cargo.toml
  storage/schemadb/Cargo.toml
  storage/schemadb/src/db/mod.rs
  storage/schemadb/src/db/version.rs
  storage/schemadb/src/error.rs
  storage/schemadb/src/lib.rs
  storage/schemadb/src/metrics.rs
  storage/src/batch/mod.rs
  storage/src/chain_info/mod.rs
  storage/src/db_storage/mod.rs
  storage/src/errors.rs
  storage/src/lib.rs
  storage/src/storage.rs
Owners: @welbon, @nkysg

fix build errors of consensus module
  consensus/src/consensusdb/access.rs
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/consensusdb/consensus_header.rs
  consensus/src/consensusdb/consensus_reachability.rs
  consensus/src/consensusdb/consensus_relations.rs
  consensus/src/consensusdb/db.rs
  consensus/src/consensusdb/item.rs
  storage/schemadb/src/db/mod.rs
Owners: @sanlee42, @welbon, @nkysg

add debug.json
  rpc/api/generated_rpc_schema/debug.json
Owners: @sanlee42

[benchmark] bencher for parallel executor
  Cargo.lock
  benchmarks/Cargo.toml
  vm/parallel-executor/Cargo.toml
  vm/parallel-executor/benches/scheduler_benches.rs
  vm/parallel-executor/src/lib.rs
  vm/parallel-executor/src/proptest_types/bencher.rs
  vm/parallel-executor/src/proptest_types/mod.rs
  vm/parallel-executor/src/proptest_types/tests.rs
  vm/parallel-executor/src/proptest_types/types.rs
Owners: @nkysg

[e2e-test] add some change for e2e-test
  Cargo.lock
  test-helper/src/txn.rs
  vm/e2e-tests/Cargo.toml
  vm/e2e-tests/src/account.rs
  vm/e2e-tests/src/account_universe.rs
  vm/e2e-tests/src/account_universe/bad_transaction.rs
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
  vm/e2e-tests/src/common_transactions.rs
  vm/e2e-tests/src/compile.rs
  vm/e2e-tests/src/data_store.rs
  vm/e2e-tests/src/execution_strategies/basic_strategy.rs
  vm/e2e-tests/src/execution_strategies/random_strategy.rs
  vm/e2e-tests/src/executor.rs
  vm/e2e-tests/src/golden_outputs.rs
  vm/e2e-tests/src/on_chain_configs.rs
  vm/e2e-tests/src/utils.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/transaction-builder/Cargo.toml
  vm/transaction-builder/src/lib.rs
  vm/vm-runtime/src/lib.rs
Owners: @nkysg

[e2e-test] fixed cargo clippy check
  vm/parallel-executor/Cargo.toml
  vm/parallel-executor/src/proptest_types/mod.rs
  vm/parallel-executor/src/proptest_types/types.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
