Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

no initializing the state db more than one time
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

fix some test cases
  chain/mock/src/mock_chain.rs
  chain/open-block/src/lib.rs
  chain/src/chain.rs
Owners: @nkysg

the miner service listen to the create block respone message directly
  miner/src/create_block_template/block_builder_service.rs
  miner/src/lib.rs
Owners: @sanlee42

fix the transaction vm2 index from 1 to 0
  testsuite/features/cmd.feature
Owners: @nkysg

fix test_custom_genesis
  genesis/src/lib.rs
Owners: @nkysg

no print the info before parents ready
  sync/src/block_connector/execute_service.rs
Owners: @sanlee42

use epoch gas limit to execute the vm2 transaction in minting
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @nkysg, @sanlee42

recover the generator and merge the multi-thread
  Cargo.lock
  Cargo.toml
  cmd/generator/Cargo.toml
  cmd/generator/src/gen_data.rs
  cmd/generator/src/gen_genesis.rs
  cmd/generator/src/gen_genesis_config.rs
  cmd/generator/src/lib.rs
  config/src/genesis_config/mod.rs
  miner/src/create_block_template/block_builder_service.rs
  miner/src/lib.rs
  scripts/release.sh
Owners: @welbon, @sanlee42

add miner multi-thread
  Cargo.lock
  miner/Cargo.toml
  miner/src/create_block_template/block_builder_service.rs
  miner/src/lib.rs
  miner/tests/miner_test.rs
Owners: @sanlee42

fix genesis of halley
  Cargo.lock
  genesis/generated/halley/genesis
Owners: @nkysg

fix test_miner_service
  miner/tests/miner_test.rs
Owners: @sanlee42

fix test_miner_service
  miner/tests/miner_test.rs
Owners: @sanlee42

add miner multi-thread
  miner/src/create_block_template/block_builder_service.rs
  miner/tests/miner_test.rs
Owners: @sanlee42

fix test_export_account_code_state
  chain/api/src/errors.rs
  chain/src/chain.rs
Owners: @nkysg

fix tests/test_txn_info_and_proof.rs
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  genesis/src/lib.rs
Owners: @nkysg

update docker_build.yml
  .github/workflows/docker_build.yml
Owners: @sanlee42, @nkysg

fix compile error
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

fix test_vm1_offline_at_block_two
  chain/src/chain.rs
Owners: @nkysg

add parallel executing
  types/src/system_events.rs
Owners: @nkysg, @welbon

fix test_find_ancestor_fork
  chain/mock/src/mock_chain.rs
Owners: @nkysg

add parallel executing
  Cargo.lock
  miner/src/create_block_template/new_header_service.rs
  sync/Cargo.toml
  sync/src/block_connector/execute_service.rs
  types/src/system_events.rs
Owners: @sanlee42, @nkysg, @welbon

use total count to save the output len
  executor/src/block_executor.rs
Owners: @nkysg

block meta must be calculate the state root
  executor/src/block_executor.rs
  miner/src/create_block_template/process_transaction.rs
Owners: @nkysg, @sanlee42

return error instead of panic in executor serivice when creating the block chain object
  sync/src/block_connector/execute_service.rs
Owners: @sanlee42

Parallelize the process of minting and executing a block (#4648)
  .github/workflows/docker_build.yml
  Cargo.lock
  Cargo.toml
  chain/api/src/errors.rs
  chain/mock/src/mock_chain.rs
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_opened_block.rs
  chain/tests/test_txn_info_and_proof.rs
  cmd/generator/Cargo.toml
  cmd/generator/src/gen_data.rs
  cmd/generator/src/gen_genesis.rs
  cmd/generator/src/gen_genesis_config.rs
  cmd/generator/src/lib.rs
  config/src/genesis_config/mod.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/src/lib.rs
  miner/Cargo.toml
  miner/src/create_block_template/block_builder_service.rs
  miner/src/create_block_template/new_header_service.rs
  miner/src/lib.rs
  miner/tests/miner_test.rs
  scripts/release.sh
  sync/Cargo.toml
  sync/src/block_connector/execute_service.rs
  sync/src/tasks/tests.rs
  sync/tests/full_sync_test.rs
  testsuite/features/cmd.feature
  txpool/Cargo.toml
  txpool/src/test.rs
  types/src/system_events.rs
  vm2/framework/gas-meter/src/gas_meter.rs
Owners: @sanlee42, @nkysg, @welbon

Update vm2/move-examples/shared_account/sources/shared_account.move
  vm2/move-examples/shared_account/sources/shared_account.move
Owners: none

[move-example] add test for derive address
  vm2/move-examples/shared_account/sources/shared_account.move
Owners: none

[move-example] When it is not convenient to use the command line to invoke an array of addresses, add individual additions to implement the business logic
  vm2/move-examples/shared_account/sources/shared_account.move
Owners: none

Update vm2/move-examples/shared_account/sources/shared_account.move
  vm2/move-examples/shared_account/sources/shared_account.move
Owners: none

optimize benchmark, do not persist transfer result, create max 100 accounts
  executor/benchmark/src/main.rs
  executor/benchmark/src/vm_exec_benchmark.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[move-example] Changed batch parameters to individual operations for better CLI compatibility (#4664)
  vm2/move-examples/shared_account/sources/shared_account.move
Owners: none

[move-example] add test for derive address
  vm2/move-examples/shared_account/sources/shared_account.move
Owners: none

Update vm2/move-examples/shared_account/sources/shared_account.move
  vm2/move-examples/shared_account/sources/shared_account.move
Owners: none

Fix pruning point change handling and import DAG tests
  Cargo.lock
  chain/Cargo.toml
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  chain/tests/test_prune.rs
  chain/tests/test_range_locate.rs
  chain/tests/test_select_dag_state.rs
  config/src/genesis_config/vm2.rs
Owners: @nkysg

Skip CI for draft PRs and documentation changes
  .github/workflows/benchmark_pr.yml
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

Group dependabot updates
  .github/dependabot.yml
Owners: @sanlee42, @nkysg

[action runner] add bobong to test
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

Fix prune handling and group dependabot updates (#4677)
  .github/dependabot.yml
  .github/workflows/benchmark_pr.yml
  .github/workflows/build_test.yml
  Cargo.lock
  chain/Cargo.toml
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  chain/tests/test_prune.rs
  chain/tests/test_range_locate.rs
  chain/tests/test_select_dag_state.rs
  config/src/genesis_config/vm2.rs
Owners: @sanlee42, @nkysg

Refactor CI workflows with unified build and test check
  .github/workflows/build_test.yml
  .github/workflows/comment-build-test.yml
  .github/workflows/core-build-test.yml
  .github/workflows/pr-build-test.yml
Owners: @sanlee42, @nkysg

Move path filtering to core CI workflow
  .github/workflows/core-build-test.yml
  .github/workflows/pr-build-test.yml
Owners: @sanlee42, @nkysg
