Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix jh_hash function optimize bug in gcc11.4
  Cargo.lock
  consensus/cryptonight-rs/build.rs
  consensus/cryptonight-rs/ext/c_jh.c
Owners: @sanlee42, @welbon

remove unused code
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/consensus_test.rs
  types/src/block.rs
Owners: @sanlee42, @welbon, @nkysg

fix jh_hash optimize bug
  consensus/cryptonight-rs/ext/c_jh.c
Owners: @sanlee42, @welbon

add temporarily
  Cargo.lock
  Cargo.toml
  consensus/src/dag/blockdag.rs
  flexidag/Cargo.toml
  flexidag/src/flexidag_service.rs
  flexidag/src/lib.rs
  storage/src/tests/test_storage.rs
  sync/Cargo.toml
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42, @welbon, @nkysg

fix ffi code
  consensus/cryptonight-rs/src/lib.rs
  scripts/verify_header.sh
Owners: @sanlee42, @welbon

Fix all error for failed_transaction_tests.rs
  vm/e2e-testsuite/src/tests/failed_transaction_tests.rs
Owners: @nkysg

Fix all error for peer_to_peer.rs
  vm/e2e-testsuite/src/tests/peer_to_peer.rs
Owners: @nkysg

Fix all error for peer_to_peer.rs
  vm/e2e-testsuite/src/tests/peer_to_peer.rs
Owners: @nkysg

Fix all error for transaction_builder.rs
  vm/e2e-testsuite/src/tests/transaction_builder.rs
Owners: @nkysg

Remove the tests that unsupported features
  vm/e2e-testsuite/src/tests/multi_agent.rs
  vm/e2e-testsuite/src/tests/vasps.rs
Owners: @nkysg

add temp
  Cargo.lock
  chain/api/src/chain.rs
  chain/service/Cargo.toml
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  consensus/src/dag/blockdag.rs
  flexidag/src/flexidag_service.rs
  network/src/service.rs
  network/types/src/peer_info.rs
  storage/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  types/src/block.rs
  types/src/startup_info.rs
Owners: @nkysg, @sanlee42, @welbon

add temp code
  Cargo.lock
  chain/Cargo.toml
  chain/service/Cargo.toml
  chain/service/src/chain_service.rs
  flexidag/Cargo.toml
  flexidag/src/flexidag_service.rs
  flexidag/src/lib.rs
  sync/src/block_connector/write_block_chain.rs
  types/src/system_events.rs
Owners: @nkysg, @sanlee42, @welbon

fixed all error for verify_txn.rs
  vm/e2e-testsuite/src/tests/fake_stdlib.rs
  vm/e2e-testsuite/src/tests/verify_txn.rs
  vm/types/src/test_helpers/empty_script.mv
  vm/types/src/test_helpers/mod.rs
  vm/types/src/test_helpers/transaction_test_helpers.rs
Owners: @nkysg

fixed all error for verify_txn.rs
  Cargo.lock
  vm/e2e-tests/src/lib.rs
  vm/e2e-testsuite/Cargo.toml
  vm/e2e-testsuite/src/tests/mod.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/lib.rs
Owners: @nkysg

add dag block
  consensus/src/dag/blockdag.rs
  flexidag/src/flexidag_service.rs
  miner/src/lib.rs
  rpc/api/src/types.rs
  sync/src/block_connector/write_block_chain.rs
  types/src/block.rs
  types/src/header.rs
Owners: @sanlee42, @welbon, @nkysg

fix chainstateservice and tests
  abi/resolver/src/lib.rs
  chain/src/chain.rs
  contrib-contracts/src/starcoin_merkle_test.rs
  executor/tests/executor_test.rs
  network-rpc/api/src/remote_chain_state.rs
  rpc/client/src/remote_state_reader.rs
  rpc/server/src/module/contract_rpc.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  test-helper/src/starcoin_dao.rs
  vm/dev/src/playground.rs
  vm/e2e-tests/src/data_store.rs
  vm/resource-viewer/src/lib.rs
  vm/starcoin-transactional-test-harness/src/fork_state.rs
  vm/starcoin-transactional-test-harness/src/remote_state.rs
  vm/types/src/state_view.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42, @welbon

Instantiate StarcoinVM with height of StateView
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/tests/block_test_utils.rs
  genesis/src/lib.rs
  rpc/server/src/module/contract_rpc.rs
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/api/src/message.rs
  state/api/src/mock/mock_chain_state_service.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  txpool/src/pool_client.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
  vm/starcoin-transactional-test-harness/src/fork_state.rs
  vm/stdlib/tests/package_init_script.rs
  vm/types/src/state_view.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42, @welbon

fix typo
  consensus/cryptonight-rs/src/tests.rs
Owners: @sanlee42, @welbon

add set concurrency level and get concurrency level, and get height blocks
  chain/api/src/chain.rs
  chain/src/chain.rs
  cmd/starcoin/src/chain/get_num_blocks_cmd.rs
  cmd/starcoin/src/chain/mod.rs
  rpc/api/src/chain/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @welbon, @sanlee42

increase timeout to 30s for generate_block test
  node/src/lib.rs
Owners: @nkysg

cargo fmt fix and check_commit
  account/api/src/provider.rs
  commons/forkable-jellyfish-merkle/src/jellyfish_merkle_test.rs
  commons/service-registry/src/bus/sys_bus.rs
  config/src/api_config.rs
  config/src/genesis_config.rs
  consensus/src/consensus_test.rs
  network-p2p/peerset/tests/fuzz.rs
  network-p2p/src/service_test.rs
  network/api/src/peer_provider.rs
  network/src/network_p2p_handle.rs
  rpc/api/src/types/pubsub.rs
  rpc/client/src/remote_state_reader.rs
  rpc/client/tests/client_server_test.rs
  state/statedb/src/tests.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/tests.rs
  txpool/src/test.rs
  vm/gas-algebra-ext/src/params.rs
  vm/move-package-manager/src/lib.rs
  vm/types/src/genesis_config.rs
  vm/types/src/transaction/authenticator.rs
Owners: @welbon, @nkysg, @sanlee42

fixed all error for write_set.rs
  vm/e2e-testsuite/src/tests/write_set.rs
Owners: @nkysg

get height blocks
  chain/api/src/chain.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  cmd/starcoin/src/chain/get_height_blocks_cmd.rs
  cmd/starcoin/src/chain/mod.rs
  cmd/starcoin/src/lib.rs
  rpc/api/src/chain/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  storage/src/block/mod.rs
  storage/src/lib.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @welbon, @sanlee42

add new sync collect items for new tackle
  Cargo.lock
  account/src/account_test.rs
  benchmarks/src/chain.rs
  chain/api/src/chain.rs
  chain/api/src/service.rs
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  chain/tests/block_test_utils.rs
  chain/tests/test_block_chain.rs
  consensus/src/consensus_test.rs
  consensus/src/dag/blockdag.rs
  flexidag/src/flexidag_service.rs
  miner/Cargo.toml
  miner/src/create_block_template/mod.rs
  network-rpc/api/src/lib.rs
  network/api/src/peer_provider.rs
  node/src/node.rs
  storage/src/flexi_dag/mod.rs
  storage/src/tests/test_block.rs
  sync/api/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
  sync/src/verified_rpc_client.rs
  types/src/block.rs
Owners: @welbon, @nkysg, @sanlee42

tmp
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

fixed all error for rotate_key.rs
  vm/e2e-testsuite/src/tests/rotate_key.rs
Owners: @nkysg

fixed all error for emergency_admin_script.rs and experimental.rs,
  vm/e2e-testsuite/src/tests/emergency_admin_script.rs
  vm/e2e-testsuite/src/tests/experimental.rs
  vm/e2e-testsuite/src/tests/failed_transaction_tests.rs
  vm/e2e-testsuite/src/tests/fake_stdlib.rs
Owners: @nkysg

fixed part of errors
  Cargo.lock
  vm/e2e-tests/src/account.rs
  vm/e2e-tests/src/account_universe/bad_transaction.rs
  vm/e2e-tests/src/executor.rs
  vm/e2e-tests/src/utils.rs
  vm/e2e-tests/src/versioning.rs
  vm/e2e-testsuite/Cargo.toml
  vm/e2e-testsuite/src/tests/admin_script.rs
  vm/e2e-testsuite/src/tests/create_account.rs
  vm/e2e-testsuite/src/tests/data_store.rs
  vm/e2e-testsuite/src/tests/emergency_admin_script.rs
  vm/e2e-testsuite/src/tests/fake_stdlib.rs
  vm/e2e-testsuite/src/tests/genesis.rs
  vm/e2e-testsuite/src/tests/genesis_initializations.rs
  vm/e2e-testsuite/src/tests/mint.rs
  vm/e2e-testsuite/src/tests/mod.rs
  vm/e2e-testsuite/src/tests/module_publishing.rs
  vm/e2e-testsuite/src/tests/on_chain_configs.rs
  vm/e2e-testsuite/src/tests/parallel_execution.rs
  vm/e2e-testsuite/src/tests/peer_to_peer.rs
  vm/e2e-testsuite/src/tests/preburn_queue.rs
  vm/e2e-testsuite/src/tests/rotate_key.rs
  vm/e2e-testsuite/src/tests/script_functions.rs
  vm/e2e-testsuite/src/tests/scripts.rs
  vm/e2e-testsuite/src/tests/transaction_builder.rs
  vm/e2e-testsuite/src/tests/transaction_fees.rs
  vm/e2e-testsuite/src/tests/transaction_fuzzer.rs
  vm/e2e-testsuite/src/tests/validator_set_management.rs
  vm/e2e-testsuite/src/tests/verify_txn.rs
  vm/e2e-testsuite/src/tests/write_set.rs
  vm/e2e-testsuite/src/tests/writeset_builder.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/account_config/constants/addresses.rs
  vm/types/src/lib.rs
  vm/types/src/on_chain_config/genesis_gas_schedule.rs
  vm/types/src/test_helpers/transaction_test_helpers.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

remove parents_hash aka tips_header from parameters list
  benchmarks/src/chain.rs
  chain/api/src/chain.rs
  chain/api/src/service.rs
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  chain/tests/block_test_utils.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_epoch_switch.rs
  cmd/db-exporter/src/main.rs
  cmd/replay/src/main.rs
  consensus/src/consensus_test.rs
  rpc/server/src/module/pubsub/tests.rs
  storage/src/tests/test_block.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  test-helper/src/chain.rs
  test-helper/src/starcoin_dao.rs
  types/src/block.rs
  types/src/header.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
Owners: @nkysg, @welbon, @sanlee42

fixed on_chain_configs.rs
  Cargo.lock
  vm/e2e-testsuite/Cargo.toml
  vm/e2e-testsuite/src/tests/fake_stdlib.rs
  vm/e2e-testsuite/src/tests/on_chain_configs.rs
  vm/e2e-testsuite/src/tests/parallel_execution.rs
  vm/e2e-testsuite/src/tests/transaction_fees.rs
Owners: @nkysg

add barnard block5061847 ubuntu20
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/consensus_test.rs
Owners: @sanlee42, @welbon

Fixed all errors
  vm/e2e-tests/src/executor.rs
  vm/e2e-testsuite/src/tests/admin_script.rs
  vm/e2e-testsuite/src/tests/data_store.rs
  vm/e2e-testsuite/src/tests/experimental.rs
  vm/e2e-testsuite/src/tests/fake_stdlib.rs
  vm/e2e-testsuite/src/tests/mod.rs
  vm/e2e-testsuite/src/tests/on_chain_configs.rs
  vm/e2e-testsuite/src/tests/parallel_execution.rs
  vm/e2e-testsuite/src/tests/transaction_fees.rs
  vm/e2e-testsuite/src/tests/transaction_fuzzer.rs
  vm/e2e-testsuite/src/tests/verify_txn.rs
  vm/e2e-testsuite/src/tests/write_set.rs
Owners: @nkysg

add k total difficulty
  chain/src/chain.rs
  consensus/src/dag/blockdag.rs
  flexidag/src/flexidag_service.rs
  storage/src/flexi_dag/mod.rs
  storage/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  test-helper/src/network.rs
  types/src/startup_info.rs
Owners: @nkysg, @sanlee42, @welbon

add barnard block5061847 ubuntu20 test
  consensus/src/consensus_test.rs
Owners: @sanlee42, @welbon

[e2e-testsuite] cherry pick from branch tps_benchmark_e2e_testsuite
  vm/e2e-tests/src/on_chain_configs.rs
  vm/e2e-tests/src/versioning.rs
  vm/e2e-testsuite/Cargo.toml
  vm/e2e-testsuite/src/tests/account_limits.rs
  vm/e2e-testsuite/src/tests/admin_script.rs
  vm/e2e-testsuite/src/tests/create_account.rs
  vm/e2e-testsuite/src/tests/crsn.rs
  vm/e2e-testsuite/src/tests/data_store.rs
  vm/e2e-testsuite/src/tests/emergency_admin_script.rs
  vm/e2e-testsuite/src/tests/execution_strategies.rs
  vm/e2e-testsuite/src/tests/experimental.rs
  vm/e2e-testsuite/src/tests/failed_transaction_tests.rs
  vm/e2e-testsuite/src/tests/genesis.rs
  vm/e2e-testsuite/src/tests/genesis_initializations.rs
  vm/e2e-testsuite/src/tests/mint.rs
  vm/e2e-testsuite/src/tests/mod.rs
  vm/e2e-testsuite/src/tests/module_publishing.rs
  vm/e2e-testsuite/src/tests/multi_agent.rs
  vm/e2e-testsuite/src/tests/on_chain_configs.rs
  vm/e2e-testsuite/src/tests/parallel_execution.rs
  vm/e2e-testsuite/src/tests/peer_to_peer.rs
  vm/e2e-testsuite/src/tests/rotate_key.rs
  vm/e2e-testsuite/src/tests/transaction_builder.rs
  vm/e2e-testsuite/src/tests/transaction_fees.rs
  vm/e2e-testsuite/src/tests/transaction_fuzzer.rs
  vm/e2e-testsuite/src/tests/validator_set_management.rs
  vm/e2e-testsuite/src/tests/vasps.rs
  vm/e2e-testsuite/src/tests/verify_txn.rs
  vm/e2e-testsuite/src/tests/write_set.rs
  vm/e2e-testsuite/src/tests/writeset_builder.rs
  vm/parallel-executor/src/scheduler.rs
  vm/transaction-benchmarks/src/main.rs
Owners: @nkysg

[e2e-testsuite] cherry pick from branch tps_benchmark_e2e_testsuite
  Cargo.lock
  vm/e2e-tests/src/executor.rs
  vm/e2e-testsuite/Cargo.toml
  vm/e2e-testsuite/src/tests/admin_script.rs
  vm/e2e-testsuite/src/tests/data_store.rs
  vm/e2e-testsuite/src/tests/experimental.rs
  vm/e2e-testsuite/src/tests/fake_stdlib.rs
  vm/e2e-testsuite/src/tests/mod.rs
  vm/e2e-testsuite/src/tests/on_chain_configs.rs
  vm/e2e-testsuite/src/tests/parallel_execution.rs
  vm/e2e-testsuite/src/tests/transaction_fees.rs
  vm/e2e-testsuite/src/tests/transaction_fuzzer.rs
  vm/e2e-testsuite/src/tests/verify_txn.rs
  vm/e2e-testsuite/src/tests/write_set.rs
Owners: @nkysg

[e2e-testsuite] cherry pick from branch tps_benchmark_e2e_testsuite
  vm/e2e-tests/src/executor.rs
  vm/e2e-testsuite/src/tests/admin_script.rs
  vm/e2e-testsuite/src/tests/data_store.rs
  vm/e2e-testsuite/src/tests/fake_stdlib.rs
Owners: @nkysg

[e2e-testsuite] cherry pick from branch tps_benchmark_e2e_testsuite
  vm/e2e-testsuite/src/tests/create_account.rs
  vm/e2e-testsuite/src/tests/parallel_execution.rs
Owners: @nkysg

passed create_account.rs
  vm/e2e-testsuite/src/tests/create_account.rs
Owners: @nkysg

add merge dag accumulator
  block-relayer/src/block_relayer.rs
  chain/api/src/chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  consensus/src/dag/blockdag.rs
  flexidag/src/flexidag_service.rs
  miner/src/create_block_template/mod.rs
  network-rpc/api/src/dag_protocol.rs
  network/api/src/messages.rs
  network/src/service.rs
  network/types/src/peer_info.rs
  node/src/node.rs
  rpc/api/src/types.rs
  storage/src/flexi_dag/mod.rs
  storage/src/lib.rs
  sync/api/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/tests.rs
  sync/src/verified_rpc_client.rs
  types/src/block.rs
  types/src/dag_block.rs
  types/src/header.rs
  types/src/startup_info.rs
  types/src/system_events.rs
Owners: @nkysg, @sanlee42, @welbon
