Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

add extened_checks to move-package-manager
  Cargo.lock
  Cargo.toml
  vm/move-package-manager/Cargo.toml
  vm/move-package-manager/src/extended_checks.rs
  vm/move-package-manager/src/lib.rs
  vm/move-package-manager/src/release.rs
Owners: @nkysg

change to get_id_loc for error message
  Cargo.lock
  Cargo.toml
  vm/move-package-manager/src/extended_checks.rs
Owners: @nkysg

remove jacktest log
  chain/src/chain.rs
  flexidag/dag/src/blockdag.rs
  flexidag/dag/src/consensusdb/consenses_state.rs
  flexidag/dag/src/consensusdb/consensus_reachability.rs
  flexidag/dag/src/consensusdb/item.rs
  flexidag/dag/src/ghostdag/protocol.rs
  flexidag/dag/src/reachability/tree.rs
Owners: @nkysg

migrate move_vm_adapter from move-runtime
  Cargo.lock
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/move_vm_ext/mod.rs
  vm/vm-runtime/src/move_vm_ext/vm_adapter.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix bug: reachability: not supporting the reentrance
  flexidag/dag/src/blockdag.rs
  flexidag/dag/src/consensusdb/consensus_reachability.rs
  flexidag/dag/src/lib.rs
  flexidag/dag/src/reachability/extensions.rs
  flexidag/dag/src/reachability/inquirer.rs
  flexidag/dag/src/reachability/tree.rs
  flexidag/dag/src/types/interval.rs
Owners: none

fix reindex error
  chain/api/src/chain.rs
  chain/src/chain.rs
  flexidag/dag/src/blockdag.rs
  flexidag/dag/src/consensusdb/consensus_reachability.rs
  flexidag/src/lib.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42

remove the building warning
  chain/src/chain.rs
  flexidag/dag/src/reachability/extensions.rs
Owners: @nkysg

mv test and remove warnning libs
  flexidag/dag/src/lib.rs
  flexidag/dag/tests/tests.rs
Owners: none

Fix subscribe id && and more log
  Cargo.lock
  cmd/miner_client/Cargo.toml
  stratum/Cargo.toml
  stratum/src/rpc.rs
  stratum/src/stratum.rs
Owners: @welbon, @sanlee42

refactor move vm adapter
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/move_vm_ext/mod.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
  vm/vm-runtime/src/vm_adapter/adapter_common.rs
  vm/vm-runtime/src/vm_adapter/mod.rs
Owners: @nkysg

add transaction_arg_verify
  executor/tests/script_function_test.rs
Owners: @nkysg

use 9000/s for rate limit
  kube/manifest/starcoin-proxima.yaml
Owners: @sanlee42, @nkysg

rename SessionAdapter member
  vm/vm-runtime/src/vm_adapter/adapter.rs
Owners: @nkysg

add rate limnit
  kube/manifest/starcoin-proxima.yaml
Owners: @sanlee42, @nkysg

fix config
  kube/manifest/starcoin-proxima.yaml
Owners: @sanlee42, @nkysg

ignore ban peer
  network-p2p/src/service.rs
Owners: @sanlee42

remove warning
  network-p2p/src/service.rs
Owners: @sanlee42

no limit on api call
  commons/api-limiter/src/lib.rs
Owners: @nkysg

never throw the rate limit
  network-rpc/src/lib.rs
Owners: @sanlee42

rate limit fix add dag block basic verify
  chain/src/verifier/mod.rs
  commons/api-limiter/src/lib.rs
  kube/manifest/starcoin-proxima.yaml
  network-rpc/src/lib.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

no rate limit on api call
  network-rpc/src/lib.rs
Owners: @sanlee42

no difficulty when sync
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

validating before executing script
  Cargo.lock
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/verifier/mod.rs
  vm/vm-runtime/src/verifier/transaction_arg_validation.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
Owners: @nkysg

ancestor parents must be in an order from small ones to the larger
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

verify dag block by the basic verification method
  chain/src/chain.rs
Owners: @nkysg

skip to verify the dag block for uncles
  chain/src/verifier/mod.rs
Owners: @nkysg

1, k is the number of the max number of uncles 2, the block is qualified if it is not the ancestor of tips
  chain/src/chain.rs
  config/src/genesis_config.rs
  flexidag/dag/src/blockdag.rs
  flexidag/dag/src/ghostdag/protocol.rs
  flexidag/dag/src/reachability/reachability_service.rs
  flexidag/dag/tests/tests.rs
  node/src/node.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

add some test case
  flexidag/dag/tests/tests.rs
Owners: none

no check uncle number if it is a dag block
  chain/src/verifier/mod.rs
  flexidag/dag/src/reachability/inquirer.rs
  flexidag/dag/src/types/interval.rs
  flexidag/dag/tests/tests.rs
Owners: @nkysg

stratum: diff manager
  stratum/src/diff_manager.rs
  stratum/src/lib.rs
  stratum/src/rpc.rs
  stratum/src/stratum.rs
Owners: @sanlee42

chore: fix typos
  commons/forkable-jellyfish-merkle/src/node_type/mod.rs
  commons/metrics/src/op_counters.rs
  vm/parallel-executor/src/scheduler.rs
Owners: @nkysg

fix sync bug: when getting next blocks, we need to check its parents in dag or not, and we should ensure its parents exist!
  flexidag/dag/tests/tests.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

fix sync bug: add a source path to avoid recurse the path processed already
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

use original source path to avoid indefinite recursion
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add source path to track down the block processed
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add never process block
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

remove repeated
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

put the parents in ancestor
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

remove the repeated
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add to the source before ensure parent exist
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
