Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

explicitly calling async functions
  cmd/tx-factory/src/vm2_txn.rs
  rpc/client/src/async_client.rs
Owners: @welbon, @sanlee42

add one aync api
  rpc/client/src/async_client.rs
Owners: @sanlee42

add Async Connection Provider
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
Owners: @sanlee42

add dev txn-factory command
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/dev/mod.rs
  cmd/starcoin/src/dev/txn_factory_cmd.rs
Owners: @welbon

split async rpc apis
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
Owners: @sanlee42

add vm2 test codes
  Cargo.lock
  cmd/tx-factory/Cargo.toml
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

fix seq num and max gas amount
  cmd/tx-factory/src/vm2_txn.rs
  rpc/client/src/async_client.rs
Owners: @welbon, @sanlee42

fix building errors
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

fix vm2 txn factory
  Cargo.lock
  cmd/tx-factory/Cargo.toml
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

add more async apis to rpc client
  rpc/client/src/async_client.rs
  rpc/client/src/remote_state_reader2.rs
Owners: @sanlee42

create new Async types
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader2/async_reader.rs
  rpc/client/src/remote_state_reader2/mod.rs
Owners: @sanlee42

generate test accounts
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

add balancer worker
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

support websocket connection
  cmd/tx-factory/src/vm2_txn.rs
  rpc/client/src/async_client.rs
  rpc/client/src/remote_state_reader2/async_reader.rs
Owners: @welbon, @sanlee42

add more async api
  rpc/client/src/async_client.rs
Owners: @sanlee42

truncate accounts file properly
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

initializing async connection provider
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
Owners: @sanlee42

make test running in parllel
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

remove unused codes
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

trace the transaction execution
  account/service/src/account_events.rs
  cmd/tx-factory/src/main.rs
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/block_builder_service.rs
Owners: @welbon, @sanlee42, @nkysg

trace the transaction execution
  sync/src/block_connector/execute_service.rs
Owners: @sanlee42

fix info print
  account/service/src/account_events.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @welbon, @sanlee42

remove the testing code
  account/service/src/account_events.rs
  cmd/tx-factory/src/main.rs
Owners: @welbon

fix create account: the rest of the account should be put into the available
  cmd/tx-factory/src/main.rs
  kube/manifest/starcoin-halley.yaml
Owners: @welbon, @sanlee42, @nkysg

larger the max block count
  cmd/tx-factory/src/main.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @welbon, @sanlee42

read the transaction 3 times
  cmd/tx-factory/src/main.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/block_builder_service.rs
  sync/src/block_connector/execute_service.rs
Owners: @welbon, @sanlee42

no more read
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

Merge DAG support into types and vm/types
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  storage/src/tests/test_db_upgrade.rs
  types/src/block/legacy.rs
  types/src/block/mod.rs
  types/src/block/raw_block_header.rs
  types/src/block/tests.rs
  vm/types/src/block_metadata.rs
  vm2/types/src/block/mod.rs
  vm2/types/src/view/block_metadata_view.rs
  vm2/vm-types/src/block_metadata/legacy.rs
  vm2/vm-types/src/block_metadata/mod.rs
Owners: @nkysg, @welbon

add wait for the account ready
  cmd/tx-factory/src/main.rs
Owners: @welbon

use 2000 as max transaction count
  config/src/genesis_config.rs
Owners: none

use 3000 as max transcation count
  cmd/tx-factory/src/main.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @welbon, @sanlee42

use 400 as max transaction
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

truncate the pending transaction
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

fetch no more than 500
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

add some info to debug
  miner/src/create_block_template/block_builder_service.rs
  sync/src/block_connector/execute_service.rs
Owners: @sanlee42

remove take 500
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

disable clippy mismatched_lifetime_syntaxes
  network-p2p/core/tests/rpc_gen_test.rs
  network-rpc/api/src/lib.rs
Owners: @sanlee42

remove unused code
  network-p2p/src/service.rs
Owners: @sanlee42

fix clippy
  miner/src/create_block_template/mod.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/service.rs
  rpc/server/src/module/txpool_rpc.rs
Owners: @sanlee42

format code
  commons/accumulator/src/node_index.rs
  commons/accumulator/src/tree.rs
  commons/service-registry/src/bus/mod.rs
  network/api/src/lib.rs
  network/src/service.rs
  storage/src/db_storage/mod.rs
  vm/parallel-executor/src/scheduler.rs
  vm/types/src/account_config/events/accept_token_payment.rs
  vm/types/src/account_config/events/account_deposit.rs
  vm/types/src/account_config/events/account_withdraw.rs
  vm/types/src/account_config/events/block.rs
  vm/types/src/account_config/events/block_reward.rs
  vm/types/src/account_config/events/burn.rs
  vm/types/src/account_config/events/dao.rs
  vm/types/src/account_config/events/mint.rs
  vm/types/src/account_config/events/upgrade.rs
  vm/types/src/contract_event.rs
  vm/types/src/token/token_info.rs
Owners: @welbon, @sanlee42, @nkysg
