Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix test use ignore
  executor/tests/module_upgrade_test.rs
  executor/tests/sip_flag_test.rs
  test-helper/src/lib.rs
  test-helper/src/starcoin_dao.rs
  testsuite/features/cmd.feature
  vm/stdlib/src/compat.rs
Owners: @nkysg, @sanlee42

Update release_asset.yml
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

test llvm install on workflow
  .github/workflows/test-llvm-inst.yml
Owners: @sanlee42, @nkysg

test llvm install on workflow
  .github/workflows/test-llvm-inst.yml
Owners: @sanlee42, @nkysg

Rename
  .github/workflows/test_llvm_inst.yml
Owners: @sanlee42, @nkysg

Update release_asset.yml
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

Update release_asset.yml
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

Update release_asset.yml
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

Update release_asset.yml
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

Update release_asset.yml
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

Update test_llvm_inst.yml
  .github/workflows/test_llvm_inst.yml
Owners: @sanlee42, @nkysg

Update test_llvm_inst.yml
  .github/workflows/test_llvm_inst.yml
Owners: @sanlee42, @nkysg

Update test_llvm_inst.yml
  .github/workflows/test_llvm_inst.yml
Owners: @sanlee42, @nkysg

Update test_llvm_inst.yml
  .github/workflows/test_llvm_inst.yml
Owners: @sanlee42, @nkysg

Move the check module function to split file
  cmd/db-exporter/src/lib.rs
  cmd/db-exporter/src/main.rs
  cmd/db-exporter/src/verify_module.rs
Owners: @welbon

remove traitobject typemap
  Cargo.lock
  Cargo.toml
Owners: none

commit code which cant build
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/lib.rs
  cmd/db-exporter/src/main.rs
  cmd/db-exporter/src/verify_head.11.1
  cmd/db-exporter/src/verify_module.rs
Owners: @welbon

abi support u16, u32, u256
  Cargo.lock
  abi/decoder/src/lib.rs
  abi/resolver/src/lib.rs
  abi/types/Cargo.toml
  abi/types/src/lib.rs
  cmd/resource-exporter/src/main.rs
  commons/metrics/src/process_collector.rs
  executor/tests/error_code_test.rs
  rpc/api/Cargo.toml
  rpc/api/src/types.rs
  vm/dev/src/playground.rs
  vm/move-package-manager/src/release.rs
  vm/resource-viewer/src/lib.rs
  vm/transaction-builder-generator/src/common.rs
  vm/types/src/transaction/tests.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @welbon, @sanlee42

abi support u16, u32, u256
  abi/resolver/src/lib.rs
  abi/types/src/lib.rs
  vm/resource-viewer/src/fat_type.rs
  vm/resource-viewer/src/lib.rs
  vm/resource-viewer/src/resolver.rs
Owners: @nkysg

update rpc schema
  rpc/api/generated_rpc_schema/contract_api.json
  rpc/api/generated_rpc_schema/state.json
Owners: @sanlee42

reset halley genesis
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
Owners: @nkysg

fix call_api_cmd_halley.move
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.exp
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.move
Owners: @nkysg

[halley] Reset halley genesis (#3846)
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.exp
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.move
Owners: @nkysg

Commit code which passed building
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/main.rs
  cmd/db-exporter/src/verify_module.rs
Owners: @welbon

Commit code which passed building
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/lib.rs
  cmd/db-exporter/src/verify_head.rs
  cmd/db-exporter/src/verify_module.rs
Owners: @welbon

Open Ofast compile switch
  consensus/cryptonight-rs/build.rs
Owners: @sanlee42, @welbon

Comment some code for fix problem
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/lib.rs
  cmd/db-exporter/src/verify_head.11.1
  cmd/db-exporter/src/verify_head.rs
  cmd/db-exporter/src/verify_module.rs
Owners: @welbon

remove typemap and fix io-lifetimes compiler error
  Cargo.lock
  Cargo.toml
Owners: none

Commit the code building passed
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/lib.rs
  cmd/db-exporter/src/main.rs
  cmd/db-exporter/src/verify_head.rs
  cmd/db-exporter/src/verify_header.rs
  cmd/db-exporter/src/verify_module.rs
Owners: @welbon

Pass build
  Cargo.lock
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/main.rs
  cmd/db-exporter/src/verify_header.rs
  cmd/db-exporter/src/verify_module.rs
Owners: @welbon

halley genesis with move v5
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
  genesis/generated/proxima/genesis
  vm/stdlib/compiled/latest/stdlib/062_Genesis.mv
Owners: @nkysg, @sanlee42

Add optimze code for parallel which using rayon streaming chain
  Cargo.lock
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/main.rs
  cmd/db-exporter/src/verify_header.rs
Owners: @welbon

Add progress bar
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/verify_header.rs
  cmd/db-exporter/src/verify_module.rs
Owners: @welbon

llvm compiler for release_asset.yml
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

add verify header script
  scripts/release.sh
  scripts/verify_header.sh
Owners: none

halley genesis with move v5 reset
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
Owners: @nkysg

add error report
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/verify_header.rs
Owners: @welbon

1.add BARNARD_HARD_FORK logic 2.add version_string ban logic
  chain/api/src/errors.rs
  network/src/service.rs
  node/src/node.rs
  storage/src/block/mod.rs
  storage/src/chain_info/mod.rs
  storage/src/lib.rs
  storage/src/storage.rs
  storage/src/upgrade.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  types/src/startup_info.rs
  vm/move-package-manager/src/release.rs
Owners: @nkysg, @sanlee42, @welbon

add release version compare ban logic
  network/src/service.rs
Owners: @sanlee42

fix test
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.exp
Owners: @nkysg
