Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

[peer] set peer to ip4 before dns parse
  config/src/genesis_config.rs
Owners: none

[peer] deployment of tag `proxima-dual-verse-dag`
  kube/manifest/starcoin-proxima-do.yaml
Owners: @sanlee42, @nkysg

Add docker-compose and update proxima genesis
  config/example/proxima/genesis_config2.json
  docker/docker-compose.yml
  genesis/generated/proxima/genesis
  vm2/vm-types/src/genesis_config/config.rs
Owners: @nkysg

Add docker-compose and update proxima genesis
  config/example/proxima/genesis_config2.json
  docker/docker-compose.yml
  genesis/generated/proxima/genesis
  vm2/vm-types/src/genesis_config/config.rs
Owners: @nkysg

honor stdlib_options and network name
  Cargo.lock
  genesis/src/lib.rs
  genesis/src/vm2.rs
  vm/stdlib/Cargo.toml
  vm/stdlib/src/lib.rs
  vm/transaction-builder/src/vm2.rs
  vm2/executor/tests/dual_vm_genesis_test.rs
  vm2/test-helper/src/executor.rs
Owners: @nkysg, @sanlee42

fix vm2 stdlib_version
  genesis/src/vm2.rs
  vm/stdlib/compiled/latest/dev.mrb
  vm/stdlib/src/lib.rs
Owners: @nkysg, @sanlee42

add MRB generating script
  scripts/generate_mrb.sh
Owners: none

fix clippy error
  vm/stdlib/src/lib.rs
Owners: @nkysg, @sanlee42

fix testsuite
  testsuite/tests/steps/transaction.rs
Owners: @nkysg

enable dao integration test
  testsuite/features/cmd.feature
Owners: @nkysg

[digital ocean deploy] change proxima peer
  config/src/genesis_config/mod.rs
Owners: none

[peer] set peer to ip4 before dns parse
  config/src/genesis_config/mod.rs
Owners: none

[digital ocean deploy] start loadbalance for starcoin-0
  kube/manifest/service-proxima-do.yaml
Owners: @sanlee42, @nkysg

kube: Update startup cmd
  kube/manifest/starcoin-proxima-do.yaml
Owners: @sanlee42, @nkysg

[digital ocean deploy] add node keys for peer
  kube/manifest/starcoin-proxima-do.yaml
Owners: @sanlee42, @nkysg

[seed migration]digital ocean migration configuration
  kube/manifest/do-migration/migration-pv-data-snapshot.yaml
  kube/manifest/do-migration/migration-seed-aws-pod.yaml
  kube/manifest/do-migration/migration-seed-debug.yaml
  kube/manifest/do-migration/migration-seed-do-pod.yaml
  kube/manifest/service-main-do.yaml
  kube/manifest/service-proxima-do.yaml
  kube/manifest/starcoin-proxima.yaml
Owners: @sanlee42, @nkysg

[digital ocean deploy] change proxima boot seed ip address to domain
  config/src/genesis_config/mod.rs
Owners: none

[peer] set peer to DO
  config/src/genesis_config/mod.rs
  kube/manifest/service-proxima-do.yaml
Owners: @sanlee42, @nkysg

[peer] deployment of tag `proxima-dual-verse-dag`
  kube/manifest/starcoin-proxima-do.yaml
Owners: @sanlee42, @nkysg

Update the codecov workflow trigger way.
  .github/workflows/codecov.yml
Owners: @sanlee42, @nkysg

Add docker-compose and update proxima genesis
  config/example/proxima/genesis_config2.json
  config/src/genesis_config/vm2.rs
  docker/docker-compose.yml
  genesis/generated/proxima/genesis
Owners: @nkysg

[digital ocean deploy] set init time of probe to 10min for genesis data migration
  kube/manifest/starcoin-proxima-do.yaml
Owners: @sanlee42, @nkysg

[seed migration] proxima digital ocean
  kube/manifest/starcoin-proxima-do.yaml
Owners: @sanlee42, @nkysg

FIx verifier for head and block number checking
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  chain/tests/test_block_chain.rs
  kube/manifest/starcoin-proxima-do.yaml
Owners: @nkysg, @sanlee42

[digital ocean deploy] change proxima peer
  config/src/genesis_config/mod.rs
Owners: none

[dual verse dag] proxima peer (#4645)
  .github/workflows/codecov.yml
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  chain/tests/test_block_chain.rs
  config/example/proxima/genesis_config2.json
  config/src/genesis_config/mod.rs
  config/src/genesis_config/vm2.rs
  docker/docker-compose.yml
  genesis/generated/proxima/genesis
  kube/manifest/do-migration/migration-pv-data-snapshot.yaml
  kube/manifest/do-migration/migration-seed-aws-pod.yaml
  kube/manifest/do-migration/migration-seed-debug.yaml
  kube/manifest/do-migration/migration-seed-do-pod.yaml
  kube/manifest/service-main-do.yaml
  kube/manifest/service-proxima-do.yaml
  kube/manifest/starcoin-proxima-do.yaml
Owners: @sanlee42, @nkysg

execute and validate block meta txn first in parallel execution
  commons/parallel-executor/src/executor.rs
Owners: @nkysg

add is_block_meta_data method to trait Transaction for parallel executor to locate block meta txn
  commons/parallel-executor/src/proptest_types/types.rs
  commons/parallel-executor/src/task.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: @nkysg

[mpm] fixed cargo fmt
  vm2/starcoin-transactional-test-harness/src/context.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
  vm2/starcoin-transactional-test-harness/src/fork_state.rs
  vm2/starcoin-transactional-test-harness/src/lib.rs
  vm2/starcoin-transactional-test-harness/src/remote_state.rs
Owners: none

[mpm] migration vm2 codes
  vm2/starcoin-transactional-test-harness/src/lib.rs
Owners: none

add mpm codes for vm2
  Cargo.lock
  Cargo.toml
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/starcoin-transactional-test-harness/src/context.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
  vm2/starcoin-transactional-test-harness/src/fork_state.rs
  vm2/starcoin-transactional-test-harness/src/lib.rs
  vm2/starcoin-transactional-test-harness/src/remote_state.rs
  vm2/starcoin-transactional-test-harness/tests/cases/arg_variable.exp
  vm2/starcoin-transactional-test-harness/tests/cases/arg_variable.move
  vm2/starcoin-transactional-test-harness/tests/cases/block_cmd.exp
  vm2/starcoin-transactional-test-harness/tests/cases/block_cmd.move
  vm2/starcoin-transactional-test-harness/tests/cases/borrow_field_test.exp
  vm2/starcoin-transactional-test-harness/tests/cases/borrow_field_test.move
  vm2/starcoin-transactional-test-harness/tests/cases/call_api_cmd.exp
  vm2/starcoin-transactional-test-harness/tests/cases/call_api_cmd.move
  vm2/starcoin-transactional-test-harness/tests/cases/call_api_cmd_barnard.exp
  vm2/starcoin-transactional-test-harness/tests/cases/call_api_cmd_barnard.move
  vm2/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.exp
  vm2/starcoin-transactional-test-harness/tests/cases/content.json
  vm2/starcoin-transactional-test-harness/tests/cases/package_deploy_cmd.exp
  vm2/starcoin-transactional-test-harness/tests/cases/package_deploy_cmd.move
  vm2/starcoin-transactional-test-harness/tests/cases/publish_cmd.exp
  vm2/starcoin-transactional-test-harness/tests/cases/publish_cmd.move
  vm2/starcoin-transactional-test-harness/tests/cases/run_cmd.exp
  vm2/starcoin-transactional-test-harness/tests/cases/run_cmd.move
  vm2/starcoin-transactional-test-harness/tests/cases/sign_cmd.exp
  vm2/starcoin-transactional-test-harness/tests/cases/sign_cmd.move
  vm2/starcoin-transactional-test-harness/tests/cases/var.exp
  vm2/starcoin-transactional-test-harness/tests/cases/var.move
  vm2/starcoin-transactional-test-harness/tests/cases/vector_ops_type_mismatch.exp
  vm2/starcoin-transactional-test-harness/tests/cases/vector_ops_type_mismatch.mvir
  vm2/starcoin-transactional-test-harness/tests/tests.rs
Owners: none

[mpm] migration vm2 move test codes
  vm2/starcoin-transactional-test-harness/tests/cases/arg_variable.exp
  vm2/starcoin-transactional-test-harness/tests/cases/arg_variable.move
  vm2/starcoin-transactional-test-harness/tests/cases/block_cmd.exp
  vm2/starcoin-transactional-test-harness/tests/cases/block_cmd.move
  vm2/starcoin-transactional-test-harness/tests/cases/borrow_field_test.move
  vm2/starcoin-transactional-test-harness/tests/cases/call_api_cmd.exp
  vm2/starcoin-transactional-test-harness/tests/cases/call_api_cmd.move
  vm2/starcoin-transactional-test-harness/tests/cases/package_deploy_cmd.exp
  vm2/starcoin-transactional-test-harness/tests/cases/package_deploy_cmd.move
  vm2/starcoin-transactional-test-harness/tests/cases/run_cmd.move
  vm2/starcoin-transactional-test-harness/tests/cases/var.move
Owners: none

[mpm] migration codes
  Cargo.lock
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/starcoin-transactional-test-harness/src/lib.rs
Owners: none

[mpm] merge some code for transactional-harness
  vm2/starcoin-transactional-test-harness/src/fork_state.rs
Owners: none

[mpm] migration vm2 codes
  Cargo.lock
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/starcoin-transactional-test-harness/src/lib.rs
Owners: none

[mpm] fixed clap4 error
  Cargo.lock
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/starcoin-transactional-test-harness/src/lib.rs
Owners: none

commit for email test
  vm/starcoin-transactional-test-harness/src/remote_state.rs
Owners: @nkysg

[mpm] migration vm2 codes
  vm2/starcoin-transactional-test-harness/src/lib.rs
Owners: none

[mpm] migration codes
  vm2/starcoin-transactional-test-harness/src/lib.rs
Owners: none

[mpm] migration vm2 code
  Cargo.lock
  vm2/resource-viewer/src/lib.rs
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/starcoin-transactional-test-harness/src/lib.rs
Owners: none
