Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix chain tests
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/tests/block_test_utils.rs
Owners: @nkysg

add missing license infos
  state/statedb/src/multi_chain_state_db.rs
  types/src/multi_state.rs
Owners: @welbon, @nkysg

fix genesis test
  genesis/src/lib.rs
Owners: @nkysg

insert ghostdata when mining
  consensus/src/difficulty.rs
  flexidag/src/blockdag.rs
Owners: @sanlee42, @welbon

fix sync tests
  sync/src/announcement/mod.rs
  sync/src/tasks/tests.rs
Owners: @sanlee42

add verify the pruning point
  chain/src/verifier/mod.rs
  flexidag/src/blockdag.rs
Owners: @nkysg

generate the pruning point in async
  flexidag/src/blockdag.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

add pruning point service
  Cargo.lock
  flexidag/Cargo.toml
  flexidag/src/blockdag.rs
  flexidag/src/lib.rs
  flexidag/src/service/mod.rs
  flexidag/src/service/pruning_point_service.rs
  node/src/node.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/tasks/mod.rs
Owners: @nkysg, @sanlee42

remove the testing info
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

[dual-vm] commit remote for vm1 rpc call
  cmd/starcoin/tests/test_rpc_client_vm1.rs
Owners: @welbon

[dual-vm] commit remote for vm1 rpc call
  cmd/starcoin/tests/test_rpc_client_vm1.rs
Owners: @welbon

add verify the ghostdata
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  flexidag/src/blockdag.rs
  kube/manifest/starcoin-halley.yaml
Owners: @nkysg, @sanlee42

add merge depth to filter red blocks
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @nkysg, @sanlee42

reconstruct multi_state before connecting a chain
  sync/src/tasks/block_sync_task.rs
  types/src/block.rs
Owners: @sanlee42, @nkysg, @welbon

Add vm state accumulator (#4485)
  Cargo.lock
  block-relayer/src/block_relayer.rs
  chain/open-block/src/lib.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/fixed_blocks.rs
  chain/src/lib.rs
  chain/tests/block_test_utils.rs
  chain/tests/test_block_chain.rs
  commons/accumulator/src/node.rs
  config/src/lib.rs
  genesis/generated/proxima/genesis
  genesis/src/lib.rs
  miner/src/create_block_template/mod.rs
  network-rpc/src/tests.rs
  network/tests/network_service_test.rs
  rpc/api/generated_rpc_schema/sync_manager.json
  rpc/api/src/types.rs
  state/service/Cargo.toml
  state/service/src/service.rs
  state/statedb/src/multi_chain_state_db.rs
  storage/src/accumulator/mod.rs
  storage/src/lib.rs
  storage/src/tests/test_storage.rs
  storage/src/upgrade.rs
  sync/src/announcement/mod.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/tests.rs
  test-helper/src/txpool.rs
  txpool/src/pool_client.rs
  types/src/block.rs
  types/src/multi_state.rs
  types/src/startup_info.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
  vm2/genesis/src/lib.rs
Owners: @nkysg, @welbon, @sanlee42

enable simple ci checks
  .github/workflows/build_test.yml
  executor/Cargo.toml
  executor/src/block_executor.rs
  executor/src/lib.rs
  scripts/check_commit.sh
  storage/src/db_storage/mod.rs
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/cached-packages/src/starcoin_token_objects_sdk_builder.rs
  vm/framework/cached-packages/src/starcoin_token_sdk_builder.rs
  vm/framework/src/built_package.rs
  vm/gas-schedule/src/gas_schedule/transaction.rs
  vm/parallel-executor/src/scheduler.rs
  vm/starcoin-gas-meter/Cargo.toml
  vm/starcoin-gas-meter/src/gas_meter.rs
  vm/starcoin-sdk-builder/src/rust.rs
  vm/types/Cargo.toml
  vm/types/src/genesis_config/config.rs
  vm/types/src/genesis_config/mod.rs
  vm/types/src/token/token_value.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @sanlee42, @nkysg, @welbon

enable abi, resource-viewer crates
  Cargo.toml
  abi/resolver/Cargo.toml
Owners: @nkysg

add ChainNetwork for data sharing
  vm/types/src/genesis_config/config.rs
  vm/types/src/genesis_config/mod.rs
Owners: @nkysg

add back chain-state-service
  Cargo.lock
  Cargo.toml
  state/api/src/lib.rs
  state/api/src/message.rs
  state/api/src/mock/mock_chain_state_service.rs
  state/api/src/mock/mod.rs
  state/service/Cargo.toml
  state/service/src/lib.rs
  state/service/src/service.rs
Owners: @welbon, @nkysg

replace NodeConfig with ChainNetwork
  state/service/Cargo.toml
  state/service/src/service.rs
Owners: @welbon, @nkysg

add back account crates
  Cargo.lock
  Cargo.toml
  account/service/Cargo.toml
  account/service/src/service.rs
  account/src/account_storage.rs
Owners: @welbon

replace NodeConfig and define new EventNotify
  Cargo.lock
  account/service/Cargo.toml
  account/service/src/account_events.rs
  account/service/src/lib.rs
  account/service/src/service.rs
Owners: @welbon

remove starcoin-config
  Cargo.toml
Owners: none

remove starcoin-config from account
  Cargo.lock
  account/Cargo.toml
Owners: @welbon

add starcoin-rpc-api
  Cargo.lock
  Cargo.toml
  rpc/api/Cargo.toml
  rpc/api/src/lib.rs
  rpc/api/src/types.rs
Owners: @sanlee42

add starcoin-dev
  Cargo.lock
  Cargo.toml
Owners: none

remove starcoin-chain-notify
  Cargo.lock
  Cargo.toml
  account/service/Cargo.toml
Owners: @welbon

add rpc-server
  Cargo.lock
  Cargo.toml
  rpc/server/Cargo.toml
  rpc/server/src/lib.rs
  rpc/server/src/module/account_rpc.rs
  rpc/server/src/module/contract_rpc.rs
  rpc/server/src/module/helpers.rs
  rpc/server/src/module/mod.rs
Owners: @sanlee42

fix clippy
  rpc/api/src/state/mod.rs
Owners: @sanlee42

Update state/api/src/lib.rs
  state/api/src/lib.rs
Owners: @welbon, @nkysg

fix fmt
  state/api/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @welbon, @nkysg

add back chain-state-service
  Cargo.lock
  Cargo.toml
  state/api/src/lib.rs
  state/api/src/message.rs
  state/api/src/mock/mock_chain_state_service.rs
  state/api/src/mock/mod.rs
  state/service/Cargo.toml
  state/service/src/lib.rs
  state/service/src/service.rs
Owners: @welbon, @nkysg

add account and account-api
  Cargo.lock
  Cargo.toml
  account/Cargo.toml
  account/src/account_storage.rs
Owners: @welbon

fix compiler
  state/api/src/lib.rs
Owners: @welbon, @nkysg

[all resource export] add all codes
  Cargo.lock
  Cargo.toml
  cmd/cmd-utils/Cargo.toml
  cmd/cmd-utils/src/lib.rs
  cmd/cmd-utils/src/move_struct_serde.rs
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/main.rs
Owners: @welbon

[all resource export] cargo fmt
  cmd/cmd-utils/src/lib.rs
Owners: @welbon

[all resource export] add test code for export
  Cargo.lock
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/main.rs
Owners: @welbon

reconstruct
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42

[all resource export] reformat code of export to export.rs file
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/main.rs
Owners: @welbon

[all resource export] fixed export handle
  Cargo.lock
  Cargo.toml
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/export.rs
Owners: @welbon
