Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

Rebuild this version for framework v11
  kube/manifest/starcoin-proxima.yaml
Owners: @sanlee42, @nkysg

Rebuild this version for framework v11
  kube/manifest/starcoin-proxima.yaml
Owners: @sanlee42, @nkysg

fix: proxima config
  config/example/proxima/genesis_config.json
  config/src/genesis_config.rs
  config/src/lib.rs
  genesis/src/lib.rs
  vm/types/src/on_chain_config/genesis_gas_schedule.rs
  vm/types/src/on_chain_config/mod.rs
Owners: @nkysg

fix halley gas
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
  genesis/generated/proxima/genesis
  genesis/src/lib.rs
  vm/stdlib/compiled/latest/stdlib/055_GasSchedule.mv
Owners: @nkysg, @sanlee42

add #[cfg(test)] before gas_schdule::is_different
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

assert will be under #[cfg(test)]
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

remove #[cfg(test)]
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

use debug_assert instead of assert
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

To fix the crash of method to getting systeminfo by calling , from check_disk_space, Upgrade sysinfo library from 0.25.1 to 0.29.0
  Cargo.lock
  Cargo.toml
Owners: none

To fix the crash of method to getting systeminfo by calling , from check_disk_space, Upgrade sysinfo library from 0.25.1 to 0.29.0 (#3894)
  Cargo.lock
  Cargo.toml
Owners: none

upgrade rust version from 1.66.0 to 1.66.1
  rust-toolchain.toml
Owners: none

upgrade rust version from 1.66.0 to 1.66.1 (#3893)
  rust-toolchain.toml
Owners: none

add crate multi version hashmap
  Cargo.lock
  Cargo.toml
  commons/proptest-helpers/Cargo.toml
  vm/mvhashmap/Cargo.toml
  vm/mvhashmap/src/lib.rs
  vm/mvhashmap/src/unit_tests/mod.rs
  vm/mvhashmap/src/unit_tests/mvhashmap_test.rs
  vm/mvhashmap/src/unit_tests/proptest_types.rs
Owners: @nkysg

fix typos
  commons/service-registry/src/service_registry.rs
  txpool/mock-service/src/lib.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

remove starcoin_vm.rs unused code
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix cargo check
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[write_set] Added storage handling for write_set in the executor execution flow.
  chain/src/chain.rs
  executor/src/block_executor.rs
  storage/src/lib.rs
  storage/src/tests/mod.rs
  storage/src/write_set/mod.rs
Owners: @nkysg, @welbon

[write_set] Added storage handling for write_set in the executor execution flow.
  storage/src/tests/test_write_set.rs
Owners: @welbon, @nkysg

[write_set] Added write set for rpc
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/types.rs
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @sanlee42

starcoin cli supports subscribing NewMintBlock event
  cmd/starcoin/src/dev/subscribe_cmd.rs
  cmd/starcoin/src/lib.rs
Owners: @welbon

Update rocksdb for fixing librocksdb_sys build failed when llvm >= 15.0.6
  Cargo.lock
  Cargo.toml
Owners: none

cargo fmt fix
  txpool/mock-service/src/lib.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

[write_set] add deletion to unittest
  storage/src/tests/test_write_set.rs
Owners: @welbon, @nkysg

[write_set] auto format
  rpc/api/src/types.rs
  storage/src/tests/test_write_set.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @sanlee42, @welbon, @nkysg

[write_set] for commit check
  storage/src/tests/test_write_set.rs
Owners: @welbon, @nkysg

[write_set] Fix commit script check
  Cargo.lock
  rpc/api/generated_rpc_schema/chain.json
Owners: @sanlee42

fix typos (#3902)
  commons/service-registry/src/service_registry.rs
  txpool/mock-service/src/lib.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

remove starcoin_vm.rs unused code (#3901)
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix gas-algebra-ext move_stdlib test
  vm/types/Cargo.toml
Owners: @nkysg

fix gas-algebra-ext move_stdlib test
  vm/gas-algebra-ext/Cargo.toml
  vm/gas-algebra-ext/src/move_stdlib.rs
Owners: @nkysg

remove Dup StateReaderExt code
  state/api/src/chain_state.rs
  state/api/src/lib.rs
Owners: @welbon, @nkysg

Update rocksdb for fixing librocksdb_sys build failed when llvm >= 15.0.6 (#3904)
  Cargo.lock
  Cargo.toml
Owners: none

[write_set] set hashmap to vector
  executor/src/block_executor.rs
Owners: @nkysg

[write_set] Add table handle test for write set
  storage/src/tests/test_write_set.rs
Owners: @welbon, @nkysg

starcoin cli supports subscribing NewMintBlock event (#3905)
  cmd/starcoin/src/dev/subscribe_cmd.rs
  cmd/starcoin/src/lib.rs
Owners: @welbon

fix test_handshake_message
  network-p2p/src/service_test.rs
Owners: @sanlee42

move derive and core from network-rpc to network-p2p
  Cargo.lock
  Cargo.toml
  network-rpc/Cargo.toml
  network-rpc/api/Cargo.toml
  network-rpc/api/src/lib.rs
  network-rpc/core/Cargo.toml
  network-rpc/core/src/delegates.rs
  network-rpc/core/src/lib.rs
  network-rpc/core/src/server.rs
  network-rpc/core/tests/rpc_gen_test.rs
  network-rpc/derive/Cargo.toml
  network-rpc/derive/src/helper.rs
  network-rpc/derive/src/lib.rs
  network-rpc/derive/src/options.rs
  network-rpc/derive/src/rpc_trait.rs
  network-rpc/derive/src/to_client.rs
  network-rpc/derive/src/to_server.rs
  network-rpc/src/lib.rs
  network-rpc/src/rpc.rs
  network/Cargo.toml
  network/src/service_ref.rs
  network/tests/network_rpc_test.rs
  node/Cargo.toml
  rpc/server/Cargo.toml
  rpc/server/src/module/network_manager_rpc.rs
  sync/Cargo.toml
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  test-helper/Cargo.toml
Owners: @sanlee42, @nkysg

process the unwrap
  network/src/network_p2p_handle.rs
Owners: @sanlee42

commit drive and core in network-p2p
  network-p2p/core/Cargo.toml
  network-p2p/core/src/delegates.rs
  network-p2p/core/src/lib.rs
  network-p2p/core/src/server.rs
  network-p2p/core/tests/rpc_gen_test.rs
  network-p2p/derive/Cargo.toml
  network-p2p/derive/src/helper.rs
  network-p2p/derive/src/lib.rs
  network-p2p/derive/src/options.rs
  network-p2p/derive/src/rpc_trait.rs
  network-p2p/derive/src/to_client.rs
  network-p2p/derive/src/to_server.rs
Owners: @sanlee42

network construction
  Cargo.lock
  cmd/peer-watcher/Cargo.toml
  cmd/peer-watcher/src/lib.rs
  cmd/peer-watcher/src/main.rs
  network-p2p/src/behaviour.rs
  network-p2p/src/config.rs
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/event.rs
  network-p2p/src/protocol/message.rs
  network-p2p/src/service.rs
  network-p2p/src/service_test.rs
  network-p2p/types/Cargo.toml
  network-p2p/types/src/business_layer_handle.rs
  network-p2p/types/src/lib.rs
  network/src/lib.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
  network/src/worker.rs
Owners: @welbon, @sanlee42
