Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

renew the header in block builder service asynchronically
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/mod.rs
Owners: @sanlee42, @nkysg

add info log
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

make creating block and executing block parallized
  miner/Cargo.toml
  miner/src/create_block_template/mod.rs
  miner/src/lib.rs
  miner/tests/miner_test.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  types/src/sync_status.rs
Owners: @sanlee42, @nkysg, @welbon

sort the tips by the work type and blue score and fetch the previous 10 tip stored in the dag state
  flexidag/src/blockdag.rs
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

add equa in merge depth checking
  chain/src/chain.rs
  kube/manifest/starcoin-halley.yaml
Owners: @nkysg, @sanlee42

reverse flexidag/src/blockdag.rs
  flexidag/src/blockdag.rs
Owners: none

1, remove the flag in dispatch_task 2, use read lock outside match and drop it explicitly
  chain/api/src/range_locate.rs
  miner/src/lib.rs
Owners: @nkysg, @sanlee42

monitor the new dag and peer new dag instead of new head message to get the latest pruning point
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/new_header_service.rs
  sync/src/sync.rs
Owners: @sanlee42

use near sync where the abs of target numbe - chain header number is less than 240
  miner/src/generate_block_event_pacemaker.rs
  sync/src/block_connector/block_connector_service.rs
  types/src/sync_status.rs
Owners: @sanlee42, @nkysg, @welbon

consume the new header message
  Cargo.lock
  miner/Cargo.toml
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

force to mint if the dag block comes from peers
  kube/manifest/starcoin-halley.yaml
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42, @nkysg

remove re-export legacy block types
  chain/src/fixed_blocks.rs
  genesis/src/lib.rs
  storage/src/block_info/legacy.rs
  storage/src/tests/test_storage.rs
  types/src/block/mod.rs
Owners: @nkysg, @welbon

upgrade OldFailedBlock directly
  storage/src/block/legacy.rs
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

[all resource export] Read-while-writing during export process
  cmd/resource-code-exporter/src/export.rs
Owners: @welbon

[all resource export] add index processing during import process
  cmd/resource-code-exporter/src/import.rs
Owners: @welbon

[all resource export] fixed export log
  cmd/resource-code-exporter/src/export.rs
Owners: @welbon

no mining until synced
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

update test_db_upgrade to check block-related storage
  storage/src/block/legacy.rs
  storage/src/db_storage/mod.rs
  storage/src/tests/test_block.rs
  storage/src/tests/test_storage.rs
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

Upgrade block related storages (#4561)
  chain/src/fixed_blocks.rs
  genesis/src/lib.rs
  storage/src/block/legacy.rs
  storage/src/block/mod.rs
  storage/src/block_info/legacy.rs
  storage/src/block_info/mod.rs
  storage/src/lib.rs
  storage/src/tests/test_block.rs
  storage/src/tests/test_storage.rs
  storage/src/upgrade.rs
  storage/src/version.rs
  types/src/block/legacy.rs
  types/src/block/mod.rs
Owners: @nkysg, @welbon

[CI] fixed deploy CI
  docker/Dockerfile
  docker/Dockerfilefromlocal
  scripts/release.sh
Owners: none

[CI] fixed docker file formater
  docker/Dockerfile
Owners: none

[CI] fixed deploy CI
  docker/Dockerfile
  docker/Dockerfilefromlocal
  scripts/release.sh
Owners: none

[multi move] fixed ci deploy (#4560)
  docker/Dockerfile
  docker/Dockerfilefromlocal
  scripts/release.sh
Owners: none

[all resource export] fixed commit check
  cmd/resource-code-exporter/src/export.rs
  state/statedb/src/lib.rs
Owners: @welbon, @nkysg

[all resource export] fixed export handle
  Cargo.lock
  Cargo.toml
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/export.rs
Owners: @welbon

[all resource export] fixed cargo fmt
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/import.rs
Owners: @welbon

[all resource export] fixed build error
  state/statedb/src/lib.rs
Owners: @welbon, @nkysg

[all resource export] cargo fmt
  cmd/cmd-utils/src/lib.rs
Owners: @welbon

[all resource export] cargo fmt
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/import.rs
  cmd/resource-code-exporter/src/main.rs
Owners: @welbon

[all resource export] add content verify
  Cargo.lock
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/import.rs
  cmd/resource-code-exporter/src/main.rs
  state/statedb/Cargo.toml
  state/statedb/src/lib.rs
Owners: @welbon, @nkysg

[all resource export] fixed build error
  cmd/resource-code-exporter/src/import.rs
Owners: @welbon

[all resource export] add test code for export
  Cargo.lock
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/main.rs
Owners: @welbon

[all resource export] fixed clippy
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/import.rs
Owners: @welbon

[all resource export] add subcommand for export
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/import.rs
  cmd/resource-code-exporter/src/main.rs
Owners: @welbon

[all resource export] passed check
  cmd/resource-code-exporter/src/import.rs
Owners: @welbon

[all resource export] add import codes
  Cargo.lock
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/import.rs
Owners: @welbon

[all resource export] reformat code of export to export.rs file
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/main.rs
Owners: @welbon

[all resource export] add all codes
  Cargo.lock
  Cargo.toml
  cmd/cmd-utils/Cargo.toml
  cmd/cmd-utils/src/lib.rs
  cmd/cmd-utils/src/move_struct_serde.rs
  cmd/resource-code-exporter/Cargo.toml
  cmd/resource-code-exporter/src/main.rs
Owners: @welbon

[all resource export] sync code from branch `bob/dual-vm-export-resource-from-master`
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/import.rs
  cmd/resource-code-exporter/src/main.rs
Owners: @welbon

add multi thread in halley yaml
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg
