Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

[dual-vm] fixed clippy
  Cargo.toml
Owners: none

skip more tests
  scripts/nextest.sh
Owners: none

fix unclean git status errors
  genesis/tests/generated_files.rs
  rpc/api/src/tests.rs
  scripts/dev_setup.sh
Owners: @nkysg, @sanlee42

fix unclean git status errors
  vm/stdlib/tests/generated_files.rs
Owners: @nkysg, @sanlee42

move duplicate function to test-helper
  Cargo.lock
  genesis/Cargo.toml
  genesis/tests/generated_files.rs
  rpc/api/Cargo.toml
  rpc/api/src/tests.rs
  test-helper/src/lib.rs
  test-helper/src/utils.rs
  vm/stdlib/Cargo.toml
  vm/stdlib/tests/generated_files.rs
Owners: @nkysg, @sanlee42

add debug info
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

bump schemars
  Cargo.lock
  Cargo.toml
Owners: none

bump schemars (#4468)
  Cargo.lock
  Cargo.toml
Owners: none

fix unclean git status errors (#4465)
  Cargo.lock
  genesis/Cargo.toml
  genesis/tests/generated_files.rs
  rpc/api/Cargo.toml
  rpc/api/src/tests.rs
  test-helper/src/lib.rs
  test-helper/src/utils.rs
  vm/stdlib/Cargo.toml
  vm/stdlib/tests/generated_files.rs
Owners: @nkysg, @sanlee42

add log
  miner/src/lib.rs
Owners: @sanlee42

use finality depth
  flexidag/src/blockdag.rs
Owners: none

comment the remove red blocks logic
  flexidag/src/blockdag.rs
Owners: none

fmt
  consensus/src/difficulty.rs
  flexidag/src/blockdag.rs
  miner/src/lib.rs
Owners: @sanlee42, @welbon

update genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

rpc schema
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/generated_rpc_schema/txpool.json
Owners: @sanlee42

ignore the merge depth test case
  flexidag/tests/tests.rs
Owners: none

ignore test
  chain/tests/test_txn_info_and_proof.rs
Owners: @nkysg

comment the merge block
  flexidag/src/blockdag.rs
Owners: none

ignore test
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.move.bak
Owners: @nkysg

Remove the filtering red blocks logic (#4469)
  consensus/src/difficulty.rs
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
Owners: @sanlee42, @welbon

feat(blocktemplate): make BlockBuilderService async-safe (#4457)
  miner/src/create_block_template/mod.rs
  miner/src/lib.rs
  miner/tests/miner_test.rs
Owners: @sanlee42

Update docker compose
  docker/docker-compose.yml
Owners: none

chain: set default pruning height to genesis (0) for non-main/test chains
  chain/src/chain.rs
Owners: @nkysg

chain: remove legacy block upgrade check for halley and proxima
  types/src/block/mod.rs
Owners: @nkysg, @welbon

chain: set default pruning height to genesis (0) for non-main/test chains
  chain/src/chain.rs
Owners: @nkysg

chain: remove legacy block upgrade check for halley and proxima
  types/src/block/mod.rs
Owners: @nkysg, @welbon

[dual-vm] remove starcoin account useless code
  account/api/src/lib.rs
  account/api/src/setting.rs
Owners: @welbon

rename some functions
  chain/src/chain.rs
  vm2/chain/src/lib.rs
  vm2/executor/src/block_executor.rs
  vm2/executor/src/executor.rs
  vm2/executor/src/lib.rs
  vm2/executor/tests/dual_vm_genesis_test.rs
  vm2/genesis/src/lib.rs
  vm2/test-helper/src/executor.rs
Owners: @nkysg

remove unused dependencies
  Cargo.lock
  executor/Cargo.toml
Owners: @nkysg

include new txns to BlockTemplate
  Cargo.lock
  chain/mock/src/mock_chain.rs
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_epoch_switch.rs
  chain/tests/test_force_upgrade.rs
  miner/src/create_block_template/mod.rs
  rpc/server/src/module/pubsub/tests.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  test-helper/src/chain.rs
Owners: @nkysg, @sanlee42

update TxPoolProvider iterface
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

Revert "[multi-vm] Transaction add UserTransactionExt (#4431)"
  chain/tests/test_txn_info_and_proof.rs
  etc/starcoin_types.yml
  rpc/api/src/types.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42

fix building errors
  rpc/api/src/types.rs
  types/src/multi_transaction.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @sanlee42, @nkysg, @welbon

fix a test case
  chain/tests/test_txn_info_and_proof.rs
Owners: @nkysg

add vm2.0 txn to test_opened_block
  Cargo.lock
  chain/Cargo.toml
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
  chain/tests/test_opened_block.rs
  vm2/test-helper/src/lib.rs
  vm2/test-helper/src/txn.rs
Owners: @nkysg

fix clippy
  chain/tests/test_opened_block.rs
  txpool/src/test.rs
Owners: @nkysg, @sanlee42, @welbon

incress wait time for test
  node/src/node.rs
Owners: @nkysg

fix testsuite compiling error
  testsuite/tests/steps/transaction.rs
Owners: @nkysg

[sync] Refactored BlockConnectorService to inject Storage, VMMetrics, and Genesis via constructor
  flexidag/src/blockdag.rs
  miner/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  types/src/block/mod.rs
Owners: @sanlee42, @nkysg, @welbon

add batch fetch blocks
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42
