Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

update rpc schema
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/generated_rpc_schema/txpool.json
Owners: @sanlee42

Multi move vm update rpc view (#4477)
  Cargo.lock
  Cargo.toml
  abi/types/src/lib.rs
  cmd/db-exporter/src/main.rs
  executor/src/executor.rs
  node/src/node.rs
  rpc/api/Cargo.toml
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/generated_rpc_schema/txpool.json
  rpc/api/src/multi_types.rs
  rpc/api/src/types.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/chain_rpc.rs
  txpool/src/pool.rs
  txpool/src/pool/verifier.rs
  types/src/multi_transaction.rs
  vm/gas-algebra-ext/src/instr.rs
  vm/move-package-manager/src/compatibility_check_cmd.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
  vm/types/src/on_chain_config/genesis_gas_schedule.rs
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm2/executor/src/executor.rs
Owners: @nkysg, @welbon, @sanlee42

upgrade shared crates
  Cargo.lock
  Cargo.toml
Owners: none

upgrade shared crates (#4481)
  Cargo.lock
  Cargo.toml
Owners: none

move transaction types to sperated file
  types/src/lib.rs
  types/src/transaction.rs
Owners: @nkysg, @welbon

fix some imports
  chain/api/src/lib.rs
  rpc/api/src/types.rs
  types/src/transaction.rs
Owners: @nkysg, @sanlee42, @welbon

Move RichTransactionInfo to types
  types/src/lib.rs
  vm/types/src/transaction/mod.rs
Owners: @nkysg, @welbon

split execution and storage write-back operations
  Cargo.lock
  chain/Cargo.toml
  chain/src/chain.rs
  vm2/chain/src/lib.rs
Owners: @nkysg

update vm2 versions
  Cargo.lock
  Cargo.toml
Owners: none

move TransactionInfo to starcoin-types
  test-helper/tests/types_check.rs
  types/src/transaction.rs
  vm/types/src/transaction/mod.rs
Owners: @nkysg, @welbon

save vm2 txn info to main storage(vm1)
  chain/src/chain.rs
  executor/src/block_executor.rs
Owners: @nkysg

remove deuplicated functions
  chain/src/chain.rs
  vm2/chain/src/lib.rs
  vm2/executor/src/block_executor.rs
  vm2/genesis/src/lib.rs
Owners: @nkysg

remove unused auxilliary function
  chain/mock/src/mock_chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/test_create_block_template.rs
  rpc/server/src/module/pubsub/tests.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/tests.rs
  test-helper/src/chain.rs
Owners: @nkysg, @sanlee42

[dual-vm] commit codes for review
  Cargo.lock
  cmd/airdrop/src/main.rs
  cmd/faucet/src/faucet.rs
  cmd/genesis-nft-miner/src/main.rs
  cmd/starcoin/src/account/sign_multisig_txn_cmd.rs
  cmd/starcoin/src/chain/epoch_info.rs
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/dev/sign_txn_helper.rs
  cmd/tx-factory/src/main.rs
  node/src/genesis_parameter_resolve.rs
  node/src/rpc_service_factory.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader_vm2.rs
  rpc/client/src/state_root_option.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/state_rpc.rs
  state/service/src/service.rs
  vm/starcoin-transactional-test-harness/Cargo.toml
  vm/starcoin-transactional-test-harness/src/context.rs
  vm/starcoin-transactional-test-harness/src/fork_state.rs
  vm/starcoin-transactional-test-harness/src/remote_state.rs
Owners: @welbon, @nkysg, @sanlee42

Batch pull absent blocks (#4447)
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

use fetch_blocks_in_batch
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

Fix typo
  miner/src/lib.rs
Owners: @sanlee42

fix clippy
  kube/manifest/starcoin-halley.yaml
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42, @nkysg

fix the filter logic
  kube/manifest/starcoin-halley.yaml
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42, @nkysg

add sync fetch blocks in the batch
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
Owners: @sanlee42

return peer id
  kube/manifest/starcoin-halley.yaml
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/tests.rs
  sync/src/verified_rpc_client.rs
Owners: @sanlee42, @nkysg

filter the chunk in sync
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

Refactor(miner): replace block_on with async spawn + timeout + atomic flag
  miner/src/lib.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

Adjust block time target
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  docker/docker-compose.yml
  genesis/generated/halley/genesis
  kube/manifest/starcoin-vega.yaml
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
Owners: @nkysg, @sanlee42

Use argon for halley
  .gitignore
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
Owners: @nkysg

fetch block in batch
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add sync call
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
Owners: @sanlee42

feat(consensus): update block time target and sync behavior
  consensus/src/difficulty.rs
  sync/src/tasks/block_sync_task.rs
  types/src/sync_status.rs
Owners: @sanlee42, @welbon, @nkysg

add k * k to invoke the light sync process
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

merge dag master
  sync/src/tasks/block_sync_task.rs
  types/src/sync_status.rs
Owners: @sanlee42, @nkysg, @welbon

use block_time_target
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

chore(consensus): set block target to 200ms (BPS=5) for high-frequency mining
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

rm rm
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

chain: remove legacy block upgrade check for halley and proxima
  types/src/block/mod.rs
Owners: @nkysg, @welbon

print the epoch
  chain/src/chain.rs
Owners: @nkysg

[sync] Refactored BlockConnectorService to inject Storage, VMMetrics, and Genesis via constructor
  miner/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  types/src/block/mod.rs
Owners: @sanlee42, @nkysg, @welbon

add some info
  chain/src/chain.rs
Owners: @nkysg

sort the block
  consensus/src/difficulty.rs
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @welbon, @nkysg

Cmd sync optimization (#4464)
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

spawn to execute and connect
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  miner/src/generate_block_event_pacemaker.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
