Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

[compiler-v2 native] fixed Cargo reference move
  Cargo.lock
  Cargo.toml
Owners: none

update starcoin-vm-types
  vm/types/src/on_chain_config/starcoin_features.rs
Owners: @nkysg

[compiler-v2 native] add delayed_fields.rs for project types
  types/Cargo.toml
  types/src/delayed_fields.rs
  types/src/serde_helper/bcs_utils.rs
Owners: @nkysg, @welbon

[compiler-v2 native] add delayed_fields.rs for project types
  Cargo.lock
  Cargo.toml
Owners: none

[compiler-v2 native] fixed starcoin-aggregator
  types/src/serde_helper/mod.rs
  vm/framework/src/natives/aggregator_natives/aggregator_v2.rs
  vm/starcoin-aggregator/src/aggregator_v1_extension.rs
Owners: @nkysg, @welbon

[compiler-v2 native] Fixed some errors
  Cargo.lock
  vm/framework/Cargo.toml
  vm/framework/move-stdlib/src/natives/bcs.rs
  vm/framework/src/lib.rs
  vm/framework/src/main.rs
  vm/framework/src/natives/cryptography/algebra/hash_to_structure.rs
  vm/framework/src/natives/cryptography/algebra/serialization.rs
  vm/framework/src/natives/cryptography/ristretto255.rs
  vm/framework/src/prover.rs
  vm/framework/src/release_bundle.rs
  vm/framework/src/starcoin.rs
  vm/framework/starcoin-framework/Move.toml
  vm/framework/starcoin-stdlib/Move.toml
  vm/framework/starcoin-token-objects/Move.toml
  vm/framework/starcoin-token/Move.toml
  vm/framework/tests/move_prover_tests.rs
  vm/framework/tests/move_unit_test.rs
  vm/gas-algebra/src/algebra.rs
  vm/gas-schedule/src/gas_schedule/move_stdlib.rs
  vm/gas-schedule/src/gas_schedule/starcoin_framework.rs
  vm/gas-schedule/src/lib.rs
  vm/gas-schedule/src/ver.rs
  vm/package-builder/src/lib.rs
  vm/types/src/lib.rs
Owners: @nkysg

chore(starcoin-vm-types): rm unused file (#4190)
  vm/types/src/lib.rs
  vm/types/src/time.rs
Owners: @nkysg

rm VMAdapter
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/vm_adapter/adapter_common.rs
  vm/vm-runtime/src/vm_adapter/mod.rs
Owners: @nkysg

rm VMAdapter (#4191)
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/vm_adapter/adapter_common.rs
  vm/vm-runtime/src/vm_adapter/mod.rs
Owners: @nkysg

add 10000 buffer for parallel execution
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

parallel execution
  flexidag/src/blockdag.rs
  flexidag/src/reachability/inquirer.rs
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/store/sync_dag_store.rs
  sync/src/store/tests.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mock.rs
Owners: @sanlee42

use try recv to avoid blocking
  sync/src/parallel/sender.rs
Owners: @sanlee42

check the parents when dispatching
  sync/src/parallel/sender.rs
Owners: @sanlee42

set executing state in sender
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
Owners: @sanlee42

create chain when the parents are ready in parallel execution
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
Owners: @sanlee42

add parallel code
  flexidag/src/consensusdb/consensus_reachability.rs
  sync/Cargo.toml
  sync/src/lib.rs
  sync/src/parallel/executor.rs
  sync/src/parallel/mod.rs
  sync/src/parallel/sender.rs
  sync/src/store/sync_dag_store.rs
  sync/src/store/tests.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add test case
  flexidag/tests/tests.rs
Owners: none

add verify blue block in verifier
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
Owners: @nkysg

add yeilding after execution for processing the main chain in other service
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
Owners: @sanlee42

add check data
  flexidag/src/ghostdag/protocol.rs
  flexidag/src/types/ghostdata.rs
  flexidag/tests/tests.rs
  sync/src/store/tests.rs
Owners: @sanlee42

add some fix
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
Owners: @sanlee42

add log for saving time
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add verification
  flexidag/src/ghostdag/protocol.rs
Owners: none

finish debug, it works
  flexidag/src/ghostdag/protocol.rs
  flexidag/src/types/ordering.rs
Owners: none

add some code
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  flexidag/src/ghostdag/protocol.rs
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
Owners: @nkysg, @sanlee42

check local store for the absent block
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

save the block in local store to buffer the block
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add false testing case
  flexidag/tests/tests.rs
Owners: none

fix some bugs
  flexidag/src/ghostdag/protocol.rs
  flexidag/src/types/ordering.rs
  sync/src/parallel/sender.rs
Owners: @sanlee42

add some test
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/src/types/ghostdata.rs
  flexidag/tests/tests.rs
Owners: none

add more testing code
  flexidag/tests/tests.rs
Owners: none

fmt and clippy
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/src/types/ordering.rs
  flexidag/tests/tests.rs
  sync/src/lib.rs
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/store/sync_dag_store.rs
  sync/src/store/tests.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mock.rs
Owners: @nkysg, @sanlee42

rebase master set the number 4500000 for vega updating
  flexidag/src/ghostdag/protocol.rs
  types/src/block/mod.rs
Owners: @nkysg, @welbon

remove some commented code
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
Owners: @sanlee42

fix: return continue if the dag block is ready
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

add loop if the connection of the workers are not closed
  sync/src/parallel/sender.rs
Owners: @sanlee42

fix starcoin-vm-types
  vm/types/src/lib.rs
  vm/types/src/transaction_metadata.rs
Owners: @nkysg

update starcoin-gas-algebra-ext/starcoin-vm-types
  types/src/lib.rs
  vm/gas-algebra-ext/src/instr.rs
  vm/gas-algebra-ext/src/transaction.rs
Owners: @nkysg, @welbon

fix move-explain
  vm/move-explain/src/lib.rs
  vm/vm-status-translator/src/lib.rs
Owners: @nkysg

fix starcoin-gas
  vm/starcoin-gas-meter/src/gas_meter.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
