Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

remove .cargo/config in move
  third_party/move/.cargo/config
Owners: none

[compile-v2] fixed dataformat-generator ignoring serde alias
  Cargo.lock
  Cargo.toml
  dataformat-generator/build.rs
Owners: none

[compile-v2] fixed dataformat-generator ignoring serde alias
  Cargo.lock
  Cargo.toml
  dataformat-generator/build.rs
Owners: none

update serde/serde-reflection for dataformat-generator
  Cargo.lock
  Cargo.toml
  dataformat-generator/Cargo.toml
Owners: none

Upgrade tokio to 1.39.2
  Cargo.lock
  Cargo.toml
Owners: none

fix compiler warning
  vm/compiler/src/lib.rs
  vm/gas-algebra-ext/src/instr.rs
  vm/gas-algebra-ext/src/transaction.rs
  vm/move-explain/src/lib.rs
  vm/move-explain/src/main.rs
  vm/natives/src/from_bcs.rs
  vm/starcoin-gas/src/gas_meter.rs
  vm/stdlib/src/lib.rs
Owners: @nkysg, @sanlee42

[dataformat-generator] fixed ignoring serde alias for StructType, reference https://github.com/starcoinorg/starcoin/pull/4178
  Cargo.lock
  Cargo.toml
  dataformat-generator/build.rs
Owners: none

[compile-v2] fixed dataformat-generator ignoring serde alias (#4178)
  Cargo.lock
  Cargo.toml
  dataformat-generator/build.rs
Owners: none

refactor FlexiDagStorage to support batch write
  flexidag/src/consensusdb/access.rs
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/consensusdb/db.rs
  flexidag/src/consensusdb/item.rs
  storage/src/db_storage/mod.rs
  storage/src/storage.rs
Owners: @welbon, @nkysg

add flush operation to DBStorage
  flexidag/src/consensusdb/db.rs
  storage/src/db_storage/mod.rs
Owners: @welbon, @nkysg

add DbSetAccess
  flexidag/src/consensusdb/consensus_relations.rs
  flexidag/src/consensusdb/mod.rs
  flexidag/src/consensusdb/set_access.rs
  flexidag/src/consensusdb/writer.rs
Owners: none

fix fmt
  sync/tests/common_test_sync_libs.rs
Owners: @sanlee42

remove unused codes
  flexidag/src/consensusdb/consensus_relations.rs
  sync/tests/common_test_sync_libs.rs
Owners: @sanlee42

change childrens to vector
  flexidag/src/consensusdb/consensus_relations.rs
  flexidag/src/consensusdb/set_access.rs
Owners: none

avoid clone when get_children from relation store
  chain/service/src/chain_service.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_relations.rs
  flexidag/src/reachability/relations_service.rs
  flexidag/tests/tests.rs
  sync/src/tasks/mock.rs
Owners: @nkysg, @sanlee42

Add DbReachabilitySet
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/consensusdb/set_access.rs
  flexidag/src/types/interval.rs
Owners: none

create newly added cfs
  flexidag/src/consensusdb/db.rs
Owners: none

remove unused codes
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/consensusdb/set_access.rs
Owners: none

refactor children and future-covering set
  Cargo.lock
  flexidag/Cargo.toml
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/consensusdb/db.rs
  flexidag/src/consensusdb/set_access.rs
  flexidag/src/consensusdb/writer.rs
Owners: none

fix error and more asserts
  flexidag/src/consensusdb/consensus_reachability.rs
Owners: none

refactor reachability store
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/consensusdb/set_access.rs
  flexidag/src/types/reachability.rs
Owners: none

update test case of reachability
  flexidag/src/consensusdb/consensus_reachability.rs
Owners: none

fix HashOutOfOrders
  flexidag/src/consensusdb/consensus_reachability.rs
Owners: none

remove unused codes
  sync/tests/common_test_sync_libs.rs
Owners: @sanlee42

update flexidag test
  flexidag/tests/tests.rs
Owners: none

fix some warnings
  flexidag/src/consensusdb/consensus_relations.rs
Owners: none

fix build errors
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_relations.rs
  storage/src/db_storage/mod.rs
Owners: @welbon, @nkysg

compiler starcoin-vm-types
  vm/types/Cargo.toml
  vm/types/src/fee_statement.rs
  vm/types/src/lib.rs
  vm/types/src/on_chain_config/mod.rs
  vm/types/src/on_chain_config/timestamp.rs
  vm/types/src/state_store/mod.rs
  vm/types/src/state_store/state_value.rs
  vm/types/src/transaction_metadata.rs
Owners: @nkysg

[dataformat-generator] fixed ignoring serde alias for StructType, reference https://github.com/starcoinorg/starcoin/pull/4178 (#4181)
  Cargo.lock
  Cargo.toml
  dataformat-generator/build.rs
Owners: none

remove unused crate proptest-helpers
  commons/proptest-helpers/Cargo.toml
  commons/proptest-helpers/src/lib.rs
Owners: @nkysg

use local path for move
  Cargo.toml
Owners: none

using ReferenceKind instead of raw bool type
  vm/move-package-manager/src/extended_checks.rs
Owners: @nkysg

fix flexdag's test case
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
  types/src/block/mod.rs
Owners: @nkysg, @welbon

fix clippy
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_txn_info_and_proof.rs
  flexidag/src/blockdag.rs
Owners: @nkysg

fix bugs: blockmeta changes into latest version
  storage/src/lib.rs
  storage/src/upgrade.rs
  vm/types/src/block_metadata/legacy.rs
Owners: @welbon, @nkysg

fix clippy
  flexidag/src/blockdag.rs
  flexidag/src/prune/pruning_point_manager.rs
  types/src/block/block_header_data.rs
  types/src/block/legacy.rs
  types/src/block/mod.rs
Owners: @nkysg, @welbon

comment the structs that cannot be checked by json and should be tested in other testcase
  storage/src/upgrade.rs
  test-helper/data/BlockHeader/json
  test-helper/tests/types_check.rs
Owners: @welbon, @nkysg

update dag db
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consenses_state.rs
  flexidag/src/prune/pruning_point_manager.rs
  flexidag/tests/tests.rs
Owners: @nkysg

fix clippy and remove the testing logs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  vm/types/src/genesis_config.rs
Owners: @nkysg

remove the unused code and fix test cases
  chain/tests/test_block_chain.rs
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  config/src/genesis_config.rs
  executor/tests/module_upgrade_test.rs
  sync/src/sync.rs
  sync/src/tasks/accumulator_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/common_test_sync_libs.rs
  test-helper/src/chain.rs
  test-helper/src/dao.rs
  test-helper/src/lib.rs
  testsuite/features/cmd.feature
  vm/transaction-builder/src/lib.rs
Owners: @nkysg, @sanlee42
