Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

add bps
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

average the block time target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

fix debug
  consensus/src/difficulty.rs
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42, @welbon

fix info for bps
  chain/src/chain.rs
Owners: @nkysg

add info
  flexidag/src/blockdag.rs
Owners: none

fix cargo check warnings
  scripts/check_commit.sh
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/cached-packages/src/starcoin_token_objects_sdk_builder.rs
  vm/framework/cached-packages/src/starcoin_token_sdk_builder.rs
  vm/starcoin-sdk-builder/src/rust.rs
Owners: @nkysg

bump vm2
  Cargo.lock
  Cargo.toml
Owners: none

add new thread for connect and executing
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

add thread to execute and connect
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @nkysg, @sanlee42

fix unwrap
  chain/src/chain.rs
Owners: @nkysg

add new dag block subscribe
  chain/service/src/chain_service.rs
  miner/src/generate_block_event_pacemaker.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @nkysg, @sanlee42

fix next try count
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

bump starcoin-vm2 (#4475)
  Cargo.lock
  Cargo.toml
Owners: none

slow down
  chain/service/src/chain_service.rs
  consensus/src/difficulty.rs
  miner/src/generate_block_event_pacemaker.rs
Owners: @nkysg, @sanlee42, @welbon

add 200ms to taregt
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

sync shared crate version with starcoin-vm2
  Cargo.lock
  Cargo.toml
Owners: none

update starcoin-config version
  Cargo.lock
  Cargo.toml
Owners: none

remove stdlib from starcoin-config deps
  Cargo.lock
  config/Cargo.toml
Owners: none

move vm-related definitions out of starcoin-config
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  vm/move-package-manager/Cargo.toml
  vm/move-package-manager/src/main.rs
  vm/starcoin-gas/Cargo.toml
  vm/starcoin-gas/src/gas_meter.rs
  vm/starcoin-gas/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/tests/test_native_functions.rs
Owners: @nkysg

sync shared crate version with starcoin-vm2 (#4476)
  Cargo.lock
  Cargo.toml
  config/Cargo.toml
  config/src/genesis_config.rs
  vm/move-package-manager/Cargo.toml
  vm/move-package-manager/src/main.rs
  vm/starcoin-gas/Cargo.toml
  vm/starcoin-gas/src/gas_meter.rs
  vm/starcoin-gas/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/tests/test_native_functions.rs
Owners: @nkysg

rm unused comment
  abi/types/src/lib.rs
  executor/src/executor.rs
  node/src/node.rs
  vm/gas-algebra-ext/src/instr.rs
  vm/move-package-manager/src/compatibility_check_cmd.rs
  vm/types/src/on_chain_config/genesis_gas_schedule.rs
  vm/vm-runtime/src/adapter_common.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm2/executor/src/executor.rs
Owners: @nkysg

fix up
  Cargo.lock
  cmd/db-exporter/src/main.rs
  executor/src/executor.rs
  rpc/api/Cargo.toml
  rpc/api/src/multi_types.rs
  rpc/api/src/types.rs
  rpc/server/src/module/chain_rpc.rs
  txpool/src/pool.rs
  txpool/src/pool/verifier.rs
  types/src/multi_transaction.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm2/executor/src/executor.rs
Owners: @welbon, @nkysg, @sanlee42

updata MultiSignedTransactionView
  Cargo.lock
  Cargo.toml
  rpc/server/Cargo.toml
  rpc/server/src/module/chain_rpc.rs
  txpool/src/pool.rs
  txpool/src/pool/verifier.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @sanlee42, @welbon, @nkysg

Revert "sync shared crate version with starcoin-vm2 (#4476)"
  Cargo.lock
  Cargo.toml
  config/Cargo.toml
  config/src/genesis_config.rs
  vm/move-package-manager/Cargo.toml
  vm/move-package-manager/src/main.rs
  vm/starcoin-gas/Cargo.toml
  vm/starcoin-gas/src/gas_meter.rs
  vm/starcoin-gas/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/tests/test_native_functions.rs
Owners: @nkysg

remove stdlib from starcoin-config deps
  Cargo.lock
  config/Cargo.toml
Owners: none

remove starcoin-config from deps
  Cargo.lock
  Cargo.toml
  vm/transaction-builder/Cargo.toml
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

remove starcoin-config from deps (#4479)
  Cargo.lock
  Cargo.toml
  vm/transaction-builder/Cargo.toml
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

Revert "sync shared crate version with starcoin-vm2" (#4478)
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  vm/move-package-manager/Cargo.toml
  vm/move-package-manager/src/main.rs
  vm/starcoin-gas/Cargo.toml
  vm/starcoin-gas/src/gas_meter.rs
  vm/starcoin-gas/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/tests/test_native_functions.rs
Owners: @nkysg

update infallible util crate
  commons/infallible/Cargo.toml
  commons/infallible/src/lib.rs
  commons/infallible/src/math.rs
  commons/infallible/src/nonzero.rs
  commons/infallible/src/rwlock.rs
  commons/infallible/src/time.rs
Owners: @nkysg

update timeout-join-handler util crate
  Cargo.lock
  commons/timeout-join-handler/Cargo.toml
  commons/timeout-join-handler/src/lib.rs
Owners: @nkysg

update metrics util crate
  Cargo.lock
  commons/metrics/Cargo.toml
  commons/metrics/src/lib.rs
  commons/metrics/src/op_counters.rs
  commons/metrics/src/process_collector.rs
Owners: @nkysg

fix clippy
  commons/infallible/src/nonzero.rs
Owners: @nkysg

[dual-vm] Add relevant vm type parameters to the rpc interface to facilitate external selection and calling
  Cargo.toml
  cmd/airdrop/src/main.rs
  network-rpc/src/rpc.rs
  rpc/api/src/state/mod.rs
  rpc/api/src/types.rs
  rpc/api/src/types/state_api_types.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader.rs
  rpc/client/src/rpc_client_impl_for_state.rs
  rpc/server/src/module/contract_rpc.rs
  rpc/server/src/module/helpers.rs
  rpc/server/src/module/state_rpc.rs
  state/api/src/chain_state_async_service.rs
  state/api/src/chain_state_async_service_handler.rs
  state/api/src/mock/mock_chain_state_service.rs
Owners: @welbon, @sanlee42, @nkysg

[dual-vm] add vm2 service codes (Not compiled yet)
  Cargo.lock
  Cargo.toml
  state/api/src/chain_state_async_service.rs
  state/api/src/chain_state_async_service_handler.rs
  state/api/src/lib.rs
  state/api/src/message.rs
  state/api/src/mock/mock_chain_state_service.rs
  state/service/Cargo.toml
  state/service/src/inner.rs
  state/service/src/inner_vm2.rs
  state/service/src/lib.rs
  state/service/src/service.rs
  types-glue/Cargo.toml
  types-glue/src/account_state_set.rs
  types-glue/src/accounts.rs
  types-glue/src/lib.rs
Owners: @welbon, @nkysg

[dual-vm] Add a glue layer for type conversion
  Cargo.lock
  types-glue/Cargo.toml
  types-glue/src/account_state_set.rs
  types-glue/src/lib.rs
Owners: none

[dual-vm] add vm type convert glue (not compiled yet)
  Cargo.lock
  Cargo.toml
  state/service/src/inner_vm2.rs
  types-glue/Cargo.toml
  types-glue/src/access_path.rs
  types-glue/src/account_address.rs
  types-glue/src/account_state.rs
  types-glue/src/account_state_set.rs
  types-glue/src/accounts.rs
  types-glue/src/blob.rs
  types-glue/src/chain_state_set.rs
  types-glue/src/lib.rs
  types-glue/src/sparse_merkle_proof.rs
  types-glue/src/state_proof.rs
  types-glue/src/state_set.rs
  types-glue/src/state_with_proof.rs
  types-glue/src/state_with_table_item_proof.rs
  types-glue/src/struct_tag.rs
  types-glue/src/table_handle.rs
  types-glue/src/table_info.rs
  types-glue/src/type_tag.rs
Owners: @welbon, @nkysg

[dual-vm] fixed build error
  Cargo.lock
  network-rpc/src/rpc.rs
  rpc/server/src/module/account_rpc.rs
  rpc/server/src/module/contract_rpc.rs
  rpc/server/src/module/helpers.rs
  rpc/server/src/module/state_rpc.rs
  state/api/src/chain_state_async_service_handler.rs
  state/api/src/lib.rs
  state/api/src/mock/mock_chain_state_service.rs
  state/service/Cargo.toml
  state/service/src/inner_vm2.rs
  state/service/src/lib.rs
  state/service/src/service.rs
  types-glue/src/struct_tag.rs
  vm/starcoin-transactional-test-harness/src/fork_state.rs
Owners: @sanlee42, @welbon, @nkysg

remove deuplicate functions
  vm2/executor/src/block_executor.rs
  vm2/executor/src/lib.rs
  vm2/genesis/src/lib.rs
Owners: none

Update commons/infallible/src/math.rs
  commons/infallible/src/math.rs
Owners: @nkysg

Update shared deps (#4480)
  Cargo.lock
  commons/infallible/Cargo.toml
  commons/infallible/src/lib.rs
  commons/infallible/src/math.rs
  commons/infallible/src/nonzero.rs
  commons/infallible/src/rwlock.rs
  commons/infallible/src/time.rs
  commons/metrics/Cargo.toml
  commons/metrics/src/lib.rs
  commons/metrics/src/op_counters.rs
  commons/metrics/src/process_collector.rs
  commons/timeout-join-handler/Cargo.toml
  commons/timeout-join-handler/src/lib.rs
  vm2/executor/src/block_executor.rs
  vm2/executor/src/lib.rs
  vm2/genesis/src/lib.rs
Owners: @nkysg
