Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

[fa] fixed test_dao_features_proposal.move
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.move
Owners: none

[fa] fixed the creation of fungible asset store
  vm2/framework/starcoin-framework/doc/dao.md
Owners: none

[fa] fixed test_dao_failure.move
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_failure.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_failure.move
Owners: none

[fa] fixed the authentication check of dao.move
  vm2/framework/starcoin-framework/doc/dao.md
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_config.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_config.move
  vm2/framework/starcoin-framework/sources/stc/dao.move
Owners: none

[fa] fixed test_onchain_config_dao.move
  vm2/framework/starcoin-framework/integration-tests/on_chain_config/test_onchain_config_dao.exp
  vm2/framework/starcoin-framework/integration-tests/on_chain_config/test_onchain_config_dao.move
Owners: none

[fa] fixed upgrade_module_dao_proposa/basic.move
  vm2/framework/starcoin-framework/doc/dao_upgrade_module_proposal.md
  vm2/framework/starcoin-framework/sources/stc/dao_upgrade_module_proposal.move
Owners: none

[fa] fixed create_account.move
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/create_account.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/create_account.move
Owners: none

[fa] fixed upgrade_module_dao_proposa/basic.move
  vm2/framework/starcoin-framework/doc/dao.md
  vm2/framework/starcoin-framework/sources/stc/dao.move
Owners: none

[fa] fixed the creation of fungible asset store
  vm2/framework/starcoin-framework/doc/dao.md
  vm2/framework/starcoin-framework/sources/stc/dao.move
  vm2/vm-runtime/src/move_vm_ext/vm.rs
Owners: none

[fa] fixed test_dao_propose.move
  vm2/framework/starcoin-framework/doc/dao.md
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_propose.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_propose.move
  vm2/framework/starcoin-framework/sources/stc/dao.move
Owners: none

[fa] gas file
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_failure.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_propose.exp
Owners: none

[fa] code format
  vm2/framework/starcoin-framework/doc/starcoin_coin.md
  vm2/framework/starcoin-framework/sources/starcoin_coin.move
Owners: none

[fa] gas file
  vm2/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/withdraw_token_from_treasury.exp
Owners: none

[fa] fixed distribute_txn_fee.move
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.move
Owners: none

[fa] fixed transfer_then_abort.move
  vm2/framework/starcoin-framework/integration-tests/token/transfer_then_abort.exp
  vm2/framework/starcoin-framework/integration-tests/token/transfer_then_abort.move
Owners: none

[fa] fixed execute_modify_dao_config_proposal.move
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/execute_modify_dao_config_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/execute_modify_dao_config_proposal.move
Owners: none

[fa] fixed split_linear_cap.move
  vm2/framework/starcoin-framework/integration-tests/treasury/split_linear_cap.exp
  vm2/framework/starcoin-framework/integration-tests/treasury/split_linear_cap.move
Owners: none

[fa] fixed upgrade_module_dao_proposal/basic.move
  vm2/framework/starcoin-framework/integration-tests/upgrade_module_dao_proposal/basic.move
Owners: none

[fa] fixed linear_withdraw_cap.move
  vm2/framework/starcoin-framework/integration-tests/treasury/linear_withdraw_cap.exp
  vm2/framework/starcoin-framework/integration-tests/treasury/linear_withdraw_cap.move
Owners: none

[fa] update genesis files
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

[fa] fixed peer_to_peer.move
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/peer_to_peer.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/peer_to_peer.move
Owners: none

[fa] fixed module_upgrade.move
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/module_upgrade.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/module_upgrade.move
Owners: none

[fa] fixed execute_on_chain_config_proposal.move
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/execute_on_chain_config_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/execute_on_chain_config_proposal.move
Owners: none

[fa] fixed cargo fmt
  vm2/executor/tests/script_function_test.rs
Owners: none

[fa] fixed exp files
  vm2/framework/starcoin-framework/integration-tests/on_chain_config/test_onchain_config_dao.exp
  vm2/framework/starcoin-framework/integration-tests/upgrade_module_dao_proposal/basic.exp
Owners: none

[fa] remove unused test code
  vm2/executor/tests/script_function_test.rs
Owners: none

[fa] update Cargo.lock
  Cargo.lock
Owners: none

[fa] fixed cargo fmt
  vm2/starcoin-transactional-test-harness/src/lib.rs
Owners: none

[fa] update genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

[fa] mpm integration-test restore the replace process of precompiled files, but filter 0x1 module
  vm2/starcoin-transactional-test-harness/src/lib.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

add benchmark code
  config/src/txpool_config.rs
  sync/tests/full_build_and_execute_test.rs
  vm2/aggregator/src/aggregator_v1_extension.rs
  vm2/vm-runtime/src/errors.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @sanlee42

[fa] merged transaction fee
  Cargo.lock
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/starcoin-framework/doc/overview.md
  vm2/framework/starcoin-framework/doc/stc_block.md
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.move
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/vm-types/Cargo.toml
Owners: @nkysg

Update test
  sync/tests/full_build_and_execute_test.rs
Owners: @sanlee42

[fa] reformat some codes
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
Owners: @nkysg

use 2000 receiver
  sync/tests/full_build_and_execute_test.rs
Owners: @sanlee42

use 1280000 as max sender
  config/src/txpool_config.rs
Owners: none

add more 128 G as default max memory size
  config/src/txpool_config.rs
Owners: none

pass senders to block_epilogue
  vm2/framework/starcoin-framework/doc/stc_block.md
  vm2/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

fix clippy
  genesis/generated/halley/genesis
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: @nkysg

remove unnecessary re-init
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
