Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

chore(vm2): remove aptos naming from comments
  vm2/vm-runtime/src/data_cache.rs
Owners: none

fix comment from coderabbitai
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: none

test(chain): stabilize get_current_block_color_merge_blue merge parent selection
  chain/service/src/chain_service.rs
Owners: @nkysg

move bench to the starconin sync
  Cargo.lock
  Cargo.toml
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
  test-helper/src/lib.rs
  test-helper/src/node.rs
Owners: @sanlee42

fix compile error
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: none

feat(vm2): adopt aptos-style ValueSerDeContext for delayed-field serde
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: none

fix bench bug
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

use 2dfc8d3315a632f8bbdec0dddafc78d43440fdbc as vm2 move
  Cargo.toml
  commons/mvhashmap/Cargo.toml
  commons/parallel-executor/Cargo.toml
  vm2/abi/decoder/Cargo.toml
  vm2/abi/resolver/Cargo.toml
  vm2/abi/types/Cargo.toml
  vm2/aggregator/Cargo.toml
  vm2/compiler/Cargo.toml
  vm2/framework/Cargo.toml
  vm2/framework/cached-packages/Cargo.toml
  vm2/framework/gas-algebra/Cargo.toml
  vm2/framework/gas-meter/Cargo.toml
  vm2/framework/gas-schedule/Cargo.toml
  vm2/framework/move-stdlib/Cargo.toml
  vm2/framework/native-interface/Cargo.toml
  vm2/framework/table-natives/Cargo.toml
  vm2/move-package-manager/Cargo.toml
  vm2/package-builder/Cargo.toml
  vm2/resource-viewer/Cargo.toml
  vm2/sdk-builder/Cargo.toml
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/types/Cargo.toml
  vm2/vm-runtime-types/Cargo.toml
  vm2/vm-runtime/Cargo.toml
  vm2/vm-status-translator/Cargo.toml
  vm2/vm-types/Cargo.toml
Owners: @nkysg

fix test case rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
Owners: @sanlee42

fix fmt
  Cargo.toml
  cmd/miner_client/src/cpu_solver.rs
  commons/utils/src/mpsc.rs
  config/src/txpool_config.rs
  miner/tests/miner_test.rs
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
  sync/src/tasks/tests.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
  test-helper/src/node.rs
  txpool/src/pool/listener/tests.rs
  vm2/vm-runtime/src/data_cache.rs
Owners: @welbon, @nkysg, @sanlee42

fix sequence
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: none

use layout to decide the flow to serde the data
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: none

fix fmt
  simnet/src/lib.rs
Owners: none

fix cmd multisig pre-run to avoid unstable dry_run_raw2 path
  cmd/starcoin/src/account/sign_multisig_txn_cmd.rs
Owners: @welbon

fix fmt
  vm2/vm-runtime/tests/delayed_field_exchange_baseline.rs
Owners: none

test: fix clippy single_match warning
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
Owners: @sanlee42

fix compile error
  vm2/vm-runtime/tests/delayed_field_exchange_baseline.rs
Owners: none

bench: normalize batch size and guard zero-batch paths
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

test: avoid race in chain_get_block_txn_infos_in_seq
  rpc/client/tests/chain_get_block_txn_infos_in_seq_test.rs
Owners: @sanlee42

add test case for delayed field create and add
  commons/parallel-executor/src/executor.rs
Owners: @nkysg

vm2: bump move rev after removing serde replacement switch
  Cargo.lock
  Cargo.toml
  commons/mvhashmap/Cargo.toml
  commons/parallel-executor/Cargo.toml
  vm2/abi/decoder/Cargo.toml
  vm2/abi/resolver/Cargo.toml
  vm2/abi/types/Cargo.toml
  vm2/aggregator/Cargo.toml
  vm2/compiler/Cargo.toml
  vm2/framework/Cargo.toml
  vm2/framework/cached-packages/Cargo.toml
  vm2/framework/gas-algebra/Cargo.toml
  vm2/framework/gas-meter/Cargo.toml
  vm2/framework/gas-schedule/Cargo.toml
  vm2/framework/move-stdlib/Cargo.toml
  vm2/framework/native-interface/Cargo.toml
  vm2/framework/table-natives/Cargo.toml
  vm2/move-package-manager/Cargo.toml
  vm2/package-builder/Cargo.toml
  vm2/resource-viewer/Cargo.toml
  vm2/sdk-builder/Cargo.toml
  vm2/starcoin-transactional-test-harness/Cargo.toml
  vm2/types/Cargo.toml
  vm2/vm-runtime-types/Cargo.toml
  vm2/vm-runtime/Cargo.toml
  vm2/vm-status-translator/Cargo.toml
  vm2/vm-types/Cargo.toml
Owners: @nkysg

fix sync timeout error
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

fix sync not restart
  Cargo.lock
  sync/src/sync.rs
  txpool/src/lib.rs
Owners: @sanlee42, @welbon

fix: use pbkdf2_hmac in decrypt
  commons/decrypt/src/lib.rs
Owners: @nkysg

refactor: simplify benchmark tool for CI integration
  .github/copilot-instructions.md
  commons/pipeline-timing/src/lib.rs
  config/src/txpool_config.rs
  sync/starcoin-execute-bench/README.md
  sync/starcoin-execute-bench/docs/BENCHMARK_HISTORY.md
  sync/starcoin-execute-bench/docs/LESSONS_LEARNED.md
  sync/starcoin-execute-bench/docs/OPTIMIZATION_KNOWLEDGE.md
  sync/starcoin-execute-bench/docs/README.md
  sync/starcoin-execute-bench/docs/adr/000-template.md
  sync/starcoin-execute-bench/src/agent_loop.rs
  sync/starcoin-execute-bench/src/analyzer.rs
  sync/starcoin-execute-bench/src/config_tuner.rs
  sync/starcoin-execute-bench/src/experiment.rs
  sync/starcoin-execute-bench/src/history.rs
  sync/starcoin-execute-bench/src/iteration.rs
  sync/starcoin-execute-bench/src/knowledge.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/pipeline.rs
  sync/starcoin-execute-bench/src/results.rs
  sync/starcoin-execute-bench/src/strategy.rs
Owners: @sanlee42, @nkysg

refactor: remove history storage, make benchmark stateless for CI
  sync/starcoin-execute-bench/src/agent_loop.rs
  sync/starcoin-execute-bench/src/history.rs
  sync/starcoin-execute-bench/src/knowledge.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/regression.rs
  sync/starcoin-execute-bench/src/suggester.rs
Owners: @sanlee42

try lock-write to avoid the dead-lock
  block-relayer/src/block_relayer.rs
  network/src/service.rs
  vm2/vm-types/src/state_store/state_key/registry.rs
Owners: @sanlee42

feat: improve TPS measurement stability for CI
  sync/starcoin-execute-bench/src/agent_loop.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

fix: reduce default account-count to 4000 and add serde default for block_count
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

feat: implement stable TPS metric for CI
  sync/starcoin-execute-bench/src/agent_loop.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

feat: add --rounds parameter for more stable TPS measurement
  sync/starcoin-execute-bench/src/agent_loop.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

feat: add STARCOIN_FIXED_BLOCK_TIME env var for deterministic block intervals
  consensus/src/dummy.rs
Owners: @sanlee42, @welbon

feat: add --fixed-block-time CLI flag for benchmark
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

fix: use block timestamps for stable TPS calculation
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

feat(bench): add --prepare-bench/--load-bench for pre-signed txn persistence
  sync/starcoin-execute-bench/src/agent_loop.rs
  sync/starcoin-execute-bench/src/main.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

fix sequence
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: none

test(chain): stabilize get_current_block_color_merge_blue merge parent selection
  chain/service/src/chain_service.rs
Owners: @nkysg

add parallel output
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: none

add parallel output
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: none

fix sequence
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: none
