Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

cargo fmt
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

Logging balance events (#4410)
  cmd/starcoin/src/dev/logger_balance_amount_cmd.rs
  cmd/starcoin/src/dev/mod.rs
  cmd/starcoin/src/lib.rs
  executor/Cargo.toml
  executor/src/block_executor.rs
  executor/src/lib.rs
  rpc/api/generated_rpc_schema/debug.json
  rpc/api/src/debug/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/debug_rpc.rs
  vm/types/src/account_config/events/helper.rs
  vm/types/src/account_config/events/mod.rs
Owners: @welbon, @nkysg, @sanlee42

Release 2.0.7 for dag (#4411)
  Cargo.lock
  Cargo.toml
  docker/docker-compose.yml
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

update the tips with new block header not the selected header
  chain/src/chain.rs
Owners: @nkysg

fix: if no parent pruning point tips found, write it for fixing the data absent
  chain/src/chain.rs
Owners: @nkysg

Save new block tip (#4412)
  chain/src/chain.rs
Owners: @nkysg

prepare release v1.13.17
  Cargo.lock
  Cargo.toml
Owners: none

prepare release v1.13.17 (#4413)
  Cargo.lock
  Cargo.toml
Owners: none

[force-deploy] update burn address to black list
  Cargo.lock
  Cargo.toml
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/latest/stdlib/052_FrozenConfigStrategy.mv
Owners: @nkysg, @sanlee42

[force-deploy] update burn address to black list (#4414)
  Cargo.lock
  Cargo.toml
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/latest/stdlib/052_FrozenConfigStrategy.mv
Owners: @nkysg, @sanlee42

prepare release v1.13.18
  Cargo.lock
  Cargo.toml
Owners: none

prepare release v1.13.18 (#4415)
  Cargo.lock
  Cargo.toml
Owners: none

use the global mutex to lock the storage object
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/db.rs
Owners: none

use the global mutex to lock the storage object (#4416)
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/db.rs
Owners: none

add lock in reachability and relation writing
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/consensusdb/db.rs
Owners: none

add lock in reachability and relation writing (#4417)
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/consensusdb/db.rs
Owners: none

update main net force upgrade account
  Cargo.lock
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

update test
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

prepare release v1.13.19
  Cargo.lock
  Cargo.toml
Owners: none

update main net force upgrade account (#4418)
  Cargo.lock
  Cargo.toml
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

donot charge force_upgrade txn
  chain/tests/test_force_upgrade.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

update force_upgrade tests
  chain/tests/test_force_upgrade.rs
  vm/vm-runtime/src/force_upgrade_management.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

use custom network for force_ugprade_tests
  chain/tests/test_force_upgrade.rs
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

set gas_unit_price to zero for force upgrade txn
  chain/force-upgrade/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

merge code from red-transaction-pool
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_block_depth.rs
  flexidag/src/consensusdb/db.rs
  flexidag/tests/tests.rs
  sync/src/block_connector/write_block_chain.rs
  txpool/api/src/lib.rs
  txpool/mock-service/src/lib.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

update print merkle proof tree
  Cargo.lock
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/main.rs
  state/api/src/chain_state.rs
Owners: @welbon, @nkysg

use check ancestor of
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
Owners: none

fmt
  flexidag/tests/tests.rs
Owners: none

Adjust block time target
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  docker/docker-compose.yml
  genesis/generated/halley/genesis
  kube/manifest/starcoin-vega.yaml
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
Owners: @nkysg, @sanlee42

add test get_vm_version_proof_detail
  Cargo.lock
  executor/Cargo.toml
  executor/tests/executor_test.rs
Owners: @nkysg

add refactor code
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_block_depth.rs
  flexidag/src/consensusdb/db.rs
  flexidag/tests/tests.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

update assign_to_account_with_proof
  vm/framework/starcoin-framework/sources/asset_mapping.move
Owners: @nkysg

Use argon for halley
  .gitignore
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
Owners: @nkysg

check used_gas of force-upgrade-txn during mining
  chain/open-block/src/lib.rs
Owners: @nkysg

push back the red block transaction to the pool
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
Owners: @nkysg, @sanlee42

Remove redundant sync_done() call in SystemStarted event handler
  sync/src/sync.rs
Owners: @sanlee42

use red block
  chain/src/chain.rs
  flexidag/src/blockdag.rs
Owners: @nkysg

update asset_mapping_assign_to_account_with_proof
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/starcoin-framework/doc/asset_mapping.md
Owners: @nkysg

update test_asset_mapping_whole_process
  asset-mapping/src/lib.rs
Owners: none

add signature native
  Cargo.lock
  vm/framework/Cargo.toml
  vm/framework/src/natives/ecrecover.rs
  vm/framework/src/natives/mod.rs
  vm/framework/src/natives/signature.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
