Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

[command] clean vm1 - account command
  cmd/starcoin/src/account/accept_token_cmd.rs
  cmd/starcoin/src/account/change_password_cmd.rs
  cmd/starcoin/src/account/create_cmd.rs
  cmd/starcoin/src/account/default_cmd.rs
  cmd/starcoin/src/account/execute_script_cmd.rs
  cmd/starcoin/src/account/execute_script_function_cmd.rs
  cmd/starcoin/src/account/export_cmd.rs
  cmd/starcoin/src/account/import_cmd.rs
  cmd/starcoin/src/account/import_multisig_cmd.rs
  cmd/starcoin/src/account/import_readonly_cmd.rs
  cmd/starcoin/src/account/list_cmd.rs
  cmd/starcoin/src/account/lock_cmd.rs
  cmd/starcoin/src/account/nft_cmd.rs
  cmd/starcoin/src/account/receipt_identifier_cmd.rs
  cmd/starcoin/src/account/remove_cmd.rs
  cmd/starcoin/src/account/rotate_auth_key_cmd.rs
  cmd/starcoin/src/account/show_cmd.rs
  cmd/starcoin/src/account/sign_cmd.rs
  cmd/starcoin/src/account/sign_multisig_txn_cmd.rs
  cmd/starcoin/src/account/submit_txn_cmd.rs
  cmd/starcoin/src/account/transfer_cmd.rs
  cmd/starcoin/src/account/unlock_cmd.rs
  cmd/starcoin/src/account/verify_sign_cmd.rs
  cmd/starcoin/src/lib.rs
Owners: @welbon

checking cache storage overflow when building genesis block (#4596)
  genesis/src/lib.rs
  storage/src/cache_storage/mod.rs
Owners: @nkysg, @welbon

use vm2 parallel executing interface (#4597)
  vm2/executor/src/executor.rs
Owners: none

use all blue blocks to calculate the average time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

[multi move] picked commit of data migration for vm1 (#4585)
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/data-migration/Cargo.toml
  chain/data-migration/snapshot/24674819-0x1.tar.gz
  chain/data-migration/src/lib.rs
  chain/data-migration/src/state_filter.rs
  chain/src/chain.rs
  chain/src/lib.rs
  chain/tests/test_migration.rs
  cmd/resource-code-exporter/src/export.rs
  cmd/resource-code-exporter/src/main.rs
  cmd/resource-code-exporter/tests/export_test.rs
  cmd/resource-code-exporter/tests/import_test.rs
  config/src/genesis_config.rs
  config/src/tests.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/src/lib.rs
  kube/manifest/starcoin-proxima.yaml
  node/src/multi_vm_vm1_data_migration.rs
  scripts/check_commit.sh
  scripts/nextest.sh
  state/api/src/chain_state.rs
  state/statedb/src/lib.rs
  storage/src/cache_storage/mod.rs
  test-helper/src/account.rs
  test-helper/src/block.rs
  test-helper/src/chain.rs
  test-helper/src/lib.rs
  vm/e2e-tests/src/data_store.rs
  vm/starcoin-transactional-test-harness/src/remote_state.rs
  vm/types/src/account_config/resources/account.rs
  vm/types/src/account_config/resources/key_rotation_capability.rs
  vm/types/src/account_config/resources/withdraw_capability.rs
Owners: @nkysg, @welbon, @sanlee42

fix building errors
  cmd/resource-code-exporter/src/export.rs
Owners: @welbon

[command] fixed function name
  testsuite/tests/steps/transaction.rs
Owners: @nkysg

[command] fixed build error modified by Github Copilot
  rpc/server/src/module/chain_rpc.rs
Owners: @sanlee42

Update rpc/server/src/module/chain_rpc.rs
  rpc/server/src/module/chain_rpc.rs
Owners: @sanlee42

[command] picked chain commands for vm2
  Cargo.lock
  chain/api/src/chain.rs
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/lib.rs
  cmd/starcoin/src/subcommand_vm2/chain/get_events_cmd.rs
  cmd/starcoin/src/subcommand_vm2/chain/get_txn_cmd.rs
  cmd/starcoin/src/subcommand_vm2/chain/get_txn_info_cmd.rs
  cmd/starcoin/src/subcommand_vm2/chain/get_txn_info_list_cmd.rs
  cmd/starcoin/src/subcommand_vm2/chain/get_txn_infos_cmd.rs
  cmd/starcoin/src/subcommand_vm2/chain/get_txn_proof_cmd.rs
  cmd/starcoin/src/subcommand_vm2/chain/mod.rs
  cmd/starcoin/src/subcommand_vm2/mod.rs
  rpc/api/Cargo.toml
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/chain/mod.rs
  rpc/client/src/lib.rs
  rpc/client/src/vm2.rs
  rpc/server/src/module/chain_rpc.rs
  testsuite/Cargo.toml
  testsuite/features/cmd.feature
  testsuite/tests/integration.rs
  testsuite/tests/steps/state.rs
  testsuite/tests/steps/transaction.rs
  vm/starcoin-transactional-test-harness/Cargo.toml
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
  vm2/rpc/api/Cargo.toml
  vm2/rpc/api/src/lib.rs
  vm2/rpc/api/src/transaction_view2.rs
Owners: @nkysg, @welbon, @sanlee42

Update vm/starcoin-transactional-test-harness/src/fork_chain.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg

add print some statistic info
  chain/src/chain.rs
  miner/src/create_block_template/block_builder_service.rs
Owners: @nkysg, @sanlee42

Purge legacy storage (#4588)
  cmd/resource-code-exporter/src/export.rs
  node/src/node.rs
  storage/src/block/legacy.rs
  storage/src/block/mod.rs
  storage/src/block_info/legacy.rs
  storage/src/block_info/mod.rs
  storage/src/chain_info/mod.rs
  storage/src/contract_event/legacy.rs
  storage/src/contract_event/mod.rs
  storage/src/db_storage/mod.rs
  storage/src/storage.rs
  storage/src/table_info/legacy.rs
  storage/src/table_info/mod.rs
  storage/src/tests/mod.rs
  storage/src/tests/test_block.rs
  storage/src/tests/test_db_upgrade.rs
  storage/src/tests/test_storage.rs
  storage/src/transaction/legacy.rs
  storage/src/transaction/mod.rs
  storage/src/transaction_info/legacy.rs
  storage/src/transaction_info/mod.rs
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

remove unused codes
  Cargo.lock
  network-rpc/Cargo.toml
  network-rpc/api/Cargo.toml
  network-rpc/api/src/lib.rs
  network-rpc/api/src/remote_chain_state.rs
  network-rpc/src/lib.rs
  network-rpc/src/rpc.rs
  network-rpc/src/tests.rs
  sync/src/verified_rpc_client.rs
Owners: @sanlee42

udpate get_txns to fetch all supported txns
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
  sync/src/verified_rpc_client.rs
  types/src/multi_transaction.rs
Owners: @sanlee42, @nkysg, @welbon

update unneccessary test procedure
  network-rpc/src/tests.rs
Owners: @sanlee42

Fix network rpc (#4592)
  Cargo.lock
  network-rpc/Cargo.toml
  network-rpc/api/Cargo.toml
  network-rpc/api/src/lib.rs
  network-rpc/api/src/remote_chain_state.rs
  network-rpc/src/lib.rs
  network-rpc/src/rpc.rs
  network-rpc/src/tests.rs
  sync/src/verified_rpc_client.rs
  types/src/multi_transaction.rs
Owners: @sanlee42, @nkysg, @welbon

use 1000-3000 as block time target
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  config/src/genesis_config.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/13/stdlib/050_Epoch.mv
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
Owners: @nkysg, @sanlee42

update the blue ratio
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
Owners: @nkysg

set the upper bound of block time target 2000ms
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  config/src/genesis_config.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

[command] fixed unwrap
  rpc/server/src/module/chain_rpc.rs
Owners: @sanlee42

Update vm2/rpc/api/src/transaction_view2.rs
  vm2/rpc/api/src/transaction_view2.rs
Owners: none

[command] fixed fmt
  vm2/rpc/api/src/transaction_view2.rs
Owners: none

[command] fixed unwrap for PR https://github.com/starcoinorg/starcoin/pull/4598
  testsuite/tests/integration.rs
  testsuite/tests/steps/state.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg

add some info to check the time
  cmd/tx-factory/src/main.rs
  miner/src/create_block_template/new_header_service.rs
  miner/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @welbon, @sanlee42

use 100-2000ms as block time target and the max transaction count = 400
  config/src/genesis_config.rs
Owners: none

[command] fixed unwraps
  testsuite/tests/integration.rs
  testsuite/tests/steps/cmd.rs
  testsuite/tests/steps/compat.rs
  testsuite/tests/steps/node.rs
  testsuite/tests/steps/state.rs
  testsuite/tests/steps/sync.rs
  testsuite/tests/steps/transaction.rs
Owners: @nkysg

[command] fixed unwraps
  testsuite/tests/steps/node.rs
Owners: @nkysg

add new message DeterminedDagBlock which will be triggered by mined blocks or blocks from peers
  Cargo.lock
  miner/Cargo.toml
  miner/src/create_block_template/new_header_service.rs
  miner/src/generate_block_event_pacemaker.rs
  types/src/system_events.rs
Owners: @sanlee42, @nkysg, @welbon

remove the logic for minting a block for a peer block coming
  config/src/genesis_config.rs
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

use base bloc time target as 1000 which is the max
  config/src/genesis_config.rs
Owners: none

[command] fixed chain_rpc service for error handle
  rpc/server/src/module/chain_rpc.rs
Owners: @sanlee42

renew the genesis for 400 as the max transaction count per block
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

[command] fixed cargo fmt
  rpc/server/src/module/chain_rpc.rs
Owners: @sanlee42

remove exe id
  chain/src/chain.rs
  kube/manifest/starcoin-halley.yaml
Owners: @nkysg, @sanlee42

remove the log of the executed transaction id
  chain/src/chain.rs
Owners: @nkysg

remove the sort for printing the transaction
  chain/src/chain.rs
  kube/manifest/starcoin-halley.yaml
Owners: @nkysg, @sanlee42

use 700 max transaction per block
  config/src/genesis_config.rs
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

add test for vm parallel executing
  vm/parallel-executor/src/executor.rs
Owners: @nkysg

[command] Fixed error handling in some command lines so that they do not panic.
  cmd/starcoin/src/chain/get_txn_info_cmd.rs
  cmd/starcoin/src/subcommand_vm2/account/rotate_auth_key_cmd.rs
  cmd/starcoin/src/subcommand_vm2/account/sign_multisig_txn_cmd.rs
  cmd/starcoin/src/subcommand_vm2/chain/get_txn_cmd.rs
  cmd/starcoin/src/subcommand_vm2/chain/get_txn_info_cmd.rs
Owners: @welbon
