Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

remove metrics from starcoin-vm-runtime to starcoin-metrics
  Cargo.lock
  chain/service/Cargo.toml
  commons/metrics/Cargo.toml
  commons/metrics/src/lib.rs
  commons/metrics/src/metrics.rs
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/lib.rs
Owners: @nkysg

first version for removing the red tips
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/block_depth/mod.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_block_depth.rs
  flexidag/src/consensusdb/db.rs
  flexidag/src/consensusdb/mod.rs
  flexidag/src/lib.rs
Owners: none

[compiler-v2 framework] add onchain config and consensus config
  vm/framework/starcoin-framework/sources/configs/consensus_config.move
  vm/framework/starcoin-framework/sources/configs/consensus_config.spec.move
  vm/framework/starcoin-framework/sources/configs/consensus_strategy.move
  vm/framework/starcoin-framework/sources/configs/consensus_strategy.spec.move
  vm/framework/starcoin-framework/sources/configs/on_chain_config.move
  vm/framework/starcoin-framework/sources/configs/on_chain_config.spec.move
  vm/framework/starcoin-framework/sources/system_addresses.move
Owners: @nkysg

[compiler-v2 framework] consensus config changes
  vm/framework/starcoin-framework/sources/configs/consensus_config.spec.move
Owners: @nkysg

[compiler-v2 framework] fixed build error
  vm/framework/starcoin-framework/doc/consensus_config.md
  vm/framework/starcoin-framework/doc/consensus_strategy.md
  vm/framework/starcoin-framework/doc/genesis.md
  vm/framework/starcoin-framework/doc/on_chain_config.md
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/randomness_config.md
  vm/framework/starcoin-framework/doc/reconfiguration_with_dkg.md
  vm/framework/starcoin-framework/doc/starcoin_governance.md
  vm/framework/starcoin-framework/doc/system_addresses.md
  vm/framework/starcoin-framework/sources/configs/consensus_config.move
  vm/framework/starcoin-framework/sources/configs/consensus_config.spec.move
  vm/framework/starcoin-framework/sources/configs/consensus_strategy.move
  vm/framework/starcoin-framework/sources/configs/consensus_strategy.spec.move
  vm/framework/starcoin-framework/sources/configs/on_chain_config.move
  vm/framework/starcoin-framework/sources/configs/on_chain_config.spec.move
  vm/framework/starcoin-framework/sources/genesis.move
  vm/framework/starcoin-framework/sources/reconfiguration_with_dkg.move
  vm/framework/starcoin-framework/sources/starcoin_governance.move
Owners: @nkysg

add test case
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

mock fix starcoin-executors errors
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  commons/metrics/src/lib.rs
  executor/Cargo.toml
  executor/src/block_executor.rs
  executor/src/executor.rs
  executor/src/lib.rs
  vm/force-upgrade/Cargo.toml
  vm/force-upgrade/src/force_upgrade_management.rs
  vm/force-upgrade/src/lib.rs
  vm/vm-runtime-mock/Cargo.toml
  vm/vm-runtime-mock/src/lib.rs
  vm/vm-runtime-mock/src/starcoin_vm.rs
Owners: @nkysg

fix some errors in warm_vm_cache.rs and natives.rs
  Cargo.lock
  commons/metrics/src/lib.rs
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/move_vm_ext/warm_vm_cache.rs
  vm/vm-runtime/src/natives.rs
Owners: @nkysg

fix more errors in data_cache.rs
  vm/vm-runtime/src/data_cache.rs
Owners: @nkysg

change MoveResolverExt to StarcoinMoveResolver
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/vm_adapter/adapter_common.rs
Owners: @nkysg

update starcoin-vm-runtime
  Cargo.lock
  executor/tests/readonly_function_call_test.rs
  vm/starcoin-transactional-test-harness/Cargo.toml
  vm/starcoin-transactional-test-harness/src/remote_state.rs
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/errors.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/move_vm_ext/resolver.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/natives.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/verifier/transaction_arg_validation.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
  vm/vm-runtime/src/vm_adapter/adapter_common.rs
Owners: @nkysg

deserialize ConfigChangeEvent
  vm/types/src/account_config/events/config_change.rs
Owners: @nkysg

fix some errors in starcoin_vm.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix more errors in vm-runtime
  Cargo.lock
  Cargo.toml
  vm/types/src/contract_event.rs
  vm/vm-runtime/src/move_vm_ext/warm_vm_cache.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
Owners: @nkysg

fix StateView and StarcoinMoveResolver related errors
  network-rpc/api/src/remote_chain_state.rs
  rpc/client/src/remote_state_reader.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  vm/e2e-tests/src/data_store.rs
  vm/resource-viewer/src/lib.rs
  vm/types/src/state_store/in_memory_state_view.rs
  vm/types/src/state_store/mod.rs
  vm/types/src/state_store/state_value.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/move_vm_ext/resolver.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @sanlee42, @welbon, @nkysg

add back SessionOutput temporarily
  vm/vm-runtime/src/move_vm_ext/mod.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix more errors in starcoin_vm.rs
  Cargo.lock
  Cargo.toml
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix starcoin_natives
  vm/move-package-manager/src/main.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

minor updates and format code
  vm/vm-runtime/src/move_vm_ext/vm.rs
Owners: @nkysg

merge SessionAdapter to SessionExt
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/verifier/transaction_arg_validation.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
  vm/vm-runtime/src/vm_adapter/adapter_common.rs
  vm/vm-runtime/src/vm_adapter/mod.rs
Owners: @nkysg

fix creating StarcoinVM
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix AsExecutorView trait
  vm/vm-runtime-types/src/resolver.rs
  vm/vm-runtime/src/data_cache.rs
Owners: @nkysg

[compiler-v2 framework] Fixed epoch compile error
  vm/framework/starcoin-framework/doc/block.md
  vm/framework/starcoin-framework/doc/consensus_config.md
  vm/framework/starcoin-framework/doc/delegation_pool.md
  vm/framework/starcoin-framework/doc/epoch.md
  vm/framework/starcoin-framework/doc/jwks.md
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/randomness.md
  vm/framework/starcoin-framework/doc/reconfiguration.md
  vm/framework/starcoin-framework/doc/stake.md
  vm/framework/starcoin-framework/doc/staking_config.md
  vm/framework/starcoin-framework/doc/starcoin_governance.md
  vm/framework/starcoin-framework/doc/state_storage.md
  vm/framework/starcoin-framework/sources/configs/consensus_config.spec.move
  vm/framework/starcoin-framework/sources/epoch.move
  vm/framework/starcoin-framework/sources/epoch.spec.move
  vm/framework/starcoin-stdlib/sources/math128.spec.move
  vm/framework/starcoin-stdlib/sources/math64.spec.move
Owners: @nkysg

[compiler-v2 framework] rename files
  vm/framework/starcoin-framework/sources/stc/consensus_config.move
  vm/framework/starcoin-framework/sources/stc/consensus_config.spec.move
  vm/framework/starcoin-framework/sources/stc/consensus_strategy.move
  vm/framework/starcoin-framework/sources/stc/consensus_strategy.spec.move
  vm/framework/starcoin-framework/sources/stc/on_chain_config.move
  vm/framework/starcoin-framework/sources/stc/on_chain_config.spec.move
Owners: @nkysg

add red move
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/prune/pruning_point_manager.rs
  flexidag/tests/tests.rs
Owners: @nkysg

[compiler-v2 framework] Add stc block struct
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/starcoin-framework/doc/bcs_util.md
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/ring.md
  vm/framework/starcoin-framework/doc/stc_block.md
  vm/framework/starcoin-framework/sources/stc/bcs_util.move
  vm/framework/starcoin-framework/sources/stc/ring.move
  vm/framework/starcoin-framework/sources/stc/ring.spec.move
  vm/framework/starcoin-framework/sources/stc/stc_block.move
  vm/framework/starcoin-framework/sources/stc/stc_block.spec.move
Owners: @nkysg

add merge depth in mining
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/src/genesis_config.rs
  flexidag/src/blockdag.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

change the verifier name for sync and mining
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/parallel/executor.rs
Owners: @nkysg, @sanlee42

Fix vm runtime (#4238)
  Cargo.lock
  Cargo.toml
  commons/metrics/src/lib.rs
  executor/tests/readonly_function_call_test.rs
  network-rpc/api/src/remote_chain_state.rs
  rpc/client/src/remote_state_reader.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  vm/e2e-tests/src/data_store.rs
  vm/move-package-manager/src/main.rs
  vm/resource-viewer/src/lib.rs
  vm/starcoin-transactional-test-harness/Cargo.toml
  vm/starcoin-transactional-test-harness/src/remote_state.rs
  vm/types/src/account_config/events/config_change.rs
  vm/types/src/contract_event.rs
  vm/types/src/state_store/in_memory_state_view.rs
  vm/types/src/state_store/mod.rs
  vm/types/src/state_store/state_value.rs
  vm/vm-runtime-types/src/resolver.rs
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/errors.rs
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/move_vm_ext/mod.rs
  vm/vm-runtime/src/move_vm_ext/resolver.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/move_vm_ext/vm.rs
  vm/vm-runtime/src/move_vm_ext/warm_vm_cache.rs
  vm/vm-runtime/src/natives.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/verifier/transaction_arg_validation.rs
  vm/vm-runtime/src/vm_adapter/adapter.rs
  vm/vm-runtime/src/vm_adapter/adapter_common.rs
  vm/vm-runtime/src/vm_adapter/mod.rs
Owners: @nkysg, @sanlee42, @welbon

add sync log
  kube/manifest/starcoin-halley.yaml
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42, @nkysg

add log for tracing the slow process
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

fix starcoin-executor errors
  executor/src/block_executor.rs
  executor/src/executor.rs
  state/statedb/src/lib.rs
  vm/compiler/src/lib.rs
  vm/types/src/lib.rs
Owners: @nkysg, @welbon

fix starcoin-executor errors (#4239)
  executor/src/block_executor.rs
  executor/src/executor.rs
  state/statedb/src/lib.rs
  vm/compiler/src/lib.rs
  vm/types/src/lib.rs
Owners: @nkysg, @welbon

[compiler-v2 framework] Add stc block reward
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/starcoin_coin.md
  vm/framework/starcoin-framework/doc/stc_block.md
  vm/framework/starcoin-framework/sources/coin.move
  vm/framework/starcoin-framework/sources/starcoin_coin.move
  vm/framework/starcoin-framework/sources/stc/block_reward.move
  vm/framework/starcoin-framework/sources/stc/block_reward.spec.move
  vm/framework/starcoin-framework/sources/stc/block_reward_config.move
  vm/framework/starcoin-framework/sources/stc/stc_block.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: @nkysg

fix starcoin-genesis errors
  chain/src/chain.rs
  genesis/src/lib.rs
Owners: @nkysg

fix starcoin-genesis errors (#4240)
  chain/src/chain.rs
  genesis/src/lib.rs
Owners: @nkysg

fix starcoin-dev errors
  vm/dev/src/playground.rs
Owners: @nkysg

remove unused funtion and group imports
  genesis/src/lib.rs
  state/statedb/src/lib.rs
  vm/vm-runtime/src/lib.rs
Owners: @nkysg, @welbon

build stdlib-package with ReleaseBundle
  Cargo.lock
  vm/transaction-builder/Cargo.toml
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

fix starcoin-dev errors (#4241)
  vm/dev/src/playground.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
