Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

[secp256k1-sign] add secp256k1 native functions for starcoin
  Cargo.lock
  Cargo.toml
  genesis/generated/halley/genesis
  vm/gas-algebra-ext/src/starcoin_framework.rs
  vm/natives/src/lib.rs
  vm/natives/src/secp256k1.rs
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/compiled/latest/stdlib/014_Token.mv
  vm/stdlib/compiled/latest/stdlib/019_ChainId.mv
  vm/stdlib/compiled/latest/stdlib/075_Signature.mv
  vm/stdlib/compiled/latest/stdlib/076_SharedEd25519PublicKey.mv
  vm/stdlib/compiled/latest/stdlib/077_TransactionTimeout.mv
  vm/stdlib/compiled/latest/stdlib/078_TransactionManager.mv
  vm/stdlib/compiled/latest/stdlib/079_TransferScripts.mv
  vm/stdlib/compiled/latest/stdlib/080_TreasuryScripts.mv
  vm/stdlib/compiled/latest/stdlib/081_Arith.mv
  vm/stdlib/compiled/latest/stdlib/082_U256.mv
  vm/stdlib/compiled/latest/stdlib/083_YieldFarming.mv
  vm/stdlib/compiled/latest/stdlib/084_YieldFarmingV2.mv
  vm/types/src/gas_schedule.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/on_chain_config/genesis_gas_schedule.rs
Owners: @nkysg, @sanlee42

[secp256k1-sign] add secp256k1 native functions
  vm/stdlib/compiled/latest/stdlib/075_Secp256k1.mv
  vm/stdlib/compiled/latest/stdlib/076_Signature.mv
  vm/stdlib/compiled/latest/stdlib/077_SharedEd25519PublicKey.mv
  vm/stdlib/compiled/latest/stdlib/078_SimpleMap.mv
  vm/stdlib/compiled/latest/stdlib/079_String.mv
  vm/stdlib/compiled/latest/stdlib/080_TransactionTimeout.mv
  vm/stdlib/compiled/latest/stdlib/081_TransactionManager.mv
  vm/stdlib/compiled/latest/stdlib/082_TransferScripts.mv
  vm/stdlib/compiled/latest/stdlib/083_TreasuryScripts.mv
  vm/stdlib/compiled/latest/stdlib/084_Arith.mv
  vm/stdlib/compiled/latest/stdlib/085_U256.mv
  vm/stdlib/compiled/latest/stdlib/086_YieldFarming.mv
  vm/stdlib/compiled/latest/stdlib/087_YieldFarmingV2.mv
Owners: @nkysg, @sanlee42

[secp256k1-sign] fixed unit test error
  Cargo.lock
  Cargo.toml
Owners: none

[secp256k1-sign] fixed binary for build
  vm/stdlib/compiled/latest/stdlib/075_Secp256k1.mv
Owners: @nkysg, @sanlee42

[secp256k1-sign] fixed unit test error for secp256k1 decomparess
  Cargo.lock
  Cargo.toml
  vm/natives/Cargo.toml
  vm/natives/src/secp256k1.rs
Owners: @nkysg

[secp256k1-sign] dev net always build the fresh version framework
  genesis/src/lib.rs
Owners: @nkysg

fix(natives): return full uncompressed pubkey in decompress_pubkey
  vm/natives/src/secp256k1.rs
Owners: @nkysg

[secp256k1-sign] add secp256k1_sign
  Cargo.lock
  genesis/generated/halley/genesis
  vm/gas-algebra-ext/src/starcoin_framework.rs
  vm/natives/Cargo.toml
  vm/natives/src/lib.rs
  vm/natives/src/secp256k1.rs
  vm/types/src/gas_schedule.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/on_chain_config/genesis_gas_schedule.rs
Owners: @nkysg

[secp256k1-sign] add secp256k1_sign
  Cargo.lock
  Cargo.toml
  vm/stdlib/compiled/latest/stdlib/075_Secp256k1.mv
Owners: @nkysg, @sanlee42

[secp256k1-sign] add type annotation for bridge compilation
  stratum/src/rpc.rs
Owners: @sanlee42

[secp256k1-sign] fixed cargo fmt
  vm/natives/src/secp256k1.rs
Owners: @nkysg

[secp256k1-sign] fixed cargo fmt
  stratum/src/rpc.rs
Owners: @sanlee42

[secp256k1-sign] fixed docker login client version in CI deploy build
  .github/workflows/docker_build.yml
Owners: @sanlee42, @nkysg

move tx pool actor service outside of lib.rs
  txpool/src/lib.rs
  txpool/src/tx_pool_actor_service.rs
Owners: @sanlee42, @welbon

[secp256k1-sign] add the image build for local build
  scripts/build-and-push.sh
Owners: none

add the image build for local build
  docker/ci/Dockerfile
Owners: none

[secp256k1-sign] changed genesis
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
Owners: @nkysg

[secp256k1-sign] skip the force upgrade for halley network
  chain/open-block/src/lib.rs
Owners: @nkysg

[secp256k1-sign] fixed fmt warning
  chain/open-block/src/lib.rs
Owners: @nkysg

[secp256k1-sign] 1. fixed framework version; 2. removed force upgrade in halley
  Cargo.lock
  Cargo.toml
  chain/open-block/src/lib.rs
  config/src/genesis_config.rs
  executor/src/block_executor.rs
  genesis/generated/halley/genesis
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

use CommitBlockTransactions message to refresh the txpool
  Cargo.lock
  chain/api/src/lib.rs
  chain/api/src/service.rs
  chain/service/src/lib.rs
  miner/src/create_block_template/new_header_service.rs
  miner/src/generate_block_event_pacemaker.rs
  miner/tests/miner_test.rs
  node/src/node.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests_dag.rs
  txpool/mock-service/Cargo.toml
  txpool/mock-service/src/lib.rs
  txpool/src/lib.rs
  txpool/src/tx_pool_actor_service.rs
  types/src/system_events.rs
Owners: @nkysg, @sanlee42, @welbon

sub and unsub the commit block transaction message
  txpool/src/tx_pool_actor_service.rs
Owners: @sanlee42, @welbon

use CommitBlockTransactions message to refresh the txpool
  Cargo.lock
  chain/api/src/lib.rs
  chain/api/src/service.rs
  chain/open-block/src/lib.rs
  chain/service/src/lib.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/src/txpool_config.rs
  miner/src/create_block_template/block_builder_service.rs
  miner/tests/miner_test.rs
  node/src/node.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests_dag.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
  txpool/mock-service/Cargo.toml
  txpool/mock-service/src/lib.rs
  txpool/src/lib.rs
  txpool/src/tx_pool_actor_service.rs
Owners: @nkysg, @sanlee42, @welbon

add log for debug
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  txpool/src/tx_pool_actor_service.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

fix bench
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  miner/src/create_block_template/block_builder_service.rs
  state/statedb-v2/src/lib.rs
  sync/src/block_connector/write_block_chain.rs
  sync/starcoin-execute-bench/src/main.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @nkysg, @sanlee42, @welbon

add dag in txpool inner
  miner/src/create_block_template/test_create_block_template.rs
  miner/tests/miner_test.rs
  txpool/Cargo.toml
  txpool/src/lib.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

use pruning point to get the state
  chain/mock/src/mock_chain.rs
  chain/tests/block_test_utils.rs
  cmd/generator/src/lib.rs
  flexidag/src/blockdag.rs
  flexidag/tests/test_commit_atomicity.rs
  flexidag/tests/tests.rs
  genesis/src/lib.rs
  node/src/node.rs
  simnet/src/scene/mod.rs
  sync/src/tasks/test_tools.rs
  test-helper/src/chain.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @nkysg, @welbon, @sanlee42

[runner ver] upgrade runner version
  docker/ci/Dockerfile
Owners: none

add some improvement
  chain/open-block/src/vm2.rs
  commons/parallel-executor/src/executor.rs
  flexidag/src/blockdag.rs
  node/src/node.rs
  vm2/executor/src/executor.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add cull before import txns and other improvements
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  cmd/generator/src/lib.rs
  commons/parallel-executor/src/executor.rs
  flexidag/src/blockdag.rs
  miner/src/create_block_template/block_builder_service.rs
  txpool/src/tx_pool_service_impl.rs
  vm2/executor/src/executor.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @welbon, @sanlee42

[runner ver] upgrade runner version pinned on v2.329.0
  docker/ci/Dockerfile
Owners: none

[runner ver] upgrade runner version (#4778)
  docker/ci/Dockerfile
Owners: none

add interval calling cull
  config/src/txpool_config.rs
  txpool/src/lib.rs
  txpool/src/tx_pool_actor_service.rs
Owners: @sanlee42, @welbon

Share resource group cache across parallel execution
  commons/mvhashmap/src/lib.rs
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/proptest_types/types.rs
  commons/parallel-executor/src/task.rs
  vm/vm-runtime/src/parallel_executor/mod.rs
  vm2/types/src/vm/config.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: @nkysg

Implement resource group reads in parallel view
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: none

Wrap VersionedView as move resolver
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: none

Remove layout param from resource group reads
  commons/mvhashmap/src/lib.rs
  commons/parallel-executor/src/executor.rs
  vm2/vm-runtime-types/src/resolver.rs
  vm2/vm-runtime-types/src/resource_group_adapter.rs
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: @nkysg

Fix mvhashmap test group type inference
  commons/mvhashmap/src/unit_tests/mvhashmap_test.rs
Owners: @nkysg

add state check
  miner/src/create_block_template/state_check.rs
Owners: @sanlee42

remove fork in chain
  chain/src/chain.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42
