Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

[compiler-v2 framework] fixed cargo fmt
  vm/types/src/account_config/constants/account.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
Owners: @nkysg

[compiler-v2 framework] Fixed execution parameter check (#4272)
  vm/types/src/account_config/constants/account.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix starcoin-framework native builder
  vm/starcoin-gas-meter/src/gas_meter.rs
  vm/starcoin-native-interface/src/builder.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

test dag verification
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
Owners: none

add log to trace
  flexidag/src/ghostdag/protocol.rs
Owners: none

add reachability data with parents
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
Owners: none

fix mpm and executor test
  Cargo.lock
  benchmarks/Cargo.toml
  benchmarks/benches/bench_state_tree.rs
  commons/forkable-jellyfish-merkle/Cargo.toml
  commons/forkable-jellyfish-merkle/src/jellyfish_merkle_test.rs
  executor/tests/block_reward_test.rs
  executor/tests/error_code_test.rs
  executor/tests/executor_test.rs
  executor/tests/module_upgrade_test.rs
  executor/tests/readonly_function_call_test.rs
  executor/tests/script_function_test.rs
  vm/move-package-manager/src/lib.rs
  vm/types/src/on_chain_config/move_lang_version.rs
Owners: @nkysg

fix mpm and executor test (#4276)
  Cargo.lock
  benchmarks/Cargo.toml
  benchmarks/benches/bench_state_tree.rs
  commons/forkable-jellyfish-merkle/Cargo.toml
  commons/forkable-jellyfish-merkle/src/jellyfish_merkle_test.rs
  executor/tests/block_reward_test.rs
  executor/tests/error_code_test.rs
  executor/tests/executor_test.rs
  executor/tests/module_upgrade_test.rs
  executor/tests/readonly_function_call_test.rs
  executor/tests/script_function_test.rs
  vm/move-package-manager/src/lib.rs
  vm/types/src/on_chain_config/move_lang_version.rs
Owners: @nkysg

fix starcoin-framework native builder (#4275)
  vm/starcoin-gas-meter/src/gas_meter.rs
  vm/starcoin-native-interface/src/builder.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix test mod errors
  state/statedb/src/tests.rs
Owners: @welbon, @nkysg

add test and log
  sync/src/parallel/executor.rs
  sync/src/sync.rs
  sync/tests/test_parallel_scheduler.rs
Owners: @sanlee42

add drop helper for scheduler
  sync/src/parallel/executor.rs
  sync/tests/test_parallel_scheduler.rs
Owners: @sanlee42

add worker scheduler for stopping the worker gracefully
  sync/src/parallel/executor.rs
  sync/src/parallel/mod.rs
  sync/src/parallel/sender.rs
  sync/src/parallel/worker_scheduler.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
Owners: @sanlee42

tell the worker to stop before a new syncp process starts
  sync/src/sync.rs
Owners: @sanlee42

fix testsuite building errors
  Cargo.lock
  testsuite/Cargo.toml
  testsuite/tests/steps/state.rs
  testsuite/tests/steps/transaction.rs
Owners: @nkysg

fix chain, config, rpc, txpool mod test errors
  Cargo.lock
  chain/Cargo.toml
  chain/tests/test_block_chain.rs
  chain/tests/test_opened_block.rs
  chain/tests/test_txn_info_and_proof.rs
  config/src/genesis_config.rs
  rpc/server/src/module/pubsub/tests.rs
  txpool/Cargo.toml
  txpool/src/pool/listener/tests.rs
Owners: @nkysg, @sanlee42, @welbon

fix testsuite building errors (#4277)
  Cargo.lock
  testsuite/Cargo.toml
  testsuite/tests/steps/state.rs
  testsuite/tests/steps/transaction.rs
Owners: @nkysg

[compiler-v2]Fix chain, config, rpc, txpool test mod (#4278)
  Cargo.lock
  chain/Cargo.toml
  chain/tests/test_block_chain.rs
  chain/tests/test_opened_block.rs
  chain/tests/test_txn_info_and_proof.rs
  config/src/genesis_config.rs
  rpc/server/src/module/pubsub/tests.rs
  state/statedb/src/tests.rs
  txpool/Cargo.toml
  txpool/src/pool/listener/tests.rs
Owners: @nkysg, @sanlee42, @welbon

[compiler-v2 framework] fixed the error of peer to peer stc transfer
  Cargo.lock
  types/src/account.rs
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/starcoin-framework/doc/account.md
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/account.move
  vm/framework/starcoin-framework/sources/coin.move
  vm/framework/starcoin-framework/sources/create_signer.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
  vm/framework/starcoin-framework/sources/stc/transfer_scripts.move
  vm/transaction-builder/src/lib.rs
  vm/types/src/token/stc.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-status-translator/Cargo.toml
  vm/vm-status-translator/src/lib.rs
Owners: @nkysg, @welbon

[compiler-v2 framework] fixed cargo fmt
  vm/types/src/token/stc.rs
  vm/vm-status-translator/src/lib.rs
Owners: @nkysg

Bob/compiler v2 fixed peer to peer (#4279)
  Cargo.lock
  types/src/account.rs
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/starcoin-framework/doc/account.md
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm/framework/starcoin-framework/sources/account.move
  vm/framework/starcoin-framework/sources/coin.move
  vm/framework/starcoin-framework/sources/create_signer.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
  vm/framework/starcoin-framework/sources/stc/transfer_scripts.move
  vm/transaction-builder/src/lib.rs
  vm/types/src/token/stc.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-status-translator/Cargo.toml
  vm/vm-status-translator/src/lib.rs
Owners: @nkysg, @welbon

fix genesis, sdk-builder test mod errors
  account/src/account_test.rs
  contrib-contracts/src/starcoin_merkle_test.rs
  genesis/src/lib.rs
  state/service/src/service.rs
  vm/starcoin-sdk-builder/tests/generation.rs
  vm/stdlib/tests/generated_files.rs
  vm/types/src/account_config/resources/account.rs
Owners: @welbon, @nkysg, @sanlee42

fix genesis, sdk-builder test mod errors (#4280)
  account/src/account_test.rs
  contrib-contracts/src/starcoin_merkle_test.rs
  genesis/src/lib.rs
  state/service/src/service.rs
  vm/starcoin-sdk-builder/tests/generation.rs
  vm/stdlib/tests/generated_files.rs
  vm/types/src/account_config/resources/account.rs
Owners: @welbon, @nkysg, @sanlee42

add missing compiled file
  vm/framework/starcoin-framework/doc/transfer_scripts.md
Owners: @nkysg

fix fmt
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
Owners: none

[compiler-v2 framework] fixed CI releases upload option
  .github/workflows/benchmark.yml
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

[compiler-v2 framework] Fixed the error of function params signer is reference
  abi/decoder/src/lib.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @nkysg

fmt
  vm/vm-runtime/src/move_vm_ext/write_op_converter.rs
Owners: @nkysg

fix starcoin-aggregator test mod errors
  vm/starcoin-aggregator/src/tests/identifier_mappings.rs
  vm/types/src/account_config/resources/account.rs
  vm/vm-runtime/src/move_vm_ext/write_op_converter.rs
Owners: @nkysg

[compiler-v2 framework] Fixed the error of function params signer is reference (#4282)
  abi/decoder/src/lib.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
  vm/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @nkysg

[compiler-v2] fix starcoin aggregate test mod (#4281)
  vm/starcoin-aggregator/src/tests/identifier_mappings.rs
  vm/types/src/account_config/resources/account.rs
  vm/vm-runtime/src/move_vm_ext/write_op_converter.rs
Owners: @nkysg

use unordered_mergeset_without_selected_parent when storing into the reachability
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
Owners: none

[compiler-v2 framework] Fixed account mode in Move package manager harness
  types/src/account.rs
  vm/framework/starcoin-framework/doc/account.md
  vm/framework/starcoin-framework/sources/account.move
  vm/framework/starcoin-framework/sources/stc/block_reward.move
  vm/framework/starcoin-framework/sources/stc/consensus_config.move
  vm/framework/starcoin-framework/sources/stc/dao.move
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/types/src/account_config/constants/account.rs
  vm/types/src/account_config/resources/account.rs
  vm/types/src/account_config/resources/mod.rs
  vm/types/src/on_chain_resource/block_metadata.rs
  vm/types/src/on_chain_resource/mod.rs
  vm/types/src/state_view.rs
  vm/vm-runtime/src/starcoin_vm.rs
  vm/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @nkysg, @welbon

rm commented codes
  flexidag/src/blockdag.rs
Owners: none

[compiler-v2 framework] fixed argument check error
  vm/types/src/on_chain_config/vm_config.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[compiler-v2 framework] fixed cargo fmt
  types/src/account.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/types/src/account_config/resources/account.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @welbon

add uncle test in reachability
  flexidag/tests/tests.rs
Owners: none

tell the worker to stop before a new syncp process starts
  sync/src/sync.rs
Owners: @sanlee42

add test and log
  sync/src/parallel/executor.rs
  sync/src/sync.rs
  sync/tests/test_parallel_scheduler.rs
Owners: @sanlee42

add worker scheduler for stopping the worker gracefully
  sync/src/parallel/executor.rs
  sync/src/parallel/mod.rs
  sync/src/parallel/sender.rs
  sync/src/parallel/worker_scheduler.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
Owners: @sanlee42
