Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

add read_starcoin_balance
  Cargo.lock
  asset-mapping/Cargo.toml
  asset-mapping/src/lib.rs
  vm/types/src/state_view.rs
Owners: @nkysg

load CompiledModule with deserialize config
  vm/vm-runtime/src/data_cache.rs
Owners: @nkysg

fix check warnings
  asset-mapping/src/lib.rs
Owners: none

Reload k with epoch
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
Owners: @nkysg

Refactor MinerService: Switch to task_pool for increaseing block mining concurrency in DAG
  miner/src/lib.rs
Owners: @sanlee42

Fix clippy
  flexidag/src/ghostdag/protocol.rs
Owners: none

Fix crate vulnerabilities (#4390)
  Cargo.lock
  Cargo.toml
  consensus/cryptonight-rs/Cargo.toml
Owners: @sanlee42, @welbon

remove some info
  flexidag/src/blockdag.rs
Owners: none

add limit on parents count
  flexidag/src/blockdag.rs
Owners: none

add a new trigger to generate the new block
  config/src/miner_config.rs
  miner/src/generate_block_event_pacemaker.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/sync.rs
  types/src/system_events.rs
Owners: @sanlee42, @nkysg, @welbon

add config for parents count
  flexidag/src/blockdag.rs
Owners: none

add block depth db
  flexidag/src/consensusdb/mod.rs
  flexidag/src/lib.rs
Owners: none

remove test log
  flexidag/src/prune/pruning_point_manager.rs
Owners: none

fix the pruning point calc
  flexidag/src/prune/pruning_point_manager.rs
Owners: none

hint whatever
  flexidag/src/blockdag.rs
Owners: none

hint whatever
  flexidag/src/blockdag.rs
Owners: none

check the historical block before verifying
  flexidag/src/blockdag.rs
Owners: none

add some info for debug
  flexidag/src/blockdag.rs
Owners: none

no check the filter
  chain/src/chain.rs
Owners: @nkysg

fix compile error
  flexidag/src/blockdag.rs
Owners: none

add test case
  flexidag/tests/tests.rs
Owners: none

add check and config for the merge depth to filter the red blocks
  chain/src/chain.rs
  config/src/miner_config.rs
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
  node/src/node.rs
Owners: @nkysg

fix log: warning not error
  flexidag/src/consensusdb/consensus_block_depth.rs
Owners: none

use genesis to get the block depth info
  chain/api/src/chain.rs
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @nkysg, @sanlee42

add db fields
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/db.rs
Owners: none

fix test case test merge bounded
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
Owners: none

add check the bad red blocks
  chain/src/chain.rs
  flexidag/src/blockdag.rs
Owners: @nkysg

add remove red blocks when mining
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/block_depth/mod.rs
  flexidag/src/blockdag.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

add consensus block depth
  flexidag/src/consensusdb/consensus_block_depth.rs
Owners: none

Add resource group tree (#4395)
  Cargo.lock
  chain/src/chain.rs
  chain/tests/test_opened_block.rs
  cmd/tx-factory/src/main.rs
  etc/starcoin_types.yml
  executor/Cargo.toml
  executor/tests/script_function_test.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  rpc/server/src/module/pubsub/tests.rs
  state/api/src/chain_state.rs
  state/state-tree/src/state_tree.rs
  state/statedb/src/lib.rs
  test-helper/src/executor.rs
  testsuite/tests/steps/transaction.rs
  txpool/src/lib.rs
  txpool/src/pool_client.rs
  types/src/account_state.rs
  types/src/state_set.rs
  types/src/vm/config.rs
  vm/e2e-tests/src/executor.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/types/src/access_path.rs
  vm/types/src/on_chain_config/starcoin_features.rs
  vm/types/src/state_store/state_key/mod.rs
  vm/types/src/state_view.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @welbon, @sanlee42

Reload k with epoch (#4396)
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
Owners: @nkysg

Pick force-upgrade from master
  Cargo.lock
  chain/Cargo.toml
  chain/force-upgrade/Cargo.toml
  chain/force-upgrade/src/lib.rs
  chain/open-block/src/lib.rs
  cmd/starcoin/Cargo.toml
  node/Cargo.toml
Owners: @nkysg, @welbon

upgrade from 12 to 13
  chain/force-upgrade/src/lib.rs
  vm/force-upgrade/src/force_upgrade_management.rs
  vm/force-upgrade/src/lib.rs
Owners: @nkysg

logging balance-related events
  executor/src/block_executor.rs
  vm/types/src/account_config/events/helper.rs
  vm/types/src/account_config/events/mod.rs
Owners: @nkysg

fix building errors
  executor/src/block_executor.rs
  vm/types/src/account_config/events/helper.rs
Owners: @nkysg

read logging filter value from env variable
  executor/Cargo.toml
  executor/src/block_executor.rs
Owners: @nkysg

filter BALANCE_EVENT_AMOUNT with any
  executor/src/block_executor.rs
Owners: @nkysg

add subscribe_new_transactions_full
  rpc/client/src/lib.rs
  rpc/client/src/pubsub_client.rs
Owners: @sanlee42

Update stdlib
  Cargo.lock
  Cargo.toml
  chain/open-block/src/lib.rs
  vm/force-upgrade/src/force_upgrade_management.rs
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
Owners: @nkysg, @sanlee42

Fix upgrade script init function
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/force-upgrade/Cargo.toml
  chain/force-upgrade/src/lib.rs
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  executor/Cargo.toml
  executor/src/block_executor.rs
  vm/force-upgrade/Cargo.toml
  vm/force-upgrade/src/lib.rs
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/vm-runtime/src/force_upgrade_management.rs
  vm/vm-runtime/src/lib.rs
Owners: @nkysg, @sanlee42

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
