Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

[Dag Sync]Fix sync test case (#4059)
  Cargo.lock
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  config/src/genesis_config.rs
  config/src/lib.rs
  executor/tests/error_code_test.rs
  node/Cargo.toml
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/full_sync_test.rs
  sync/tests/test_rpc_client.rs
  types/src/block/mod.rs
Owners: @nkysg, @sanlee42, @welbon

make project buildable
  Cargo.lock
  Cargo.toml
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

[flexiDAG] fixed error from merge code
  Cargo.lock
  Cargo.toml
  cmd/db-exporter/src/force_deploy_output.rs
  cmd/db-exporter/src/main.rs
Owners: @welbon

fix some clippy warnings in starcoin-chain
  chain/service/src/chain_service.rs
  chain/src/chain.rs
Owners: @nkysg

enable ci workflow for branch dag-mining-net-master
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

fix test cases in executor/stdlib
  config/src/genesis_config.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/stdlib/tests/package_init_script.rs
Owners: @nkysg, @sanlee42

fix test_db_upgrade
  types/src/block/mod.rs
Owners: @nkysg, @welbon

fix test cases in starcoin-chain
  chain/src/chain.rs
  chain/tests/test_force_upgrade.rs.bak
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

ignore call_api_cmd_halley test
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.move.bak
Owners: @nkysg

[flexiDAG] fixed mpm integration test
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  vm/stdlib/compiled/12/11-12/stdlib.blob
Owners: @nkysg, @sanlee42

[flexiDAG] fixed mpm integration test
  scripts/build_stdlib.sh
Owners: none

[flexiDAG] new binary for framework version
  vm/stdlib/compiled/12/11-12/stdlib/038_Block.mv
  vm/stdlib/compiled/12/stdlib/038_Block.mv
  vm/stdlib/compiled/latest/stdlib/038_Block.mv
Owners: @nkysg, @sanlee42

[flexiDAG] debug test
  chain/src/chain.rs
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

remove key exists
  flexidag/src/consensusdb/consensus_ghostdag.rs
  flexidag/src/consensusdb/consensus_header.rs
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/consensusdb/consensus_relations.rs
  flexidag/src/types/ghostdata.rs
  flexidag/tests/tests.rs
Owners: none

key exists bug
  flexidag/src/consensusdb/consensus_ghostdag.rs
  flexidag/src/consensusdb/consensus_header.rs
  flexidag/src/consensusdb/consensus_relations.rs
Owners: none

[flexiDAG] fixed force-deploy testcase
  Cargo.lock
  Cargo.toml
  chain/src/chain.rs
  chain/tests/test_force_upgrade.rs
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

[flexiDAG] fixed force-deploy testcase binary files
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/038_Block.mv
  vm/stdlib/compiled/12/11-12/stdlib/049_FlexiDagConfig.mv
  vm/stdlib/compiled/12/11-12/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/11-12/stdlib/066_Genesis.mv
  vm/stdlib/compiled/12/stdlib/038_Block.mv
  vm/stdlib/compiled/12/stdlib/049_FlexiDagConfig.mv
  vm/stdlib/compiled/12/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/038_Block.mv
  vm/stdlib/compiled/latest/stdlib/049_FlexiDagConfig.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
Owners: @nkysg, @sanlee42

remove debug log
  flexidag/src/consensusdb/consensus_ghostdag.rs
  flexidag/src/consensusdb/consensus_relations.rs
Owners: none

[fix-testcase] fixed the testcase for force upgrade
  chain/open-block/src/lib.rs
  chain/tests/test_force_upgrade.rs
  executor/src/block_executor.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[fix-testcase] revert upgrade block number for test env
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

[fix-testcase] remove some log
  executor/src/block_executor.rs
Owners: @nkysg

[fix-testcase] changed some comment
  vm/types/src/state_view.rs
Owners: @nkysg

[fix-testcase] changed some comment
  vm/types/src/state_view.rs
Owners: @nkysg

[fix-testcase] fixed error from check_commit.sh
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

[fix-testcase] fixed build and test workflow pull branch from `dag-mining-net-master` to `dag-master`
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

[fix-testcase] To ensure uniqueness, `StateView.get_block_metadata_v2` is removed,and add `BlockMetadataWrapper`
  executor/src/block_executor.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/types/src/on_chain_resource/block_metadata.rs
  vm/types/src/on_chain_resource/mod.rs
  vm/types/src/state_view.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[fix-testcase] Reindex framework repository version
  Cargo.toml
Owners: none

[fix-testcase] fixed cargo clippy
  Cargo.lock
  vm/starcoin-transactional-test-harness/src/lib.rs
Owners: @nkysg

[fix-testcase] fixed cargo fmt
  vm/starcoin-transactional-test-harness/src/lib.rs
Owners: @nkysg

[fix-testcase] fixed StarcoinFramework initialize using StdlibVersion Latest
  Cargo.lock
  Cargo.toml
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/066_Genesis.mv
  vm/stdlib/compiled/12/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
Owners: @nkysg, @sanlee42

update scripts
  scripts/build_stdlib.sh
Owners: none

Revert "[fix-testcase] To ensure uniqueness, `StateView.get_block_metadata_v2` is removed,and add `BlockMetadataWrapper`"
  executor/src/block_executor.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/types/src/on_chain_resource/block_metadata.rs
  vm/types/src/on_chain_resource/mod.rs
  vm/types/src/state_view.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

Only execute extra txn when stdlib version is 11
  chain/open-block/src/lib.rs
  chain/tests/test_force_upgrade.rs
  executor/src/block_executor.rs
  executor/tests/module_upgrade_test.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

[FlexiDAG] fix force upgrade test (#4075)
  .github/workflows/build_test.yml
  Cargo.lock
  Cargo.toml
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_force_upgrade.rs
  config/src/genesis_config.rs
  executor/src/block_executor.rs
  executor/tests/module_upgrade_test.rs
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/038_Block.mv
  vm/stdlib/compiled/12/11-12/stdlib/049_FlexiDagConfig.mv
  vm/stdlib/compiled/12/11-12/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/11-12/stdlib/066_Genesis.mv
  vm/stdlib/compiled/12/stdlib/038_Block.mv
  vm/stdlib/compiled/12/stdlib/049_FlexiDagConfig.mv
  vm/stdlib/compiled/12/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/038_Block.mv
  vm/stdlib/compiled/latest/stdlib/049_FlexiDagConfig.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/types/src/state_view.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @sanlee42, @nkysg

set flexidag effective height when executing genesis
  Cargo.lock
  Cargo.toml
  chain/force-upgrade/src/lib.rs
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/src/genesis_config.rs
  genesis/generated/proxima/genesis
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/11-12/stdlib/066_Genesis.mv
  vm/stdlib/compiled/12/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/transaction-builder/src/lib.rs
Owners: @nkysg, @sanlee42

rollback is_enforced
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

remove unused ExternalGhostdagData and error code DagBlockAfterTimeWindow
  chain/api/src/errors.rs
  flexidag/src/types/ghostdata.rs
  flexidag/src/types/mod.rs
  flexidag/src/types/trusted.rs
Owners: @nkysg

make force-deploy as a non-default feature
  benchmarks/Cargo.toml
  chain/Cargo.toml
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_force_upgrade.rs.ignored
  cmd/starcoin/Cargo.toml
  executor/Cargo.toml
  executor/src/block_executor.rs
  node/Cargo.toml
  types/Cargo.toml
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @welbon

Build docker for dag-master and deploy to halley with 3 replica
  .github/workflows/docker_build.yml
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

update halley's genesis_config
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
