Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

add account provider without rpc-provider (#4499)
  Cargo.lock
  Cargo.toml
  account/provider/Cargo.toml
  account/provider/src/lib.rs
  account/provider/src/local_provider.rs
  account/provider/src/private_key_provider.rs
Owners: @welbon

warn not bail for the bounded merge check
  flexidag/src/blockdag.rs
Owners: none

fix compiling errors
  Cargo.lock
  Cargo.toml
  account/provider/src/provider2.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/block_executor.rs
  vm2/executor/src/executor.rs
Owners: @welbon

rename starcoin-vm2-rpc starcoin-vm2-rpc-api
  Cargo.lock
  Cargo.toml
  rpc/client/Cargo.toml
  rpc/client/src/lib.rs
  rpc/client/src/vm2.rs
  vm2/rpc/api/Cargo.toml
  vm2/rpc/api/generated_rpc_schema/account_api2.json
  vm2/rpc/api/generated_rpc_schema/contract_api2.json
  vm2/rpc/api/generated_rpc_schema/state_api2.json
  vm2/rpc/api/src/account_api.rs
  vm2/rpc/api/src/contract_api.rs
  vm2/rpc/api/src/generate_schema.rs
  vm2/rpc/api/src/lib.rs
  vm2/rpc/api/src/state_api.rs
Owners: @sanlee42

Add vm2 account provider (#4500)
  Cargo.lock
  Cargo.toml
  account/provider/Cargo.toml
  account/provider/src/lib.rs
  account/provider/src/provider2.rs
  account/provider/src/rpc_provider2.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/block_executor.rs
  vm2/executor/src/executor.rs
Owners: @welbon

add account_rpc and state_rpc
  Cargo.lock
  Cargo.toml
  vm2/rpc/api/src/account_api.rs
  vm2/rpc/api/src/contract_api.rs
  vm2/rpc/api/src/lib.rs
  vm2/rpc/api/src/state_api.rs
  vm2/rpc/server/Cargo.toml
  vm2/rpc/server/src/account_rpc.rs
  vm2/rpc/server/src/helpers.rs
  vm2/rpc/server/src/lib.rs
  vm2/rpc/server/src/state_rpc.rs
Owners: none

update check_commit.sh
  scripts/check_commit.sh
Owners: none

rename starcoin-vm2-rpc starcoin-vm2-rpc-api
  Cargo.lock
  Cargo.toml
  rpc/client/Cargo.toml
  rpc/client/src/lib.rs
  rpc/client/src/vm2.rs
  vm2/rpc/api/Cargo.toml
  vm2/rpc/api/generated_rpc_schema/account_api2.json
  vm2/rpc/api/generated_rpc_schema/contract_api2.json
  vm2/rpc/api/generated_rpc_schema/state_api2.json
  vm2/rpc/api/src/account_api.rs
  vm2/rpc/api/src/contract_api.rs
  vm2/rpc/api/src/generate_schema.rs
  vm2/rpc/api/src/lib.rs
  vm2/rpc/api/src/state_api.rs
Owners: @sanlee42

reexport FutureResult
  vm2/rpc/api/src/account_api.rs
  vm2/rpc/api/src/contract_api.rs
  vm2/rpc/api/src/lib.rs
  vm2/rpc/api/src/state_api.rs
Owners: none

chore: rename starcoin-vm2-rpc to staroin-vm2-rpc-api (#4502)
  Cargo.lock
  Cargo.toml
  rpc/client/Cargo.toml
  rpc/client/src/lib.rs
  rpc/client/src/vm2.rs
  scripts/check_commit.sh
  vm2/rpc/api/Cargo.toml
  vm2/rpc/api/generated_rpc_schema/account_api2.json
  vm2/rpc/api/generated_rpc_schema/contract_api2.json
  vm2/rpc/api/generated_rpc_schema/state_api2.json
  vm2/rpc/api/src/account_api.rs
  vm2/rpc/api/src/contract_api.rs
  vm2/rpc/api/src/generate_schema.rs
  vm2/rpc/api/src/lib.rs
  vm2/rpc/api/src/state_api.rs
Owners: @sanlee42

fmt
  vm2/rpc/server/src/account_rpc.rs
  vm2/rpc/server/src/helpers.rs
  vm2/rpc/server/src/lib.rs
Owners: none

add rpc2 server account_rpc
  Cargo.lock
  Cargo.toml
  vm2/rpc/server/Cargo.toml
  vm2/rpc/server/src/account_rpc.rs
  vm2/rpc/server/src/helpers.rs
  vm2/rpc/server/src/lib.rs
Owners: none

add rpc2 server account rpc (#4503)
  Cargo.lock
  Cargo.toml
  vm2/rpc/server/Cargo.toml
  vm2/rpc/server/src/account_rpc.rs
  vm2/rpc/server/src/helpers.rs
  vm2/rpc/server/src/lib.rs
Owners: none

[dual-vm] fixed clippy
  state/service/src/service.rs
Owners: @welbon, @nkysg

[dual-vm] commit state root for vm in rpc module
  network-rpc/api/src/remote_chain_state.rs
  rpc/api/src/state/mod.rs
  rpc/client/src/remote_state_reader.rs
  rpc/server/src/module/state_rpc.rs
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/api/src/message.rs
  state/api/src/mock/mock_chain_state_service.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  state/statedb/src/multi_chain_state_db.rs
  vm/starcoin-transactional-test-harness/src/fork_state.rs
Owners: @sanlee42, @welbon, @nkysg

[dual-vm] Commit code for command line multi-vm transformation
  Cargo.lock
  Cargo.toml
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/cli_state_dual_vm.rs
  cmd/starcoin/src/lib.rs
  cmd/starcoin/src/view.rs
  rpc/api/src/lib.rs
  rpc/api/src/multi_dry_run_output_view.rs
  rpc/client/src/lib.rs
  types/src/lib.rs
  types/src/multi_dry_run_transaction.rs
  types/src/multi_transaction.rs
  types/src/multi_transaction_authenticator.rs
Owners: @welbon, @sanlee42, @nkysg

[dual-vm] revert multichainstatedb to chainstatedb for unit test
  state/service/src/service.rs
Owners: @welbon, @nkysg

[dual-vm] Commit multi types for CliStateDualVM
  Cargo.lock
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/cli_state_dual_vm.rs
  cmd/starcoin/src/lib.rs
  cmd/starcoin/src/multi_vm/mod.rs
  cmd/starcoin/src/multi_vm/multi_decoded_transaction_payload.rs
  cmd/starcoin/src/multi_vm/multi_execute_result_view.rs
  cmd/starcoin/src/multi_vm/multi_execution_output_view.rs
  cmd/starcoin/src/txpool/mod.rs
  rpc/api/src/lib.rs
  rpc/api/src/multi_dry_run_output_view.rs
  rpc/api/src/multi_signed_user_transaction_view.rs
  rpc/api/src/multi_transaction_payload_view.rs
  rpc/api/src/muti_raw_user_transaction_view.rs
  rpc/api/src/txpool/mod.rs
  rpc/api/src/types.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  rpc/server/src/module/txpool_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @welbon, @sanlee42, @nkysg

rename rpc
  network-rpc/api/src/remote_chain_state.rs
  rpc/api/generated_rpc_schema/state.json
  rpc/api/src/state/mod.rs
  rpc/client/src/remote_state_reader.rs
  rpc/server/src/module/state_rpc.rs
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/api/src/message.rs
  state/api/src/mock/mock_chain_state_service.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  vm/starcoin-transactional-test-harness/src/fork_state.rs
Owners: @sanlee42, @welbon, @nkysg

[dual-vm] commit state root for vm in rpc module
  rpc/api/generated_rpc_schema/state.json
Owners: @sanlee42

[dual-vm] commit vm2 for cli state vm2
  Cargo.lock
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/cli_state_trait.rs
  cmd/starcoin/src/cli_state_vm2.rs
  cmd/starcoin/src/lib.rs
  cmd/starcoin/src/main.rs
  cmd/starcoin/src/run.rs
  rpc/api/src/multi_dry_run_output_view.rs
Owners: @welbon, @sanlee42

[dual-vm] fixed build error
  cmd/starcoin/src/account/create_cmd.rs
  cmd/starcoin/src/account/execute_script_function_cmd.rs
  cmd/starcoin/src/account/generate_keypair.rs
  cmd/starcoin/src/account/nft_cmd.rs
  cmd/starcoin/src/account/show_cmd.rs
  cmd/starcoin/src/cli_state_router.rs
  cmd/starcoin/src/run.rs
Owners: @welbon

[dual-vm] Add command state router for dual vm
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/cli_state_router.rs
  cmd/starcoin/src/cli_state_vm2.rs
  cmd/starcoin/src/lib.rs
  cmd/starcoin/src/main.rs
  cmd/starcoin/src/run.rs
  cmd/starcoin/src/subcommand_vm2/mod.rs
  cmd/starcoin/src/view_vm2.rs
  config/src/lib.rs
Owners: @welbon

[dual-vm] fixed some build error
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/cli_state_router.rs
  state/service/src/service.rs
Owners: @welbon, @nkysg

[dual-vm] vm2 command
  cmd/starcoin/src/subcommand_vm2/accept_token_cmd.rs
Owners: @welbon

[dual-vm] remove unused coe
  cmd/starcoin/src/cli_state_trait.rs
Owners: @welbon

[dual-vm] vm2 command: The starcoin-dev library was missed when rebasing the code
  Cargo.lock
  Cargo.toml
Owners: none

[dual-vm] reformat contract subcommand
  cmd/starcoin/src/contract/get_contract_data_cmd.rs
  cmd/starcoin/src/contract/mod.rs
Owners: @welbon

[dual-vm] remove unused coe
  cmd/starcoin/src/multi_vm/mod.rs
  cmd/starcoin/src/multi_vm/multi_decoded_transaction_payload.rs
  cmd/starcoin/src/multi_vm/multi_execute_result_view.rs
  cmd/starcoin/src/multi_vm/multi_execution_output_view.rs
Owners: @welbon

[dual-vm] remove vm2 from TransactionOpt
  cmd/starcoin/src/view.rs
Owners: @welbon

rpc2 server state_rpc
  Cargo.lock
  Cargo.toml
  vm2/rpc/server/Cargo.toml
  vm2/rpc/server/src/lib.rs
  vm2/rpc/server/src/state_rpc.rs
Owners: none

rpc2 server state_rpc (#4504)
  Cargo.lock
  Cargo.toml
  vm2/rpc/server/Cargo.toml
  vm2/rpc/server/src/lib.rs
  vm2/rpc/server/src/state_rpc.rs
Owners: none

add vm2 contract rpc
  Cargo.lock
  Cargo.toml
  vm2/rpc/server/Cargo.toml
  vm2/rpc/server/src/contract_rpc.rs
  vm2/rpc/server/src/lib.rs
  vm2/rpc/server/src/state_rpc.rs
Owners: none

add vm2 contract rpc (#4506)
  Cargo.lock
  Cargo.toml
  vm2/rpc/server/Cargo.toml
  vm2/rpc/server/src/contract_rpc.rs
  vm2/rpc/server/src/lib.rs
  vm2/rpc/server/src/state_rpc.rs
Owners: none

register vm2 apis to rpc service
  Cargo.lock
  config/src/api_config.rs
  node/Cargo.toml
  node/src/rpc_service_factory.rs
  rpc/server/Cargo.toml
  rpc/server/src/service.rs
  vm2/rpc/server/src/account_rpc.rs
  vm2/rpc/server/src/lib.rs
Owners: @nkysg, @sanlee42

[dual-vm] vm2 command: Split the basic VM2-support related changes from a large PR to facilitate review, source: https://github.com/starcoinorg/starcoin/pull/4484
  Cargo.lock
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/cli_state_vm2.rs
  cmd/starcoin/src/lib.rs
  cmd/starcoin/src/main.rs
  cmd/starcoin/src/subcommand_vm2/accept_token_cmd.rs
  cmd/starcoin/src/subcommand_vm2/mod.rs
  cmd/starcoin/src/view_vm2.rs
  config/src/lib.rs
Owners: @welbon

[dual-vm] vm2 command: fixed Copilot review
  cmd/starcoin/src/subcommand_vm2/accept_token_cmd.rs
Owners: @welbon

[dual-vm] vm2 command: fixed clippy error
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/cli_state_vm2.rs
  cmd/starcoin/src/main.rs
  cmd/starcoin/src/subcommand_vm2/accept_token_cmd.rs
  testsuite/tests/steps/cmd.rs
  vm/move-package-manager/src/deployment.rs
Owners: @welbon, @nkysg

[dual-vm] vm2 command: fixed error
  testsuite/tests/steps/cmd.rs
Owners: @nkysg

fix typos
  node/src/rpc_service_factory.rs
  rpc/server/src/module/contract_rpc.rs
  vm/dev/src/playground.rs
Owners: @nkysg, @sanlee42
