Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fixed CI cargo env install
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

remove prover tool avoid compatibility error
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

fixed CI cargo env install
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

fix fmt
  miner/tests/miner_test.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/tests/data_cache_manual_exchange.rs
Owners: @sanlee42

add missing verify
  chain/src/chain.rs
Owners: @nkysg

ignore test force upgrade
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

fixed cargo fmt
  chain/src/chain.rs
Owners: @nkysg

fix: manual_exchange_bytes_for_nested_native_u64 check the type
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/tests/data_cache_manual_exchange.rs
Owners: none

gas fee parameter error
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

Update default balance check
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

add bench files only
  Cargo.lock
  Cargo.toml
  config/src/genesis_config/mod.rs
  node/src/lib.rs
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
  test-helper/src/lib.rs
  test-helper/src/node.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @nkysg, @sanlee42, @welbon

cache block meta transactions
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
Owners: @nkysg

update sys dep
  flake.nix
Owners: none

remove fork in chain
  chain/src/chain.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

fix the panic when finishing bench
  Cargo.lock
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
  types/src/transaction/stc_transaction.rs
Owners: @sanlee42, @nkysg, @welbon

use another threads to put transactions in new header block message
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

use multi thread
  commons/utils/src/thread_pool.rs
Owners: @nkysg

use associate account
  config/src/lib.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

no update the data in dag new header
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

fix bug: the block on will block the observer so it should run on a single thread
  chain/open-block/src/vm2.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @nkysg, @sanlee42

use transaction id to group the transaction
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

fix total transaction count
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

update max transaction per block
  config/src/genesis_config/mod.rs
  config/src/genesis_config/vm2.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

use txpool config: 1,the number of max transaction is 4096000 2,max sender count is 1280000 3,default memory used will be 1G
  config/src/txpool_config.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

move the result output into an independent file
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

wait for the user transaction finish
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

use 1 thread to produce and execute the block
  commons/utils/src/thread_pool.rs
Owners: @nkysg

fix: use selected header's state to get the sequence number
  Cargo.lock
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

fix statistics
  miner/src/lib.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

wait for the account finish
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

add informative of the block
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

user batch sent
  Cargo.lock
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

seperate the output file
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

use 1 thread to execute and mint
  commons/utils/src/thread_pool.rs
Owners: @nkysg

no blue block transactions
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

recover the blue transactions
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

use multi-thread
  commons/utils/src/thread_pool.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @nkysg, @sanlee42

all user transctions added being executed is the job done sign
  Cargo.lock
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

add logic for waiting for the account topup
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

use 1 thread for vm to execute the transaction
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42
