Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

fix: in sync, the chain id should be the block's parent id
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

fix: too old and too new of the transactions
  Cargo.lock
  miner/Cargo.toml
  miner/src/create_block_template/block_builder_service.rs
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/state_check.rs
Owners: @sanlee42

add genesis in BlockDAG
  chain/mock/src/mock_chain.rs
  chain/tests/block_test_utils.rs
  cmd/generator/src/lib.rs
  flexidag/src/blockdag.rs
  flexidag/tests/test_commit_atomicity.rs
  flexidag/tests/tests.rs
  genesis/src/lib.rs
  node/src/node.rs
  simnet/src/scene/mod.rs
  sync/src/tasks/test_tools.rs
  test-helper/src/chain.rs
Owners: @nkysg, @welbon, @sanlee42

cull at every second and importing the transactions
  config/src/txpool_config.rs
  txpool/src/lib.rs
  txpool/src/tx_pool_actor_service.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

the cull interval max is 1
  config/src/txpool_config.rs
Owners: none

fixed halley deploy into digitalocean
  kube/manifest/service-halley.yaml
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

remove unsed constant
  txpool/src/tx_pool_actor_service.rs
Owners: @sanlee42, @welbon

Add txpool verify bench
  Cargo.lock
  txpool/Cargo.toml
  txpool/benches/verify_transaction.rs
  txpool/src/lib.rs
  txpool/src/pool_client.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/executor.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @sanlee42, @welbon

Tx verify pool (#4769)
  Cargo.lock
  config/src/txpool_config.rs
  flake.nix
  txpool/Cargo.toml
  txpool/benches/verify_transaction.rs
  txpool/src/lib.rs
  txpool/src/pool/queue.rs
  txpool/src/pool_client.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
  txpool/src/verifier_pool.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/executor.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @sanlee42, @welbon

[runner ver] upgrade runner version (#4778)
  docker/ci/Dockerfile
Owners: none

Tx verify pool (#4769)
  Cargo.lock
  config/src/txpool_config.rs
  flake.nix
  txpool/Cargo.toml
  txpool/benches/verify_transaction.rs
  txpool/src/lib.rs
  txpool/src/pool/queue.rs
  txpool/src/pool_client.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
  txpool/src/verifier_pool.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/executor.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @sanlee42, @welbon

vm2: burn per-txn fees and mint total fee in block epilogue
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  vm2/chain/src/lib.rs
  vm2/executor/src/block_executor.rs
  vm2/framework/starcoin-framework/doc/stc_block.md
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.move
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/vm-runtime/src/lib.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-types/src/transaction/mod.rs
  vm2/vm-types/src/transaction/tests.rs
Owners: @nkysg

Update RPC to read concurrent fungible balance
  vm2/rpc/server/src/state_rpc.rs
Owners: none

Skip materialization without delayed fields
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: none

Add concurrent fungible balance and fee flow
  vm2/framework/starcoin-framework/sources/coin.move
  vm2/framework/starcoin-framework/sources/fungible_asset.move
  vm2/framework/starcoin-framework/sources/primary_fungible_store.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/vm-types/src/account_config/resources/fungible_store.rs
Owners: none

Add delayed fields core integration
  Cargo.lock
  Cargo.toml
  commons/mvhashmap/Cargo.toml
  commons/mvhashmap/src/lib.rs
  commons/mvhashmap/src/types.rs
  commons/mvhashmap/src/versioned_delayed_fields.rs
  commons/parallel-executor/Cargo.toml
  commons/parallel-executor/src/delayed_field.rs
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/lib.rs
  commons/parallel-executor/src/scheduler.rs
  commons/parallel-executor/src/task.rs
  commons/parallel-executor/src/txn_last_input_output.rs
  vm2/aggregator/src/resolver.rs
  vm2/framework/move-stdlib/sources/configs/features.move
  vm2/framework/src/natives/aggregator_natives/context.rs
  vm2/types/src/vm/config.rs
  vm2/vm-runtime-types/src/change_set.rs
  vm2/vm-runtime-types/src/output.rs
  vm2/vm-runtime-types/src/resolver.rs
  vm2/vm-runtime-types/src/resource_group_adapter.rs
  vm2/vm-runtime/Cargo.toml
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/lib.rs
  vm2/vm-runtime/src/move_vm_ext/session.rs
  vm2/vm-runtime/src/move_vm_ext/vm.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-types/src/on_chain_config/starcoin_features.rs
  vm2/vm-types/src/state_store/mod.rs
  vm2/vm-types/src/state_view.rs
Owners: @nkysg

Add delayed fields tests and helpers
  commons/parallel-executor/tests/delayed_field_combinatorial.rs
  commons/parallel-executor/tests/delayed_field_resource_mix.rs
  commons/parallel-executor/tests/resource_combinatorial.rs
  miner/tests/miner_test.rs
  sync/src/tasks/test_tools.rs
  test-helper/src/network.rs
  vm2/starcoin-transactional-test-harness/src/lib.rs
  vm2/test-helper/Cargo.toml
  vm2/test-helper/tests/dry_run_materialize.rs
Owners: @nkysg, @sanlee42

Tighten VM2 txn count checks and add vm-runtime-types tests
  chain/src/chain.rs
  vm2/vm-runtime-types/src/tests/mod.rs
  vm2/vm-runtime-types/src/tests/test_change_set.rs
  vm2/vm-runtime-types/src/tests/test_output.rs
  vm2/vm-runtime-types/src/tests/utils.rs
Owners: @nkysg

Fix tests && fmt
  chain/src/chain.rs
  commons/mvhashmap/src/versioned_delayed_fields.rs
  commons/parallel-executor/src/delayed_field.rs
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/txn_last_input_output.rs
  commons/parallel-executor/tests/delayed_field_combinatorial.rs
  commons/parallel-executor/tests/delayed_field_resource_mix.rs
  commons/parallel-executor/tests/resource_combinatorial.rs
  vm2/framework/move-stdlib/doc/features.md
  vm2/framework/src/natives/aggregator_natives/context.rs
  vm2/framework/starcoin-framework/doc/coin.md
  vm2/framework/starcoin-framework/doc/fungible_asset.md
  vm2/framework/starcoin-framework/doc/primary_fungible_store.md
  vm2/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.exp
  vm2/framework/starcoin-framework/integration-tests/block_reward/basic.exp
  vm2/framework/starcoin-framework/integration-tests/check/gas_used_out.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_config.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_failure.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_propose.exp
  vm2/framework/starcoin-framework/integration-tests/on_chain_config/test_onchain_config_dao.exp
  vm2/framework/starcoin-framework/integration-tests/token/transfer_then_abort.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/create_account.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/execute_modify_dao_config_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/execute_on_chain_config_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/module_upgrade.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/peer_to_peer.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/withdraw_token_from_treasury.exp
  vm2/framework/starcoin-framework/integration-tests/treasury/linear_withdraw_cap.exp
  vm2/framework/starcoin-framework/integration-tests/treasury/split_linear_cap.exp
  vm2/framework/starcoin-framework/integration-tests/upgrade_module_dao_proposal/basic.exp
  vm2/rpc/server/src/state_rpc.rs
  vm2/test-helper/tests/dry_run_materialize.rs
  vm2/vm-runtime-types/src/resource_group_adapter.rs
  vm2/vm-runtime/src/move_vm_ext/session.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: @nkysg

Fix clippy warnings and test harness build
  Cargo.lock
  commons/parallel-executor/src/proptest_types/types.rs
  miner/tests/miner_test.rs
  sync/src/tasks/test_tools.rs
  vm/starcoin-gas/src/gas_meter.rs
  vm2/executor/src/block_executor.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: @nkysg, @sanlee42

add block time execute log
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

Tx verify pool (#4769)
  Cargo.lock
  config/src/txpool_config.rs
  flake.nix
  txpool/Cargo.toml
  txpool/benches/verify_transaction.rs
  txpool/src/lib.rs
  txpool/src/pool/queue.rs
  txpool/src/pool_client.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
  txpool/src/verifier_pool.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/executor.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @sanlee42, @welbon

vm2: burn per-txn fees and mint total fee in block epilogue
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  vm2/chain/src/lib.rs
  vm2/executor/src/block_executor.rs
  vm2/framework/starcoin-framework/doc/stc_block.md
  vm2/framework/starcoin-framework/doc/stc_genesis.md
  vm2/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.move
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/vm-runtime/src/lib.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-types/src/transaction/mod.rs
  vm2/vm-types/src/transaction/tests.rs
Owners: @nkysg

Add delayed fields core integration
  Cargo.lock
  Cargo.toml
  commons/mvhashmap/Cargo.toml
  commons/mvhashmap/src/lib.rs
  commons/mvhashmap/src/types.rs
  commons/mvhashmap/src/versioned_delayed_fields.rs
  commons/parallel-executor/Cargo.toml
  commons/parallel-executor/src/delayed_field.rs
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/lib.rs
  commons/parallel-executor/src/scheduler.rs
  commons/parallel-executor/src/task.rs
  commons/parallel-executor/src/txn_last_input_output.rs
  vm2/aggregator/src/resolver.rs
  vm2/framework/move-stdlib/sources/configs/features.move
  vm2/framework/src/natives/aggregator_natives/context.rs
  vm2/types/src/vm/config.rs
  vm2/vm-runtime-types/src/change_set.rs
  vm2/vm-runtime-types/src/output.rs
  vm2/vm-runtime-types/src/resolver.rs
  vm2/vm-runtime-types/src/resource_group_adapter.rs
  vm2/vm-runtime/Cargo.toml
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/lib.rs
  vm2/vm-runtime/src/move_vm_ext/session.rs
  vm2/vm-runtime/src/move_vm_ext/vm.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
  vm2/vm-runtime/src/parallel_executor/vm_wrapper.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-types/src/on_chain_config/starcoin_features.rs
  vm2/vm-types/src/state_store/mod.rs
  vm2/vm-types/src/state_view.rs
Owners: @nkysg

Skip materialization without delayed fields
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: none

Add delayed fields tests and helpers
  commons/parallel-executor/tests/delayed_field_combinatorial.rs
  commons/parallel-executor/tests/delayed_field_resource_mix.rs
  commons/parallel-executor/tests/resource_combinatorial.rs
  miner/tests/miner_test.rs
  sync/src/tasks/test_tools.rs
  test-helper/src/network.rs
  vm2/starcoin-transactional-test-harness/src/lib.rs
  vm2/test-helper/Cargo.toml
  vm2/test-helper/tests/dry_run_materialize.rs
Owners: @nkysg, @sanlee42

Add concurrent fungible balance and fee flow
  vm2/framework/starcoin-framework/sources/coin.move
  vm2/framework/starcoin-framework/sources/fungible_asset.move
  vm2/framework/starcoin-framework/sources/primary_fungible_store.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm2/framework/starcoin-framework/sources/stc/transaction_fee.move
  vm2/vm-types/src/account_config/resources/fungible_store.rs
Owners: none

Tighten VM2 txn count checks and add vm-runtime-types tests
  chain/src/chain.rs
  vm2/vm-runtime-types/src/tests/mod.rs
  vm2/vm-runtime-types/src/tests/test_change_set.rs
  vm2/vm-runtime-types/src/tests/test_output.rs
  vm2/vm-runtime-types/src/tests/utils.rs
Owners: @nkysg

Update RPC to read concurrent fungible balance
  vm2/rpc/server/src/state_rpc.rs
Owners: none

Fix tests && fmt
  chain/src/chain.rs
  commons/mvhashmap/src/versioned_delayed_fields.rs
  commons/parallel-executor/src/delayed_field.rs
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/txn_last_input_output.rs
  commons/parallel-executor/tests/delayed_field_combinatorial.rs
  commons/parallel-executor/tests/delayed_field_resource_mix.rs
  commons/parallel-executor/tests/resource_combinatorial.rs
  vm2/framework/move-stdlib/doc/features.md
  vm2/framework/src/natives/aggregator_natives/context.rs
  vm2/framework/starcoin-framework/doc/coin.md
  vm2/framework/starcoin-framework/doc/fungible_asset.md
  vm2/framework/starcoin-framework/doc/primary_fungible_store.md
  vm2/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm2/framework/starcoin-framework/doc/transaction_fee.md
  vm2/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.exp
  vm2/framework/starcoin-framework/integration-tests/block_reward/basic.exp
  vm2/framework/starcoin-framework/integration-tests/check/gas_used_out.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_config.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_failure.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/dao/test_dao_propose.exp
  vm2/framework/starcoin-framework/integration-tests/on_chain_config/test_onchain_config_dao.exp
  vm2/framework/starcoin-framework/integration-tests/token/transfer_then_abort.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_fee/distribute_txn_fee.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/create_account.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/execute_modify_dao_config_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/execute_on_chain_config_proposal.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/module_upgrade.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/peer_to_peer.exp
  vm2/framework/starcoin-framework/integration-tests/transaction_scripts/withdraw_token_from_treasury.exp
  vm2/framework/starcoin-framework/integration-tests/treasury/linear_withdraw_cap.exp
  vm2/framework/starcoin-framework/integration-tests/treasury/split_linear_cap.exp
  vm2/framework/starcoin-framework/integration-tests/upgrade_module_dao_proposal/basic.exp
  vm2/rpc/server/src/state_rpc.rs
  vm2/test-helper/tests/dry_run_materialize.rs
  vm2/vm-runtime-types/src/resource_group_adapter.rs
  vm2/vm-runtime/src/move_vm_ext/session.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/parallel_executor/storage_wrapper.rs
Owners: @nkysg

fix: resolve merge conflicts after rebase benchmark-bin2 onto pr-aggv2-mainline
  Cargo.lock
  txpool/src/lib.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: @sanlee42, @welbon

fix: add starcoin-logger dependency to vm2/executor
  Cargo.lock
  vm2/executor/Cargo.toml
Owners: none

chore: remove jacktest, txpool_add, txpool_cull debug logs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  commons/parallel-executor/src/executor.rs
  miner/src/create_block_template/block_builder_service.rs
  state/statedb-v2/src/lib.rs
  sync/starcoin-execute-bench/src/main.rs
  txpool/src/pool/listener.rs
  txpool/src/tx_pool_service_impl.rs
  vm2/executor/src/executor.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42, @welbon

Change BLOCK_EXEC_STATS timing from milliseconds to microseconds for better precision
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

Move BLOCK_EXEC_STATS to execute_single_transaction for per-txn timing
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: none

decouple vm1 types and vm2 types
  Cargo.lock
  Cargo.toml
  dataformat-generator-vm2/Cargo.toml
  dataformat-generator-vm2/build.rs
  dataformat-generator-vm2/src/lib.rs
  dataformat-generator/Cargo.toml
  dataformat-generator/build.rs
  dataformat-generator/src/lib.rs
  etc/onchain_events.yml
  etc/starcoin_types.yml
  vm/types/Cargo.toml
Owners: @nkysg

fix compile error
  Cargo.lock
  Cargo.toml
  etc/starcoin_types_vm2.yml
Owners: none

fix: add NewBlockEvent to onchain_events schema
  dataformat-generator/build.rs
  etc/onchain_events.yml
Owners: none

remove warnning for the successful generation of starcoin type yaml
  dataformat-generator-vm2/build.rs
  dataformat-generator/build.rs
Owners: none

generate type tag and remove the print of successful message
  Cargo.lock
  Cargo.toml
  dataformat-generator-vm2/Cargo.toml
  dataformat-generator-vm2/build.rs
  dataformat-generator/Cargo.lock
  dataformat-generator/Cargo.toml
  dataformat-generator/build.rs
  etc/starcoin_vm2_types.yml
Owners: none

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
