Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix compile error
  flexidag/src/blockdag.rs
Owners: none

remove some info
  flexidag/src/blockdag.rs
Owners: none

add remove red blocks when mining
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
Owners: none

fix the pruning point calc
  flexidag/src/prune/pruning_point_manager.rs
Owners: none

hint whatever
  flexidag/src/blockdag.rs
Owners: none

hint whatever
  flexidag/src/blockdag.rs
Owners: none

add block depth db
  flexidag/src/consensusdb/mod.rs
  flexidag/src/lib.rs
Owners: none

add consensus block depth
  flexidag/src/consensusdb/consensus_block_depth.rs
Owners: none

add db fields
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/db.rs
Owners: none

add check and config for the merge depth to filter the red blocks
  chain/src/chain.rs
  config/src/miner_config.rs
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
  node/src/node.rs
Owners: @nkysg

add limit on parents count
  flexidag/src/blockdag.rs
Owners: none

add check the bad red blocks
  chain/src/chain.rs
  flexidag/src/blockdag.rs
Owners: @nkysg

add config for parents count
  flexidag/src/blockdag.rs
Owners: none

add some info for debug
  flexidag/src/blockdag.rs
Owners: none

fix log: warning not error
  flexidag/src/consensusdb/consensus_block_depth.rs
Owners: none

remove test log
  flexidag/src/prune/pruning_point_manager.rs
Owners: none

fix test case test merge bounded
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
Owners: none

rebase the filter red blocks
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
Owners: none

add first test case
  chain/tests/test_range_locate.rs
Owners: @nkysg

add fixed test case
  config/src/lib.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/tests/full_sync_test.rs
Owners: @sanlee42

add sync using range locate
  config/src/sync_config.rs
  sync/src/sync.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
Owners: @sanlee42

fix according to the code rabbit comment
  sync/src/tasks/find_common_ancestor_task.rs
Owners: @sanlee42

fix bug and test case
  sync/src/tasks/find_common_ancestor_task.rs
  sync/tests/full_sync_test.rs
Owners: @sanlee42

commit temporarily
  chain/mock/src/mock_chain.rs
  chain/tests/test_range_locate.rs
Owners: @nkysg

no chain reader in dag ancestor task
  sync/src/tasks/find_common_ancestor_task.rs
Owners: @sanlee42

finish the test case for the fast finding ancestor
  chain/mock/src/mock_chain.rs
  chain/tests/test_range_locate.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/tests.rs
Owners: @nkysg, @sanlee42

add test case for location range
  chain/api/src/range_locate.rs
  chain/tests/test_range_locate.rs
Owners: @nkysg

add rpc code
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/range_locate.rs
  chain/api/src/service.rs
  chain/mock/src/mock_chain.rs
  chain/service/src/chain_service.rs
  chain/tests/test_range_locate.rs
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
  sync/src/tasks/mod.rs
  sync/src/verified_rpc_client.rs
Owners: @nkysg, @sanlee42

add dag ancestor task
  sync/src/tasks/find_common_ancestor_task.rs
Owners: @sanlee42

add timeout at test_range_locate
  chain/tests/test_range_locate.rs
Owners: @nkysg

fix clippy
  chain/api/src/range_locate.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/tests/test_range_locate.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
Owners: @nkysg, @sanlee42

add test case
  chain/mock/src/mock_chain.rs
  chain/tests/test_range_locate.rs
Owners: @nkysg

fix for the comments from the code rabbit
  chain/api/src/service.rs
  sync/src/verified_rpc_client.rs
Owners: @nkysg, @sanlee42

add 2 test case
  chain/api/src/range_locate.rs
  chain/tests/test_range_locate.rs
Owners: @nkysg

change name from RangeInPruningPoint to RangeInLocation
  chain/api/src/message.rs
  chain/api/src/range_locate.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/tests/test_range_locate.rs
  network-rpc/api/src/lib.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/verified_rpc_client.rs
Owners: @nkysg, @sanlee42

fix for the code rabbit
  chain/api/src/range_locate.rs
Owners: @nkysg

fix compile error
  vm/e2e-tests/src/account_universe.rs
  vm/e2e-tests/src/executor.rs
Owners: @nkysg

Ignore test
  chain/tests/test_force_upgrade.rs
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

Add
  .gitignore
Owners: none

Update stdlib for FlexidagV2 update
  Cargo.lock
  Cargo.toml
Owners: none
