Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

[compiler-v2 framework] Ignore some time-consuming DAG module tests from rust code into script
  scripts/nextest.sh
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/full_sync_test.rs
Owners: @sanlee42

Fix testharness (#4345)
  scripts/nextest.sh
  vm/starcoin-transactional-test-harness/tests/cases/arg_variable.move.ignored
  vm/starcoin-transactional-test-harness/tests/cases/borrow_field_test.move
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd.move.ignored
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.move.ignored
Owners: @nkysg

fix fmt
  chain/src/chain.rs
Owners: @nkysg

fix fmt
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/consensusdb/db.rs
  flexidag/tests/tests.rs
Owners: @nkysg

add batch write for dag blocks
  flexidag/src/consensusdb/access.rs
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/consensusdb/consensus_relations.rs
  flexidag/src/consensusdb/db.rs
  flexidag/src/consensusdb/item.rs
  flexidag/src/prune/pruning_point_manager.rs
  storage/src/batch/mod.rs
  storage/src/cache_storage/mod.rs
  storage/src/db_storage/mod.rs
  storage/src/storage.rs
  storage/src/tests/test_storage.rs
Owners: @welbon, @nkysg

add batch write for all dag data
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_ghostdag.rs
  flexidag/src/consensusdb/consensus_reachability.rs
  flexidag/src/consensusdb/consensus_relations.rs
  flexidag/src/consensusdb/db.rs
  flexidag/tests/tests.rs
  storage/src/db_storage/mod.rs
Owners: @welbon, @nkysg

no verification before the first ghostdata coming
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
Owners: @nkysg

revert RawBlockHeader author_auth_key for compatible
  scripts/nextest.sh
  types/src/block/mod.rs
Owners: @nkysg, @welbon

fix fmt
  types/src/block/mod.rs
Owners: @nkysg, @welbon

update nextest.sh
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  scripts/nextest.sh
Owners: @nkysg

[compiler-v2]revert RawBlockHeader author_auth_key for test (#4351)
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  scripts/nextest.sh
  types/src/block/mod.rs
Owners: @nkysg, @welbon

remove legacy framework
  Cargo.lock
  Cargo.toml
  vm/stdlib/Cargo.toml
  vm/stdlib/src/lib.rs
  vm/stdlib/src/main.rs
Owners: @nkysg, @sanlee42

ignore one test case
  executor/tests/script_function_test.rs
Owners: @nkysg

update nextest.sh
  scripts/nextest.sh
Owners: none

data inconsistent will be ignore when adding dag into reachability data
  flexidag/src/blockdag.rs
Owners: none

ignore a stdlib test for new framework
  vm/stdlib/tests/generated_files.rs
Owners: @nkysg, @sanlee42

add test log use inquirer is_dag_ancestor_of
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42

[compiler-v2] remove legacy framework (#4350)
  Cargo.lock
  Cargo.toml
  executor/tests/script_function_test.rs
  scripts/nextest.sh
  vm/stdlib/Cargo.toml
  vm/stdlib/src/lib.rs
  vm/stdlib/src/main.rs
  vm/stdlib/tests/generated_files.rs
Owners: @nkysg, @sanlee42

add testing log and write batch with sync option
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/db.rs
  storage/src/db_storage/mod.rs
  storage/src/storage.rs
Owners: @welbon, @nkysg

[compiler-v2] try to solve test_that_generated_file_are_up_to_date_in_git
  vm/stdlib/tests/generated_files.rs
Owners: @nkysg, @sanlee42

[compiler-v2] fixed build_stdlib_error_code_map in stdlib build
  vm/framework/starcoin-framework/doc/dao.md
  vm/framework/starcoin-framework/sources/stc/dao.spec.move
  vm/stdlib/src/main.rs
Owners: @nkysg, @sanlee42

[compiler-v2] fixed build_stdlib_error_code_map in stdlib build
  vm/stdlib/src/main.rs
Owners: @nkysg, @sanlee42

[compiler-v2] fixed cargo fmt
  vm/stdlib/src/main.rs
Owners: @nkysg, @sanlee42

[compiler-v2] fixed cargo fmt
  vm/stdlib/src/main.rs
Owners: @nkysg, @sanlee42

[compiler-v2] Solved the problem of unsuccessful errormap generation due to repeated error codes in features.move
  vm/compiler/src/lib.rs
  vm/framework/move-stdlib/doc/features.md
  vm/framework/move-stdlib/sources/configs/features.move
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/compiled/latest/stdlib/008_features.mv
  vm/stdlib/src/main.rs
Owners: @nkysg, @sanlee42

[compiler-v2] fixed signer format error
  vm/framework/starcoin-stdlib/sources/debug.move
  vm/types/src/on_chain_config/starcoin_features.rs
Owners: @nkysg

add hint virtual selectd parent
  flexidag/src/blockdag.rs
Owners: none

reindex root for reachability not useing batch
  flexidag/src/blockdag.rs
Owners: none

no set the root index when switch
  chain/src/chain.rs
Owners: @nkysg

[compiler-v2] fixed features flags
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/move-stdlib/doc/features.md
  vm/framework/move-stdlib/sources/configs/features.move
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/move-package-manager/src/package.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/starcoin_features.rs
Owners: @nkysg

[compiler-v2] add for features dao
  vm/compiler/src/lib.rs
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/move-stdlib/doc/features.md
  vm/framework/starcoin-framework/doc/dao.md
  vm/framework/starcoin-framework/doc/dao_features_proposal.md
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.exp
  vm/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.move
  vm/framework/starcoin-framework/sources/create_signer.move
  vm/framework/starcoin-framework/sources/stc/dao.move
  vm/framework/starcoin-framework/sources/stc/dao_features_proposal.move
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
Owners: @nkysg

[compiler-v2] Fixed features for unittest
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/types/src/on_chain_config/starcoin_features.rs
Owners: @nkysg

[compiler-v2] Fixed all unittest for features
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/sources/coin.move
  vm/types/src/on_chain_config/starcoin_features.rs
Owners: @nkysg

[compiler-v2] Fixed cargo fmt
  vm/types/src/on_chain_config/starcoin_features.rs
Owners: @nkysg

fix building errors
  Cargo.lock
  executor/Cargo.toml
  executor/src/block_executor.rs
Owners: @nkysg

fix building open-block
  Cargo.lock
  chain/Cargo.toml
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
Owners: @nkysg

[compiler-v2] fixed error
  vm/types/src/on_chain_config/starcoin_features.rs
Owners: @nkysg

[compiler-v2] fixed cargo fmt error
  vm/types/src/on_chain_config/starcoin_features.rs
Owners: @nkysg

[compiler-v2] fixed the problem of `features.move` that on chain write process and unittest (#4356)
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/move-stdlib/doc/features.md
  vm/framework/move-stdlib/sources/configs/features.move
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/dao.md
  vm/framework/starcoin-framework/doc/dao_features_proposal.md
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.exp
  vm/framework/starcoin-framework/integration-tests/dao/test_dao_features_proposal.move
  vm/framework/starcoin-framework/sources/coin.move
  vm/framework/starcoin-framework/sources/create_signer.move
  vm/framework/starcoin-framework/sources/stc/dao.move
  vm/framework/starcoin-framework/sources/stc/dao_features_proposal.move
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-stdlib/sources/debug.move
  vm/move-package-manager/src/package.rs
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/compiled/latest/stdlib/008_features.mv
  vm/stdlib/src/main.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/starcoin_features.rs
Owners: @nkysg, @sanlee42

1, advance the root index in committing a dag block 2, add testing case about root reindexing
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
Owners: none
