Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix fmt
  node/src/node.rs
Owners: @nkysg

add selected count in next_block_time_target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

receive the block header before creating new block
  kube/manifest/starcoin-halley.yaml
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42, @nkysg

no cache db
  node/src/node.rs
Owners: @nkysg

use difficulty window to calcutlate the next difficulty
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

Fix genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  vm/types/src/on_chain_config/consensus_config.rs
Owners: @nkysg

add more info
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network/src/network_p2p_handle.rs
Owners: @sanlee42

save code temporarily
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

add red blocks in block meta struct
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix test_that_generated_file_are_up_to_date_in_git
  config/example/proxima/genesis_config.json
  config/example/vega/genesis_config.json
  genesis/generated/barnard/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

no force to mint when new dag block message coming
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

use time plan as default block time target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

fix div ratio not mul
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

update genesis
  genesis/generated/halley/genesis
Owners: @nkysg

use ratio to control the block time target
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

add blue ratio in genesis config
  config/src/genesis_config.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/consensus_config.rs
Owners: @nkysg

add new header serivice
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

push the red blocks in latest version branch
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix fmt
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

add latest mv
  Cargo.lock
  vm/stdlib/compiled/latest/stdlib/031_ConsensusConfig.mv
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/073_OnChainConfigScripts.mv
  vm/stdlib/compiled/latest/stdlib/079_TransactionManager.mv
Owners: @nkysg, @sanlee42

monitor the new dag and peer new dag instead of new head message to get the latest pruning point
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

remove debug info
  consensus/src/difficulty.rs
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/service.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
Owners: @sanlee42, @welbon

add some debug info
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/service.rs
Owners: @sanlee42

update red blocks
  vm/stdlib/compiled/latest/stdlib/050_Epoch.mv
Owners: @nkysg, @sanlee42

fix div ratio
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

no force to mint if new peer blocks come
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

remove some info and comment
  consensus/src/difficulty.rs
  sync/src/tasks/tests.rs
Owners: @sanlee42, @welbon

add debug info
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

set the max transaction count to 50 no spawn when executing the block
  miner/src/create_block_template/block_builder_service.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

get next transaction seq number with the specific header
  miner/src/create_block_template/block_builder_service.rs
  txpool/api/src/lib.rs
  txpool/mock-service/src/lib.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

remove blue transaction when mining do not broadcast the transaction
  chain/src/chain.rs
  miner/src/create_block_template/block_builder_service.rs
  txpool/src/lib.rs
Owners: @nkysg, @sanlee42, @welbon

info to see the new target calculation
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

no force to mint for the new dag block and new peer dag block coming
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

1, filter the transaction by checking the sequence number before entering the vm 2, get the transaction with the selected header
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_opened_block.rs
  miner/src/create_block_template/block_builder_service.rs
  sync/src/block_connector/block_connector_service.rs
  txpool/api/src/lib.rs
  txpool/mock-service/src/lib.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @nkysg, @sanlee42, @welbon

the new process header will be triggered 1s internally
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

no new header received will not mint
  miner/src/create_block_template/block_builder_service.rs
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

no average div
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

break the stress test if the sequences are too old or too new
  cmd/tx-factory/src/main.rs
Owners: @welbon

add info for logging the transaction execution
  chain/src/chain.rs
Owners: @nkysg

check the continuous sequences from uncles
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42
