Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

add bench files only
  Cargo.lock
  Cargo.toml
  config/src/genesis_config/mod.rs
  node/src/lib.rs
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
  test-helper/src/lib.rs
  test-helper/src/node.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @nkysg, @sanlee42, @welbon

fix the panic when finishing bench
  Cargo.lock
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
  types/src/transaction/stc_transaction.rs
Owners: @sanlee42, @nkysg, @welbon

use txpool config: 1,the number of max transaction is 4096000 2,max sender count is 1280000 3,default memory used will be 1G
  config/src/txpool_config.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

gas fee parameter error
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

fix total transaction count
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

add informative of the block
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

use transaction id to group the transaction
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

use associate account
  config/src/lib.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

no update the data in dag new header
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

move the result output into an independent file
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

use another threads to put transactions in new header block message
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

update sys dep
  flake.nix
Owners: none

wait for the user transaction finish
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

Update default balance check
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

use 1 thread to produce and execute the block
  commons/utils/src/thread_pool.rs
Owners: @nkysg

fix bug: the block on will block the observer so it should run on a single thread
  chain/open-block/src/vm2.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @nkysg, @sanlee42

add conenct time in NewHeadBlock
  rpc/server/src/module/pubsub/tests.rs
  state/service/src/service.rs
  sync/src/block_connector/write_block_chain.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
  types/src/system_events.rs
Owners: @sanlee42, @welbon, @nkysg

fix: use selected header's state to get the sequence number
  Cargo.lock
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

Revert "no validate for the transactions"
  txpool/src/pool/verifier.rs
  txpool/src/pool_client.rs
Owners: @sanlee42, @welbon

wait for the account finish
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

use 1 thread for vm to execute the transaction
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

fix statistics
  miner/src/lib.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

send the add message directly
  sync/starcoin-execute-bench/src/main.rs
  txpool/src/pool/listener.rs
Owners: @sanlee42, @welbon

use multi-thread
  commons/utils/src/thread_pool.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @nkysg, @sanlee42

update the balance value per check
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

add tps of blocks
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

fix benchmark compile
  Cargo.lock
  Cargo.toml
Owners: none

no blue block transactions
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42

300 txns per block
  config/src/genesis_config/vm2.rs
Owners: none

fix the exit logic
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

use blue block
  Cargo.lock
  miner/src/create_block_template/block_builder_service.rs
  sync/starcoin-execute-bench/Cargo.toml
Owners: @sanlee42

fix comppile error
  config/src/lib.rs
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
  txpool/src/pool/listener.rs
  txpool/src/pool/verifier.rs
Owners: @sanlee42, @welbon

commit the topup in batch
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

no validate for the transactions
  txpool/src/pool/verifier.rs
  txpool/src/pool_client.rs
Owners: @sanlee42, @welbon

use 1000 as maxt transaction count per block
  config/src/genesis_config/vm2.rs
Owners: none

use 500 as the max transaction count per block
  config/src/genesis_config/vm2.rs
Owners: none

update max transaction per block
  config/src/genesis_config/mod.rs
  config/src/genesis_config/vm2.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

add mined block time as transaction process start time
  sync/starcoin-execute-bench/src/main.rs
  sync/starcoin-execute-bench/src/results.rs
Owners: @sanlee42

use 1 thread to execute and mint
  commons/utils/src/thread_pool.rs
Owners: @nkysg

recover the blue transactions
  miner/src/create_block_template/block_builder_service.rs
Owners: @sanlee42
