Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

hint whatever
  flexidag/src/blockdag.rs
Owners: none

add fixed test case
  config/src/lib.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/tests/full_sync_test.rs
Owners: @sanlee42

add test case for location range
  chain/api/src/range_locate.rs
  chain/tests/test_range_locate.rs
Owners: @nkysg

change name from RangeInPruningPoint to RangeInLocation
  chain/api/src/message.rs
  chain/api/src/range_locate.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/tests/test_range_locate.rs
  network-rpc/api/src/lib.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/verified_rpc_client.rs
Owners: @nkysg, @sanlee42

add 2 test case
  chain/api/src/range_locate.rs
  chain/tests/test_range_locate.rs
Owners: @nkysg

fix bug and test case
  sync/src/tasks/find_common_ancestor_task.rs
  sync/tests/full_sync_test.rs
Owners: @sanlee42

finish the test case for the fast finding ancestor
  chain/mock/src/mock_chain.rs
  chain/tests/test_range_locate.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/tests.rs
Owners: @nkysg, @sanlee42

add sync using range locate
  config/src/sync_config.rs
  sync/src/sync.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
Owners: @sanlee42

fix for the comments from the code rabbit
  chain/api/src/service.rs
  sync/src/verified_rpc_client.rs
Owners: @nkysg, @sanlee42

add dag ancestor task
  sync/src/tasks/find_common_ancestor_task.rs
Owners: @sanlee42

add first test case
  chain/tests/test_range_locate.rs
Owners: @nkysg

add test case
  chain/mock/src/mock_chain.rs
  chain/tests/test_range_locate.rs
Owners: @nkysg

fix clippy
  chain/api/src/range_locate.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/tests/test_range_locate.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
Owners: @nkysg, @sanlee42

fix according to the code rabbit comment
  sync/src/tasks/find_common_ancestor_task.rs
Owners: @sanlee42

add timeout at test_range_locate
  chain/tests/test_range_locate.rs
Owners: @nkysg

add rpc code
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/range_locate.rs
  chain/api/src/service.rs
  chain/mock/src/mock_chain.rs
  chain/service/src/chain_service.rs
  chain/tests/test_range_locate.rs
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
  sync/src/tasks/mod.rs
  sync/src/verified_rpc_client.rs
Owners: @nkysg, @sanlee42

no chain reader in dag ancestor task
  sync/src/tasks/find_common_ancestor_task.rs
Owners: @sanlee42

add test frozen account
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

fix for the code rabbit
  chain/api/src/range_locate.rs
Owners: @nkysg

[force-deploy] add unittest for global frozen checking
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

[force-deploy] fixed cargo fmt
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

Update stdlib
  Cargo.lock
  Cargo.toml
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/018_Config.mv
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/018_Config.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
Owners: @nkysg, @sanlee42

Fix tests
  genesis/src/lib.rs
Owners: @nkysg

config logging balance amount by cli arg or config.toml
  commons/logger/src/structured_log.rs
  config/src/logger_config.rs
  executor/src/block_executor.rs
  node/src/node.rs
Owners: @nkysg

add fungible_store.rs
  vm/types/src/account_config/resources/fungible_store.rs
Owners: @nkysg

Update stdlib
  Cargo.lock
  Cargo.toml
  chain/open-block/src/lib.rs
  vm/force-upgrade/src/force_upgrade_management.rs
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
Owners: @nkysg, @sanlee42

upgrade from 12 to 13
  chain/force-upgrade/src/lib.rs
  vm/force-upgrade/src/force_upgrade_management.rs
  vm/force-upgrade/src/lib.rs
Owners: @nkysg

Pick force-upgrade from master
  Cargo.lock
  chain/Cargo.toml
  chain/force-upgrade/Cargo.toml
  chain/force-upgrade/src/lib.rs
  chain/open-block/src/lib.rs
  cmd/starcoin/Cargo.toml
  node/Cargo.toml
Owners: @nkysg, @welbon

Fix upgrade script init function
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/force-upgrade/Cargo.toml
  chain/force-upgrade/src/lib.rs
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  executor/Cargo.toml
  executor/src/block_executor.rs
  vm/force-upgrade/src/lib.rs
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/vm-runtime/src/force_upgrade_management.rs
  vm/vm-runtime/src/lib.rs
Owners: @nkysg, @sanlee42

Fix get block number failed when create_force_upgrade_extra_txn
  Cargo.lock
  chain/src/chain.rs
  executor/src/block_executor.rs
  vm/vm-runtime/src/force_upgrade_management.rs
  vm/vm-runtime/src/lib.rs
Owners: @nkysg

Update stdlib
  Cargo.lock
  Cargo.toml
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/018_Config.mv
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/018_Config.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
Owners: @nkysg, @sanlee42

Add test
  Cargo.lock
  chain/tests/test_force_upgrade.rs
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg

Fix tests
  genesis/src/lib.rs
Owners: @nkysg

add test case
  flexidag/tests/tests.rs
Owners: none

no check the filter
  chain/src/chain.rs
Owners: @nkysg

use genesis to get the block depth info
  chain/api/src/chain.rs
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @nkysg, @sanlee42

check the historical block before verifying
  flexidag/src/blockdag.rs
Owners: none

add a new trigger to generate the new block
  config/src/miner_config.rs
  miner/src/generate_block_event_pacemaker.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/sync.rs
  types/src/system_events.rs
Owners: @sanlee42, @nkysg, @welbon

add locate range logic
  Cargo.lock
  chain/api/Cargo.toml
  chain/api/src/lib.rs
  chain/api/src/range_locate.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  flexidag/src/blockdag.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mod.rs
Owners: @nkysg, @sanlee42

add remove red blocks when mining
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/block_depth/mod.rs
  flexidag/src/blockdag.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42
