Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

Revert "add a test for test_metadata"
  executor/tests/executor_test.rs
  test-helper/src/executor.rs
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/starcoin-framework/doc/empty_scripts.md
  vm/framework/starcoin-framework/doc/object.md
  vm/framework/starcoin-framework/sources/empty_scripts.move
  vm/framework/starcoin-framework/sources/object.move
  vm/starcoin-transactional-test-harness/tests/cases/basic.move
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

update auto-generated doc
  vm/framework/starcoin-framework/doc/object.md
Owners: @nkysg

remove test log
  flexidag/src/prune/pruning_point_manager.rs
Owners: none

remove more debug codes
  vm/move-package-manager/src/lib.rs
  vm/starcoin-transactional-test-harness/tests/cases/basic.exp
  vm/starcoin-transactional-test-harness/tests/cases/basic.move
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/move_vm_ext/session.rs
Owners: @nkysg

update generated genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

update 0x1::STC::STC to 0x1::starcoin_stc::STC
  cmd/airdrop/src/main.rs
  cmd/starcoin/src/account/transfer_cmd.rs
  cmd/starcoin/src/contract.rs
  cmd/starcoin/src/dev/upgrade_module_plan_cmd.rs
  cmd/starcoin/src/dev/upgrade_module_proposal_cmd.rs
  cmd/starcoin/src/dev/upgrade_module_queue_cmd.rs
  cmd/starcoin/src/view.rs
Owners: @welbon

add resource_group_tree to statedb
  etc/starcoin_types.yml
  state/state-tree/src/state_tree.rs
  state/statedb/src/lib.rs
  types/src/account_state.rs
  types/src/state_set.rs
  vm/types/src/access_path.rs
  vm/types/src/state_store/state_key/mod.rs
Owners: @welbon, @nkysg

add iterator for resource group
  state/state-tree/src/state_tree.rs
  state/statedb/src/lib.rs
Owners: @welbon, @nkysg

Fix pruning point calc (#4388)
  flexidag/src/prune/pruning_point_manager.rs
Owners: none

update generated genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

refactor get_balance interface
  chain/tests/test_opened_block.rs
  cmd/tx-factory/src/main.rs
  executor/tests/script_function_test.rs
  rpc/server/src/module/pubsub/tests.rs
  state/api/src/chain_state.rs
  test-helper/src/executor.rs
  testsuite/tests/steps/transaction.rs
  vm/types/src/state_view.rs
Owners: @nkysg, @welbon, @sanlee42

Fix crate vulnerabilities
  Cargo.lock
Owners: none

[force-upgrade] commit binary for generate stdlib by command `cargo run --bin stdlib -- -v 12 -m StdlibUpgradeScripts -f upgrade_from_v11_to_v12 -a 0u64 -a 16080000u64 -a 5u64 -a 1000u64`
  Cargo.lock
  Cargo.toml
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/036_Account.mv
  vm/stdlib/compiled/12/11-12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/12/11-12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/11-12/stdlib/065_Genesis.mv
  vm/stdlib/compiled/12/stdlib/036_Account.mv
  vm/stdlib/compiled/12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/stdlib/065_Genesis.mv
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/compiled/latest/stdlib/036_Account.mv
  vm/stdlib/compiled/latest/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/latest/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/065_Genesis.mv
Owners: @nkysg, @sanlee42

use legacy tokencode
  cmd/starcoin/src/account/show_cmd.rs
  vm/types/src/token/stc.rs
Owners: @welbon, @nkysg

[force-upgrade] fixed force deploy unitetest for new burn logic
  Cargo.lock
  Cargo.toml
  chain/force-upgrade/src/lib.rs
  chain/tests/test_force_upgrade.rs
  vm/gas-algebra-ext/src/params.rs
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/latest/stdlib/052_FrozenConfigStrategy.mv
  vm/transaction-builder/src/lib.rs
  vm/types/src/account_config/resources/frozen_config_burn_block_number.rs
  vm/types/src/account_config/resources/mod.rs
Owners: @nkysg, @sanlee42

[force-upgrade] fix cargo fmt
  chain/tests/test_force_upgrade.rs
  vm/gas-algebra-ext/src/params.rs
  vm/types/src/account_config/resources/frozen_config_burn_block_number.rs
Owners: @nkysg

[force-upgrade] fix cargo fmt
  vm/types/src/account_config/resources/frozen_config_burn_block_number.rs
Owners: @nkysg

[force-upgrade] fix cargo fmt
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

[force-upgrade] reformat codes
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

update test test_package_init_function
  chain/force-upgrade/src/lib.rs
  chain/tests/test_force_upgrade.rs
  vm/stdlib/tests/package_init_script.rs
Owners: @nkysg, @sanlee42

rm unused import
  chain/force-upgrade/src/lib.rs
Owners: @nkysg

[force-deploy] branch burn frozen after block (#4391)
  Cargo.lock
  Cargo.toml
  chain/force-upgrade/src/lib.rs
  chain/tests/test_force_upgrade.rs
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/036_Account.mv
  vm/stdlib/compiled/12/11-12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/12/11-12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/11-12/stdlib/065_Genesis.mv
  vm/stdlib/compiled/12/stdlib/036_Account.mv
  vm/stdlib/compiled/12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/stdlib/065_Genesis.mv
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/compiled/latest/stdlib/036_Account.mv
  vm/stdlib/compiled/latest/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/latest/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/065_Genesis.mv
  vm/stdlib/tests/package_init_script.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/account_config/resources/frozen_config_burn_block_number.rs
  vm/types/src/account_config/resources/mod.rs
Owners: @nkysg, @sanlee42

[force-upgrade] reformat codes
  chain/tests/test_force_upgrade.rs
Owners: @nkysg

fixup
  network/src/service.rs
Owners: @sanlee42

barnard rollback height
  network/src/service.rs
  storage/src/upgrade.rs
Owners: @sanlee42, @welbon, @nkysg

rollback
  network/src/service.rs
Owners: @sanlee42

[force-deploy] update force-deploy block height and burn-block-height in barnard rollback
  vm/stdlib/tests/package_init_script.rs
  vm/vm-runtime/src/force_upgrade_management.rs
Owners: @nkysg, @sanlee42

[force-deploy] update v11 to v12 init script parameters
  vm/stdlib/compiled/12/11-12/stdlib.blob
Owners: @nkysg, @sanlee42

[force-deploy] Fixed the issue that there may be an error in updating the supply when destroying illegal STC
  Cargo.lock
  Cargo.toml
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/014_Token.mv
  vm/stdlib/compiled/12/11-12/stdlib/032_STC.mv
  vm/stdlib/compiled/12/11-12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/12/stdlib/014_Token.mv
  vm/stdlib/compiled/12/stdlib/032_STC.mv
  vm/stdlib/compiled/12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/latest/stdlib/014_Token.mv
  vm/stdlib/compiled/latest/stdlib/032_STC.mv
  vm/stdlib/compiled/latest/stdlib/052_FrozenConfigStrategy.mv
Owners: @nkysg, @sanlee42

Refactor MinerService: Switch to task_pool for increaseing block mining concurrency in DAG
  miner/src/lib.rs
Owners: @sanlee42

remove redundant clone
  commons/service-registry/src/service_registry.rs
Owners: @sanlee42

update BARNARD_HARD_FORK_HASH
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

squash duplicate codes
  vm/types/src/state_view.rs
Owners: @nkysg

create StorageAdapter with on-chain paremeters
  types/src/vm/config.rs
  vm/e2e-tests/src/executor.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/types/src/on_chain_config/starcoin_features.rs
  vm/vm-runtime/src/data_cache.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @welbon

update script_function_tests
  Cargo.lock
  executor/Cargo.toml
  executor/tests/script_function_test.rs
  vm/vm-runtime/src/data_cache.rs
Owners: @nkysg

extract_gas_feature version from default_gas_schedule
  vm/vm-runtime/src/data_cache.rs
Owners: @nkysg

update Cargo.toml
  consensus/cryptonight-rs/Cargo.toml
Owners: @sanlee42, @welbon

update crate futures-util
  Cargo.toml
Owners: none

fix testsuite building
  testsuite/tests/steps/transaction.rs
Owners: @nkysg

isolate AccountStateReader to testing codes
  chain/src/chain.rs
  txpool/src/lib.rs
  txpool/src/pool_client.rs
Owners: @nkysg, @sanlee42, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
