Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

purge get_table_info from state service
  rpc/api/src/state/mod.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader.rs
  rpc/server/src/module/state_rpc.rs
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/api/src/message.rs
  state/api/src/mock/mock_chain_state_service.rs
  state/service/src/service.rs
  state/statedb/src/lib.rs
  vm/starcoin-transactional-test-harness/src/fork_state.rs
Owners: @sanlee42, @welbon, @nkysg

merge vm1/vm2 state_set
  types/src/state_set.rs
  vm2/types/src/lib.rs
  vm2/types/src/state_set.rs
Owners: @nkysg, @welbon

migrate vm2 statedb
  state/statedb-v2/Cargo.toml
  state/statedb-v2/src/lib.rs
  state/statedb-v2/src/tests.rs
Owners: @welbon, @nkysg

move AccountStateIterator to state-api crate
  rpc/client/src/remote_state_reader.rs
  state/api-v2/src/account_state_iterator.rs
  state/api-v2/src/chain_state.rs
  state/api/src/account_state_iterator.rs
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/service/src/service.rs
  state/state-tree/src/lib.rs
  state/state-tree/src/state_tree.rs
  state/statedb-v2/src/lib.rs
  state/statedb/src/lib.rs
Owners: @sanlee42, @welbon, @nkysg

move get_table_info out of StateNodeStore
  state/state-store-api/src/lib.rs
  state/state-tree/src/mock/mod.rs
  storage/src/lib.rs
  storage/src/tests/test_storage.rs
  vm/starcoin-transactional-test-harness/src/fork_state.rs
Owners: @welbon, @nkysg

fix vm2 state service
  Cargo.lock
  state/api-v2/src/lib.rs
  state/api-v2/src/message.rs
  state/api-v2/src/mock/mock_chain_state_service.rs
  vm2/service/account/src/service.rs
  vm2/service/state/Cargo.toml
  vm2/service/state/src/service.rs
Owners: @welbon, @nkysg

fix vm/transaction-builder-generator compilation errors
  vm/transaction-builder-generator/src/common.rs
  vm/transaction-builder-generator/src/dart.rs
  vm/transaction-builder-generator/src/java.rs
  vm/transaction-builder-generator/src/python3.rs
  vm/transaction-builder-generator/src/rust.rs
Owners: @nkysg

remove vm2 get_table_info
  vm2/rpc/api/src/state_api.rs
  vm2/rpc/server/src/state_rpc.rs
Owners: none

remove vm2/types/starcoin-uint
  vm2/types/uint/Cargo.toml
  vm2/types/uint/src/lib.rs
  vm2/types/uint/src/tests.rs
Owners: none

remove more unused vm2 types
  vm2/rpc/api/src/transaction_view2.rs
  vm2/types/src/block/legacy.rs
  vm2/types/src/block/mod.rs
  vm2/types/src/block/tests.rs
  vm2/types/src/blockhash.rs
  vm2/types/src/compact_block.rs
  vm2/types/src/consensus_header.rs
  vm2/types/src/event_info.rs
  vm2/types/src/filter.rs
  vm2/types/src/lib.rs
  vm2/types/src/startup_info.rs
  vm2/types/src/sync_status.rs
  vm2/types/src/system_events.rs
  vm2/types/src/view/block_header_view.rs
  vm2/types/src/view/block_info_view.rs
  vm2/types/src/view/block_metadata_view.rs
  vm2/types/src/view/block_transaction_view.rs
  vm2/types/src/view/block_view.rs
  vm2/types/src/view/chain_info_view.rs
  vm2/types/src/view/minted_block_view.rs
  vm2/types/src/view/mod.rs
  vm2/types/src/view/peer_info_view.rs
  vm2/types/src/view/raw_block_view.rs
  vm2/types/src/view/transaction_event_view.rs
  vm2/types/src/view/transaction_view.rs
Owners: none

fix dependency errors and add StorageV2
  Cargo.lock
  Cargo.toml
  storage/src/lib.rs
  storage/src/state_node/mod.rs
  storage/src/version.rs
  storage/src/vm2.rs
  vm2/executor/Cargo.toml
  vm2/test-helper/Cargo.toml
  vm2/types/Cargo.toml
  vm2/vm-runtime-types/Cargo.toml
  vm2/vm-types/Cargo.toml
Owners: @welbon, @nkysg

fix vm2 test-helper
  vm2/test-helper/tests/genesis_test.rs
Owners: none

make more vm2 crates building
  Cargo.lock
  state/api-v2/Cargo.toml
  state/api-v2/src/account_state_iterator.rs
  state/api-v2/src/chain_state.rs
  state/api-v2/src/lib.rs
  state/api/Cargo.toml
  state/api/src/account_state_iterator.rs
  state/state-store-api/Cargo.toml
  state/state-store-api/src/lib.rs
  state/state-tree/src/lib.rs
  state/state-tree/src/state_tree.rs
  state/statedb-v2/Cargo.toml
  state/statedb-v2/src/lib.rs
  storage/src/lib.rs
  types/Cargo.toml
  vm2/account/Cargo.toml
  vm2/account/api/Cargo.toml
  vm2/account/provider/Cargo.toml
  vm2/account/provider/src/lib.rs
  vm2/account/provider/src/local_provider.rs
  vm2/account/provider/src/private_key_provider.rs
  vm2/account/provider/src/provider/mod.rs
  vm2/account/provider/src/rpc_provider.rs
  vm2/account/src/account.rs
  vm2/account/src/account_manager.rs
  vm2/account/src/account_storage.rs
  vm2/account/src/account_test.rs
  vm2/chain/Cargo.toml
  vm2/dev/Cargo.toml
  vm2/dev/src/playground.rs
  vm2/rpc/api/Cargo.toml
  vm2/rpc/api/src/block_info_view2.rs
  vm2/rpc/api/src/transaction_view2.rs
  vm2/types/Cargo.toml
  vm2/types/src/lib.rs
  vm2/types/src/state_set.rs
Owners: @welbon, @nkysg

fix storage-related compiling errors
  Cargo.lock
  chain/Cargo.toml
  chain/mock/Cargo.toml
  chain/open-block/Cargo.toml
  chain/service/Cargo.toml
  flexidag/Cargo.toml
  miner/Cargo.toml
  network-rpc/Cargo.toml
  node/Cargo.toml
  node/src/node.rs
  rpc/client/src/remote_state_reader2.rs
  rpc/client/src/vm2.rs
  rpc/server/Cargo.toml
  sync/Cargo.toml
  sync/src/block_connector/block_connector_service.rs
  sync/src/tasks/mod.rs
  test-helper/src/chain.rs
  test-helper/src/txpool.rs
  txpool/Cargo.toml
  vm/starcoin-transactional-test-harness/Cargo.toml
  vm2/types/src/filter.rs
Owners: @nkysg, @sanlee42, @welbon

merge code
  abi/decoder/src/lib.rs
  abi/types/src/lib.rs
  account/api/src/message.rs
  account/api/src/provider.rs
  account/api/src/rich_wallet.rs
  account/api/src/service.rs
  account/api/src/types.rs
  account/service/src/account_events.rs
  account/service/src/service.rs
  account/src/account_manager.rs
  account/src/account_storage.rs
  benchmarks/Cargo.toml
  benchmarks/src/chain.rs
  block-relayer/src/block_relayer.rs
  chain/api/src/chain.rs
  chain/api/src/errors.rs
  chain/api/src/lib.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/chain-notify/src/lib.rs
  chain/mock/src/mock_chain.rs
  chain/open-block/src/lib.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
Owners: @nkysg, @welbon

support limit txns num in each block via dev command
  cmd/starcoin/src/dev/limit_txns_each_block.rs
  cmd/starcoin/src/dev/mod.rs
  cmd/starcoin/src/lib.rs
  rpc/api/src/debug/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/debug_rpc.rs
  txpool/src/lib.rs
  txpool/src/pool/queue.rs
Owners: @welbon, @sanlee42

set the max transaction to 1000
  cmd/tx-factory/src/main.rs
  cmd/tx-factory/src/txn_generator.rs
  config/src/genesis_config.rs
Owners: @welbon

fix clippy
  vm/vm-runtime/src/move_vm_ext/warm_vm_cache.rs
Owners: @nkysg

refactor codes with new Storage2/Store2
  chain/mock/src/mock_chain.rs
  chain/open-block/src/lib.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/tests/block_test_utils.rs
  flexidag/src/service/pruning_point_service.rs
  genesis/src/lib.rs
  miner/src/create_block_template/block_builder_service.rs
  node/src/node.rs
  node/src/rpc_service_factory.rs
  rpc/server/src/module/chain_rpc.rs
  rpc/server/src/module/pubsub.rs
  storage/src/lib.rs
  storage/src/vm2.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/execute_service.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  test-helper/src/chain.rs
  test-helper/src/txpool.rs
  txpool/src/lib.rs
  txpool/src/pool_client.rs
  txpool/src/tx_pool_service_impl.rs
  vm2/rpc/server/src/contract_rpc.rs
  vm2/service/state/src/service.rs
Owners: @nkysg, @sanlee42, @welbon

fix tests building
  Cargo.lock
  chain/tests/block_test_utils.rs
  genesis/src/lib.rs
  miner/tests/miner_test.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/test_tools.rs
  vm2/abi/resolver/Cargo.toml
  vm2/abi/resolver/src/lib.rs
Owners: @nkysg, @sanlee42

fixed testcase `test_example_config_compact`
  config/example/barnard/genesis_config.json
  config/example/barnard/genesis_config2.json
  config/example/main/genesis_config.json
  config/example/main/genesis_config2.json
  config/example/proxima/genesis_config.json
  config/example/proxima/genesis_config2.json
  config/src/lib.rs
  config/src/tests.rs
Owners: none

fixed cargo fmt
  config/src/tests.rs
Owners: none

Refactor the block time target logic
  genesis/tests/generated_files.rs
  vm2/framework/starcoin-framework/doc/epoch.md
  vm2/framework/starcoin-framework/sources/stc/epoch.move
  vm2/vm-types/src/genesis_config/config.rs
Owners: @nkysg

fix clippy warnings and code fmt
  .github/workflows/build_test.yml
  chain/mock/Cargo.toml
  executor/src/lib.rs
  rpc/api/generated_rpc_schema/state.json
  scripts/check_commit.sh
  sync/src/tasks/mock.rs
  sync/src/tasks/test_tools.rs
  vm2/abi/types/src/lib.rs
  vm2/aggregator/src/delta_math.rs
  vm2/aggregator/src/resolver.rs
  vm2/compiler/src/lib.rs
  vm2/compiler/src/utils.rs
  vm2/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm2/framework/cached-packages/src/starcoin_token_objects_sdk_builder.rs
  vm2/framework/cached-packages/src/starcoin_token_sdk_builder.rs
  vm2/framework/gas-schedule/src/gas_schedule/misc.rs
  vm2/framework/native-interface/src/context.rs
  vm2/rpc/api/generated_rpc_schema/state_api2.json
  vm2/sdk-builder/src/rust.rs
  vm2/vm-runtime-types/src/change_set.rs
  vm2/vm-runtime-types/src/module_write_set.rs
  vm2/vm-runtime-types/src/resolver.rs
  vm2/vm-runtime-types/src/resource_group_adapter.rs
  vm2/vm-runtime/src/move_vm_ext/session.rs
Owners: @sanlee42, @nkysg

remove unused print
  config/src/lib.rs
Owners: none

support submit multi get-coin txns in single command
  cmd/starcoin/src/cli_state_vm2.rs
  cmd/starcoin/src/dev/get_coin_cmd.rs
Owners: @welbon

optimize log
  cmd/starcoin/src/cli_state_vm2.rs
Owners: @welbon

fix sync test
  sync/src/tasks/tests.rs
Owners: @sanlee42

Refactor the block time target logic (#4634)
  genesis/tests/generated_files.rs
  vm2/framework/starcoin-framework/doc/epoch.md
  vm2/framework/starcoin-framework/sources/stc/epoch.move
  vm2/vm-types/src/genesis_config/config.rs
Owners: @nkysg

fixed testcase `test_example_config_compact` (#4638)
  config/example/barnard/genesis_config.json
  config/example/barnard/genesis_config2.json
  config/example/main/genesis_config.json
  config/example/main/genesis_config2.json
  config/example/proxima/genesis_config.json
  config/example/proxima/genesis_config2.json
  config/src/lib.rs
  config/src/tests.rs
Owners: none

split async rpc apis
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
Owners: @sanlee42

add more async api
  rpc/client/src/async_client.rs
Owners: @sanlee42

add more async apis to rpc client
  rpc/client/src/async_client.rs
  rpc/client/src/remote_state_reader2.rs
Owners: @sanlee42

create new Async types
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader2/async_reader.rs
  rpc/client/src/remote_state_reader2/mod.rs
Owners: @sanlee42

add vm2 test codes
  cmd/tx-factory/Cargo.toml
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

initializing async connection provider
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
Owners: @sanlee42

add one aync api
  rpc/client/src/async_client.rs
Owners: @sanlee42

fix building errors
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

fix vm2 txn factory
  cmd/tx-factory/Cargo.toml
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

truncate accounts file properly
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
