Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

change name fetch_block to fetch_blocks
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

test_sync_red_blocks_dag will cover the dag sync case
  chain/mock/src/mock_chain.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/tests_dag.rs
Owners: @nkysg, @sanlee42

remove jacktest
  sync/jacktest.log
Owners: @sanlee42

remove LegacyCompactBlock
  network/api/src/messages.rs
  types/src/compact_block.rs
Owners: @sanlee42, @nkysg, @welbon

remove legacy block verifing
  chain/src/verifier/mod.rs
  storage/src/tests/test_storage.rs
  types/src/block/mod.rs
Owners: @nkysg, @welbon

[Flexidag] Fix some test case to cover the dag logic (#4123)
  chain/mock/src/mock_chain.rs
  chain/tests/test_txn_info_and_proof.rs
  flexidag/tests/tests.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/tests_dag.rs
  types/src/block/mod.rs
Owners: @nkysg, @sanlee42, @welbon

Prune unsupported feature (#4124)
  chain/src/verifier/mod.rs
  network/api/src/messages.rs
  storage/src/tests/test_storage.rs
  types/src/block/mod.rs
  types/src/compact_block.rs
Owners: @nkysg, @sanlee42, @welbon

use FlexiDagConfig when reading dag fork height if G_TEST_DAG_FORK_STATE_KEY is not set
  chain/src/chain.rs
Owners: @nkysg

config dev network as dag chain
  chain/tests/test_block_chain.rs
  cmd/starcoin/Cargo.toml
  config/Cargo.toml
  config/src/genesis_config.rs
Owners: @nkysg, @welbon

fix sync case for dag chain
  cmd/replay/src/main.rs
  config/src/lib.rs
  sync/src/tasks/tests.rs
Owners: @welbon, @sanlee42

remove unsupported feature from integration tests
  testsuite/features/cmd.feature
Owners: @nkysg

rolback dag-effective-height to zero
  chain/Cargo.toml
  chain/src/chain.rs
  cmd/starcoin/Cargo.toml
  config/Cargo.toml
  config/example/proxima/genesis_config.json
  config/src/genesis_config.rs
  executor/tests/executor_test.rs
  genesis/generated/halley/genesis
  genesis/generated/proxima/genesis
  genesis/src/lib.rs
Owners: @nkysg, @welbon

initialize dag genesis
  Cargo.toml
  chain/api/src/chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  miner/src/create_block_template/mod.rs
  sync/Cargo.toml
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

config test network as dag chain
  chain/Cargo.toml
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/src/genesis_config.rs
  sync/Cargo.toml
Owners: @nkysg, @sanlee42

[dag-node-viewer] add node viewer initialize code
  Cargo.lock
  Cargo.toml
  node-viewer/Cargo.toml
  node-viewer/src/dagre_dag_viewer.rs
  node-viewer/src/main.rs
Owners: none

[dag-node-viewer] Load dag nodes from db
  Cargo.lock
  node-viewer/Cargo.toml
  node-viewer/src/dag_block_loader.rs
  node-viewer/src/dagre_dag_viewer.rs
  node-viewer/src/main.rs
Owners: none

[dag-node-viewer] fixed some load error
  Cargo.lock
  node-viewer/Cargo.toml
  node-viewer/src/dag_block_loader.rs
  node-viewer/src/main.rs
Owners: none

[dag-node-viewer] 1. fixed error of node loading info; 2. add bundle config for macOS
  Cargo.lock
  Cargo.toml
  node-viewer/Cargo.toml
  node-viewer/bundle.toml
  node-viewer/src/dag_block_loader.rs
  node-viewer/src/dagre_dag_viewer.rs
Owners: none

mark some fork-related test cases as ignored
  Cargo.toml
  chain/Cargo.toml
  chain/mock/Cargo.toml
  chain/src/chain.rs
  chain/tests/test_block_chain.rs
  sync/Cargo.toml
Owners: @nkysg, @sanlee42

use dev instead of test network
  chain/tests/test_txn_info_and_proof.rs
Owners: @nkysg

set default dag_fork_height as u64::MAX for sync-dag-test
  chain/src/chain.rs
Owners: @nkysg

update test_txn_info_and_proof_1
  chain/tests/test_txn_info_and_proof.rs
Owners: @nkysg

ignore some test cases in miner
  miner/src/create_block_template/test_create_block_template.rs
Owners: @sanlee42

set dag_fork_height for custom network as u64::MAX
  chain/src/chain.rs
Owners: @nkysg

Revert "initialize dag genesis"
  chain/api/src/chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

Revert "config test network as dag chain"
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/src/genesis_config.rs
  sync/Cargo.toml
Owners: @nkysg, @sanlee42

some updates
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/src/genesis_config.rs
Owners: @nkysg

1, use 0 as dag fork number in test case 2, use selected parent in tips as the new block header's parent if tips are descendants of the header
  chain/src/chain.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/test_rpc_client.rs
Owners: @nkysg, @sanlee42

1, use 0 as dag fork number in test case 2, use selected parent in tips as the new block header's parent if tips are descendants of the header
  chain/api/src/chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  miner/src/create_block_template/mod.rs
  sync/Cargo.toml
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

1, use 0 as dag fork number in test case 2, use selected parent in tips as the new block header's parent if tips are descendants of the header
  chain/src/chain.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/test_rpc_client.rs
Owners: @nkysg, @sanlee42

fix compile error
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_block_chain.rs
Owners: @sanlee42

set feature for sync test cases
  chain/src/chain.rs
  sync/Cargo.toml
Owners: @nkysg, @sanlee42

refactor get_dag_genesis
  chain/api/src/chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/access.rs
  flexidag/src/consensusdb/consenses_state.rs
  genesis/src/lib.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
Owners: @nkysg, @sanlee42

ignore test_write_dag_block_chain.rs
  chain/src/chain.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs.ignore
Owners: @nkysg, @sanlee42

init dag genesis properly with feature sync-dag-test
  chain/src/chain.rs
Owners: @nkysg

use 0 as fork number
  chain/src/chain.rs
  config/src/genesis_config.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/tests/test_rpc_client.rs
Owners: @nkysg, @sanlee42

fix some test case that uses 0 as fork number
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/tasks/tests_dag.rs
Owners: @nkysg, @sanlee42

check the blues returned by the ghostdata whether it is empty
  chain/src/chain.rs
  miner/src/create_block_template/mod.rs
Owners: @nkysg, @sanlee42

fix DAG db-export export range
  cmd/db-exporter/src/main.rs
Owners: @welbon

update DAG db-export apply
  cmd/db-exporter/src/main.rs
Owners: @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
