Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

update concurrency_level 32
  scripts/stm_flamegraph.sh
Owners: none

update txn size 80000
  scripts/stm_flamegraph.sh
  vm/transaction-benchmarks/src/main.rs
Owners: @nkysg

update txn size 100k
  scripts/stm_flamegraph.sh
  vm/transaction-benchmarks/src/main.rs
Owners: @nkysg

fix print info
  vm/transaction-benchmarks/src/transactions.rs
Owners: @nkysg

fix version num
  Cargo.lock
  vm/e2e-tests/Cargo.toml
  vm/transaction-benchmarks/Cargo.toml
Owners: @nkysg

[benchmark] append txn numbers and concurrecy level as command line
  vm/transaction-benchmarks/src/main.rs
Owners: @nkysg

[benchmark] append txn numbers and concurrecy level as command line into bash scripts
  scripts/benchmark_parallel.sh
Owners: none

[benchmark] fixed error of summary
  vm/transaction-benchmarks/src/main.rs
Owners: @nkysg

[benchmark] fixed error of summary
  vm/transaction-benchmarks/src/main.rs
Owners: @nkysg

fix sync bugs
  storage/src/lib.rs
  sync/api/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
Owners: @welbon, @nkysg, @sanlee42

fix sync bugs (#3967)
  storage/src/lib.rs
  sync/api/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
Owners: @welbon, @nkysg, @sanlee42

refactor transaction-related storage
  Cargo.lock
  benchmarks/Cargo.toml
  benchmarks/src/storage.rs
  chain/Cargo.toml
  chain/api/src/chain.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_txn_info_and_proof.rs
  genesis/src/lib.rs
  storage/src/lib.rs
  storage/src/schema/mod.rs
  storage/src/schema/transaction/mod.rs
  storage/src/schema/transaction_info/mod.rs
  storage/src/tests/test_batch.rs
  storage/src/tests/test_storage.rs
  storage/src/transaction/mod.rs
  storage/src/transaction_store/mod.rs
  storage/src/transaction_store/test.rs
  storage/src/upgrade.rs
  vm/types/src/transaction/mod.rs
Owners: @nkysg, @welbon

fix bug: update the dag accumulator at necessary point
  chain/src/chain.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42

update dag accumulator if the main append some new tips (#3968)
  chain/src/chain.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42

refactor accumulator storage
  benchmarks/benches/bench_storage.rs
  chain/tests/block_test_utils.rs
  commons/accumulator/src/tree_store/mod.rs
  storage/schemadb/src/db/mod.rs
  storage/src/accumulator/mod.rs
  storage/src/lib.rs
Owners: @nkysg, @welbon

refactor state_store
  storage/src/lib.rs
  storage/src/schema/mod.rs
  storage/src/schema/state_node.rs
  storage/src/state_node/mock.rs
  storage/src/state_node/mod.rs
  storage/src/transaction_store/mod.rs
  vm/starcoin-transactional-test-harness/src/fork_state.rs
Owners: @welbon, @nkysg

[benchmark] add command line support benchmark for account number
  scripts/benchmark_parallel.sh
  vm/transaction-benchmarks/src/main.rs
Owners: @nkysg

update build and test ci
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

update build and test ci TXN_NUMS 1000
  scripts/benchmark_parallel.sh
Owners: none

fix test code
  vm/transaction-benchmarks/src/main.rs
Owners: @nkysg

[benchmark] Add the case of parallel benchmark
  scripts/benchmark_parallel.sh
Owners: none

update concurrency_level
  .github/workflows/build_test.yml
  scripts/benchmark_parallel.sh
Owners: @sanlee42, @nkysg

update state
  vm/transaction-benchmarks/src/main.rs
Owners: @nkysg

refactor block_info_storage and block_storage
  cmd/db-exporter/src/main.rs
  executor/benchmark/src/lib.rs
  genesis/src/lib.rs
  storage/schemadb/src/db/mod.rs
  storage/src/block/mod.rs
  storage/src/block_info/mod.rs
  storage/src/lib.rs
  storage/src/schema/block/block_body.rs
  storage/src/schema/block/block_header.rs
  storage/src/schema/block/block_inner.rs
  storage/src/schema/block/block_transaction.rs
  storage/src/schema/block/block_transaction_info.rs
  storage/src/schema/block/failed_block.rs
  storage/src/schema/block/mod.rs
  storage/src/schema/block_info.rs
  storage/src/schema/mod.rs
  storage/src/schema/transaction.rs
  storage/src/schema/transaction_info.rs
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

1.update acc num
  scripts/benchmark_parallel.sh
Owners: none

reconstruct and fmt the sync
  chain/src/chain.rs
  commons/stream-task/src/collector.rs
  node/src/node.rs
  storage/src/lib.rs
  sync/api/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
Owners: @nkysg, @welbon, @sanlee42

reconstruct and fmt the sync codes (#3969)
  chain/src/chain.rs
  commons/stream-task/src/collector.rs
  node/src/node.rs
  storage/src/lib.rs
  sync/api/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
Owners: @nkysg, @welbon, @sanlee42

fix some warning
  executor/tests/executor_test.rs
  vm/vm-runtime/src/block_executor/mod.rs
Owners: @nkysg

add debug log
  vm/mvhashmap/src/lib.rs
Owners: @nkysg

Cargo fmt
  chain/src/chain.rs
  consensus/src/dag/blockdag.rs
  scripts/import_snapshot.sh
  storage/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
Owners: @nkysg, @sanlee42, @welbon

[benchmark-log] some logs for benchmark
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
  vm/mvhashmap/src/lib.rs
  vm/parallel-executor/src/executor.rs
  vm/parallel-executor/src/scheduler.rs
  vm/transaction-benchmarks/src/main.rs
Owners: @nkysg

refactor table_info and contract_event storage
  chain/chain-notify/src/lib.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  storage/src/contract_event.rs
  storage/src/lib.rs
  storage/src/schema/contract_event.rs
  storage/src/schema/mod.rs
  storage/src/schema/table_info.rs
  storage/src/table_info/mod.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @welbon

refactor chain_info_storage
  storage/schemadb/src/db/mod.rs
  storage/src/chain_info/mod.rs
  storage/src/lib.rs
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

Refactor header name && dag init in BlockChain
  chain/src/chain.rs
  consensus/src/consensusdb/consensus_header.rs
  consensus/src/dag/blockdag.rs
  node/src/node.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  types/src/header.rs
Owners: @nkysg, @sanlee42, @welbon

remove InnerStore implementation for DBStorage
  Cargo.lock
  benchmarks/benches/bench_state_tree.rs
  benchmarks/benches/bench_storage.rs
  benchmarks/src/chain.rs
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/main.rs
  cmd/generator/Cargo.toml
  cmd/generator/src/lib.rs
  cmd/replay/Cargo.toml
  cmd/replay/src/main.rs
  cmd/resource-exporter/Cargo.toml
  cmd/resource-exporter/src/main.rs
  node/Cargo.toml
  node/src/node.rs
  state/state-tree/src/state_tree_test.rs
  storage/schemadb/Cargo.toml
  storage/schemadb/src/db/mod.rs
  storage/schemadb/src/lib.rs
  storage/src/accumulator/mod.rs
  storage/src/block_info/mod.rs
  storage/src/db_storage/iterator.rs
  storage/src/db_storage/mod.rs
  storage/src/lib.rs
  storage/src/schema/block/block_inner.rs
  storage/src/schema/block/mod.rs
  storage/src/storage.rs
  storage/src/storage_macros.rs
  storage/src/table_info/mod.rs
  storage/src/tests/test_accumulator.rs
  storage/src/tests/test_batch.rs
  storage/src/tests/test_block.rs
  storage/src/tests/test_storage.rs
  storage/src/transaction_store/mod.rs
  storage/src/transaction_store/test.rs
  storage/src/upgrade.rs
  testsuite/tests/integration.rs
Owners: @welbon, @nkysg

[benchmark-log] fixed account layout for e2e-test
  vm/e2e-tests/Cargo.toml
  vm/e2e-tests/src/account.rs
  vm/e2e-tests/src/account_universe.rs
  vm/e2e-tests/src/account_universe/create_account.rs
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
  vm/e2e-tests/src/common_transactions.rs
  vm/e2e-tests/src/data_store.rs
  vm/e2e-tests/src/executor.rs
  vm/e2e-tests/src/gas_costs.rs
  vm/e2e-tests/src/proptest_types.rs
  vm/mvhashmap/src/lib.rs
  vm/parallel-executor/src/executor.rs
  vm/parallel-executor/src/scheduler.rs
  vm/transaction-benchmarks/Cargo.toml
  vm/transaction-benchmarks/src/main.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/vm-runtime/src/errors.rs
  vm/vm-runtime/src/parallel_executor/vm_wrapper.rs
Owners: @nkysg

remove CodecKVStore-related codes
  storage/src/batch/mod.rs
  storage/src/cache_storage/mod.rs
  storage/src/storage.rs
Owners: @welbon, @nkysg

remove some unused functions
  storage/schemadb/src/db/mod.rs
  storage/src/cache_storage/mod.rs
  storage/src/tests/test_batch.rs
Owners: @welbon, @nkysg

[benchmark-log] closed some log
  vm/e2e-tests/src/account.rs
  vm/e2e-tests/src/data_store.rs
  vm/mvhashmap/src/lib.rs
  vm/parallel-executor/src/executor.rs
Owners: @nkysg

[benchmark-log] closed some log and fix some block meta creation error
  vm/e2e-tests/src/account.rs
  vm/e2e-tests/src/account_universe.rs
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
  vm/e2e-tests/src/common_transactions.rs
  vm/e2e-tests/src/executor.rs
  vm/mvhashmap/src/lib.rs
  vm/parallel-executor/src/executor.rs
  vm/parallel-executor/src/scheduler.rs
  vm/transaction-benchmarks/src/transactions.rs
  vm/transaction-builder/src/lib.rs
  vm/vm-runtime/src/errors.rs
Owners: @nkysg
