Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

update rpc schema
  rpc/api/generated_rpc_schema/chain.json
Owners: @sanlee42

add MultiStateView and some todos
  rpc/api/src/chain/mod.rs
  rpc/api/src/types.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  test-helper/src/starcoin_dao.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @sanlee42, @nkysg

update rpc schema
  rpc/api/generated_rpc_schema/chain.json
Owners: @sanlee42

add new subscribe Result for vm2 events
  cmd/starcoin/src/chain/get_events_cmd.rs
  cmd/starcoin/src/view.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/types.rs
  rpc/api/src/types/pubsub.rs
  rpc/client/src/lib.rs
  rpc/client/src/pubsub_client.rs
  rpc/server/src/module/chain_rpc.rs
  rpc/server/src/module/pubsub.rs
  types/src/filter.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @welbon, @sanlee42, @nkysg

fix chain event filter
  chain/tests/test_block_chain.rs
Owners: @nkysg

starcoin cli subscribe vm2 events as default
  Cargo.lock
  cmd/starcoin/src/dev/subscribe_cmd.rs
  cmd/starcoin/src/view.rs
  rpc/api/src/types.rs
  rpc/api/src/types/pubsub.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/chain_rpc.rs
  rpc/server/src/module/pubsub.rs
  types/src/lib.rs
Owners: @welbon, @sanlee42, @nkysg

update execution view
  cmd/starcoin/src/view.rs
Owners: @welbon

update rpc schema
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/generated_rpc_schema/contract_api.json
Owners: @sanlee42

Revert "remove an unused chainapi"
  rpc/api/src/chain/mod.rs
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @sanlee42, @nkysg

default filter for vm2 only
  chain/tests/test_block_chain.rs
  rpc/api/src/types/pubsub.rs
  types/src/filter.rs
Owners: @nkysg, @sanlee42, @welbon

add FilterType
  chain/tests/test_block_chain.rs
  rpc/api/src/types/pubsub.rs
  types/src/contract_event.rs
  types/src/filter.rs
Owners: @nkysg, @sanlee42, @welbon

update subscribe result type of vm2 events
  rpc/api/src/types.rs
  rpc/api/src/types/pubsub.rs
  rpc/client/src/lib.rs
  rpc/client/src/pubsub_client.rs
  rpc/server/src/module/pubsub.rs
Owners: @sanlee42

fix type errors in chainapi
  chain/tests/test_block_chain.rs
  cmd/starcoin/src/chain/get_events_cmd.rs
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/view.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/types.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @welbon, @sanlee42

remove an unused chainapi
  rpc/api/src/chain/mod.rs
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @sanlee42, @nkysg

add new pubsub params for vm2 events
  cmd/starcoin/src/dev/subscribe_cmd.rs
  rpc/api/src/types/pubsub.rs
  rpc/client/src/lib.rs
  rpc/client/src/pubsub_client.rs
  rpc/server/src/module/pubsub.rs
Owners: @welbon, @sanlee42

update rpc schema
  rpc/api/generated_rpc_schema/contract_api.json
Owners: @sanlee42

Fix state reader root (#4568)
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/chain/mod.rs
  rpc/api/src/types.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader.rs
  rpc/client/src/remote_state_reader2.rs
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @sanlee42, @nkysg

Fix subscribe vm2 events (#4573)
  Cargo.lock
  chain/tests/test_block_chain.rs
  cmd/starcoin/src/chain/get_events_cmd.rs
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/dev/subscribe_cmd.rs
  cmd/starcoin/src/view.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/types.rs
  rpc/api/src/types/pubsub.rs
  rpc/client/src/lib.rs
  rpc/client/src/pubsub_client.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/pubsub.rs
  types/src/contract_event.rs
  types/src/filter.rs
  types/src/lib.rs
Owners: @nkysg, @welbon, @sanlee42

make creating block and executing block parallized
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

fix panic
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

1, remove the chain type; 2, no force the minting process when new dag block is coming
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

force to mint if the dag block comes from peers
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

consume the new header message
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

add new header service to receive the new header messsage and consume the previous messsage and send the latest new header message to block builder service to update the chain object
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

add new header serivice
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

save code temporarily
  flexidag/src/blockdag.rs
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

reverse flexidag/src/blockdag.rs
  flexidag/src/blockdag.rs
Owners: none

remove a duplicated function
  cmd/starcoin/src/chain/get_events_cmd.rs
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/view.rs
  rpc/client/src/lib.rs
Owners: @welbon, @sanlee42

monitor the new dag and peer new dag instead of new head message to get the latest pruning point
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

add info log
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

sort the tips by the work type and blue score and fetch the previous 10 tip stored in the dag state
  flexidag/src/blockdag.rs
Owners: none

receive the block header before creating new block
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/new_header_service.rs
Owners: @sanlee42

renew the header in block builder service asynchronically
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

use difficulty window to calcutlate the next difficulty
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

use system time as end time
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

the number of an end block of an epoch should subtract 1 before comparing
  consensus/src/difficulty.rs
Owners: @sanlee42, @welbon

add merge size limit
  Cargo.lock
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
  miner/Cargo.toml
  miner/src/create_block_template/block_builder_service.rs
  sync/src/block_connector/mod.rs
Owners: @nkysg, @sanlee42

put block template service in a single file not in mod.rs
  miner/src/create_block_template/block_builder_service.rs
  miner/src/create_block_template/mod.rs
  miner/src/lib.rs
Owners: @sanlee42

no mining until synced
  miner/src/generate_block_event_pacemaker.rs
Owners: @sanlee42

save the pruning point when executing the genesis block
  genesis/src/lib.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
