Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

add more 128 G as default max memory size
  config/src/txpool_config.rs
Owners: none

use 1280000 as max sender
  config/src/txpool_config.rs
Owners: none

add draw svg
  Cargo.lock
  rpc/client/src/remote_state_reader2/mod.rs
  sync/Cargo.toml
  sync/tests/full_build_and_execute_test.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: @sanlee42

initialize the balance and gas price when creating accounts
  cmd/tx-factory/src/mocker.rs
Owners: @welbon

use INITIAL_BALANCE as the initial balance
  cmd/tx-factory/src/mocker.rs
Owners: @welbon

rm the comments
  cmd/tx-factory/src/mocker.rs
Owners: @welbon

update the halley kubernate config file
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

exec reuse
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
  commons/exec-merge/Cargo.toml
  commons/exec-merge/src/lib.rs
  config/src/available_port.rs
  vm2/chain/Cargo.toml
  vm2/chain/src/lib.rs
Owners: @nkysg

implement materialize_write_set build_write_set
  Cargo.lock
  commons/exec-merge/src/lib.rs
  vm2/chain/Cargo.toml
  vm2/chain/src/lib.rs
  vm2/vm-runtime/src/reuse_recorder.rs
Owners: @nkysg

implement trace exec record in lru
  Cargo.lock
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
  commons/exec-merge/src/lib.rs
  vm2/chain/Cargo.toml
  vm2/chain/src/lib.rs
  vm2/executor/src/block_executor.rs
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/lib.rs
Owners: @nkysg

apply_diff_no_commit
  commons/exec-merge/src/lib.rs
  vm2/chain/src/lib.rs
Owners: @nkysg

implement execute_transactions_with_reuse
  Cargo.lock
  commons/exec-merge/Cargo.toml
  commons/exec-merge/src/lib.rs
  vm2/chain/src/lib.rs
Owners: @nkysg

enable reuse by default
  chain/src/lib.rs
  chain/tests/test_vm2_reuse.rs
  commons/exec-merge/src/lib.rs
  vm2/chain/src/lib.rs
  vm2/vm-runtime/src/reuse_recorder.rs
Owners: @nkysg

update test
  chain/mock/src/mock_chain.rs
  chain/tests/test_vm2_reuse.rs
  vm2/chain/src/lib.rs
Owners: @nkysg

temp
  chain/tests/test_vm2_reuse.rs
  vm2/chain/src/lib.rs
Owners: @nkysg

refactor && clean
  chain/Cargo.toml
  chain/tests/test_vm2_reuse.rs
  commons/exec-merge/Cargo.toml
  commons/exec-merge/src/lib.rs
  commons/exec-merge/src/tests.rs
  vm2/chain/Cargo.toml
  vm2/chain/src/lib.rs
Owners: @nkysg

refactor execkey
  Cargo.lock
  chain/open-block/src/lib.rs
  chain/tests/test_vm2_reuse.rs
  commons/exec-merge/Cargo.toml
  commons/exec-merge/src/lib.rs
  commons/exec-merge/src/tests.rs
  vm2/chain/src/lib.rs
Owners: @nkysg

prefix write check
  commons/exec-merge/src/reuse.rs
Owners: @nkysg

refactor execute functions
  Cargo.lock
  chain/tests/test_vm2_reuse.rs
  commons/exec-merge/Cargo.toml
  commons/exec-merge/src/lib.rs
  commons/exec-merge/src/reuse.rs
  commons/exec-merge/src/tests.rs
  vm2/vm-runtime/src/reuse_recorder.rs
Owners: @nkysg

temp
  Cargo.lock
  chain/service/src/chain_service.rs
  chain/src/lib.rs
  chain/tests/test_vm2_reuse.rs
  commons/exec-merge/src/lib.rs
  commons/exec-merge/src/reuse.rs
  config/src/lib.rs
  vm2/vm-runtime/Cargo.toml
  vm2/vm-runtime/src/data_cache.rs
  vm2/vm-runtime/src/reuse_recorder.rs
Owners: @nkysg

force reuse missing key
  chain/tests/test_vm2_reuse.rs
  commons/exec-merge/src/reuse.rs
  vm2/framework/src/natives/stc_transaction_fee.rs
  vm2/vm-runtime/src/lib.rs
Owners: @nkysg

miner
  chain/tests/test_vm2_reuse.rs
  scripts/p2p_transfer.sh
  scripts/p2p_transfer_docker.sh
Owners: @nkysg

Add base state root check
  chain/open-block/src/lib.rs
  commons/exec-merge/src/lib.rs
  commons/exec-merge/src/reuse.rs
  commons/exec-merge/src/tests.rs
Owners: @nkysg

optimize lock usage (#4737)
  state/statedb/src/lib.rs
Owners: @welbon, @nkysg

use accurate api for query transaction info in test and get_transaction_proof
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
Owners: @nkysg

ignore slow stale-generated-files checking tests
  genesis/tests/generated_files.rs
  rpc/api/src/tests.rs
Owners: @nkysg, @sanlee42

remove unused directory
  generated/halley/genesis
  generated/proxima/genesis
Owners: none

build latest framework when generated one is missing
  vm/stdlib/compiled/latest/dev.mrb
  vm/stdlib/src/vm2.rs
Owners: @nkysg, @sanlee42

remove unused mrb file
  vm2/framework/releases/testnet.mrb
Owners: none

move generated genesis to workspace root
  executor/tests/module_upgrade_test.rs
  genesis/src/lib.rs
  genesis/src/main.rs
  networks/genesis/barnard/genesis
  networks/genesis/halley/genesis
  networks/genesis/main/genesis
  networks/genesis/proxima/genesis
  vm/stdlib/src/lib.rs
  vm/stdlib/tests/package_init_script.rs
Owners: @nkysg, @sanlee42

move migration data to workspace root
  chain/data-migration/src/lib.rs
  cmd/resource-code-exporter/tests/import_test.rs
  networks/snapshot/24674819-0x1.tar.gz
  networks/test-data/1461026.bcs
  networks/test-data/64925.bcs
Owners: @nkysg, @welbon

fix code fmt
  cmd/resource-code-exporter/tests/import_test.rs
  genesis/src/lib.rs
Owners: @welbon, @nkysg

fix failed tests caused by deleted released framework
  Cargo.lock
  vm2/abi/resolver/Cargo.toml
  vm2/abi/resolver/src/lib.rs
  vm2/test-helper/src/executor.rs
Owners: none

build stdlib for test/dev network with latest framework
  config/src/genesis_config/mod.rs
  genesis/src/lib.rs
Owners: @nkysg

fixed test_resolver_abi
  vm2/abi/resolver/src/lib.rs
Owners: none

update release workflow
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

add workflow to bump networks submodule
  .github/workflows/update-networks-submodule.yml
Owners: @sanlee42, @nkysg

read max retry time from sync config
  block-relayer/src/block_relayer.rs
  sync/src/announcement/mod.rs
  sync/src/sync.rs
  sync/src/verified_rpc_client.rs
Owners: @sanlee42

retry to sync blocks when syncing
  network/api/src/peer_provider.rs
  sync/src/verified_rpc_client.rs
Owners: @sanlee42

remove unused function and comments
  sync/tests/verified_rpc_client_test.rs
Owners: @sanlee42

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
