Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix test
  network/src/service.rs
Owners: @sanlee42

fix test
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.exp
Owners: @nkysg

fix fmt
  network/src/service.rs
Owners: @sanlee42

add log
  network/src/service.rs
Owners: @sanlee42

Barnard hard fork test (#3834)
  chain/api/src/errors.rs
  network/src/service.rs
  node/src/node.rs
  storage/src/block/mod.rs
  storage/src/chain_info/mod.rs
  storage/src/lib.rs
  storage/src/storage.rs
  storage/src/upgrade.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  types/src/startup_info.rs
  vm/move-package-manager/src/release.rs
Owners: @nkysg, @sanlee42, @welbon

remove typemap and fix io-lifetimes compiler error (#3847)
  Cargo.lock
  Cargo.toml
Owners: none

Upgrade libp2p to 0.50.0
  Cargo.toml
  network-p2p/Cargo.toml
  network-p2p/src/behaviour.rs
  network-p2p/src/config.rs
  network-p2p/src/discovery.rs
  network-p2p/src/peer_info.rs
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/protocol/generic_proto/tests.rs
  network-p2p/src/request_responses.rs
  network-p2p/src/service.rs
  network-p2p/src/transport.rs
  network/Cargo.toml
  network/src/worker.rs
  rpc/api/Cargo.toml
  stratum/Cargo.toml
Owners: @sanlee42

Fix issue
  network-p2p/src/config.rs
  network-p2p/src/discovery.rs
  network-p2p/src/lib.rs
  network-p2p/src/protocol/generic_proto/tests.rs
  network-p2p/src/request_responses.rs
  network-p2p/src/service.rs
Owners: @sanlee42

Update move dep for schema
  Cargo.lock
  Cargo.toml
  commons/proptest-helpers/Cargo.toml
Owners: @nkysg

Fix dev setup for adding protoc
  scripts/dev_setup.sh
Owners: none

use ghcr as docuer house && fix ci dockerfile
  .github/workflows/ci_docker_build.yml
  Cargo.toml
  docker/ci/Dockerfile
  kube/manifest/runner/runner.yaml
Owners: @sanlee42, @nkysg

use ghcr as docuer house && fix ci dockerfile
  .github/workflows/ci_docker_build.yml
  Cargo.toml
  docker/ci/Dockerfile
  kube/manifest/runner/runner.yaml
Owners: @sanlee42, @nkysg

Fix dev setup for adding protoc
  scripts/dev_setup.sh
Owners: none

Fix issue
  network-p2p/src/config.rs
  network-p2p/src/discovery.rs
  network-p2p/src/lib.rs
  network-p2p/src/protocol/generic_proto/tests.rs
  network-p2p/src/request_responses.rs
  network-p2p/src/service.rs
Owners: @sanlee42

Upgrade libp2p to 0.50.0
  Cargo.toml
  network-p2p/Cargo.toml
  network-p2p/src/behaviour.rs
  network-p2p/src/config.rs
  network-p2p/src/discovery.rs
  network-p2p/src/peer_info.rs
  network-p2p/src/protocol.rs
  network-p2p/src/protocol/generic_proto/behaviour.rs
  network-p2p/src/protocol/generic_proto/handler.rs
  network-p2p/src/protocol/generic_proto/tests.rs
  network-p2p/src/request_responses.rs
  network-p2p/src/service.rs
  network-p2p/src/transport.rs
  network/Cargo.toml
  network/src/worker.rs
  rpc/api/Cargo.toml
  stratum/Cargo.toml
Owners: @sanlee42

Update move dep for schema
  Cargo.lock
  Cargo.toml
  commons/proptest-helpers/Cargo.toml
Owners: @nkysg

Support rpc read block timeout
  Cargo.lock
  Cargo.toml
Owners: none

add comment for test
  consensus/cryptonight-rs/src/tests.rs
Owners: @sanlee42, @welbon

Fix warning
  Cargo.lock
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/verify_header.rs
Owners: @welbon

Fix cargo check
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/lib.rs
  cmd/db-exporter/src/verify_header.rs
Owners: @welbon

Fix cargo check
  cmd/db-exporter/src/cmd_batch_execution.rs
Owners: @welbon

Header check parallel (#3848)
  .github/workflows/release_asset.yml
  Cargo.lock
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/cmd_batch_execution.rs
  cmd/db-exporter/src/lib.rs
  cmd/db-exporter/src/main.rs
  cmd/db-exporter/src/verify_header.rs
  cmd/db-exporter/src/verify_module.rs
  consensus/cryptonight-rs/ext/slow-hash.c
  consensus/cryptonight-rs/src/tests.rs
  consensus/src/consensus_test.rs
  scripts/release.sh
  scripts/verify_header.sh
Owners: @sanlee42, @nkysg, @welbon

add transfer transaction result INSUFFICIENT_BALANCE_FOR_TRANSACTION_FEE
  executor/tests/executor_test.rs
Owners: @nkysg

remove unused code
  vm/types/src/access_path.rs
Owners: @nkysg

fix fmt
  vm/types/src/access_path.rs
Owners: @nkysg

add transfer transaction
  executor/tests/executor_test.rs
Owners: @nkysg

Add secp256k1 from aptos
  vm/natives/src/lib.rs
  vm/natives/src/secp256k1.rs
  vm/vm-runtime/src/natives.rs
Owners: @nkysg

update Cargo.lock
  Cargo.lock
Owners: none

network-p2p: Service use tokio spawn as executor
  Cargo.lock
  network-p2p/Cargo.toml
  network-p2p/src/service.rs
Owners: @sanlee42

Fix tests
  network-p2p/Cargo.toml
  network-p2p/src/service_test.rs
  network/tests/network_service_test.rs
Owners: @sanlee42

Add secp256k1 from aptos
  vm/vm-runtime/src/natives.rs
Owners: @nkysg

network-p2p: Service use tokio spawn as executor (#3863)
  Cargo.lock
  network-p2p/Cargo.toml
  network-p2p/src/service.rs
  network-p2p/src/service_test.rs
  network/tests/network_service_test.rs
Owners: @sanlee42

fix docker build
  docker/Dockerfile
Owners: none

fix docker build (#3864)
  docker/Dockerfile
Owners: none

Revert "fix docker build (#3864)"
  docker/Dockerfile
Owners: none

Fix typo
  docker/Dockerfile
Owners: none

Fix typo
  docker/Dockerfile
Owners: none

add transfer transaction result INSUFFICIENT_BALANCE_FOR_TRANSACTION_FEE test (#3853)
  executor/tests/executor_test.rs
  vm/types/src/access_path.rs
Owners: @nkysg

Fix typo (#3865)
  docker/Dockerfile
Owners: none

cherry-pick move verifier
  Cargo.lock
  Cargo.toml
  commons/proptest-helpers/Cargo.toml
Owners: @nkysg
