Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix verifing txn num failed with force-deploy feature
  chain/Cargo.toml
  chain/src/chain.rs
  executor/src/block_executor.rs
Owners: @nkysg

Build docker for dag-master and deploy to halley with 3 replica (#4102)
  .github/workflows/docker_build.yml
  kube/manifest/starcoin-halley.yaml
Owners: @sanlee42, @nkysg

[Flexidag] set flexidag effective height when executing genesis (#4076)
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.toml
  chain/Cargo.toml
  chain/force-upgrade/src/lib.rs
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_force_upgrade.rs.ignored
  cmd/starcoin/Cargo.toml
  config/example/barnard/genesis_config.json
  config/example/main/genesis_config.json
  config/example/proxima/genesis_config.json
  config/src/genesis_config.rs
  executor/Cargo.toml
  executor/src/block_executor.rs
  genesis/generated/halley/genesis
  genesis/generated/proxima/genesis
  node/Cargo.toml
  types/Cargo.toml
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/11-12/stdlib/066_Genesis.mv
  vm/stdlib/compiled/12/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/transaction-builder/src/lib.rs
  vm/vm-runtime/Cargo.toml
  vm/vm-runtime/src/lib.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @welbon, @sanlee42

add read and write lock in flexidag
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_relations.rs
  flexidag/src/consensusdb/db.rs
  flexidag/src/ghostdag/mergeset.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
Owners: none

remve println for test
  flexidag/src/blockdag.rs
Owners: none

add test case: insert relationship asynchronously
  flexidag/tests/tests.rs
Owners: none

fix commits and use bracket to replace drop in relation store write lock in dag commit procedure
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
  network/tests/network_service_test.rs
Owners: @sanlee42

[FlexiDag]Add read-write lock in dag db store (#4101)
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_relations.rs
  flexidag/src/consensusdb/db.rs
  flexidag/src/ghostdag/mergeset.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
  network/tests/network_service_test.rs
Owners: @sanlee42

no dag-chain for benchmark test cases
  benchmarks/Cargo.toml
  chain/Cargo.toml
  chain/src/chain.rs
  config/Cargo.toml
Owners: @nkysg

remove unused ExternalGhostdagData and error code DagBlockAfterTimeWindow (#4099)
  chain/api/src/errors.rs
  flexidag/src/types/ghostdata.rs
  flexidag/src/types/mod.rs
  flexidag/src/types/trusted.rs
Owners: @nkysg

delete sync blocks
  storage/src/block/mod.rs
  storage/src/lib.rs
  storage/src/storage.rs
  sync/src/tasks/block_sync_task.rs
Owners: @welbon, @nkysg, @sanlee42

enable call_api_cmd_halley test
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.move
Owners: @nkysg

[chaos-mesh] Add some chaos schedule
  kube/chaos/network-netem.yaml
  kube/chaos/network-partition.yaml
  kube/chaos/pod-kill-example.yaml
  kube/chaos/pod-kill.yaml
  kube/chaos/schedule-halley-networkdelay.yaml
  kube/chaos/schedule-halley-networkpartition.yaml
  kube/chaos/schedule-halley-podkill.yaml
  kube/chaos/time-chaos.yaml
Owners: @sanlee42, @nkysg

add remove sync dag block test case
  chain/service/src/chain_service.rs
  storage/src/storage.rs
  storage/src/tests/test_block.rs
Owners: @nkysg, @welbon

update genesis files for halley/proxima
  config/example/proxima/genesis_config.json
  config/src/genesis_config.rs
  executor/tests/executor_test.rs
  genesis/generated/halley/genesis
  genesis/generated/proxima/genesis
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

[FlexiDag] set HeaderWithBlockLevel block_level 1 and fix some typos
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consenses_state.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
  kube/manifest/starcoin-proxima.yaml
  sync/src/sync.rs
Owners: @nkysg, @sanlee42

enable call_api_cmd_halley test (#4111)
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.move
Owners: @nkysg

[FlexiDag] set HeaderWithBlockLevel block_level 1 and fix some typos (#4103)
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consenses_state.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
  kube/manifest/starcoin-proxima.yaml
  sync/src/sync.rs
Owners: @nkysg, @sanlee42

fix fmt and clippy
  storage/src/storage.rs
  storage/src/tests/test_block.rs
Owners: @welbon, @nkysg

update genesis files for halley/proxima (#4113)
  config/example/proxima/genesis_config.json
  config/src/genesis_config.rs
  executor/tests/executor_test.rs
  genesis/generated/halley/genesis
  genesis/generated/proxima/genesis
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

fix comments
  flexidag/tests/tests.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/test_rpc_client.rs
Owners: @sanlee42

fix fmt and clippy
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
Owners: @sanlee42

remove some proxima-compatible codes
  chain/open-block/src/lib.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/block_metadata/mod.rs
Owners: @nkysg

add delete sync block and test case
  chain/service/src/chain_service.rs
  flexidag/tests/tests.rs
  storage/src/block/mod.rs
  storage/src/lib.rs
  storage/src/storage.rs
  storage/src/tests/test_block.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/test_rpc_client.rs
Owners: @nkysg, @welbon, @sanlee42

1, delete the sync blocks in sync progress not in the end 2, fix the case: test_full_sync_new_node_dag to return error to reduce the waiting time
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/tests_dag.rs
Owners: @sanlee42

remove cache delete since all kinds of key and value are encoded into vec<u8>, which means all are stored in the same cache
  storage/src/storage.rs
Owners: @welbon, @nkysg

fix fmt and clippy
  sync/src/tasks/tests_dag.rs
Owners: @sanlee42

add remove all sync dag blocks
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

use longer timeout and use result to check the error not assert
  network/tests/network_service_test.rs
Owners: @sanlee42

fix test case
  network/tests/network_service_test.rs
Owners: @sanlee42

fix fmt and clippy
  network/tests/network_service_test.rs
Owners: @sanlee42

remove some proxima-compatible codes (#4115)
  chain/open-block/src/lib.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/block_metadata/mod.rs
Owners: @nkysg

add delete sync blocks
  chain/service/src/chain_service.rs
  flexidag/tests/tests.rs
  network/tests/network_service_test.rs
  storage/src/block/mod.rs
  storage/src/lib.rs
  storage/src/storage.rs
  storage/src/tests/test_block.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/test_rpc_client.rs
Owners: @nkysg, @sanlee42, @welbon

fix fmt and clippy
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

return error directly and prolong the duration for reconnection time in reconnect_after_disconnect
  network-p2p/src/protocol/generic_proto/tests.rs
Owners: @sanlee42

Remove dag sync blocks (#4120)
  chain/service/src/chain_service.rs
  flexidag/tests/tests.rs
  network-p2p/src/protocol/generic_proto/tests.rs
  network/tests/network_service_test.rs
  storage/src/block/mod.rs
  storage/src/lib.rs
  storage/src/storage.rs
  storage/src/tests/test_block.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/test_rpc_client.rs
Owners: @nkysg, @sanlee42, @welbon

add delete sync blocks
  sync/jacktest.log
Owners: @sanlee42

add test codes for dag
  chain/mock/src/mock_chain.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/tests_dag.rs
Owners: @nkysg, @sanlee42

fix some test case
  chain/mock/src/mock_chain.rs
  chain/tests/test_txn_info_and_proof.rs
  flexidag/tests/tests.rs
  sync/src/tasks/tests_dag.rs
  types/src/block/mod.rs
Owners: @nkysg, @sanlee42, @welbon

return Vec<Block> not Vec<(id, Block)> in fetch_blocks
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42
