Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix cargo fmt
  cmd/db-exporter/src/main.rs
Owners: @welbon

fix compiler error
  cmd/db-exporter/src/main.rs
Owners: @welbon

fix sync test case
  chain/mock/src/mock_chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  genesis/src/lib.rs
  miner/src/create_block_template/test_create_block_template.rs
  miner/tests/miner_test.rs
  state/service/src/service.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  test-helper/src/chain.rs
  test-helper/src/network.rs
  test-helper/src/txpool.rs
Owners: @nkysg, @sanlee42, @welbon

use has dag to find the block executed or not
  chain/src/chain.rs
  flexidag/dag/src/consensusdb/access.rs
  flexidag/dag/src/consensusdb/item.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

initialize dag genesis after a interrupted syncing
  chain/src/chain.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

db exporter add apply block output
  cmd/db-exporter/src/main.rs
Owners: @welbon

add MAIN_DIRECT_SAVE_BLOCK_HASH_MAP for barnard block
  chain/src/chain.rs
Owners: @nkysg

add save_startup_info
  cmd/db-exporter/src/main.rs
Owners: @welbon

add MAIN_DIRECT_SAVE_BLOCK_HASH_MAP for barnard block
  chain/src/chain.rs
Owners: @nkysg

fix fmt
  cmd/db-exporter/src/main.rs
Owners: @welbon

add check the parents coherent and test case
  Cargo.lock
  chain/api/src/chain.rs
  chain/src/chain.rs
  flexidag/dag/Cargo.toml
  flexidag/dag/src/blockdag.rs
Owners: @nkysg

chain add directly save special block without execute (#4013)
  Cargo.lock
  chain/Cargo.toml
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  cmd/db-exporter/src/main.rs
  cmd/db-exporter/src/verify_module.rs
  executor/Cargo.toml
  executor/src/block_executor.rs
Owners: @nkysg, @welbon

miner: Excluded transactions from blacklisted addresses during create block template
  chain/open-block/src/lib.rs
Owners: @nkysg

cargo fmt
  chain/open-block/src/lib.rs
Owners: @nkysg

Forbid all txns and reset block number to 21306000 on barnard
  chain/open-block/src/lib.rs
  storage/src/upgrade.rs
Owners: @nkysg, @welbon

verifier: Verify if the block contain txn in blacklist
  chain/open-block/src/lib.rs
  chain/src/verifier/mod.rs
Owners: @nkysg

testing blacklist
  chain/open-block/src/lib.rs
Owners: @nkysg

Fix stratum rpc client
  Cargo.lock
  stratum/Cargo.toml
Owners: @sanlee42

add dag state store
  chain/src/chain.rs
  chain/tests/test_block_chain.rs
  flexidag/dag/src/blockdag.rs
  flexidag/dag/src/consensusdb/consenses_state.rs
  flexidag/dag/src/consensusdb/db.rs
  flexidag/dag/src/consensusdb/mod.rs
  types/src/block/mod.rs
Owners: @nkysg, @welbon

Reset to main 16801958 and forbid the tx
  chain/open-block/src/lib.rs
  storage/src/upgrade.rs
Owners: @nkysg, @welbon

add save dag state with dag genesis
  chain/api/src/chain.rs
  chain/src/chain.rs
  flexidag/dag/src/blockdag.rs
  miner/src/create_block_template/mod.rs
  storage/src/chain_info/mod.rs
  storage/src/lib.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
Owners: @nkysg, @sanlee42, @welbon

fix some comments
  cmd/starcoin/src/account/verify_sign_cmd.rs
  commons/accumulator/src/node_index.rs
  network-p2p/src/protocol/event.rs
  network/src/service.rs
  scripts/sync_block.py
  vm/compiler/src/dependency_order.rs
  vm/e2e-tests/src/account.rs
  vm/mvhashmap/src/unit_tests/mvhashmap_test.rs
  vm/parallel-executor/src/executor.rs
  vm/parallel-executor/src/scheduler.rs
  vm/parallel-executor/src/txn_last_input_output.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/transaction/authenticator.rs
  vm/types/src/unit_tests/access_path_test.rs
  workspaceify.py
Owners: @welbon, @sanlee42, @nkysg

remove the dag state in types
  types/src/startup_info.rs
Owners: @nkysg, @welbon

verifier: Verify if the block contain txn in blacklist
  chain/open-block/src/lib.rs
  chain/src/verifier/mod.rs
Owners: @nkysg

testing blacklist
  chain/open-block/src/lib.rs
Owners: @nkysg

Forbid all txns and reset block number to 21306000 on barnard
  chain/open-block/src/lib.rs
  storage/src/upgrade.rs
Owners: @nkysg, @welbon

miner: Excluded transactions from blacklisted addresses during create block template
  chain/open-block/src/lib.rs
Owners: @nkysg

cargo fmt
  chain/open-block/src/lib.rs
Owners: @nkysg

Reset to main 16801958 and forbid the tx
  chain/open-block/src/lib.rs
  storage/src/upgrade.rs
Owners: @nkysg, @welbon

fix the update dag genesis
  chain/src/chain.rs
  flexidag/dag/src/consensusdb/consenses_state.rs
Owners: @nkysg

fix some comments (#4017)
  cmd/starcoin/src/account/verify_sign_cmd.rs
  commons/accumulator/src/node_index.rs
  network-p2p/src/protocol/event.rs
  network/src/service.rs
  scripts/sync_block.py
  vm/compiler/src/dependency_order.rs
  vm/e2e-tests/src/account.rs
  vm/mvhashmap/src/unit_tests/mvhashmap_test.rs
  vm/parallel-executor/src/executor.rs
  vm/parallel-executor/src/scheduler.rs
  vm/parallel-executor/src/txn_last_input_output.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/transaction/authenticator.rs
  vm/types/src/unit_tests/access_path_test.rs
  workspaceify.py
Owners: @welbon, @sanlee42, @nkysg

db exporter add token supply command
  Cargo.lock
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/main.rs
Owners: @welbon

db exporter add token supply command (#4014)
  Cargo.lock
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/main.rs
Owners: @welbon

update kube config
  kube/manifest/starcoin-barnard.yaml
  kube/manifest/starcoin-main.yaml
Owners: @sanlee42, @nkysg

update k8s config
  kube/manifest/starcoin-main.yaml
Owners: @sanlee42, @nkysg

Revert "Reset to main 16801958 and forbid the tx"
  chain/open-block/src/lib.rs
  chain/src/verifier/mod.rs
Owners: @nkysg

Set barnard rollback height to 21306000
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

set barnard test image
  kube/manifest/starcoin-barnard.yaml
Owners: @sanlee42, @nkysg

fix origin fork
  flexidag/dag/src/blockdag.rs
  flexidag/dag/src/consensusdb/consenses_state.rs
  flexidag/dag/src/consensusdb/consensus_reachability.rs
  flexidag/dag/src/consensusdb/item.rs
  flexidag/dag/src/ghostdag/protocol.rs
  flexidag/dag/src/reachability/tree.rs
  types/src/block/mod.rs
Owners: @nkysg, @welbon

Update proxima dag fork height
  types/src/block/mod.rs
Owners: @nkysg, @welbon
