Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

The block count is higher than expected because multi-threaded generation mints blocks instantly
  node/tests/test_node_run.rs
  sync/tests/test_sync/mod.rs
Owners: @nkysg, @sanlee42

build_test: concurrency check
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

Use env to control the job count for building and testing (#4675)
  node/src/lib.rs
  node/tests/test_node_run.rs
  rpc/client/tests/client_server_test.rs
  scripts/nextest.sh
  sync/tests/full_sync_test.rs
  sync/tests/test_sync/mod.rs
Owners: @nkysg, @sanlee42

[CI mpm test] Added CI integration testing for Move package manager (#4693)
  .github/workflows/build_test.yml
  scripts/move_test.sh
  scripts/nextest.sh
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_block_time_max.exp
  vm2/framework/starcoin-framework/integration-tests/epoch/adjust_epoch_block_time_min.exp
  vm2/framework/starcoin-framework/integration-tests/epoch/epoch_data.move
Owners: @sanlee42, @nkysg

replace async-std with tokio
  Cargo.lock
  Cargo.toml
  cmd/miner_client/Cargo.toml
  cmd/miner_client/src/stratum_client.rs
  cmd/peer-watcher/Cargo.toml
  cmd/peer-watcher/src/main.rs
  commons/service-registry/Cargo.toml
  commons/service-registry/src/bus/sys_bus.rs
  commons/stream-task/Cargo.toml
  commons/stream-task/src/collector.rs
  commons/stream-task/src/tests.rs
  network-p2p/Cargo.toml
  network-p2p/src/protocol/generic_proto/upgrade/notifications.rs
  network-p2p/src/service.rs
  network-p2p/src/service_test.rs
  network/Cargo.toml
  network/tests/network_service_test.rs
  node/Cargo.toml
  node/src/lib.rs
  rpc/client/Cargo.toml
  rpc/client/src/lib.rs
  rpc/client/tests/client_server_test.rs
  sync/Cargo.toml
  sync/src/announcement/mod.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/full_sync_test.rs
Owners: @welbon, @sanlee42, @nkysg

fix integration tests
  rpc/client/src/lib.rs
Owners: @sanlee42

change collect to async function
  commons/stream-task/src/collector.rs
  sync/src/tasks/accumulator_sync_task.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/continue_execute_absent_block.rs
  sync/src/tasks/find_ancestor_task.rs
  sync/src/tasks/find_common_ancestor_task.rs
Owners: @nkysg, @sanlee42

start service with multi-thread runtime
  commons/service-registry/src/service_registry.rs
Owners: @sanlee42

fix client_server_test
  rpc/client/tests/client_server_test.rs
Owners: @sanlee42

enable io driver
  sync/tests/test_sync/mod.rs
Owners: @sanlee42

update deps
  Cargo.lock
  Cargo.toml
Owners: none

run block_on with tokio task
  node/src/lib.rs
  rpc/client/src/lib.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

fix network-rpc tests
  Cargo.lock
  network-rpc/Cargo.toml
  network-rpc/src/tests.rs
Owners: @sanlee42

Revert "change collect to async function"
  commons/stream-task/src/collector.rs
  sync/src/tasks/accumulator_sync_task.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/continue_execute_absent_block.rs
  sync/src/tasks/find_ancestor_task.rs
  sync/src/tasks/find_common_ancestor_task.rs
Owners: @nkysg, @sanlee42

fix more tests
  commons/stream-task/src/lib.rs
  commons/stream-task/src/tests.rs
  sync/src/tasks/tests_dag.rs
Owners: @nkysg, @sanlee42

use global runtime for SyncService
  sync/src/sync.rs
Owners: @sanlee42

add block_on_node for multiple runtime
  node/src/lib.rs
Owners: @nkysg

remove hardcode worker thread number and fix clippy error
  commons/stream-task/src/lib.rs
  sync/src/tasks/block_sync_task.rs
Owners: @nkysg, @sanlee42

remove unnecessary task block_in_place
  sync/src/tasks/test_tools.rs
Owners: @sanlee42

enable all features for new service
  commons/service-registry/src/service_registry.rs
Owners: @sanlee42

fix notification tests
  network-p2p/src/protocol/generic_proto/upgrade/notifications.rs
Owners: @sanlee42

fix inconsistent block_on
  node/src/lib.rs
Owners: @nkysg

rollback serviceactor with single-thread runtime
  commons/service-registry/src/service_registry.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
Owners: @sanlee42

fix more tests
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/test_sync/mod.rs
Owners: @sanlee42

construct nodehanle multi-thread runtime and enable io/timer for block_on
  node/src/lib.rs
Owners: @nkysg

Remove async std dep (#4676)
  Cargo.lock
  Cargo.toml
  cmd/miner_client/Cargo.toml
  cmd/miner_client/src/stratum_client.rs
  cmd/peer-watcher/Cargo.toml
  cmd/peer-watcher/src/main.rs
  commons/service-registry/Cargo.toml
  commons/service-registry/src/bus/sys_bus.rs
  commons/stream-task/Cargo.toml
  commons/stream-task/src/collector.rs
  commons/stream-task/src/lib.rs
  commons/stream-task/src/tests.rs
  network-p2p/Cargo.toml
  network-p2p/src/protocol/generic_proto/upgrade/notifications.rs
  network-p2p/src/service.rs
  network-p2p/src/service_test.rs
  network-rpc/Cargo.toml
  network-rpc/src/tests.rs
  network/Cargo.toml
  network/tests/network_service_test.rs
  node/Cargo.toml
  node/src/lib.rs
  rpc/client/Cargo.toml
  rpc/client/src/lib.rs
  rpc/client/tests/client_server_test.rs
  sync/Cargo.toml
  sync/src/announcement/mod.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/full_sync_test.rs
  sync/tests/test_sync/mod.rs
Owners: @welbon, @sanlee42, @nkysg

for test
  .github/workflows/build_test.yml
  docker/ci/Dockerfile
Owners: @sanlee42, @nkysg

Support k8s runner
  .github/workflows/build_test.yml
  docker/ci/Dockerfile
  kube/manifest/hra.yaml
  kube/manifest/runner.yaml
Owners: @sanlee42, @nkysg

Support k8s runner
  .github/workflows/build_test.yml
  docker/ci/Dockerfile
  kube/manifest/hra.yaml
  kube/manifest/runner.yaml
Owners: @sanlee42, @nkysg

generate test accounts
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

make test running in parllel
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

remove Unused member
  cmd/tx-factory/src/vm2_txn_lib.rs
Owners: @welbon

create new Async types
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader2/async_reader.rs
  rpc/client/src/remote_state_reader2/mod.rs
Owners: @sanlee42

add balancer worker
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

subscribe block event
  cmd/tx-factory/src/vm2_txn.rs
  cmd/tx-factory/src/vm2_txn_lib.rs
  rpc/client/src/async_client.rs
Owners: @welbon, @sanlee42

confirm txn with block events subscriber
  cmd/tx-factory/src/vm2_txn_lib.rs
Owners: @welbon

remove unused codes
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

refactor vm2 txn factory
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/vm2_txn.rs
  cmd/tx-factory/src/vm2_txn_lib.rs
Owners: @welbon

fix seq num and max gas amount
  cmd/tx-factory/src/vm2_txn.rs
  rpc/client/src/async_client.rs
Owners: @welbon, @sanlee42

support websocket connection
  cmd/tx-factory/src/vm2_txn.rs
  rpc/client/src/async_client.rs
  rpc/client/src/remote_state_reader2/async_reader.rs
Owners: @welbon, @sanlee42
