Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

fix compile error
  chain/chain-notify/src/lib.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  flexidag/src/flexidag_service.rs
  network-rpc/api/src/dag_protocol.rs
  network/src/service.rs
  state/service/src/service.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_full_task.rs
  sync/src/verified_rpc_client.rs
  types/src/compact_block.rs
  types/src/system_events.rs
Owners: @nkysg, @sanlee42, @welbon

silence some compiling warnings
  chain/api/src/chain.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  consensus/src/consensusdb/access.rs
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/consensusdb/consensus_header.rs
  consensus/src/consensusdb/consensus_reachability.rs
  consensus/src/consensusdb/consensus_relations.rs
  consensus/src/consensusdb/item.rs
  consensus/src/dag/blockdag.rs
  consensus/src/dag/ghostdag/protocol.rs
  consensus/src/dag/reachability/inquirer.rs
  consensus/src/dag/reachability/reachability_service.rs
  consensus/src/dag/reachability/relations_service.rs
  flexidag/src/flexidag_service.rs
  miner/src/create_block_template/mod.rs
  network/src/network_p2p_handle.rs
  sync/api/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
Owners: @nkysg, @sanlee42, @welbon

fix sync compile
  sync/src/sync.rs
Owners: @sanlee42

introduce dag to chain&&miner
  Cargo.lock
  chain/Cargo.toml
  chain/api/Cargo.toml
  chain/api/src/chain.rs
  chain/api/src/errors.rs
  chain/chain-notify/Cargo.toml
  chain/chain-notify/src/lib.rs
  chain/mock/Cargo.toml
  chain/mock/src/mock_chain.rs
  chain/open-block/Cargo.toml
  chain/open-block/src/lib.rs
  chain/service/Cargo.toml
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/tests/block_test_utils.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_opened_block.rs
  chain/tests/test_txn_info_and_proof.rs
  consensus/dag/src/blockdag.rs
  consensus/dag/src/consensusdb/consensus_reachability.rs
  consensus/dag/src/lib.rs
  genesis/Cargo.toml
  genesis/src/lib.rs
  miner/Cargo.toml
  miner/src/create_block_template/mod.rs
  miner/src/create_block_template/test_create_block_template.rs
  miner/src/lib.rs
  node/Cargo.toml
  node/src/node.rs
  rpc/api/src/types.rs
  storage/src/chain_info/mod.rs
  storage/src/lib.rs
  sync/Cargo.toml
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  types/src/block.rs
  types/src/startup_info.rs
Owners: @nkysg, @sanlee42, @welbon

Update genesis
  generated/halley/genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

release only starcoin
  .github/workflows/release_asset.yml
  scripts/release.sh
Owners: @sanlee42, @nkysg

fix building errors
  benchmarks/src/chain.rs
  block-relayer/src/block_relayer.rs
  chain/mock/src/mock_chain.rs
  cmd/db-exporter/src/main.rs
  cmd/replay/src/main.rs
  miner/src/create_block_template/test_create_block_template.rs
  node/src/lib.rs
  node/src/network_service_factory.rs
  node/src/node.rs
  rpc/server/src/module/pubsub/tests.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  test-helper/src/chain.rs
  test-helper/src/network.rs
  types/src/block.rs
  types/src/compact_block.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @welbon, @sanlee42

fix dag initialized
  Cargo.lock
  consensus/src/dag/blockdag.rs
  flexidag/src/flexidag_service.rs
  node/Cargo.toml
  node/src/node.rs
  storage/src/lib.rs
  sync/src/tasks/block_sync_task.rs
  types/src/block.rs
Owners: @sanlee42, @welbon, @nkysg

process error result when adding tips
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

Add more log && refactor genesis load
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  consensus/dag/src/blockdag.rs
  consensus/dag/src/consensusdb/consensus_header.rs
  consensus/dag/src/consensusdb/consensus_relations.rs
  consensus/dag/src/ghostdag/protocol.rs
  consensus/dag/src/reachability/reachability_service.rs
  consensus/dag/src/reachability/reindex.rs
  consensus/dag/src/reachability/tests.rs
  miner/src/create_block_template/mod.rs
  types/src/block.rs
  types/src/consensus_header.rs
Owners: @nkysg, @sanlee42, @welbon

[e2e-testsuite] delete no using test case
  vm/e2e-testsuite/src/tests/transaction_builder.rs
  vm/e2e-testsuite/src/tests/transaction_fees.rs
  vm/e2e-testsuite/src/tests/writeset_builder.rs
Owners: @nkysg

[e2e-testsuite] fix some error testcase
  vm/e2e-testsuite/src/tests/mod.rs
  vm/e2e-testsuite/src/tests/scripts.rs
  vm/e2e-testsuite/src/tests/write_set.rs
Owners: @nkysg

fix starcoin-genesis tests
  chain/service/src/chain_service.rs
  cmd/db-exporter/src/main.rs
  consensus/src/dag/blockdag.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/src/lib.rs
  node/src/node.rs
  storage/src/block/mod.rs
  storage/src/lib.rs
  storage/src/upgrade.rs
  types/src/block.rs
Owners: @nkysg, @welbon, @sanlee42

update starcoin-barnard.yaml starcoin-main.yaml
  kube/manifest/starcoin-barnard.yaml
  kube/manifest/starcoin-main.yaml
Owners: @sanlee42, @nkysg

fix tests building of staroin-miner
  account/src/account_test.rs
  chain/mock/src/mock_chain.rs
  consensus/src/dag/blockdag.rs
  genesis/src/lib.rs
  miner/src/create_block_template/test_create_block_template.rs
  miner/tests/miner_test.rs
  network/api/src/tests.rs
  network/tests/network_service_test.rs
  storage/src/flexi_dag/mod.rs
  sync/src/block_connector/test_write_block_chain.rs
Owners: @welbon, @nkysg, @sanlee42

fix errors when service starts
  Cargo.lock
  flexidag/src/flexidag_service.rs
  miner/src/create_block_template/mod.rs
  txpool/Cargo.toml
  txpool/src/pool/ready.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

broadcast new head
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

dag:Add more dag test
  consensus/dag/src/blockdag.rs
  consensus/dag/src/ghostdag/protocol.rs
Owners: @sanlee42, @welbon

[e2e-testsuite] fixed latest testcase
  vm/e2e-testsuite/src/tests/fake_stdlib.rs
  vm/e2e-testsuite/src/tests/verify_txn.rs
  vm/e2e-testsuite/src/tests/write_set.rs
Owners: @nkysg

[e2e-testsuite] optimize import header
  vm/e2e-tests/src/account.rs
  vm/e2e-tests/src/account_universe/bad_transaction.rs
  vm/e2e-tests/src/account_universe/peer_to_peer.rs
  vm/e2e-tests/src/common_transactions.rs
  vm/e2e-tests/src/data_store.rs
  vm/e2e-tests/src/executor.rs
  vm/e2e-tests/src/on_chain_configs.rs
  vm/e2e-tests/src/utils.rs
  vm/e2e-testsuite/src/tests/admin_script.rs
  vm/e2e-testsuite/src/tests/create_account.rs
  vm/e2e-testsuite/src/tests/execution_strategies.rs
  vm/e2e-testsuite/src/tests/experimental.rs
  vm/e2e-testsuite/src/tests/failed_transaction_tests.rs
  vm/e2e-testsuite/src/tests/fake_stdlib.rs
  vm/e2e-testsuite/src/tests/on_chain_configs.rs
  vm/e2e-testsuite/src/tests/rotate_key.rs
  vm/e2e-testsuite/src/tests/script_functions.rs
  vm/e2e-testsuite/src/tests/scripts.rs
  vm/e2e-testsuite/src/tests/verify_txn.rs
  vm/e2e-testsuite/src/tests/write_set.rs
Owners: @nkysg

add new tips broadcast
  chain/api/src/chain.rs
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  consensus/src/dag/blockdag.rs
  flexidag/src/flexidag_service.rs
  miner/src/create_block_template/mod.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42, @welbon

revert miner tests
  miner/src/create_block_template/test_create_block_template.rs
  miner/tests/miner_test.rs
Owners: @sanlee42

fix starcoin-genesis tests
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

add tips saving and getting storage
  chain/src/chain.rs
  consensus/src/dag/blockdag.rs
  flexidag/src/flexidag_service.rs
  miner/src/create_block_template/mod.rs
  node/src/node.rs
  storage/src/block/mod.rs
  storage/src/flexi_dag/mod.rs
  storage/src/lib.rs
  sync/src/block_connector/block_connector_service.rs
  sync/src/block_connector/mod.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42, @welbon

fix miner tests
  chain/src/chain.rs
  miner/src/create_block_template/test_create_block_template.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @nkysg, @sanlee42, @welbon

add test code
  chain/src/chain.rs
  sync/src/block_connector/write_block_chain.rs
  types/src/block.rs
Owners: @nkysg, @sanlee42, @welbon

test genesis ghostdata
  consensus/src/dag/blockdag.rs
Owners: @sanlee42, @welbon

Add logs
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

add commit
  consensus/src/dag/blockdag.rs
  types/src/consensus_header.rs
Owners: @sanlee42, @welbon, @nkysg

fix miner test cases
  chain/src/chain.rs
  storage/src/lib.rs
  types/src/block.rs
Owners: @nkysg, @welbon

add fork height for dag
  chain/api/src/chain.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  config/src/genesis_config.rs
  consensus/src/dag/blockdag.rs
  consensus/src/dag/reachability/inquirer.rs
  flexidag/src/flexidag_service.rs
  genesis/src/lib.rs
  storage/src/lib.rs
  storage/src/upgrade.rs
  sync/src/tasks/block_sync_task.rs
  types/src/block.rs
Owners: @nkysg, @sanlee42, @welbon

Fix dag init
  chain/src/chain.rs
Owners: @nkysg

FIx tests
  Cargo.lock
  account/src/account_test.rs
  benchmarks/Cargo.toml
  benchmarks/src/chain.rs
  chain/mock/Cargo.toml
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  chain/tests/block_test_utils.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_opened_block.rs
  chain/tests/test_txn_info_and_proof.rs
  cmd/db-exporter/Cargo.toml
  cmd/db-exporter/src/main.rs
  cmd/generator/Cargo.toml
  cmd/generator/src/gen_data.rs
  cmd/generator/src/gen_genesis.rs
  cmd/generator/src/lib.rs
  cmd/peer-watcher/Cargo.toml
  cmd/peer-watcher/src/lib.rs
  cmd/replay/Cargo.toml
  cmd/replay/src/main.rs
  consensus/dag/src/blockdag.rs
  consensus/dag/src/consensusdb/db.rs
  consensus/src/consensus_test.rs
  genesis/Cargo.toml
  genesis/src/lib.rs
  miner/src/create_block_template/mod.rs
  storage/src/tests/test_block.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  test-helper/src/chain.rs
  test-helper/src/network.rs
  test-helper/src/starcoin_dao.rs
  test-helper/src/txpool.rs
  types/src/block.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
Owners: @welbon, @nkysg, @sanlee42

fix blockheader compatible issue
  chain/src/chain.rs
  cmd/db-exporter/src/main.rs
  genesis/src/lib.rs
  storage/src/block/mod.rs
  types/src/block.rs
Owners: @nkysg, @welbon

add new tips info
  chain/src/chain.rs
  consensus/src/dag/blockdag.rs
  flexidag/src/flexidag_service.rs
  miner/src/create_block_template/mod.rs
Owners: @nkysg, @sanlee42, @welbon

fix miner tests after rebasing
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  consensus/src/dag/blockdag.rs
  storage/src/lib.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @nkysg, @sanlee42, @welbon

do not remove the dag genesis when creating the block template
  miner/src/create_block_template/mod.rs
Owners: @sanlee42

Fix chain api and gas used
  chain/src/chain.rs
  types/src/block.rs
Owners: @nkysg, @welbon

add tips update
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/dag/blockdag.rs
  miner/src/create_block_template/mod.rs
  miner/src/task.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/sync.rs
  types/src/block.rs
  types/src/startup_info.rs
  types/src/system_events.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @sanlee42, @welbon

add storage upgrade from v3 to v4
  flexidag/src/flexidag_service.rs
  genesis/src/lib.rs
  storage/src/block/mod.rs
  storage/src/chain_info/mod.rs
  storage/src/lib.rs
  storage/src/upgrade.rs
  sync/src/block_connector/write_block_chain.rs
  types/src/block.rs
  types/src/startup_info.rs
Owners: @nkysg, @welbon, @sanlee42
