Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

Fix warn
  chain/force-upgrade/Cargo.toml
Owners: @nkysg

Update stdlib
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/049_FlexiDagConfig.mv
  vm/stdlib/compiled/13/stdlib/049_FlexiDagConfig.mv
  vm/stdlib/compiled/latest/stdlib/049_FlexiDagConfig.mv
Owners: @nkysg, @sanlee42

check_move_version exceed block_number FORCE_UPGRADE_BLOCK_NUMBER only allow version 6
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix the merge depth block
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_block_depth.rs
  flexidag/tests/tests.rs
  sync/src/block_connector/write_block_chain.rs
Owners: @sanlee42

Fix execute extra txn in latest stdlib
  chain/open-block/src/lib.rs
Owners: @nkysg

[force-deploy] fixed the first feedback from movebit
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/12/stdlib/052_FrozenConfigStrategy.mv
  vm/stdlib/compiled/latest/stdlib/052_FrozenConfigStrategy.mv
Owners: @nkysg, @sanlee42

Force upgrade stdlib with v13 for consensus update (#4402)
  .gitignore
  Cargo.lock
  Cargo.toml
  chain/Cargo.toml
  chain/force-upgrade/Cargo.toml
  chain/force-upgrade/src/lib.rs
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_force_upgrade.rs
  cmd/starcoin/Cargo.toml
  executor/Cargo.toml
  executor/src/block_executor.rs
  genesis/src/lib.rs
  node/Cargo.toml
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/018_Config.mv
  vm/stdlib/compiled/13/12-13/stdlib/049_FlexiDagConfig.mv
  vm/stdlib/compiled/13/12-13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/12-13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/13/stdlib/049_FlexiDagConfig.mv
  vm/stdlib/compiled/13/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/13/stdlib/066_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/018_Config.mv
  vm/stdlib/compiled/latest/stdlib/049_FlexiDagConfig.mv
  vm/stdlib/compiled/latest/stdlib/065_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/vm-runtime/src/force_upgrade_management.rs
  vm/vm-runtime/src/lib.rs
Owners: @nkysg, @welbon, @sanlee42

add test case
  flexidag/tests/tests.rs
Owners: none

fix for the code rabbit
  chain/api/src/range_locate.rs
Owners: @nkysg

fix for the comments from the code rabbit
  chain/api/src/service.rs
  sync/src/verified_rpc_client.rs
Owners: @nkysg, @sanlee42

fix bug and test case
  sync/src/tasks/find_common_ancestor_task.rs
  sync/tests/full_sync_test.rs
Owners: @sanlee42

use genesis to get the block depth info
  chain/api/src/chain.rs
  chain/mock/src/mock_chain.rs
  chain/src/chain.rs
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @nkysg, @sanlee42

add limit on parents count
  flexidag/src/blockdag.rs
Owners: none

add consensus block depth
  flexidag/src/consensusdb/consensus_block_depth.rs
Owners: none

fix clippy
  chain/api/src/range_locate.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/tests/test_range_locate.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
Owners: @nkysg, @sanlee42

add config for parents count
  flexidag/src/blockdag.rs
Owners: none

commit temporarily
  chain/mock/src/mock_chain.rs
  chain/tests/test_range_locate.rs
Owners: @nkysg

fix compile error
  flexidag/src/blockdag.rs
Owners: none

add test case
  chain/mock/src/mock_chain.rs
  chain/tests/test_range_locate.rs
Owners: @nkysg

add test case for location range
  chain/api/src/range_locate.rs
  chain/tests/test_range_locate.rs
Owners: @nkysg

finish the test case for the fast finding ancestor
  chain/mock/src/mock_chain.rs
  chain/tests/test_range_locate.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/tests.rs
Owners: @nkysg, @sanlee42

change name from RangeInPruningPoint to RangeInLocation
  chain/api/src/message.rs
  chain/api/src/range_locate.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/tests/test_range_locate.rs
  network-rpc/api/src/lib.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/verified_rpc_client.rs
Owners: @nkysg, @sanlee42

add remove red blocks when mining
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/block_depth/mod.rs
  flexidag/src/blockdag.rs
  sync/src/block_connector/block_connector_service.rs
Owners: @sanlee42

rebase the filter red blocks
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
Owners: none

add sync using range locate
  config/src/sync_config.rs
  sync/src/sync.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
Owners: @sanlee42

add check the bad red blocks
  chain/src/chain.rs
  flexidag/src/blockdag.rs
Owners: @nkysg

add remove red blocks when mining
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
Owners: none

add 2 test case
  chain/api/src/range_locate.rs
  chain/tests/test_range_locate.rs
Owners: @nkysg

no check the filter
  chain/src/chain.rs
Owners: @nkysg

add first test case
  chain/tests/test_range_locate.rs
Owners: @nkysg

add locate range logic
  Cargo.lock
  chain/api/Cargo.toml
  chain/api/src/lib.rs
  chain/api/src/range_locate.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  flexidag/src/blockdag.rs
  sync/src/tasks/find_common_ancestor_task.rs
  sync/src/tasks/mod.rs
Owners: @nkysg, @sanlee42

fix test case test merge bounded
  flexidag/src/blockdag.rs
  flexidag/tests/tests.rs
Owners: none

add dag ancestor task
  sync/src/tasks/find_common_ancestor_task.rs
Owners: @sanlee42

remove some info
  flexidag/src/blockdag.rs
Owners: none

fix the pruning point calc
  flexidag/src/prune/pruning_point_manager.rs
Owners: none

add check and config for the merge depth to filter the red blocks
  chain/src/chain.rs
  config/src/miner_config.rs
  flexidag/src/block_depth/block_depth_info.rs
  flexidag/src/blockdag.rs
  node/src/node.rs
Owners: @nkysg

fix log: warning not error
  flexidag/src/consensusdb/consensus_block_depth.rs
Owners: none

hint whatever
  flexidag/src/blockdag.rs
Owners: none

add block depth db
  flexidag/src/consensusdb/mod.rs
  flexidag/src/lib.rs
Owners: none

add timeout at test_range_locate
  chain/tests/test_range_locate.rs
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
