Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

Fix clippy and format
  stratum/src/diff_manager.rs
  stratum/src/lib.rs
  stratum/src/rpc.rs
  stratum/src/stratum.rs
Owners: @sanlee42

Fix subscribe id && and more log
  Cargo.lock
  cmd/miner_client/Cargo.toml
  stratum/Cargo.toml
  stratum/src/rpc.rs
  stratum/src/stratum.rs
Owners: @welbon, @sanlee42

stratum: hash rate caculate
  stratum/src/diff_manager.rs
  stratum/src/rpc.rs
  stratum/src/stratum.rs
Owners: @sanlee42

stratum: diff manager
  stratum/src/diff_manager.rs
  stratum/src/lib.rs
  stratum/src/rpc.rs
  stratum/src/stratum.rs
Owners: @sanlee42

Refactor diff manager
  miner/src/lib.rs
  stratum/src/diff_manager.rs
  stratum/src/lib.rs
  stratum/src/rpc.rs
  stratum/src/stratum.rs
Owners: @sanlee42

Fix stratum rpc client
  Cargo.lock
  stratum/Cargo.toml
Owners: @sanlee42

Rebase with master
  miner/src/lib.rs
Owners: @sanlee42

Fix flexdag/tests
  types/src/block/mod.rs
Owners: @nkysg, @welbon

1, optimization for the sync 2, fix test cases
  flexidag/src/reachability/inquirer.rs
  flexidag/src/reachability/mod.rs
  flexidag/tests/tests.rs
  storage/src/block/mod.rs
  storage/src/lib.rs
  storage/src/upgrade.rs
  sync/src/tasks/block_sync_task.rs
Owners: @welbon, @nkysg, @sanlee42

Miner pool support (#4044)
  Cargo.lock
  cmd/miner_client/Cargo.toml
  stratum/Cargo.toml
  stratum/src/diff_manager.rs
  stratum/src/lib.rs
  stratum/src/rpc.rs
  stratum/src/stratum.rs
Owners: @welbon, @sanlee42

1, optimization for the sync (#4046)
  flexidag/src/reachability/inquirer.rs
  flexidag/src/reachability/mod.rs
  flexidag/tests/tests.rs
  storage/src/block/mod.rs
  storage/src/lib.rs
  storage/src/upgrade.rs
  sync/src/tasks/block_sync_task.rs
Owners: @welbon, @nkysg, @sanlee42

fix test_sync_single_chain_to_dag_chain
  storage/src/db_storage/mod.rs
  storage/src/lib.rs
Owners: @welbon, @nkysg

fix test case: test_dag_block_chain_apply
  chain/src/chain.rs
  miner/src/create_block_template/mod.rs
  miner/src/lib.rs
  storage/src/upgrade.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
Owners: @nkysg, @sanlee42, @welbon

change test case name
  sync/src/block_connector/test_write_dag_block_chain.rs
Owners: @sanlee42

flexidag:Remove useless code
  flexidag/tests/tests.rs
Owners: none

Fix db update from v4 to v5 (#4047)
  chain/src/chain.rs
  flexidag/tests/tests.rs
  miner/src/create_block_template/mod.rs
  miner/src/lib.rs
  storage/src/db_storage/mod.rs
  storage/src/lib.rs
  storage/src/upgrade.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
Owners: @nkysg, @sanlee42, @welbon

add transaction v2 in v5 column
  storage/src/lib.rs
Owners: @welbon, @nkysg

fixing cargo fmt and clippy
  flexidag/tests/tests.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
Owners: @sanlee42

remove magic number
  cmd/db-exporter/src/main.rs
  cmd/generator/src/lib.rs
  flexidag/src/blockdag.rs
  sync/src/tasks/test_tools.rs
Owners: @welbon, @sanlee42

add sleep in spawn testcase
  flexidag/tests/tests.rs
Owners: none

blockmeta: fix tx acc verified failed
  types/src/block/mod.rs
Owners: @nkysg, @welbon

chain: dag fork height hardcode to 1000
  chain/src/chain.rs
Owners: @nkysg

blockmeta: compact the proxima net
  types/src/block/mod.rs
Owners: @nkysg, @welbon

fix test case
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/full_sync_test.rs
Owners: @sanlee42

chain: Fix sync failed since verified and open block compact with meta
  chain/open-block/src/lib.rs
  chain/src/verifier/mod.rs
Owners: @nkysg

Fix not suit block since parent is empty
  chain/open-block/src/lib.rs
  vm/types/src/block_metadata/legacy.rs
  vm/types/src/block_metadata/mod.rs
Owners: @nkysg

ignore some test case in sync
  Cargo.lock
  chain/src/chain.rs
  config/src/lib.rs
  node/Cargo.toml
  node/src/lib.rs
  storage/src/lib.rs
  sync/src/announcement/mod.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/tests.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/full_sync_test.rs
  test-helper/Cargo.toml
Owners: @nkysg, @welbon, @sanlee42

ignore some test case in sync (#4050)
  Cargo.lock
  chain/src/chain.rs
  config/src/lib.rs
  flexidag/tests/tests.rs
  node/Cargo.toml
  node/src/lib.rs
  sync/src/announcement/mod.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/tests.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/full_sync_test.rs
  test-helper/Cargo.toml
Owners: @nkysg, @sanlee42

[ghost-dag] add some comment for helping code-review
  types/src/block/mod.rs
Owners: @nkysg, @welbon

revert updates of v11 stdlib
  genesis/generated/halley/genesis
  genesis/generated/proxima/genesis
  vm/stdlib/compiled/11/10-11/stdlib.blob
  vm/stdlib/compiled/11/stdlib/62_Genesis.mv
Owners: @nkysg, @sanlee42

[frozen config] fixed the error of frozen config integration-test after setting stdlib version to latest in G_DEV_CONFIG
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
Owners: none

stratum: Add doc
  stratum/user_guide.md
Owners: @sanlee42

1, fix fmt and clippy 2, set dag fork number in sync test cases
  Cargo.lock
  chain/src/chain.rs
  config/src/lib.rs
  flexidag/tests/tests.rs
  node/src/lib.rs
  sync/src/announcement/mod.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/test_write_block_chain.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/tests.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/full_sync_test.rs
  test-helper/Cargo.toml
  types/src/block/mod.rs
Owners: @nkysg, @sanlee42, @welbon

fix block header with smaller height but having parents
  chain/src/chain.rs
Owners: @nkysg

update to latest framework v2
  Cargo.lock
  Cargo.toml
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/058_FlexiDagConfig.mv
  vm/stdlib/compiled/13/12-13/stdlib/059_Epoch.mv
  vm/stdlib/compiled/13/stdlib/058_FlexiDagConfig.mv
  vm/stdlib/compiled/13/stdlib/059_Epoch.mv
Owners: @nkysg, @sanlee42

fix sync test case
  chain/src/chain.rs
  config/src/genesis_config.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/full_sync_test.rs
  sync/tests/test_rpc_client.rs
  types/src/block/mod.rs
Owners: @nkysg, @sanlee42, @welbon

fix cargo fmt
  sync/tests/common_test_sync_libs.rs
Owners: @sanlee42

fix test case: 1、test_transaction_info_and_proof_1 2、test_block_metadata_error_code
  chain/tests/test_txn_info_and_proof.rs
  executor/tests/error_code_test.rs
Owners: @nkysg

[Dag Sync]Fix sync test case (#4059)
  chain/src/chain.rs
  chain/tests/test_txn_info_and_proof.rs
  config/src/genesis_config.rs
  executor/tests/error_code_test.rs
  sync/src/block_connector/test_write_dag_block_chain.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/full_sync_test.rs
  sync/tests/test_rpc_client.rs
  types/src/block/mod.rs
Owners: @nkysg, @sanlee42, @welbon

[Flexidag] add some comment for helping code-review
  types/src/block/mod.rs
Owners: @nkysg, @welbon
