Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

no checking for the uncle count
  Cargo.lock
  Cargo.toml
  flexidag/dag/src/reachability/extensions.rs
  flexidag/dag/src/types/interval.rs
  vm/stdlib/compiled/latest/stdlib/059_Epoch.mv
Owners: @nkysg, @sanlee42

fix clippy errors and warnings
  flexidag/src/reachability/reindex.rs
  flexidag/tests/tests.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/full_sync_test.rs
  sync/tests/test_rpc_client.rs
Owners: @sanlee42

update halley genesis
  genesis/generated/halley/genesis
Owners: @nkysg

[frozen config] Add compiled v12 binary files
  Cargo.lock
  Cargo.toml
  scripts/build_stdlib.sh
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/compiled/latest/stdlib/064_StdlibUpgradeScripts.mv
Owners: @nkysg, @sanlee42

[frozen config] Add stdlib building script for building new stdlib binary files
  scripts/build_stdlib.sh
Owners: none

update rpc schema
  rpc/api/generated_rpc_schema/chain.json
Owners: @sanlee42

fix starcoin-miner and some other test cases
  chain/src/chain.rs
  executor/tests/executor_test.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add parents_hash to BlockMetadata txn
  chain/open-block/src/lib.rs
  chain/tests/test_block_chain.rs
  etc/starcoin_types.yml
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/types.rs
  storage/src/block/mod.rs
  storage/src/lib.rs
  storage/src/transaction/legacy.rs
  storage/src/transaction/mod.rs
  storage/src/upgrade.rs
  test-helper/data/BlockMetadata/data
  test-helper/data/BlockMetadata/hash
  test-helper/data/BlockMetadata/json
  test-helper/src/starcoin_dao.rs
  types/src/block/mod.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/types/src/block_metadata/legacy.rs
  vm/types/src/block_metadata/mod.rs
  vm/types/src/on_chain_resource/block_metadata.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42, @welbon

upgrade storage for transactions
  storage/src/tests/test_storage.rs
  storage/src/transaction/legacy.rs
  storage/src/upgrade.rs
  vm/types/src/block_metadata/legacy.rs
  vm/types/src/transaction/mod.rs
Owners: @welbon, @nkysg

update tests 1. update integration tests 2. remove daospace-v12 from master branch 3. restructure on_chain_config_dao test codes 4. gen dag chain for tests
  chain/tests/test_block_chain.rs
  chain/tests/test_epoch_switch.rs
  executor/tests/module_upgrade_test.rs
  test-helper/src/block.rs
  test-helper/src/chain.rs
  test-helper/src/dao.rs
  test-helper/src/lib.rs
  test-helper/src/starcoin_dao.rs
  test-helper/src/txn.rs
  testsuite/features/cmd.feature
Owners: @nkysg

fix easygas integration test
  testsuite/features/cmd.feature
Owners: @nkysg

update dao integration test
  Cargo.lock
  Cargo.toml
  testsuite/features/cmd.feature
Owners: @nkysg

[force-upgrade] commit fixed codes
  Cargo.lock
  Cargo.toml
  vm/vm-runtime/src/errors.rs
Owners: @nkysg

[force-upgrade] Add stdlib building script for building new stdlib binary files
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/078_TransactionManager.mv
  vm/stdlib/compiled/12/stdlib/078_TransactionManager.mv
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/compiled/latest/stdlib/078_TransactionManager.mv
Owners: @nkysg, @sanlee42

[force-upgrade] Fix error code of framework
  Cargo.toml
Owners: none

add no assert for epoch.move
  Cargo.lock
  Cargo.toml
  miner/src/create_block_template/mod.rs
  miner/src/lib.rs
  vm/stdlib/compiled/latest/stdlib/059_Epoch.mv
Owners: @sanlee42, @nkysg

[force-upgrade] commit binary files
  Cargo.lock
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/078_TransactionManager.mv
  vm/stdlib/compiled/12/stdlib/078_TransactionManager.mv
  vm/stdlib/compiled/latest/stdlib/078_TransactionManager.mv
Owners: @nkysg, @sanlee42

fix test cases
  chain/tests/test_block_chain.rs
  test-helper/src/chain.rs
Owners: @nkysg

[force-upgrade] fixed by the merged starcoin-move branch starcoin-main-v6
  Cargo.lock
  Cargo.toml
Owners: none

[force-upgrade] fixed by the merged starcoin-framework branch 'v11_branch'
  Cargo.lock
  Cargo.toml
Owners: none

Frozen config errmsg fix (#4033)
  Cargo.lock
  Cargo.toml
  scripts/build_stdlib.sh
  vm/stdlib/compiled/12/11-12/stdlib.blob
  vm/stdlib/compiled/12/11-12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/11-12/stdlib/078_TransactionManager.mv
  vm/stdlib/compiled/12/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/12/stdlib/078_TransactionManager.mv
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/compiled/latest/stdlib/064_StdlibUpgradeScripts.mv
  vm/stdlib/compiled/latest/stdlib/078_TransactionManager.mv
  vm/vm-runtime/src/errors.rs
Owners: @nkysg, @sanlee42

load dag fork height from statedb
  chain/api/src/chain.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  flexidag/src/blockdag.rs
  miner/src/create_block_template/mod.rs
  node/src/lib.rs
  sync/Cargo.toml
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/common_test_sync_libs.rs
  types/src/block/mod.rs
Owners: @nkysg, @sanlee42, @welbon

add get fork number in chain service
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  sync/src/sync.rs
  sync/src/tasks/accumulator_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
Owners: @nkysg, @sanlee42

clippy fix
  sync/src/tasks/accumulator_sync_task.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
Owners: @sanlee42

More error handle and format
  chain/src/chain.rs
  cmd/starcoin/src/chain/mod.rs
  flexidag/dag/src/blockdag.rs
  flexidag/dag/src/ghostdag/mergeset.rs
  flexidag/dag/src/ghostdag/protocol.rs
  flexidag/dag/src/reachability/reindex.rs
  flexidag/dag/tests/tests.rs
  miner/src/create_block_template/mod.rs
  network/api/src/peer_provider.rs
  node/src/lib.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/tests.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/full_sync_test.rs
  sync/tests/test_rpc_client.rs
Owners: @nkysg, @welbon, @sanlee42

Dag mining net dev (#4041)
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  sync/src/sync.rs
  sync/src/tasks/accumulator_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
Owners: @nkysg, @sanlee42

minor updates
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  cmd/starcoin/src/chain/mod.rs
  executor/tests/module_upgrade_test.rs
  network/api/src/peer_provider.rs
  sync/src/tasks/mod.rs
  testsuite/features/cmd.feature
Owners: @nkysg, @welbon, @sanlee42

fix panic error
  flexidag/src/blockdag.rs
  types/src/block/mod.rs
Owners: @nkysg, @welbon

upgrade storage for transactions
  storage/src/tests/test_storage.rs
  storage/src/transaction/legacy.rs
  storage/src/upgrade.rs
  vm/types/src/block_metadata/legacy.rs
  vm/types/src/transaction/mod.rs
Owners: @welbon, @nkysg

add parents_hash to BlockMetadata txn
  chain/open-block/src/lib.rs
  chain/tests/test_block_chain.rs
  etc/starcoin_types.yml
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/types.rs
  storage/src/block/mod.rs
  storage/src/lib.rs
  storage/src/transaction/legacy.rs
  storage/src/transaction/mod.rs
  storage/src/upgrade.rs
  test-helper/data/BlockMetadata/data
  test-helper/data/BlockMetadata/hash
  test-helper/data/BlockMetadata/json
  test-helper/src/starcoin_dao.rs
  types/src/block/mod.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/types/src/block_metadata/legacy.rs
  vm/types/src/block_metadata/mod.rs
  vm/types/src/on_chain_resource/block_metadata.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42, @welbon

fix easygas integration test
  testsuite/features/cmd.feature
Owners: @nkysg

fix starcoin-miner and some other test cases
  chain/src/chain.rs
  executor/tests/executor_test.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix test cases
  chain/tests/test_block_chain.rs
  test-helper/src/chain.rs
Owners: @nkysg

update tests 1. update integration tests 2. remove daospace-v12 from master branch 3. restructure on_chain_config_dao test codes 4. gen dag chain for tests
  chain/tests/test_block_chain.rs
  chain/tests/test_epoch_switch.rs
  executor/tests/module_upgrade_test.rs
  test-helper/src/block.rs
  test-helper/src/chain.rs
  test-helper/src/dao.rs
  test-helper/src/lib.rs
  test-helper/src/starcoin_dao.rs
  test-helper/src/txn.rs
  testsuite/features/cmd.feature
Owners: @nkysg

update dao integration test
  Cargo.lock
  Cargo.toml
  testsuite/features/cmd.feature
Owners: @nkysg

load dag fork height from statedb
  chain/api/src/chain.rs
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  flexidag/src/blockdag.rs
  miner/src/create_block_template/mod.rs
  node/src/lib.rs
  sync/Cargo.toml
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
  sync/tests/common_test_sync_libs.rs
  types/src/block/mod.rs
Owners: @nkysg, @sanlee42, @welbon

fix panic error (#4042)
  chain/service/src/chain_service.rs
  chain/src/chain.rs
  executor/tests/module_upgrade_test.rs
  flexidag/src/blockdag.rs
  sync/src/tasks/mod.rs
  testsuite/features/cmd.feature
  types/src/block/mod.rs
Owners: @nkysg, @sanlee42, @welbon

update starcoin-framework
  Cargo.lock
  Cargo.toml
  genesis/generated/halley/genesis
  vm/stdlib/compiled/13/12-13/stdlib.blob
  vm/stdlib/compiled/13/12-13/stdlib/059_Epoch.mv
  vm/stdlib/compiled/13/stdlib/059_Epoch.mv
Owners: @nkysg, @sanlee42

Dag mining net dev (#4041)
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  sync/src/sync.rs
  sync/src/tasks/accumulator_sync_task.rs
  sync/src/tasks/inner_sync_task.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/test_tools.rs
  sync/src/tasks/tests.rs
  sync/src/tasks/tests_dag.rs
Owners: @nkysg, @sanlee42

fix compiling errors and clippy complainings after rebase
  flexidag/src/ghostdag/protocol.rs
  flexidag/src/reachability/reindex.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/mock.rs
  sync/src/tasks/mod.rs
  sync/tests/common_test_sync_libs.rs
  sync/tests/full_sync_test.rs
  sync/tests/test_rpc_client.rs
Owners: @sanlee42

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
