Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

add push the new child in parent's vec
  flexidag/src/consensusdb/consensus_relations.rs
Owners: none

fix fmt
  flexidag/src/consensusdb/consensus_relations.rs
Owners: none

[compiler-v2] fixed authentication key process on prologue and eilprologue (#4303)
  vm/framework/starcoin-framework/doc/account.md
  vm/framework/starcoin-framework/doc/stc_block.md
  vm/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm/framework/starcoin-framework/sources/account.move
  vm/framework/starcoin-framework/sources/stc/stc_block.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm/framework/starcoin-framework/sources/stc/vm_config.move
Owners: @nkysg

Refactor with framework sdk (#4302)
  chain/tests/block_test_utils.rs
  cmd/airdrop/src/main.rs
  cmd/db-exporter/src/main.rs
  cmd/starcoin/src/account/accept_token_cmd.rs
  cmd/starcoin/src/account/transfer_cmd.rs
  cmd/starcoin/src/dev/gen_block_cmd.rs
  cmd/starcoin/src/dev/get_coin_cmd.rs
  cmd/starcoin/src/dev/upgrade_vm_config_proposal_cmd.rs
  executor/benchmark/src/lib.rs
  executor/tests/block_reward_test.rs
  executor/tests/error_code_test.rs
  executor/tests/executor_test.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  test-helper/src/dao.rs
  test-helper/src/txn.rs
  txpool/src/test.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/flexi_dag_config.rs
Owners: @nkysg, @welbon, @sanlee42

[compiler-v2 framework] In order to eliminate the above errors, the log is added
  vm/framework/move-stdlib/doc/features.md
  vm/framework/move-stdlib/sources/configs/features.move
  vm/framework/starcoin-framework/doc/account.md
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/consensus_strategy.md
  vm/framework/starcoin-framework/doc/genesis.md
  vm/framework/starcoin-framework/doc/starcoin_account.md
  vm/framework/starcoin-framework/doc/stc_block.md
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_package_validation.md
  vm/framework/starcoin-framework/doc/stc_transaction_publish_option.md
  vm/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm/framework/starcoin-framework/doc/stc_util.md
  vm/framework/starcoin-framework/doc/vesting.md
  vm/framework/starcoin-framework/sources/genesis.move
  vm/framework/starcoin-framework/sources/starcoin_account.move
  vm/framework/starcoin-framework/sources/starcoin_account.spec.move
  vm/framework/starcoin-framework/sources/stc/consensus_strategy.move
  vm/framework/starcoin-framework/sources/stc/stc_block.move
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_package_validation.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_publish_option.move
  vm/framework/starcoin-framework/sources/vesting.move
Owners: @nkysg

[compiler-v2 framework] Fixed all testcase in txn_prologue_and_epilogue.move
  vm/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.exp
  vm/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.move
Owners: @nkysg

[compiler-v2] fixed compare 0x1::starcoin_coin::STC (#4306)
  vm/framework/move-stdlib/doc/features.md
  vm/framework/move-stdlib/sources/configs/features.move
  vm/framework/starcoin-framework/doc/account.md
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/consensus_strategy.md
  vm/framework/starcoin-framework/doc/genesis.md
  vm/framework/starcoin-framework/doc/starcoin_account.md
  vm/framework/starcoin-framework/doc/stc_block.md
  vm/framework/starcoin-framework/doc/stc_genesis.md
  vm/framework/starcoin-framework/doc/stc_transaction_package_validation.md
  vm/framework/starcoin-framework/doc/stc_transaction_publish_option.md
  vm/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm/framework/starcoin-framework/doc/stc_util.md
  vm/framework/starcoin-framework/doc/vesting.md
  vm/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.exp
  vm/framework/starcoin-framework/integration-tests/account/txn_prologue_and_epilogue.move
  vm/framework/starcoin-framework/sources/coin.move
  vm/framework/starcoin-framework/sources/genesis.move
  vm/framework/starcoin-framework/sources/starcoin_account.move
  vm/framework/starcoin-framework/sources/starcoin_account.spec.move
  vm/framework/starcoin-framework/sources/stc/consensus_strategy.move
  vm/framework/starcoin-framework/sources/stc/stc_block.move
  vm/framework/starcoin-framework/sources/stc/stc_genesis.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_package_validation.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_publish_option.move
  vm/framework/starcoin-framework/sources/stc/stc_util.move
  vm/framework/starcoin-framework/sources/vesting.move
Owners: @nkysg

fix starcoin-indexer test
  cmd/indexer/src/lib.rs
  commons/infallible/src/math.rs
Owners: @welbon, @nkysg

1, fix encode bug 2, and write batch sync
  flexidag/src/consensusdb/consensus_relations.rs
  storage/src/cache_storage/mod.rs
  storage/src/db_storage/mod.rs
  storage/src/storage.rs
Owners: @welbon, @nkysg

fix starcoin-indexer test (#4305)
  cmd/indexer/src/lib.rs
  commons/infallible/src/math.rs
Owners: @welbon, @nkysg

rever AccessPath https://github.com/starcoinorg/starcoin/pull/4300
  Cargo.lock
  Cargo.toml
Owners: none

rever AccessPath https://github.com/starcoinorg/starcoin/pull/4300 (#4307)
  Cargo.lock
  Cargo.toml
Owners: none

[compiler-v2 framework] revert access_path
  vm/framework/starcoin-framework/sources/coin.move
  vm/framework/starcoin-framework/sources/stc/stc_util.move
Owners: @nkysg

[compiler-v2 framework] revert access_path (#4308)
  vm/framework/starcoin-framework/sources/coin.move
  vm/framework/starcoin-framework/sources/stc/stc_util.move
Owners: @nkysg

fix some executor tests
  executor/tests/executor_test.rs
  test-helper/src/executor.rs
  test-helper/src/txn.rs
  types/src/account.rs
Owners: @nkysg, @welbon

fix sequence number tests
  executor/tests/executor_test.rs
  test-helper/src/executor.rs
  vm/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/errors.rs
Owners: @nkysg

fix test_batch_transfer
  executor/tests/executor_test.rs
  vm/framework/starcoin-framework/doc/transfer_scripts.md
  vm/framework/starcoin-framework/sources/stc/transfer_scripts.move
Owners: @nkysg

fix batch transfer test
  executor/tests/executor_test.rs
  vm/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
Owners: @nkysg

add auto-generated files
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/stc_util.md
Owners: @nkysg

fix starcoin-rpc-api schema
  rpc/api/generated_rpc_schema/account.json
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/generated_rpc_schema/contract_api.json
  rpc/api/generated_rpc_schema/node.json
  rpc/api/generated_rpc_schema/state.json
  rpc/api/generated_rpc_schema/sync_manager.json
  rpc/api/generated_rpc_schema/txpool.json
Owners: @sanlee42

fix block reward test
  vm/types/src/account_config/events/block_reward.rs
Owners: @nkysg

1, flush cache if batch writing done 2, put empty vec as children when insering a new hash
  flexidag/src/consensusdb/access.rs
  flexidag/src/consensusdb/consensus_relations.rs
Owners: none

no use sync writing
  flexidag/src/consensusdb/consensus_relations.rs
Owners: none

Fix executor test (#4309)
  executor/tests/executor_test.rs
  test-helper/src/executor.rs
  test-helper/src/txn.rs
  types/src/account.rs
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm/framework/starcoin-framework/doc/stc_util.md
  vm/framework/starcoin-framework/doc/transfer_scripts.md
  vm/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm/framework/starcoin-framework/sources/stc/transfer_scripts.move
  vm/types/src/account_config/events/block_reward.rs
  vm/types/src/transaction/mod.rs
  vm/vm-runtime/src/errors.rs
Owners: @nkysg, @welbon

fix starcoin-rpc-api schema (#4310)
  rpc/api/generated_rpc_schema/account.json
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/generated_rpc_schema/contract_api.json
  rpc/api/generated_rpc_schema/node.json
  rpc/api/generated_rpc_schema/state.json
  rpc/api/generated_rpc_schema/sync_manager.json
  rpc/api/generated_rpc_schema/txpool.json
Owners: @sanlee42

[compiler-v2 framework] Solved the problem that the session extension list was empty in the unit test scenario
  Cargo.lock
  Cargo.toml
  vm/framework/move-stdlib/doc/bcs.md
  vm/framework/move-stdlib/sources/bcs.move
  vm/framework/move-stdlib/tests/bcs_tests.move
  vm/framework/starcoin-stdlib/doc/type_info.md
  vm/framework/starcoin-stdlib/sources/cryptography/secp256k1.move
  vm/framework/starcoin-stdlib/sources/debug.move
  vm/framework/starcoin-stdlib/sources/from_bcs.move
  vm/framework/starcoin-stdlib/sources/hash.move
  vm/framework/starcoin-stdlib/sources/type_info.move
  vm/move-package-manager/Cargo.toml
  vm/move-package-manager/src/package.rs
Owners: @nkysg

[compiler-v2 framework] fixed some unittest
  vm/framework/starcoin-stdlib/sources/cryptography/bls12381.move
  vm/framework/starcoin-stdlib/sources/type_info.move
Owners: @nkysg

[compiler-v2 framework] fixed test_chain_id
  vm/framework/starcoin-stdlib/sources/type_info.move
Owners: @nkysg

[compiler-v2 framework] block some error for test
  vm/framework/starcoin-stdlib/sources/cryptography/ristretto255_bulletproofs.move
Owners: @nkysg

[compiler-v2 framework] check bcs to address error
  vm/framework/src/natives/util.rs
Owners: @nkysg

use old HashValue starcoin-crypto
  Cargo.lock
  Cargo.toml
Owners: none

[compiler-v2 framework] check bcs to address error
  vm/framework/src/natives/util.rs
Owners: @nkysg

ignore some Tests
  executor/tests/error_code_test.rs
  executor/tests/module_upgrade_test.rs.ignored
  executor/tests/script_function_test.rs
  executor/tests/sip_flag_test.rs.ignored
Owners: @nkysg

refactor move scripts error code
  vm/framework/starcoin-framework/doc/chain_status.md
  vm/framework/starcoin-framework/doc/on_chain_config.md
  vm/framework/starcoin-framework/doc/stc_block.md
  vm/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm/framework/starcoin-framework/doc/timestamp.md
  vm/framework/starcoin-framework/sources/chain_status.move
  vm/framework/starcoin-framework/sources/stc/on_chain_config.move
  vm/framework/starcoin-framework/sources/stc/stc_block.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm/framework/starcoin-framework/sources/timestamp.move
  vm/vm-runtime/src/errors.rs
Owners: @nkysg

generating genesis to avoid test failure
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
Owners: @nkysg

Fix executor error code (#4311)
  executor/tests/error_code_test.rs
  executor/tests/module_upgrade_test.rs.ignored
  executor/tests/script_function_test.rs
  executor/tests/sip_flag_test.rs.ignored
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/generated/proxima/genesis
  genesis/generated/vega/genesis
  vm/framework/starcoin-framework/doc/chain_status.md
  vm/framework/starcoin-framework/doc/on_chain_config.md
  vm/framework/starcoin-framework/doc/stc_block.md
  vm/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm/framework/starcoin-framework/doc/timestamp.md
  vm/framework/starcoin-framework/sources/chain_status.move
  vm/framework/starcoin-framework/sources/stc/on_chain_config.move
  vm/framework/starcoin-framework/sources/stc/stc_block.move
  vm/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm/framework/starcoin-framework/sources/timestamp.move
  vm/vm-runtime/src/errors.rs
Owners: @nkysg

[compiler-v2 framework] fixed create object error
  etc/starcoin_types.yml
  vm/framework/cached-packages/src/starcoin_framework_sdk_builder.rs
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/object.md
  vm/framework/starcoin-framework/doc/overview.md
  vm/framework/starcoin-framework/doc/staking_contract.md
  vm/framework/starcoin-framework/sources/coin.move
  vm/framework/starcoin-framework/sources/delegation_pool.move
  vm/framework/starcoin-framework/sources/delegation_pool.spec.move
  vm/framework/starcoin-framework/sources/object.move
  vm/framework/starcoin-framework/sources/starcoin_account.move
  vm/framework/starcoin-framework/tests/delegation_pool_integration_tests.move
  vm/framework/starcoin-stdlib/doc/from_bcs.md
  vm/framework/starcoin-stdlib/sources/from_bcs.move
Owners: @nkysg

[compiler-v2 framework] remove log
  vm/framework/starcoin-framework/sources/coin.move
Owners: @nkysg

[compiler-v2 framework] move truncate_16 from `from_bcs` into `bcs_util.move`
  vm/framework/starcoin-framework/doc/bcs_util.md
  vm/framework/starcoin-framework/doc/coin.md
  vm/framework/starcoin-framework/doc/object.md
  vm/framework/starcoin-framework/sources/object.move
  vm/framework/starcoin-framework/sources/stc/bcs_util.move
  vm/framework/starcoin-stdlib/doc/from_bcs.md
  vm/framework/starcoin-stdlib/sources/from_bcs.move
Owners: @nkysg

[compiler-v2 framework] In order to pass the test, the Contract Event v2 part was transplanted
  account/service/src/account_events.rs
  cmd/starcoin/src/view.rs
  dataformat-generator/build.rs
  etc/starcoin_types.yml
  rpc/api/src/types.rs
  test-helper/src/executor.rs
  types/src/filter.rs
  vm/framework/src/natives/event.rs
  vm/framework/starcoin-framework/doc/object.md
  vm/framework/starcoin-framework/sources/object.move
  vm/move-package-manager/src/package.rs
  vm/types/src/account_config/events/deposit.rs
  vm/types/src/account_config/events/mod.rs
  vm/types/src/account_config/events/withdraw.rs
  vm/types/src/contract_event.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @welbon, @sanlee42, @nkysg
