Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

update move repo
  Cargo.lock
  Cargo.toml
  commons/proptest-helpers/Cargo.toml
Owners: @nkysg

cherry-pick bytecode verifier (#3856)
  Cargo.lock
  Cargo.toml
  commons/proptest-helpers/Cargo.toml
Owners: @nkysg

Fix release failed
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

Fix release failed (#3866)
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

Fix typo
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

Fix typo
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

workflows: Fix api rate limiting
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

Fix typo (#3868)
  .github/workflows/release_asset.yml
Owners: @sanlee42, @nkysg

update starcoin-proxima.yaml and starcoin-barnard.yaml
  kube/manifest/starcoin-barnard.yaml
  kube/manifest/starcoin-proxima.yaml
Owners: @sanlee42, @nkysg

update starcoin-proxima.yaml and starcoin-barnard.yaml (#3869)
  kube/manifest/starcoin-barnard.yaml
  kube/manifest/starcoin-proxima.yaml
Owners: @sanlee42, @nkysg

fix move package new
  vm/move-package-manager/src/package.rs
Owners: @nkysg

use StarcoinFramework addr
  vm/move-package-manager/src/package.rs
Owners: @nkysg

fix typo
  vm/move-package-manager/src/package.rs
Owners: @nkysg

fix mpm release
  vm/move-package-manager/src/release.rs
Owners: @nkysg

change move package new (#3872)
  vm/move-package-manager/src/package.rs
  vm/move-package-manager/src/release.rs
Owners: @nkysg

update move repo
  Cargo.lock
  Cargo.toml
  commons/proptest-helpers/Cargo.toml
Owners: @nkysg

cherry pick recent security
  Cargo.lock
  Cargo.toml
  commons/proptest-helpers/Cargo.toml
  vm/starcoin-gas/src/gas_meter.rs
Owners: @nkysg

fix bytemuck version
  Cargo.lock
Owners: none

cherry pick recent security (#3871)
  Cargo.lock
  Cargo.toml
  commons/proptest-helpers/Cargo.toml
  vm/starcoin-gas/src/gas_meter.rs
Owners: @nkysg

Add secp256k1 from aptos
  vm/vm-runtime/src/natives.rs
Owners: @nkysg

Add secp256k1 from aptos
  vm/natives/src/lib.rs
  vm/natives/src/secp256k1.rs
  vm/vm-runtime/src/natives.rs
Owners: @nkysg

starcoin framework dependency
  Cargo.toml
Owners: none

starcoin framework dependency
  Cargo.lock
Owners: none

fix the warning caused by clippy for updating the rust from 1.64.0 to 1.65.0(#3873)
  account/src/account.rs
  clippy.toml
  cmd/generator/src/lib.rs
  cmd/starcoin/src/account/import_cmd.rs
  commons/logger/src/structured_log.rs
  commons/scmd/src/context.rs
  state/statedb/src/lib.rs
  stratum/src/rpc.rs
  vm/move-coverage/src/bin/coverage-summaries.rs
  vm/move-coverage/src/bin/move-trace-conversion.rs
  vm/move-coverage/src/bin/source-coverage.rs
  vm/resource-viewer/src/lib.rs
  vm/stdlib/src/lib.rs
  vm/stdlib/src/main.rs
  vm/types/src/account_config/constants/account.rs
  vm/types/src/account_config/constants/event.rs
  vm/types/src/transaction/authenticator.rs
Owners: @welbon, @nkysg, @sanlee42

fix the warnings from the rust clippy
  Cargo.toml
  abi/types/src/lib.rs
  account/api/src/rich_wallet.rs
  chain/tests/block_test_utils.rs
  cmd/miner_client/src/stratum_client_service.rs
  commons/accumulator/src/lib.rs
  commons/accumulator/src/node_index.rs
  commons/accumulator/src/tree.rs
  commons/forkable-jellyfish-merkle/src/node_type/mod.rs
  commons/scmd/src/context.rs
  commons/time-service/src/lib.rs
  dataformat-generator/build.rs
  genesis/src/main.rs
  network-p2p/src/config.rs
  network-rpc/api/src/lib.rs
  network-rpc/core/src/lib.rs
  network/src/service.rs
  storage/src/db_storage/mod.rs
  sync/src/tasks/accumulator_sync_task.rs
  sync/src/tasks/tests.rs
  vm/move-package-manager/src/lib.rs
  vm/starcoin-transactional-test-harness/src/lib.rs
  vm/stdlib/src/main.rs
  vm/transaction-builder-generator/src/cpp.rs
  vm/transaction-builder-generator/src/rust.rs
  vm/transaction-builder-generator/tests/generation.rs
  vm/types/src/proptest_types.rs
  vm/types/src/transaction/authenticator.rs
Owners: @nkysg, @welbon, @sanlee42

change the rust version from 1.64.0 to 1.65.0
  Cargo.toml
  rust-toolchain.toml
Owners: none

fix fmt check
  cmd/starcoin/src/account/import_cmd.rs
Owners: @welbon

remove the unnessesary mut
  network-p2p/src/config.rs
Owners: @sanlee42

use the rustc of version 1.66.0 to satify the requirement of nextest-runner v0.37.0
  Cargo.toml
  rust-toolchain.toml
Owners: none

format changed
  vm/natives/src/secp256k1.rs
Owners: @nkysg

fix error
  vm/natives/src/secp256k1.rs
Owners: @nkysg

Add secp256k1 from aptos
  vm/vm-runtime/src/natives.rs
Owners: @nkysg

Add new change for stdlib
  genesis/generated/halley/genesis
  genesis/generated/proxima/genesis
Owners: @nkysg

Add secp256k1 from aptos
  vm/vm-runtime/src/natives.rs
Owners: @nkysg

Add secp256k1 from aptos (#3878)
  vm/vm-runtime/src/natives.rs
Owners: @nkysg

update main,banard,proxima kube config
  kube/manifest/starcoin-barnard.yaml
  kube/manifest/starcoin-main.yaml
  kube/manifest/starcoin-proxima.yaml
  vm/vm-runtime/src/natives.rs
Owners: @sanlee42, @nkysg

update main,banard,proxima kube config (#3879)
  kube/manifest/starcoin-barnard.yaml
  kube/manifest/starcoin-main.yaml
  kube/manifest/starcoin-proxima.yaml
  vm/vm-runtime/src/natives.rs
Owners: @sanlee42, @nkysg

fix mpm intergration_test
  vm/move-package-manager/src/lib.rs
Owners: @nkysg

fix mpm intergration_test (#3880)
  vm/move-package-manager/src/lib.rs
Owners: @nkysg

update StarcoinFramework rename script func to entry fun
  Cargo.lock
  Cargo.toml
Owners: none

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
