Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

retrive node info in seperate task
  cmd/tx-factory/src/vm2_txn_lib.rs
Owners: @welbon

fix building errors
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

add one aync api
  rpc/client/src/async_client.rs
Owners: @sanlee42

initializing async connection provider
  Cargo.lock
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
Owners: @sanlee42

Reorganize imports by crate and add documentation
  cmd/tx-factory/Cargo.toml
  cmd/tx-factory/README2.md
  cmd/tx-factory/src/vm2_txn_lib.rs
  cmd/tx-factory/src/vm2_txn_main.rs
  rpc/client/src/async_client.rs
  rpc/client/src/remote_state_reader2/async_reader.rs
Owners: @welbon, @sanlee42

fix compiling errors
  Cargo.lock
  cmd/tx-factory/Cargo.toml
  cmd/tx-factory/src/vm2_txn_lib.rs
  rpc/client/src/lib.rs
Owners: @welbon, @sanlee42

add vm2 test codes
  cmd/tx-factory/Cargo.toml
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

truncate accounts file properly
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

split async rpc apis
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
Owners: @sanlee42

fix vm2 txn factory
  cmd/tx-factory/Cargo.toml
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/vm2_txn.rs
Owners: @welbon

add Async Connection Provider
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
Owners: @sanlee42

refactor AccountEntry
  cmd/tx-factory/Cargo.toml
  cmd/tx-factory/src/vm2_txn.rs
  cmd/tx-factory/src/vm2_txn_lib.rs
Owners: @welbon

add more async apis to rpc client
  rpc/client/src/async_client.rs
  rpc/client/src/remote_state_reader2.rs
Owners: @sanlee42

reconnecting rpc server automatically
  cmd/tx-factory/src/vm2_txn_lib.rs
  rpc/client/src/async_client.rs
Owners: @welbon, @sanlee42

add more async api
  rpc/client/src/async_client.rs
Owners: @sanlee42

explicitly calling async functions
  cmd/tx-factory/src/vm2_txn.rs
  rpc/client/src/async_client.rs
Owners: @welbon, @sanlee42

Add vm2 txn factory (#4640)
  Cargo.lock
  cmd/tx-factory/Cargo.toml
  cmd/tx-factory/README2.md
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/vm2_txn_lib.rs
  cmd/tx-factory/src/vm2_txn_main.rs
  rpc/client/src/async_client.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader2/async_reader.rs
  rpc/client/src/remote_state_reader2/mod.rs
Owners: @welbon, @sanlee42

rm mpm in dockerfile
  docker/Dockerfile
Owners: none

no mpm2 use mpm instead
  docker/Dockerfile
Owners: none

refresh cargo.lock
  Cargo.lock
Owners: none

fix fmt
  cmd/starcoin/src/node/sync/status_cmd.rs
  cmd/tx-factory/src/main.rs
  rpc/server/src/module/mod.rs
  sync/src/announcement/mod.rs
  txpool/src/pool/queue.rs
  txpool/src/pool_client.rs
  txpool/src/tx_pool_service_impl.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @welbon, @sanlee42

fix error log
  cmd/tx-factory/src/main.rs
  rpc/server/src/module/mod.rs
Owners: @welbon, @sanlee42

add batch rpc for transaction factory
  cmd/starcoin/src/node/sync/status_cmd.rs
  miner/src/create_block_template/block_builder_service.rs
  network-rpc/src/rpc.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/txpool/mod.rs
  rpc/api/src/types.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  rpc/server/src/module/mod.rs
  rpc/server/src/module/pubsub/tests.rs
  rpc/server/src/module/txpool_rpc.rs
  sync/src/announcement/mod.rs
  sync/src/txn_sync/mod.rs
  sync/tests/txn_sync_test.rs
  txpool/api/src/lib.rs
  txpool/mock-service/src/lib.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
  vm/types/src/transaction/error.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @welbon, @sanlee42, @nkysg

update the rpc json
  rpc/api/generated_rpc_schema/account.json
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/generated_rpc_schema/sync_manager.json
  rpc/api/generated_rpc_schema/txpool.json
Owners: @sanlee42

change the /tmp to /tmp/integration_test for multisig account in cmd.feature
  testsuite/features/cmd.feature
Owners: @nkysg

create the dir if it dose not exist.
  cmd/starcoin/src/account/sign_multisig_txn_cmd.rs
Owners: @welbon

fix the code for the advice from coderabbitai: 1, return the rpc error and do not swallow 2, fix fmt and typo
  cmd/tx-factory/src/main.rs
  network-rpc/src/rpc.rs
  txpool/src/tx_pool_service_impl.rs
  vm/types/src/transaction/error.rs
  vm2/vm-types/src/transaction/error.rs
Owners: @welbon, @sanlee42, @nkysg

[framework debug print] fixed the starcoin-framework debug print to log debug
  vm2/framework/src/natives/debug.rs
Owners: none

[framework debug print] fixed fmt
  vm2/framework/src/natives/debug.rs
Owners: none

distribute transaction fee to payer's address and collect them to framework account at block epilogue
  vm2/framework/src/natives/mod.rs
  vm2/framework/src/natives/stc_transaction_fee.,rs
  vm2/framework/src/natives/stc_transaction_fee.rs
  vm2/framework/starcoin-framework/doc/stc_block.md
  vm2/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm2/framework/starcoin-framework/doc/stc_transaction_validation.md
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_validation.move
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-types/src/account_config/constants/chain.rs
Owners: none

remove unused file
  vm2/framework/src/natives/stc_transaction_fee.,rs
Owners: none

clear stale cache of transaction fee module during block_prologue, add assert for block_epilogue
  vm2/framework/starcoin-framework/doc/stc_block.md
  vm2/framework/starcoin-framework/doc/stc_transaction_fee.md
  vm2/framework/starcoin-framework/sources/stc/stc_block.move
  vm2/framework/starcoin-framework/sources/stc/stc_transaction_fee.move
Owners: none

no mpm2 use mpm instead
  docker/Dockerfile
Owners: none

rm mpm in dockerfile
  docker/Dockerfile
Owners: none

add code temporary
  Cargo.lock
  cmd/tx-factory/src/main.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/txpool/mod.rs
  rpc/api/src/types.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  txpool/src/pool/queue.rs
  txpool/src/pool_client.rs
  txpool/src/tx_pool_service_impl.rs
  vm/types/src/transaction/error.rs
  vm2/vm-types/src/transaction/error.rs
Owners: @welbon, @sanlee42, @nkysg

fix error log
  cmd/tx-factory/src/main.rs
  rpc/server/src/module/mod.rs
Owners: @welbon, @sanlee42

add batch rpc for transaction factory
  cmd/starcoin/src/node/sync/status_cmd.rs
  rpc/api/src/chain/mod.rs
  rpc/api/src/txpool/mod.rs
  rpc/api/src/types.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  rpc/server/src/module/mod.rs
  txpool/src/tx_pool_service_impl.rs
  vm/types/src/transaction/error.rs
Owners: @welbon, @sanlee42, @nkysg

fix fmt
  cmd/starcoin/src/node/sync/status_cmd.rs
  cmd/tx-factory/src/main.rs
  txpool/src/pool/queue.rs
  txpool/src/pool_client.rs
Owners: @welbon, @sanlee42

refresh cargo.lock
  Cargo.lock
Owners: none

update data and hash for transaction info in check_types
  test-helper/data/TransactionInfo/data
  test-helper/data/TransactionInfo/hash
Owners: none

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
