Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

Update cmd/starcoin/src/subcommand_vm2/dev/get_coin_cmd.rs
  cmd/starcoin/src/subcommand_vm2/dev/get_coin_cmd.rs
Owners: @welbon

fix the relation writing
  flexidag/src/blockdag.rs
Owners: none

fix test case full_sync_new_node
  sync/src/tasks/test_tools.rs
Owners: @sanlee42

[multi move-vm] cmds fix todo and add dev2 commands (#4517)
  Cargo.lock
  Cargo.toml
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/main.rs
  cmd/starcoin/src/subcommand_vm2/account/show_cmd.rs
  cmd/starcoin/src/subcommand_vm2/dev/get_coin_cmd.rs
  cmd/starcoin/src/subcommand_vm2/dev/mod.rs
  cmd/starcoin/src/subcommand_vm2/mod.rs
  config/src/lib.rs
  rpc/client/src/vm2.rs
Owners: @welbon, @sanlee42

fix test case test_miner_service
  miner/tests/miner_test.rs
Owners: @sanlee42

refactor(rpc): unify chain.get_ghostdagdata to batch-based interface
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  cmd/starcoin/src/chain/get_ghost_dag_data.rs
  flexidag/src/blockdag.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/chain/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @welbon, @sanlee42

fix test case dev get-coin
  chain/src/chain.rs
Owners: @nkysg

fix txpool chain reader
  txpool/src/lib.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

fix chain_rpc state_root
  rpc/server/src/module/chain_rpc.rs
  state/statedb/src/lib.rs
Owners: @sanlee42, @welbon, @nkysg

Fix some state root errors (#4519)
  rpc/server/src/module/chain_rpc.rs
  state/statedb/src/lib.rs
  txpool/src/lib.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon, @nkysg

fix multi_state and more other compiling errors
  chain/src/chain.rs
  config/src/genesis_config.rs
  config/src/lib.rs
  genesis/src/lib.rs
  genesis/src/main.rs
  state/service/src/service.rs
  types/src/block.rs
  types/src/multi_state.rs
  vm2/chain/src/lib.rs
  vm2/executor/tests/dual_vm_genesis_test.rs
  vm2/executor/tests/script_function_test.rs
  vm2/service/account/src/service.rs
  vm2/service/state/src/service.rs
  vm2/test-helper/src/executor.rs
  vm2/test-helper/src/txn.rs
Owners: @nkysg, @welbon

fix errors caused by genesis_config2
  chain/tests/block_test_utils.rs
  chain/tests/test_force_upgrade.rs
  chain/tests/test_txn_info_and_proof.rs
  executor/tests/module_upgrade_test.rs
  genesis/src/lib.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/tests.rs
Owners: @nkysg, @sanlee42

refactor get_vm_multi_state
  chain/chain-notify/src/lib.rs
  genesis/src/lib.rs
  state/service/src/service.rs
  storage/src/lib.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  txpool/src/pool_client.rs
  vm2/service/state/src/service.rs
Owners: @nkysg, @welbon, @sanlee42

always initializing vm2 genesis
  chain/src/chain.rs
  config/src/genesis_config.rs
  genesis/src/lib.rs
  types/src/block.rs
  vm2/chain/src/lib.rs
Owners: @nkysg, @welbon

refactor chain_rpc/txpool state_root
  rpc/server/src/module/chain_rpc.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

split vm2 functions to seperate file
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
Owners: @nkysg

refactor ContractEventNotification
  chain/chain-notify/src/lib.rs
  chain/chain-notify/src/message.rs
Owners: @nkysg

temp disable integration test
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

refactor(rpc): unify chain.get_ghostdagdata to batch-based interface
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  cmd/starcoin/src/chain/get_ghost_dag_data.rs
  flexidag/src/blockdag.rs
  rpc/api/generated_rpc_schema/chain.json
  rpc/api/src/chain/mod.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  vm/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @welbon, @sanlee42

add comment need to open future
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

Multi move vm temp disable integration test (#4522)
  .github/workflows/build_test.yml
Owners: @sanlee42, @nkysg

disable force upgrade txn
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  executor/src/block_executor.rs
Owners: @nkysg

update generated genesis
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
Owners: @nkysg

initialize vm2 block meta
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  chain/tests/test_opened_block.rs
  miner/src/create_block_template/mod.rs
Owners: @nkysg, @sanlee42

skip some tests in ci workflow
  chain/open-block/src/vm2.rs
  genesis/src/lib.rs
  scripts/nextest.sh
Owners: @nkysg

split vm2 functions to seperate file
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
Owners: @nkysg

fix multi_state and more other compiling errors
  chain/src/chain.rs
  config/src/genesis_config.rs
  config/src/lib.rs
  genesis/src/lib.rs
  genesis/src/main.rs
  state/service/src/service.rs
  types/src/block.rs
  types/src/multi_state.rs
  vm2/chain/src/lib.rs
  vm2/executor/tests/dual_vm_genesis_test.rs
  vm2/executor/tests/script_function_test.rs
  vm2/service/account/src/service.rs
  vm2/service/state/src/service.rs
  vm2/test-helper/src/executor.rs
  vm2/test-helper/src/txn.rs
Owners: @nkysg, @welbon

fix some tests
  genesis/src/lib.rs
  scripts/nextest.sh
Owners: @nkysg

always initializing vm2 genesis
  chain/src/chain.rs
  config/src/genesis_config.rs
  genesis/src/lib.rs
  types/src/block.rs
  vm2/chain/src/lib.rs
Owners: @nkysg, @welbon

convert assert/unwrap to error handling
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  storage/src/lib.rs
Owners: @nkysg, @welbon

refactor get_vm_multi_state/chain_rpc/txpool/ContractEventNotification
  chain/chain-notify/src/lib.rs
  chain/chain-notify/src/message.rs
  genesis/src/lib.rs
  rpc/server/src/module/chain_rpc.rs
  state/service/src/service.rs
  storage/src/lib.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  txpool/src/pool_client.rs
  txpool/src/tx_pool_service_impl.rs
  vm2/service/state/src/service.rs
Owners: @nkysg, @sanlee42, @welbon

fix errors caused by genesis_config2
  chain/tests/block_test_utils.rs
  chain/tests/test_force_upgrade.rs
  chain/tests/test_txn_info_and_proof.rs
  executor/tests/module_upgrade_test.rs
  genesis/src/lib.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/tests.rs
Owners: @nkysg, @sanlee42

Vm2 as default vm (#4514)
  chain/chain-notify/src/lib.rs
  chain/chain-notify/src/message.rs
  chain/open-block/src/lib.rs
  chain/open-block/src/vm2.rs
  chain/src/chain.rs
  chain/tests/block_test_utils.rs
  chain/tests/test_force_upgrade.rs
  chain/tests/test_opened_block.rs
  chain/tests/test_txn_info_and_proof.rs
  config/src/genesis_config.rs
  config/src/lib.rs
  executor/src/block_executor.rs
  executor/tests/module_upgrade_test.rs
  genesis/generated/barnard/genesis
  genesis/generated/halley/genesis
  genesis/generated/main/genesis
  genesis/src/lib.rs
  genesis/src/main.rs
  miner/src/create_block_template/mod.rs
  rpc/server/src/module/chain_rpc.rs
  scripts/nextest.sh
  state/service/src/service.rs
  storage/src/lib.rs
  sync/src/block_connector/test_illegal_block.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/tasks/tests.rs
  txpool/src/pool_client.rs
  txpool/src/tx_pool_service_impl.rs
  types/src/block.rs
  types/src/multi_state.rs
  vm2/chain/src/lib.rs
  vm2/executor/tests/dual_vm_genesis_test.rs
  vm2/executor/tests/script_function_test.rs
  vm2/service/account/src/service.rs
  vm2/service/state/src/service.rs
  vm2/test-helper/src/executor.rs
  vm2/test-helper/src/txn.rs
Owners: @nkysg, @sanlee42, @welbon

txpool: VerifiedTransaction sender use MultiAccountAddress
  rpc/server/src/module/txpool_rpc.rs
  txpool/api/src/lib.rs
  txpool/mock-service/src/lib.rs
  txpool/src/pool.rs
  txpool/src/pool/client.rs
  txpool/src/pool/queue.rs
  txpool/src/pool/ready.rs
  txpool/src/pool/replace.rs
  txpool/src/pool/verifier.rs
  txpool/src/pool_client.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
  types/src/multi_transaction.rs
Owners: @sanlee42, @welbon, @nkysg

txpool: VerifiedTransaction sender use MultiAccountAddress (#4521)
  rpc/server/src/module/txpool_rpc.rs
  txpool/api/src/lib.rs
  txpool/mock-service/src/lib.rs
  txpool/src/pool.rs
  txpool/src/pool/client.rs
  txpool/src/pool/queue.rs
  txpool/src/pool/ready.rs
  txpool/src/pool/replace.rs
  txpool/src/pool/verifier.rs
  txpool/src/pool_client.rs
  txpool/src/test.rs
  txpool/src/tx_pool_service_impl.rs
  types/src/multi_transaction.rs
Owners: @sanlee42, @welbon, @nkysg

fix check_types
  scripts/nextest.sh
  test-helper/data/Block/data
  test-helper/data/Block/hash
  test-helper/data/Block/json
  test-helper/data/BlockInfo/data
  test-helper/data/BlockInfo/hash
  test-helper/data/BlockInfo/json
  test-helper/data/ChainStatus/data
  test-helper/data/ChainStatus/json
  test-helper/data/CompactBlockMessage/data
  test-helper/data/CompactBlockMessage/json
  test-helper/data/TransactionsMessage/data
  test-helper/data/TransactionsMessage/json
Owners: none

add new network-prc api for vm state roots
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  config/src/lib.rs
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
  network-rpc/src/tests.rs
  scripts/nextest.sh
  sync/src/announcement/mod.rs
  test-helper/src/txpool.rs
  types/src/multi_state.rs
Owners: @nkysg, @sanlee42, @welbon

fix test_get_txns_with_hash_from_pool
  scripts/nextest.sh
Owners: none

Fix some tests (#4524)
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  config/src/lib.rs
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
  network-rpc/src/tests.rs
  scripts/nextest.sh
  sync/src/announcement/mod.rs
  test-helper/data/Block/data
  test-helper/data/Block/hash
  test-helper/data/Block/json
  test-helper/data/BlockInfo/data
  test-helper/data/BlockInfo/hash
  test-helper/data/BlockInfo/json
  test-helper/data/ChainStatus/data
  test-helper/data/ChainStatus/json
  test-helper/data/CompactBlockMessage/data
  test-helper/data/CompactBlockMessage/json
  test-helper/data/TransactionsMessage/data
  test-helper/data/TransactionsMessage/json
  test-helper/src/txpool.rs
  types/src/multi_state.rs
Owners: @nkysg, @sanlee42, @welbon

txpool api add next_sequence_number2
  txpool/Cargo.toml
  txpool/api/Cargo.toml
  txpool/api/src/lib.rs
  txpool/mock-service/Cargo.toml
  txpool/mock-service/src/lib.rs
  txpool/src/pool_client.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon
