Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

[dual-vm] vm2 command: fixed review
  cmd/starcoin/src/cli_state.rs
  testsuite/tests/steps/cmd.rs
Owners: @welbon, @nkysg

[dual-vm] vm2 command: remove unused code
  cmd/starcoin/src/cli_state_vm2.rs
Owners: @welbon

register vm2 apis to rpc service (#4505)
  Cargo.lock
  config/src/api_config.rs
  node/Cargo.toml
  node/src/rpc_service_factory.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/contract_rpc.rs
  rpc/server/src/service.rs
  vm/dev/src/playground.rs
  vm2/rpc/server/src/account_rpc.rs
  vm2/rpc/server/src/lib.rs
Owners: @nkysg, @sanlee42

chore: fmt rpc2
  vm2/rpc/api/src/account_api.rs
  vm2/rpc/api/src/contract_api.rs
  vm2/rpc/api/src/state_api.rs
  vm2/rpc/server/src/contract_rpc.rs
  vm2/rpc/server/src/helpers.rs
  vm2/rpc/server/src/state_rpc.rs
Owners: none

[dual-vm] vm2 command: Add TODO tags for places that need to be modified
  cmd/starcoin/src/cli_state_vm2.rs
Owners: @welbon

[dual-vm] vm2 command: Add TODO tags for places that need to be modified
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/cli_state_vm2.rs
Owners: @welbon

chore: fmt rpc2 (#4508)
  vm2/rpc/api/src/account_api.rs
  vm2/rpc/api/src/contract_api.rs
  vm2/rpc/api/src/state_api.rs
  vm2/rpc/server/src/contract_rpc.rs
  vm2/rpc/server/src/helpers.rs
  vm2/rpc/server/src/state_rpc.rs
Owners: none

[dual-vm] vm2 command: Split the basic VM2-support related changes (#4507)
  Cargo.lock
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/cli_state_vm2.rs
  cmd/starcoin/src/lib.rs
  cmd/starcoin/src/main.rs
  cmd/starcoin/src/subcommand_vm2/accept_token_cmd.rs
  cmd/starcoin/src/subcommand_vm2/mod.rs
  cmd/starcoin/src/view_vm2.rs
  config/src/lib.rs
  testsuite/tests/steps/cmd.rs
  vm/move-package-manager/src/deployment.rs
Owners: @welbon, @nkysg

add block level parents
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  chain/src/verifier/mod.rs
  chain/tests/test_prune.rs
  cmd/db-exporter/src/main.rs
  etc/starcoin_types.yml
  flexidag/src/blockdag.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
  network-p2p/src/service_test.rs
  rpc/api/src/types.rs
  sync/src/block_connector/write_block_chain.rs
  sync/src/parallel/executor.rs
  sync/src/parallel/sender.rs
  sync/src/store/tests.rs
  sync/src/sync.rs
  sync/src/tasks/block_sync_task.rs
  sync/src/tasks/continue_execute_absent_block.rs
  sync/src/tasks/tests.rs
  types/src/block/mod.rs
  types/src/block/raw_block_header.rs
  types/src/block/tests.rs
  types/src/consensus_header.rs
  vm/types/src/block_metadata/mod.rs
Owners: @nkysg, @welbon, @sanlee42

[dual-vm] vm2 command: fixed fmt error
  cmd/starcoin/src/cli_state_vm2.rs
Owners: @welbon

[dual-vm] vm2 command: fixed fmt error (#4510)
  cmd/starcoin/src/cli_state_vm2.rs
Owners: @welbon

add parents builder
  Cargo.lock
  flexidag/Cargo.toml
  flexidag/src/consensusdb/access.rs
  flexidag/src/consensusdb/mod.rs
  flexidag/src/level/mod.rs
  flexidag/src/level/parents_builder.rs
  flexidag/src/lib.rs
  flexidag/src/reachability/reachability_service.rs
  types/src/block/mod.rs
  types/src/blockhash.rs
Owners: @nkysg, @welbon

merge vm1/vm2 excludedtxns
  chain/api/src/lib.rs
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  types/src/multi_transaction.rs
  vm2/executor/src/executor.rs
Owners: @nkysg, @welbon

remove some unwraps
  Cargo.lock
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  vm2/chain/Cargo.toml
  vm2/chain/src/lib.rs
Owners: @nkysg

update vm2 rocksdbconfig
  node/src/node.rs
  vm2/service/account/src/service.rs
Owners: @nkysg

Remove some unwraps (#4509)
  Cargo.lock
  chain/api/src/lib.rs
  chain/open-block/src/lib.rs
  chain/src/chain.rs
  node/src/node.rs
  types/src/multi_transaction.rs
  vm2/chain/Cargo.toml
  vm2/chain/src/lib.rs
  vm2/executor/src/executor.rs
  vm2/service/account/src/service.rs
Owners: @nkysg, @welbon

[dual-vm] vm2 command: add details for CliStateVM2
  Cargo.lock
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/cli_state_vm2.rs
  cmd/starcoin/src/main.rs
  cmd/starcoin/src/view_vm2.rs
  rpc/client/src/vm2.rs
  vm/move-package-manager/src/deployment.rs
Owners: @welbon, @sanlee42, @nkysg

[dual-vm] vm2 command: Solve problems caused by merging code
  cmd/starcoin/src/cli_state_vm2.rs
Owners: @welbon

Update cmd/starcoin/src/cli_state_vm2.rs
  cmd/starcoin/src/cli_state_vm2.rs
Owners: @welbon

[dual-vm] vm2 command: fixed fmt error
  cmd/starcoin/src/cli_state_vm2.rs
Owners: @welbon

Update cmd/starcoin/src/cli_state_vm2.rs
  cmd/starcoin/src/cli_state_vm2.rs
Owners: @welbon

[dual-vm] vm2 command: fixed compile error
  cmd/starcoin/src/cli_state_vm2.rs
Owners: @welbon

[dual-vm] vm2 command: fixed PR review
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/main.rs
Owners: @welbon

touch ups
  cmd/starcoin/src/cli_state_vm2.rs
  rpc/client/src/vm2.rs
  vm/move-package-manager/src/deployment.rs
Owners: @welbon, @sanlee42, @nkysg

[multi move vm] add account provider vm2 for clistate vm2 (#4511)
  Cargo.lock
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/cli_state.rs
  cmd/starcoin/src/cli_state_vm2.rs
  cmd/starcoin/src/main.rs
  cmd/starcoin/src/view_vm2.rs
  rpc/client/src/vm2.rs
  vm/move-package-manager/src/deployment.rs
Owners: @welbon, @sanlee42, @nkysg

mine block with level
  Cargo.lock
  chain/api/src/chain.rs
  chain/src/verifier/mod.rs
  cmd/miner_client/src/cpu_solver.rs
  cmd/miner_client/src/job_bus_client.rs
  cmd/miner_client/src/job_client.rs
  cmd/miner_client/src/stratum_client.rs
  config/src/miner_config.rs
  consensus/Cargo.toml
  consensus/src/consensus.rs
  consensus/src/consensus_test.rs
  consensus/src/dummy.rs
  consensus/src/lib.rs
  flexidag/src/blockdag.rs
  flexidag/src/consensusdb/consensus_relations.rs
  flexidag/src/consensusdb/db.rs
  flexidag/src/ghostdag/mergeset.rs
  flexidag/src/ghostdag/protocol.rs
  flexidag/tests/tests.rs
  miner/src/lib.rs
  miner/tests/miner_test.rs
  node/src/node.rs
  rpc/api/src/miner.rs
  rpc/client/src/lib.rs
  rpc/server/src/module/miner_rpc.rs
  stratum/src/rpc.rs
  sync/src/block_connector/block_connector_service.rs
  types/src/system_events.rs
Owners: @nkysg, @welbon, @sanlee42

[dual-vm] add ResourceView missing decode function
  types/src/view/resource_view.rs
Owners: @nkysg, @welbon

[dual-vm] vm2 command: add some account command
  cmd/starcoin/src/cli_state_vm2.rs
  cmd/starcoin/src/subcommand_vm2/account/accept_token_cmd.rs
  cmd/starcoin/src/subcommand_vm2/account/execute_script_cmd.rs
  cmd/starcoin/src/subcommand_vm2/account/execute_script_function_cmd.rs
  cmd/starcoin/src/subcommand_vm2/account/mod.rs
  cmd/starcoin/src/subcommand_vm2/account/show_cmd.rs
  cmd/starcoin/src/subcommand_vm2/account/unlock_cmd.rs
  cmd/starcoin/src/subcommand_vm2/mod.rs
  cmd/starcoin/src/view_vm2.rs
Owners: @welbon

Update cmd/starcoin/src/subcommand_vm2/account/unlock_cmd.rs
  cmd/starcoin/src/subcommand_vm2/account/unlock_cmd.rs
Owners: @welbon

Update cmd/starcoin/src/subcommand_vm2/account/show_cmd.rs
  cmd/starcoin/src/subcommand_vm2/account/show_cmd.rs
Owners: @welbon

[starcoin-vm2] Add documentation for impl ResourceView
  types/src/view/resource_view.rs
Owners: @nkysg, @welbon

[starcoin-vm2] add ResourceView missing decode function (#4512)
  types/src/view/resource_view.rs
Owners: @nkysg, @welbon

[multi move-vm] add some subcommand in account (#4513)
  cmd/starcoin/src/cli_state_vm2.rs
  cmd/starcoin/src/subcommand_vm2/account/accept_token_cmd.rs
  cmd/starcoin/src/subcommand_vm2/account/execute_script_cmd.rs
  cmd/starcoin/src/subcommand_vm2/account/execute_script_function_cmd.rs
  cmd/starcoin/src/subcommand_vm2/account/mod.rs
  cmd/starcoin/src/subcommand_vm2/account/show_cmd.rs
  cmd/starcoin/src/subcommand_vm2/account/unlock_cmd.rs
  cmd/starcoin/src/subcommand_vm2/mod.rs
  cmd/starcoin/src/view_vm2.rs
Owners: @welbon

[dual-vm] vm2 command: fixed fmt
  cmd/starcoin/src/subcommand_vm2/account/show_cmd.rs
Owners: @welbon

fix test case test_block_chain_prune
  Cargo.lock
  chain/Cargo.toml
  chain/tests/test_prune.rs
Owners: @nkysg

[dual-vm] vm2 command: fixed fmt (#4516)
  cmd/starcoin/src/subcommand_vm2/account/show_cmd.rs
Owners: @welbon

[dual-vm] vm2 command: fixed todo
  Cargo.lock
  Cargo.toml
  cmd/starcoin/src/subcommand_vm2/account/show_cmd.rs
  cmd/starcoin/src/subcommand_vm2/mod.rs
  rpc/client/src/vm2.rs
Owners: @welbon, @sanlee42

insert the relation hash with level
  chain/src/chain.rs
  flexidag/src/consensusdb/consensus_relations.rs
Owners: @nkysg

get the genesis if the pruning point is 0
  chain/src/chain.rs
Owners: @nkysg

[dual-vm] vm2 command: append dev get-coin
  Cargo.lock
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/main.rs
  cmd/starcoin/src/subcommand_vm2/dev/get_coin_cmd.rs
  cmd/starcoin/src/subcommand_vm2/dev/mod.rs
  cmd/starcoin/src/subcommand_vm2/mod.rs
  config/src/lib.rs
Owners: @welbon
