Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

fix cargo fmt
  vm/natives/src/from_bcs.rs
  vm/natives/src/secp256k1.rs
Owners: @nkysg

add build_init_script_with_function
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
  vm/stdlib/compiled/latest/stdlib/053_GasSchedule.mv
  vm/stdlib/compiled/latest/stdlib/066_Genesis.mv
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/on_chain_config/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @sanlee42

merge from gas schedule
  config/src/genesis_config.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/gas_schedule.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/on_chain_config/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

use debug! not print!
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add gas for natives functions
  vm/gas-algebra-ext/src/move_stdlib.rs
  vm/types/src/gas_schedule.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/on_chain_config/genesis_gas_schedule.rs
Owners: @nkysg

fix cargo fmt
  config/src/genesis_config.rs
  vm/natives/src/from_bcs.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

fix cargo fmt
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

add missing native gas config
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

fix: all_parameters_mapped failed
  vm/gas-algebra-ext/src/move_stdlib.rs
  vm/gas-algebra-ext/src/starcoin_framework.rs
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

fmt check
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

fix proxima's genesis.json file
  config/example/proxima/genesis_config.json
  config/src/genesis_config.rs
  vm/gas-algebra-ext/src/move_stdlib.rs
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

fix fmt check and clippy
  config/src/genesis_config.rs
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

use cost_table directly not the local variable
  config/src/genesis_config.rs
Owners: none

remove unused vm config in the test block
  config/src/genesis_config.rs
Owners: none

remove the comment of fix me
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

Rebuild genesis binary
  Cargo.lock
  Cargo.toml
  genesis/generated/halley/genesis
  genesis/generated/proxima/genesis
  vm/stdlib/compiled/latest/stdlib/055_GasSchedule.mv
Owners: @nkysg, @sanlee42

Fix starcoin framework unittest failure
  Cargo.lock
  Cargo.toml
Owners: none

Add secp256k1 from aptos
  vm/natives/src/lib.rs
  vm/natives/src/secp256k1.rs
  vm/vm-runtime/src/natives.rs
Owners: @nkysg

Add from_bcs for stdlib
  Cargo.lock
  Cargo.toml
  vm/natives/src/from_bcs.rs
  vm/natives/src/lib.rs
  vm/stdlib/src/lib.rs
  vm/stdlib/src/main.rs
  vm/vm-runtime/src/natives.rs
Owners: @nkysg, @sanlee42

Proxima apply for genesis changed
  kube/manifest/starcoin-proxima.yaml
Owners: @sanlee42, @nkysg

fix cargo fmt
  vm/natives/src/from_bcs.rs
  vm/natives/src/secp256k1.rs
Owners: @nkysg

merge from gas schedule
  config/src/genesis_config.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/gas_schedule.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/on_chain_config/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

add gas for natives functions
  vm/gas-algebra-ext/src/move_stdlib.rs
  vm/types/src/gas_schedule.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/on_chain_config/genesis_gas_schedule.rs
Owners: @nkysg

Add from_bcs for stdlib
  Cargo.toml
Owners: none

fmt check
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

fix: all_parameters_mapped failed
  vm/gas-algebra-ext/src/move_stdlib.rs
  vm/gas-algebra-ext/src/starcoin_framework.rs
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

add missing native gas config
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

fix fmt check and clippy
  config/src/genesis_config.rs
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

fix proxima's genesis.json file
  config/example/proxima/genesis_config.json
  config/src/genesis_config.rs
  vm/gas-algebra-ext/src/move_stdlib.rs
  vm/transaction-builder/src/lib.rs
Owners: @nkysg

use cost_table directly not the local variable
  config/src/genesis_config.rs
Owners: none

remove unused vm config in the test block
  config/src/genesis_config.rs
Owners: none

remove the comment of fix me
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

merge cargo rev version
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  genesis/generated/halley/genesis
  genesis/generated/proxima/genesis
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/src/lib.rs
  vm/stdlib/src/main.rs
Owners: @nkysg, @sanlee42

fix fmt check
  vm/natives/src/from_bcs.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/mod.rs
  vm/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg

Rebuild this version for framework v11
  config/src/genesis_config.rs
  genesis/generated/proxima/genesis
Owners: @nkysg

add initialize and gas shedule unit test
  Cargo.lock
  Cargo.toml
  config/src/genesis_config.rs
  genesis/Cargo.toml
  genesis/generated/halley/genesis
  genesis/src/lib.rs
  vm/stdlib/compiled/latest/stdlib/055_GasSchedule.mv
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg, @sanlee42

add unit test
  config/src/genesis_config.rs
  genesis/src/lib.rs
  vm/transaction-builder/src/lib.rs
  vm/types/src/on_chain_config/gas_schedule.rs
Owners: @nkysg

fix clippy
  genesis/src/lib.rs
Owners: @nkysg

Rebuild this version for framework v11
  config/src/genesis_config.rs
Owners: none

Rebuild this version for framework v11
  genesis/generated/proxima/genesis
Owners: @nkysg

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg
