Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

add test for the retry logic in get_block function
  Cargo.lock
  sync/Cargo.toml
  sync/tests/verified_rpc_client_test.rs
Owners: @sanlee42

fix fmt
  sync/tests/verified_rpc_client_test.rs
Owners: @sanlee42

Sync from others if the network connection fails (#4755)
  Cargo.lock
  block-relayer/src/block_relayer.rs
  network/api/src/peer_provider.rs
  sync/Cargo.toml
  sync/src/announcement/mod.rs
  sync/src/sync.rs
  sync/src/verified_rpc_client.rs
  sync/tests/verified_rpc_client_test.rs
Owners: @sanlee42

batch and transaction factory refactor
  Cargo.lock
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/main.rs
  cmd/tx-factory/src/mocker.rs
  cmd/tx-factory/src/pressure_vm1.rs
  cmd/tx-factory/src/pressure_vm2.rs
  cmd/tx-factory/src/txn_generator.rs
  rpc/api/generated_rpc_schema/txpool.json
  rpc/api/src/txpool/mod.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader2/mod.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/txpool_rpc.rs
  vm2/account/api/src/message.rs
  vm2/account/api/src/service.rs
  vm2/account/src/account_manager.rs
  vm2/rpc/api/generated_rpc_schema/account_api2.json
  vm2/rpc/api/src/account_api.rs
  vm2/rpc/server/src/account_rpc.rs
  vm2/service/account/src/service.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-types/src/token/stc.rs
Owners: @welbon, @sanlee42

fix integration test
  cmd/starcoin/src/chain/get_txn_info_cmd.rs
  testsuite/features/cmd.feature
Owners: @welbon, @nkysg

[native-bridge] add secp256k1 native functions for starcoin native brige
  Cargo.lock
  Cargo.toml
  genesis/generated/halley/genesis
  vm/gas-algebra-ext/src/starcoin_framework.rs
  vm/natives/src/lib.rs
  vm/natives/src/secp256k1.rs
  vm/stdlib/compiled/latest/error_descriptions/error_descriptions.errmap
  vm/stdlib/compiled/latest/stdlib/014_Token.mv
  vm/stdlib/compiled/latest/stdlib/019_ChainId.mv
  vm/stdlib/compiled/latest/stdlib/075_Signature.mv
  vm/stdlib/compiled/latest/stdlib/076_SharedEd25519PublicKey.mv
  vm/stdlib/compiled/latest/stdlib/077_TransactionTimeout.mv
  vm/stdlib/compiled/latest/stdlib/078_TransactionManager.mv
  vm/stdlib/compiled/latest/stdlib/079_TransferScripts.mv
  vm/stdlib/compiled/latest/stdlib/080_TreasuryScripts.mv
  vm/stdlib/compiled/latest/stdlib/081_Arith.mv
  vm/stdlib/compiled/latest/stdlib/082_U256.mv
  vm/stdlib/compiled/latest/stdlib/083_YieldFarming.mv
  vm/stdlib/compiled/latest/stdlib/084_YieldFarmingV2.mv
  vm/types/src/gas_schedule.rs
  vm/types/src/on_chain_config/gas_schedule.rs
  vm/types/src/on_chain_config/genesis_gas_schedule.rs
Owners: @nkysg, @sanlee42

[native-bridge] add secp256k1 native functions for starcoin native brige
  vm/stdlib/compiled/latest/stdlib/075_Secp256k1.mv
  vm/stdlib/compiled/latest/stdlib/076_Signature.mv
  vm/stdlib/compiled/latest/stdlib/077_SharedEd25519PublicKey.mv
  vm/stdlib/compiled/latest/stdlib/078_SimpleMap.mv
  vm/stdlib/compiled/latest/stdlib/079_String.mv
  vm/stdlib/compiled/latest/stdlib/080_TransactionTimeout.mv
  vm/stdlib/compiled/latest/stdlib/081_TransactionManager.mv
  vm/stdlib/compiled/latest/stdlib/082_TransferScripts.mv
  vm/stdlib/compiled/latest/stdlib/083_TreasuryScripts.mv
  vm/stdlib/compiled/latest/stdlib/084_Arith.mv
  vm/stdlib/compiled/latest/stdlib/085_U256.mv
  vm/stdlib/compiled/latest/stdlib/086_YieldFarming.mv
  vm/stdlib/compiled/latest/stdlib/087_YieldFarmingV2.mv
Owners: @nkysg, @sanlee42

Add more log and enable reuse
  chain/src/chain.rs
  chain/src/lib.rs
  chain/tests/test_vm2_reuse.rs
  commons/exec-merge/src/lib.rs
  commons/exec-merge/src/reuse.rs
  vm2/chain/src/lib.rs
  vm2/vm-runtime/src/lib.rs
Owners: @nkysg

[native-bridge] fixed unit test error
  Cargo.lock
  Cargo.toml
Owners: none

feat(cli): show STC balances from primary stores
  .gitmodules
  cmd/starcoin/src/account/show_cmd.rs
  testsuite/features/cmd.feature
  vm2/vm-types/src/state_view.rs
Owners: @welbon, @nkysg

[native-bridge] fixed unit test error for secp256k1 decomparess
  Cargo.lock
  Cargo.toml
  vm/natives/Cargo.toml
  vm/natives/src/secp256k1.rs
Owners: @nkysg

Update .gitmodules
  .gitmodules
Owners: none

feat(cli): show STC balances from primary stores (#4758)
  cmd/starcoin/src/account/show_cmd.rs
  testsuite/features/cmd.feature
  vm2/vm-types/src/state_view.rs
Owners: @welbon, @nkysg

add test for the retry logic in get_block function
  sync/tests/verified_rpc_client_test.rs
Owners: @sanlee42

fix fmt
  commons/utils/src/thread_pool.rs
  miner/src/create_block_template/block_builder_service.rs
  sync/src/block_connector/execute_service.rs
Owners: @nkysg, @sanlee42

put the thread pool in util
  Cargo.lock
  commons/utils/Cargo.toml
  commons/utils/src/lib.rs
  commons/utils/src/thread_pool.rs
  miner/Cargo.toml
  miner/src/create_block_template/block_builder_service.rs
  sync/Cargo.toml
  sync/src/block_connector/execute_service.rs
Owners: @nkysg, @sanlee42

remove unused function and comments
  sync/tests/verified_rpc_client_test.rs
Owners: @sanlee42

Put the thread pool into the util directory (#4756)
  Cargo.lock
  commons/utils/Cargo.toml
  commons/utils/src/lib.rs
  commons/utils/src/thread_pool.rs
  miner/Cargo.toml
  miner/src/create_block_template/block_builder_service.rs
  sync/Cargo.toml
  sync/src/block_connector/execute_service.rs
  sync/tests/verified_rpc_client_test.rs
Owners: @nkysg, @sanlee42

Respect filters/pagination for primary store resources.
  vm2/rpc/server/src/state_rpc.rs
Owners: none

Expose VM2 primary stores via state RPC/CLI
  cmd/starcoin/src/account/show_cmd.rs
  cmd/starcoin/src/state/get_cmd.rs
  cmd/starcoin/src/state/list_cmd.rs
  kube/manifest/starcoin-proxima-do.yaml
  rpc/client/src/vm2.rs
  testsuite/features/cmd.feature
  vm2/rpc/api/src/state_api.rs
  vm2/rpc/server/Cargo.toml
  vm2/rpc/server/src/state_rpc.rs
  vm2/vm-types/src/move_resource.rs
  vm2/vm-types/src/token/token_code.rs
Owners: @welbon, @sanlee42, @nkysg

Expose VM2 primary stores via state RPC/CLI (#4759)
  cmd/starcoin/src/account/show_cmd.rs
  cmd/starcoin/src/state/get_cmd.rs
  cmd/starcoin/src/state/list_cmd.rs
  kube/manifest/starcoin-proxima-do.yaml
  rpc/client/src/vm2.rs
  testsuite/features/cmd.feature
  vm2/rpc/api/src/state_api.rs
  vm2/rpc/server/Cargo.toml
  vm2/rpc/server/src/state_rpc.rs
  vm2/vm-types/src/move_resource.rs
  vm2/vm-types/src/token/token_code.rs
Owners: @welbon, @sanlee42, @nkysg

fix compiling errors
  Cargo.lock
  simnet/Cargo.toml
  simnet/src/lib.rs
Owners: none

re-arrange txn info ids in block
  chain/src/chain.rs
Owners: @nkysg

fix block-txn-infos' order
  chain/src/chain.rs
  testsuite/features/cmd.feature
Owners: @nkysg

fix block-txn-infos' order (#4757)
  chain/src/chain.rs
  testsuite/features/cmd.feature
Owners: @nkysg

1, add benchmark for testing vm2 transaction execution 2, cache the vm2 config from shengguo lu 3, add batch operations for the transaction interface
  Cargo.lock
  chain/src/chain.rs
  cmd/tx-factory/src/lib.rs
  cmd/tx-factory/src/main.rs
  cmd/tx-factory/src/mocker.rs
  cmd/tx-factory/src/pressure_vm1.rs
  cmd/tx-factory/src/pressure_vm2.rs
  cmd/tx-factory/src/txn_generator.rs
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/task.rs
  config/src/genesis_config/mod.rs
  config/src/lib.rs
  kube/manifest/starcoin-halley.yaml
  node/src/lib.rs
  rpc/api/src/txpool/mod.rs
  rpc/client/src/lib.rs
  rpc/client/src/remote_state_reader2/mod.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/debug_rpc.rs
  rpc/server/src/module/txpool_rpc.rs
  scripts/release.sh
  sync/Cargo.toml
  sync/tests/full_build_and_execute_test.rs
  test-helper/src/lib.rs
  test-helper/src/node.rs
  txpool/src/tx_pool_service_impl.rs
  vm2/account/api/src/message.rs
  vm2/account/api/src/service.rs
  vm2/account/src/account_manager.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/block_executor.rs
  vm2/framework/gas-meter/src/gas_meter.rs
  vm2/rpc/api/src/account_api.rs
  vm2/rpc/server/src/account_rpc.rs
  vm2/service/account/src/service.rs
  vm2/vm-runtime/src/move_vm_ext/warm_vm_cache.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
  vm2/vm-runtime/src/starcoin_vm.rs
Owners: @nkysg, @welbon, @sanlee42

watch the tranaction
  Cargo.lock
  sync/Cargo.toml
  sync/tests/full_build_and_execute_test.rs
  txpool/src/tx_pool_service_impl.rs
Owners: @sanlee42, @welbon

Update test
  sync/tests/full_build_and_execute_test.rs
Owners: @sanlee42

add benchmark code
  config/src/txpool_config.rs
  sync/tests/full_build_and_execute_test.rs
  vm2/aggregator/src/aggregator_v1_extension.rs
  vm2/vm-runtime/src/errors.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @sanlee42

use 2000 receiver
  sync/tests/full_build_and_execute_test.rs
Owners: @sanlee42

use 1280000 as max sender
  config/src/txpool_config.rs
Owners: none

add more 128 G as default max memory size
  config/src/txpool_config.rs
Owners: none

fix fmt
  cmd/tx-factory/src/main.rs
  config/src/txpool_config.rs
  kube/manifest/starcoin-halley.yaml
  sync/tests/full_build_and_execute_test.rs
  vm2/vm-runtime/src/errors.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/verifier/transaction_arg_validation.rs
Owners: @welbon, @sanlee42, @nkysg

1.fix testcase test_transaction_info_and_proof 2.append suffix for apis like get_transaction_infos for better understanding, 3.add comments for better understanding
  chain/api/src/lib.rs
  chain/chain-notify/src/lib.rs
  chain/src/chain.rs
  chain/tests/test_block_chain.rs
  chain/tests/test_distribute_gas_fee.rs
  chain/tests/test_txn_info_and_proof.rs
  storage/src/lib.rs
  storage/src/tests/test_storage.rs
  sync/src/announcement/mod.rs
  types/src/transaction/stc_transaction_info.rs
  vm2/starcoin-transactional-test-harness/src/fork_chain.rs
Owners: @nkysg, @welbon, @sanlee42

add draw svg
  Cargo.lock
  rpc/client/src/remote_state_reader2/mod.rs
  sync/Cargo.toml
  sync/tests/full_build_and_execute_test.rs
  vm2/vm-runtime/src/parallel_executor/mod.rs
Owners: @sanlee42

update cargo.lock
  Cargo.lock
Owners: none

add get balance2 add batch interface for transaction
  Cargo.lock
  commons/parallel-executor/src/executor.rs
  commons/parallel-executor/src/task.rs
  config/src/txpool_config.rs
  rpc/client/src/remote_state_reader2/mod.rs
  sync/tests/full_build_and_execute_test.rs
  vm2/account/api/src/service.rs
  vm2/aggregator/src/aggregator_v1_extension.rs
  vm2/executor/Cargo.toml
  vm2/executor/src/block_executor.rs
  vm2/framework/gas-meter/src/gas_meter.rs
  vm2/vm-runtime/src/errors.rs
  vm2/vm-runtime/src/move_vm_ext/warm_vm_cache.rs
  vm2/vm-runtime/src/starcoin_vm.rs
  vm2/vm-runtime/src/verifier/transaction_arg_validation.rs
  vm2/vm-types/src/token/stc.rs
Owners: @nkysg, @sanlee42

1, update rpc schema 2, bench testing will be ignored
  rpc/api/generated_rpc_schema/txpool.json
  sync/tests/full_build_and_execute_test.rs
Owners: @sanlee42

fix fmt
  config/src/genesis_config/mod.rs
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42

add bench code
  Cargo.lock
  Cargo.toml
  config/src/genesis_config/mod.rs
  sync/starcoin-execute-bench/Cargo.toml
  sync/starcoin-execute-bench/src/main.rs
Owners: @sanlee42
