Repository starcoinorg/starcoin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanlee42, @nkysg, @welbon

.github/CODEOWNERS:

/.github/ @sanlee42 @nkysg
/abi @nkysg
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @nkysg
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg
/genesis  @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42
/sync @sanlee42
/testsuite @nkysg
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @nkysg @sanlee42
/vm/move-prover @nkysg

downgrade ghostdag and reachability crates
  consensus/dag-consensus/Cargo.toml
  consensus/dag-consensus/ghostdag/Cargo.toml
  consensus/dag-consensus/reachability/Cargo.toml
  consensus/dag-consensus/src/blockdag.rs
  consensus/dag-consensus/src/ghostdag/mergeset.rs
  consensus/dag-consensus/src/ghostdag/mod.rs
  consensus/dag-consensus/src/ghostdag/protocol.rs
  consensus/dag-consensus/src/ghostdag/util.rs
  consensus/dag-consensus/src/lib.rs
  consensus/dag-consensus/src/reachability/extensions.rs
  consensus/dag-consensus/src/reachability/inquirer.rs
  consensus/dag-consensus/src/reachability/mod.rs
  consensus/dag-consensus/src/reachability/reachability_service.rs
  consensus/dag-consensus/src/reachability/reindex.rs
  consensus/dag-consensus/src/reachability/relations_service.rs
  consensus/dag-consensus/src/reachability/tests.rs
  consensus/dag-consensus/src/reachability/tree.rs
Owners: @sanlee42, @welbon

downgrade dag-consensus crate
  Cargo.lock
  consensus/dag-consensus/Cargo.toml
  consensus/src/dag/blockdag.rs
  consensus/src/dag/ghostdag/mergeset.rs
  consensus/src/dag/ghostdag/mod.rs
  consensus/src/dag/ghostdag/protocol.rs
  consensus/src/dag/ghostdag/util.rs
  consensus/src/dag/mod.rs
  consensus/src/dag/reachability/extensions.rs
  consensus/src/dag/reachability/inquirer.rs
  consensus/src/dag/reachability/mod.rs
  consensus/src/dag/reachability/reachability_service.rs
  consensus/src/dag/reachability/reindex.rs
  consensus/src/dag/reachability/relations_service.rs
  consensus/src/dag/reachability/tests.rs
  consensus/src/dag/reachability/tree.rs
  consensus/src/lib.rs
Owners: @sanlee42, @welbon

fix consensus tests
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/consensusdb/consensus_relations.rs
  consensus/src/dag/blockdag.rs
  consensus/src/dag/reachability/inquirer.rs
  consensus/src/dag/reachability/reachability_service.rs
  consensus/src/dag/reachability/reindex.rs
Owners: @sanlee42, @welbon

expose neccessary dag-consensus types
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/consensusdb/consensus_reachability.rs
  consensus/src/dag/ghostdag/protocol.rs
  consensus/src/dag/mod.rs
  consensus/src/dag/reachability/extensions.rs
  consensus/src/dag/reachability/inquirer.rs
  consensus/src/dag/reachability/reachability_service.rs
  consensus/src/dag/reachability/reindex.rs
  consensus/src/dag/reachability/tests.rs
  consensus/src/dag/types/ghostdata.rs
  consensus/src/dag/types/interval.rs
  consensus/src/dag/types/mod.rs
  consensus/src/dag/types/ordering.rs
  consensus/src/dag/types/perf.rs
  consensus/src/dag/types/reachability.rs
  consensus/src/dag/types/trusted.rs
  types/src/lib.rs
Owners: @sanlee42, @welbon, @nkysg

add get dag accumulator details
  chain/api/src/service.rs
  chain/service/src/chain_service.rs
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
Owners: @nkysg, @sanlee42

add verified client for dag
  sync/src/verified_rpc_client.rs
Owners: @sanlee42

add sync task for getting the leaves of an accumulator
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_protocol_trait.rs
  sync/src/tasks/sync_find_ancestor_task.rs
Owners: @sanlee42

add sync dag accumulator task
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
Owners: @sanlee42

add dag block sync task
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_protocol_trait.rs
  sync/src/tasks/sync_find_ancestor_task.rs
  sync/src/verified_rpc_client.rs
Owners: @sanlee42

add chain info v2 including original chain info
  cmd/peer-watcher/src/lib.rs
  cmd/peer-watcher/src/main.rs
  genesis/src/lib.rs
  network/api/src/tests.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
  network/src/worker.rs
  network/types/src/peer_info.rs
  rpc/api/src/types.rs
  storage/src/lib.rs
  sync/src/sync.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_block_task.rs
  test-helper/src/network.rs
  types/src/startup_info.rs
Owners: @welbon, @nkysg, @sanlee42

use chain state info instead of chain info v2
  cmd/peer-watcher/src/lib.rs
  cmd/peer-watcher/src/main.rs
  genesis/src/lib.rs
  network/api/src/tests.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
  network/src/worker.rs
  network/types/src/peer_info.rs
  rpc/api/src/types.rs
  storage/src/lib.rs
  sync/src/tasks/mod.rs
  test-helper/src/network.rs
  types/src/startup_info.rs
Owners: @welbon, @nkysg, @sanlee42

set_concurrency_level cmd
  Cargo.lock
  cmd/starcoin/Cargo.toml
  cmd/starcoin/src/dev/concurrency_level_cmd.rs
  cmd/starcoin/src/dev/mod.rs
  rpc/api/src/debug/mod.rs
  rpc/client/src/lib.rs
  rpc/server/Cargo.toml
  rpc/server/src/module/debug_rpc.rs
Owners: @welbon, @sanlee42

add sync dag ancestor
  cmd/peer-watcher/src/lib.rs
  genesis/src/lib.rs
  network/src/service.rs
  network/src/worker.rs
  storage/src/lib.rs
  sync/src/sync.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
  sync/src/tasks/sync_find_ancestor_task.rs
  test-helper/src/network.rs
  types/src/startup_info.rs
Owners: @welbon, @nkysg, @sanlee42

add sync dag accumulator task
  chain/api/src/service.rs
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_full_task.rs
  sync/src/verified_rpc_client.rs
Owners: @nkysg, @sanlee42

fix integer arithmatic warnings
  consensus/src/dag/ghostdag/protocol.rs
  consensus/src/dag/reachability/extensions.rs
  consensus/src/dag/reachability/inquirer.rs
  consensus/src/dag/reachability/reindex.rs
  consensus/src/dag/reachability/tree.rs
  consensus/src/dag/types/ghostdata.rs
  consensus/src/dag/types/interval.rs
Owners: @sanlee42, @welbon

add dbupgrade
  storage/src/upgrade.rs
Owners: @welbon, @nkysg

Merge smolstc (#3929)
  Cargo.lock
  Cargo.toml
  consensus/Cargo.toml
  consensus/src/consensusdb/access.rs
  consensus/src/consensusdb/cache/mod.rs
  consensus/src/consensusdb/cache/stc_cache.rs
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/consensusdb/consensus_header.rs
  consensus/src/consensusdb/consensus_reachability.rs
  consensus/src/consensusdb/consensus_relations.rs
  consensus/src/consensusdb/db.rs
  consensus/src/consensusdb/errors.rs
  consensus/src/consensusdb/item.rs
  consensus/src/consensusdb/mod.rs
  consensus/src/consensusdb/writer.rs
  consensus/src/dag/blockdag.rs
  consensus/src/dag/ghostdag/mergeset.rs
  consensus/src/dag/ghostdag/mod.rs
  consensus/src/dag/ghostdag/protocol.rs
  consensus/src/dag/ghostdag/util.rs
  consensus/src/dag/mod.rs
  consensus/src/dag/reachability/extensions.rs
  consensus/src/dag/reachability/inquirer.rs
  consensus/src/dag/reachability/mod.rs
  consensus/src/dag/reachability/reachability_service.rs
  consensus/src/dag/reachability/reindex.rs
  consensus/src/dag/reachability/relations_service.rs
  consensus/src/dag/reachability/tests.rs
  consensus/src/dag/reachability/tree.rs
  consensus/src/dag/types/ghostdata.rs
  consensus/src/dag/types/interval.rs
  consensus/src/dag/types/mod.rs
  consensus/src/dag/types/ordering.rs
  consensus/src/dag/types/perf.rs
  consensus/src/dag/types/reachability.rs
  consensus/src/dag/types/trusted.rs
  consensus/src/lib.rs
  types/src/blockhash.rs
  types/src/header.rs
  types/src/lib.rs
Owners: @sanlee42, @welbon, @nkysg

make cache storage more generic
  storage/src/batch/mod.rs
  storage/src/cache_storage/mod.rs
Owners: @welbon, @nkysg

refactor consensusdb
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/consensusdb/access.rs
  consensus/src/consensusdb/cache.rs
  consensus/src/consensusdb/cache/mod.rs
  consensus/src/consensusdb/cache/stc_cache.rs
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/consensusdb/consensus_header.rs
  consensus/src/consensusdb/consensus_reachability.rs
  consensus/src/consensusdb/consensus_relations.rs
  consensus/src/consensusdb/db.rs
  consensus/src/consensusdb/error.rs
  consensus/src/consensusdb/item.rs
  consensus/src/consensusdb/mod.rs
  consensus/src/consensusdb/schema.rs
  consensus/src/consensusdb/writer.rs
  consensus/src/dag/blockdag.rs
  consensus/src/dag/ghostdag/mergeset.rs
  consensus/src/dag/ghostdag/protocol.rs
  consensus/src/dag/reachability/extensions.rs
  consensus/src/dag/reachability/inquirer.rs
  consensus/src/dag/reachability/reachability_service.rs
  consensus/src/dag/reachability/reindex.rs
  consensus/src/dag/reachability/relations_service.rs
  consensus/src/dag/reachability/tests.rs
  consensus/src/dag/reachability/tree.rs
  consensus/src/dag/types/ghostdata.rs
  consensus/src/dag/types/interval.rs
  consensus/src/dag/types/reachability.rs
  consensus/src/lib.rs
  types/src/header.rs
Owners: @sanlee42, @welbon, @nkysg

remove unused code, we get idx from get_idx()? function
  state/statedb/src/lib.rs
Owners: @welbon, @nkysg

fix warning
  state/statedb/src/lib.rs
Owners: @welbon, @nkysg

Generic cache (#3931)
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/consensusdb/access.rs
  consensus/src/consensusdb/cache.rs
  consensus/src/consensusdb/cache/mod.rs
  consensus/src/consensusdb/cache/stc_cache.rs
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/consensusdb/consensus_header.rs
  consensus/src/consensusdb/consensus_reachability.rs
  consensus/src/consensusdb/consensus_relations.rs
  consensus/src/consensusdb/db.rs
  consensus/src/consensusdb/error.rs
  consensus/src/consensusdb/item.rs
  consensus/src/consensusdb/mod.rs
  consensus/src/consensusdb/schema.rs
  consensus/src/consensusdb/writer.rs
  consensus/src/dag/blockdag.rs
  consensus/src/dag/ghostdag/mergeset.rs
  consensus/src/dag/ghostdag/protocol.rs
  consensus/src/dag/reachability/extensions.rs
  consensus/src/dag/reachability/inquirer.rs
  consensus/src/dag/reachability/reachability_service.rs
  consensus/src/dag/reachability/reindex.rs
  consensus/src/dag/reachability/relations_service.rs
  consensus/src/dag/reachability/tests.rs
  consensus/src/dag/reachability/tree.rs
  consensus/src/dag/types/ghostdata.rs
  consensus/src/dag/types/interval.rs
  consensus/src/dag/types/reachability.rs
  consensus/src/lib.rs
  storage/src/batch/mod.rs
  storage/src/cache_storage/mod.rs
  types/src/header.rs
Owners: @sanlee42, @welbon, @nkysg

[parallel executor] table storage parallel (#3891)
  state/api/src/chain_state.rs
  state/api/src/lib.rs
  state/statedb/src/lib.rs
  state/statedb/src/tests.rs
  vm/move-package-manager/src/release.rs
  vm/types/src/account_config/constants/addresses.rs
  vm/types/src/state_store/table.rs
Owners: @welbon, @nkysg

merge dag form simon
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/consensusdb/access.rs
  consensus/src/consensusdb/cache.rs
  consensus/src/consensusdb/cache/mod.rs
  consensus/src/consensusdb/cache/stc_cache.rs
  consensus/src/consensusdb/consensus_ghostdag.rs
  consensus/src/consensusdb/consensus_header.rs
  consensus/src/consensusdb/consensus_reachability.rs
  consensus/src/consensusdb/consensus_relations.rs
  consensus/src/consensusdb/db.rs
  consensus/src/consensusdb/error.rs
  consensus/src/consensusdb/item.rs
  consensus/src/consensusdb/mod.rs
  consensus/src/consensusdb/schema.rs
  consensus/src/consensusdb/writer.rs
  consensus/src/dag/blockdag.rs
  consensus/src/dag/ghostdag/mergeset.rs
  consensus/src/dag/ghostdag/protocol.rs
  consensus/src/dag/reachability/extensions.rs
  consensus/src/dag/reachability/inquirer.rs
  consensus/src/dag/reachability/reachability_service.rs
  consensus/src/dag/reachability/reindex.rs
  consensus/src/dag/reachability/relations_service.rs
  consensus/src/dag/reachability/tests.rs
  consensus/src/dag/reachability/tree.rs
  consensus/src/dag/types/ghostdata.rs
  consensus/src/dag/types/interval.rs
  consensus/src/dag/types/reachability.rs
  consensus/src/lib.rs
  storage/src/batch/mod.rs
  storage/src/cache_storage/mod.rs
  storage/src/upgrade.rs
  types/src/header.rs
  types/src/startup_info.rs
Owners: @sanlee42, @welbon, @nkysg

use chain state info
  network/tests/network_service_test.rs
Owners: @sanlee42

block info ext including block info
  chain/src/dag_chain.rs
  storage/src/flexi_dag/mod.rs
  storage/src/lib.rs
  storage/src/tests/test_dag.rs
  types/src/block.rs
  types/src/dag_block.rs
  types/src/lib.rs
Owners: @nkysg, @welbon

[e2e-test] put the transaction count to parameter for transaction benches.
  vm/parallel-executor/benches/scheduler_benches.rs
  vm/transaction-benchmarks/benches/transaction_benches.rs
  vm/transaction-benchmarks/src/transactions.rs
Owners: @nkysg

add header and block info ext
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_find_ancestor_task.rs
  types/src/block.rs
Owners: @sanlee42, @nkysg, @welbon

update starcoin-framework and test
  Cargo.lock
  Cargo.toml
  genesis/generated/halley/genesis
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd.exp
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.exp
  vm/stdlib/compiled/latest/stdlib/008_Vector.mv
  vm/stdlib/compiled/latest/stdlib/010_ACL.mv
  vm/stdlib/compiled/latest/stdlib/012_Math.mv
  vm/stdlib/compiled/latest/stdlib/013_Option.mv
  vm/stdlib/compiled/latest/stdlib/014_BCS.mv
  vm/stdlib/compiled/latest/stdlib/021_VMConfig.mv
  vm/stdlib/compiled/latest/stdlib/036_Authenticator.mv
  vm/stdlib/compiled/latest/stdlib/037_Account.mv
  vm/stdlib/compiled/latest/stdlib/040_Ring.mv
  vm/stdlib/compiled/latest/stdlib/043_BlockReward.mv
  vm/stdlib/compiled/latest/stdlib/044_Collection.mv
  vm/stdlib/compiled/latest/stdlib/045_Collection2.mv
  vm/stdlib/compiled/latest/stdlib/046_Compare.mv
  vm/stdlib/compiled/latest/stdlib/051_EVMAddress.mv
  vm/stdlib/compiled/latest/stdlib/055_GasSchedule.mv
  vm/stdlib/compiled/latest/stdlib/057_Oracle.mv
  vm/stdlib/compiled/latest/stdlib/061_NFT.mv
  vm/stdlib/compiled/latest/stdlib/063_MerkleProof.mv
  vm/stdlib/compiled/latest/stdlib/064_MerkleNFTDistributor.mv
  vm/stdlib/compiled/latest/stdlib/068_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/073_NFTGallery.mv
  vm/stdlib/compiled/latest/stdlib/076_PriceOracleAggregator.mv
  vm/stdlib/compiled/latest/stdlib/078_Secp256k1.mv
  vm/stdlib/compiled/latest/stdlib/081_SimpleMap.mv
  vm/stdlib/compiled/latest/stdlib/083_StarcoinVerifier.mv
  vm/stdlib/compiled/latest/stdlib/084_String.mv
  vm/stdlib/compiled/latest/stdlib/087_TransactionManager.mv
  vm/stdlib/compiled/latest/stdlib/088_TransferScripts.mv
  vm/stdlib/compiled/latest/stdlib/090_TypeInfo.mv
  vm/stdlib/compiled/latest/stdlib/091_U256.mv
Owners: @nkysg, @sanlee42

update move repo
  Cargo.lock
  Cargo.toml
Owners: none

update starcoin-framework
  Cargo.lock
  Cargo.toml
Owners: none

update move prover
  Cargo.lock
  Cargo.toml
Owners: none

[e2e-test] add the bench script
  scripts/benchmark_parallel.sh
Owners: none

merge smolstc (#3927)
  Cargo.lock
  chain/Cargo.toml
  chain/api/Cargo.toml
  chain/api/src/message.rs
  chain/api/src/service.rs
  chain/service/Cargo.toml
  chain/service/src/chain_service.rs
  chain/src/dag_chain.rs
  chain/src/lib.rs
  cmd/peer-watcher/src/lib.rs
  cmd/peer-watcher/src/main.rs
  genesis/src/lib.rs
  network-rpc/api/src/dag_protocol.rs
  network-rpc/api/src/lib.rs
  network-rpc/src/rpc.rs
  network/api/src/tests.rs
  network/src/network_p2p_handle.rs
  network/src/service.rs
  network/src/worker.rs
  network/tests/network_service_test.rs
  network/types/src/peer_info.rs
  rpc/api/src/types.rs
  storage/src/chain_info/mod.rs
  storage/src/flexi_dag/mod.rs
  storage/src/lib.rs
  storage/src/tests/test_dag.rs
  storage/src/upgrade.rs
  sync/src/sync.rs
  sync/src/tasks/mod.rs
  sync/src/tasks/sync_dag_accumulator_task.rs
  sync/src/tasks/sync_dag_block_task.rs
  sync/src/tasks/sync_dag_full_task.rs
  sync/src/tasks/sync_dag_protocol_trait.rs
  sync/src/tasks/sync_find_ancestor_task.rs
  sync/src/verified_rpc_client.rs
  test-helper/src/network.rs
  types/src/block.rs
  types/src/startup_info.rs
  vm/types/src/dag_block_metadata.rs
  vm/types/src/lib.rs
Owners: @nkysg, @welbon, @sanlee42

[e2e-test] commit for fmt
  cmd/db-exporter/src/main.rs
  node/src/node.rs
  vm/transaction-benchmarks/benches/transaction_benches.rs
Owners: @welbon, @nkysg

update move prover (#3924)
  Cargo.lock
  Cargo.toml
  genesis/generated/halley/genesis
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd.exp
  vm/starcoin-transactional-test-harness/tests/cases/call_api_cmd_halley.exp
  vm/stdlib/compiled/latest/stdlib/008_Vector.mv
  vm/stdlib/compiled/latest/stdlib/010_ACL.mv
  vm/stdlib/compiled/latest/stdlib/012_Math.mv
  vm/stdlib/compiled/latest/stdlib/013_Option.mv
  vm/stdlib/compiled/latest/stdlib/014_BCS.mv
  vm/stdlib/compiled/latest/stdlib/021_VMConfig.mv
  vm/stdlib/compiled/latest/stdlib/036_Authenticator.mv
  vm/stdlib/compiled/latest/stdlib/037_Account.mv
  vm/stdlib/compiled/latest/stdlib/040_Ring.mv
  vm/stdlib/compiled/latest/stdlib/043_BlockReward.mv
  vm/stdlib/compiled/latest/stdlib/044_Collection.mv
  vm/stdlib/compiled/latest/stdlib/045_Collection2.mv
  vm/stdlib/compiled/latest/stdlib/046_Compare.mv
  vm/stdlib/compiled/latest/stdlib/051_EVMAddress.mv
  vm/stdlib/compiled/latest/stdlib/055_GasSchedule.mv
  vm/stdlib/compiled/latest/stdlib/057_Oracle.mv
  vm/stdlib/compiled/latest/stdlib/061_NFT.mv
  vm/stdlib/compiled/latest/stdlib/063_MerkleProof.mv
  vm/stdlib/compiled/latest/stdlib/064_MerkleNFTDistributor.mv
  vm/stdlib/compiled/latest/stdlib/068_Genesis.mv
  vm/stdlib/compiled/latest/stdlib/073_NFTGallery.mv
  vm/stdlib/compiled/latest/stdlib/076_PriceOracleAggregator.mv
  vm/stdlib/compiled/latest/stdlib/078_Secp256k1.mv
  vm/stdlib/compiled/latest/stdlib/081_SimpleMap.mv
  vm/stdlib/compiled/latest/stdlib/083_StarcoinVerifier.mv
  vm/stdlib/compiled/latest/stdlib/084_String.mv
  vm/stdlib/compiled/latest/stdlib/087_TransactionManager.mv
  vm/stdlib/compiled/latest/stdlib/088_TransferScripts.mv
  vm/stdlib/compiled/latest/stdlib/090_TypeInfo.mv
  vm/stdlib/compiled/latest/stdlib/091_U256.mv
Owners: @nkysg, @sanlee42

limit type tag size
  Cargo.lock
  Cargo.toml
Owners: none

[e2e-test] fixed for the skip rest transaction test
  vm/parallel-executor/src/proptest_types/types.rs
Owners: @nkysg

limit type tag size (#3930)
  Cargo.lock
  Cargo.toml
Owners: none

[upgrade] version number script for mac os x
  scripts/update_version.sh
Owners: none
